// Licensed under the Apache License, Version 2.0 . See LICENSE in the repository root for license information.
// Code generated by @autorest/go. DO NOT EDIT.

package v20231001preview

import (
	"context"
	"errors"
	"github.com/Azure/azure-sdk-for-go/sdk/azcore"
	"github.com/Azure/azure-sdk-for-go/sdk/azcore/arm"
	"github.com/Azure/azure-sdk-for-go/sdk/azcore/policy"
	"github.com/Azure/azure-sdk-for-go/sdk/azcore/runtime"
	"net/http"
	"net/url"
	"strings"
)

// ResourcesClient contains the methods for the Resources group.
// Don't use this type directly, use NewResourcesClient() instead.
//
// Generated from API version 2023-10-01-preview
type ResourcesClient struct {
	internal *arm.Client
}

// NewResourcesClient creates a new instance of ResourcesClient with the specified values.
//   - credential - used to authorize requests. Usually a credential from azidentity.
//   - options - Contains optional client configuration. Pass nil to accept the default values.
func NewResourcesClient(credential azcore.TokenCredential, options *arm.ClientOptions) (*ResourcesClient, error) {
	cl, err := arm.NewClient(moduleName, moduleVersion, credential, options)
	if err != nil {
		return nil, err
	}
	client := &ResourcesClient{
		internal: cl,
	}
	return client, nil
}

// NewListPager - List resources in a resource group
//   - planeName - The plane name.
//   - resourceGroupName - The name of resource group
//   - options - ResourcesClientListOptions contains the optional parameters for the ResourcesClient.NewListPager method.
func (client *ResourcesClient) NewListPager(planeName string, resourceGroupName string, options *ResourcesClientListOptions) *runtime.Pager[ResourcesClientListResponse] {
	return runtime.NewPager(runtime.PagingHandler[ResourcesClientListResponse]{
		More: func(page ResourcesClientListResponse) bool {
			return page.NextLink != nil && len(*page.NextLink) > 0
		},
		Fetcher: func(ctx context.Context, page *ResourcesClientListResponse) (ResourcesClientListResponse, error) {
			ctx = context.WithValue(ctx, runtime.CtxAPINameKey{}, "ResourcesClient.NewListPager")
			nextLink := ""
			if page != nil {
				nextLink = *page.NextLink
			}
			req, err := client.listCreateRequest(ctx, planeName, resourceGroupName, nextLink, options)
			if err != nil {
				return ResourcesClientListResponse{}, err
			}
			resp, err := client.internal.Pipeline().Do(req)
			if err != nil {
				return ResourcesClientListResponse{}, err
			}
			return client.listHandleResponse(resp, http.StatusOK)
		},
	})
}

// listCreateRequest creates the List request.
func (client *ResourcesClient) listCreateRequest(ctx context.Context, planeName string, resourceGroupName string, nextLink string, _ *ResourcesClientListOptions) (*policy.Request, error) {
	firstPage := nextLink == ""
	var req *policy.Request
	var err error
	if firstPage {
		urlPath := "/planes/radius/{planeName}/resourcegroups/{resourceGroupName}/resources"
		if planeName == "" {
			return nil, errors.New("parameter planeName cannot be empty")
		}
		urlPath = strings.ReplaceAll(urlPath, "{planeName}", url.PathEscape(planeName))
		if resourceGroupName == "" {
			return nil, errors.New("parameter resourceGroupName cannot be empty")
		}
		urlPath = strings.ReplaceAll(urlPath, "{resourceGroupName}", url.PathEscape(resourceGroupName))
		req, err = runtime.NewRequest(ctx, http.MethodGet, runtime.JoinPaths(client.internal.Endpoint(), urlPath))
	} else {
		req, err = runtime.NewRequestForNextLink(ctx, http.MethodGet, client.internal.Endpoint(), nextLink)
	}
	if err != nil {
		return nil, err
	}
	if firstPage {
		reqQP := req.Raw().URL.Query()
		reqQP.Set("api-version", version20231001Preview)
		req.Raw().URL.RawQuery = strings.ReplaceAll(reqQP.Encode(), "+", "%20")
		req.Raw().Header["Accept"] = []string{"application/json"}
	}
	return req, nil
}

// listHandleResponse handles the List response.
func (client *ResourcesClient) listHandleResponse(resp *http.Response, successCodes ...int) (ResourcesClientListResponse, error) {
	result := ResourcesClientListResponse{}
	if !runtime.HasStatusCode(resp, successCodes...) {
		return result, runtime.NewResponseError(resp)
	}
	if err := runtime.UnmarshalAsJSON(resp, &result.GenericResourceListResult); err != nil {
		return ResourcesClientListResponse{}, err
	}
	return result, nil
}
