apiVersion: v1
kind: ConfigMap
metadata:
  name: ucp-config
  namespace: "{{ .Release.Namespace }}"
  labels:
    app.kubernetes.io/name: ucp
    app.kubernetes.io/part-of: radius
data:
  ucp-config.yaml: |-
    # Radius configuration file.
    # See https://github.com/radius-project/radius/blob/main/docs/contributing/contributing-code/contributing-code-control-plane/configSettings.md for more information.
    environment:
      name: self-hosted
      roleLocation: "global"
    server:
      port: 9443
      pathBase: /apis/api.ucp.dev/v1alpha3
      tlsCertificateDirectory: /var/tls/cert
    databaseProvider:
      provider: "apiserver"
      apiserver:
        context: ""
        namespace: "radius-system"

    secretProvider:
      provider: kubernetes

    queueProvider:
      provider: "apiserver"
      name: "ucp"
      apiserver:
        context: ""
        namespace: "radius-system"

    profilerProvider:
      enabled: true
      port: 6060
    initialization:
      planes:
        - id: "/planes/radius/local"
          properties:
            resourceProviders:
              Applications.Core: "http://applications-rp.radius-system:5443"
              Radius.Core: "http://applications-rp.radius-system:5443"
              Applications.Dapr: "http://applications-rp.radius-system:5443"
              Applications.Datastores: "http://applications-rp.radius-system:5443"
              Applications.Messaging: "http://applications-rp.radius-system:5443"
              Microsoft.Resources: "http://bicep-de.radius-system:6443"
            kind: "UCPNative"
        - id: "/planes/aws/aws"
          properties:
            kind: "AWS"
      manifestDirectory: "/manifest/built-in-providers"

    identity:
      authMethod: UCPCredential

    ucp:
      kind: kubernetes
    
    routing:
      defaultDownstreamEndpoint: "http://dynamic-rp.radius-system:8082"

    metricsProvider:
      enabled: true
      serviceName: "ucp"
      prometheus:
        path: "/metrics"
        port: 9090

    logging:
      level: "info"
      json: true

    {{- if and .Values.global.zipkin .Values.global.zipkin.url }}
    tracerProvider:
      enabled: true
      serviceName: "ucp"
      zipkin: 
        url: {{ .Values.global.zipkin.url }}
    {{- end }}
