apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRole
metadata:
  name: ucp
  labels:
    app.kubernetes.io/name: ucp
    app.kubernetes.io/part-of: radius
rules:
- apiGroups:
    - ""
  resources:
    - secrets
  verbs:
    - create
    - delete
    - get
    - update

- apiGroups:
    - ucp.dev
  resources:
    - resources
  verbs:
    - create
    - delete
    - get
    - list
    - update

- apiGroups:
    - ucp.dev
  resources:
    - queuemessages
  verbs:
    - create
---
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRoleBinding
metadata:
  name: ucp
  labels:
    app.kubernetes.io/name: ucp
    app.kubernetes.io/part-of: radius
roleRef:
  apiGroup: rbac.authorization.k8s.io
  kind: ClusterRole
  name: ucp
subjects:
- kind: ServiceAccount
  name: ucp
  namespace: {{ .Release.Namespace }}
