//go:build go1.18
// +build go1.18

// Copyright (c) Microsoft Corporation. All rights reserved.
// Licensed under the MIT License. See License.txt in the project root for license information.
// Code generated by Microsoft (R) AutoRest Code Generator.
// Changes may cause incorrect behavior and will be lost if the code is regenerated.
// DO NOT EDIT.

package v20220315privatepreviewCadl

import (
	"context"
	"errors"
	"github.com/Azure/azure-sdk-for-go/sdk/azcore"
	"github.com/Azure/azure-sdk-for-go/sdk/azcore/arm"
	armruntime "github.com/Azure/azure-sdk-for-go/sdk/azcore/arm/runtime"
	"github.com/Azure/azure-sdk-for-go/sdk/azcore/cloud"
	"github.com/Azure/azure-sdk-for-go/sdk/azcore/policy"
	"github.com/Azure/azure-sdk-for-go/sdk/azcore/runtime"
	"net/http"
	"net/url"
	"strconv"
	"strings"
)

// RabbitmqMessageQueuesClient contains the methods for the RabbitmqMessageQueues group.
// Don't use this type directly, use NewRabbitmqMessageQueuesClient() instead.
type RabbitmqMessageQueuesClient struct {
	host string
	rootScope string
	pl runtime.Pipeline
}

// NewRabbitmqMessageQueuesClient creates a new instance of RabbitmqMessageQueuesClient with the specified values.
// rootScope - The scope in which the resource is present. For Azure resource this would be /subscriptions/{subscriptionID}/resourceGroup/{resourcegroupID}
// credential - used to authorize requests. Usually a credential from azidentity.
// options - pass nil to accept the default values.
func NewRabbitmqMessageQueuesClient(rootScope string, credential azcore.TokenCredential, options *arm.ClientOptions) (*RabbitmqMessageQueuesClient, error) {
	if options == nil {
		options = &arm.ClientOptions{}
	}
	ep := cloud.AzurePublic.Services[cloud.ResourceManager].Endpoint
	if c, ok := options.Cloud.Services[cloud.ResourceManager]; ok {
		ep = c.Endpoint
	}
	pl, err := armruntime.NewPipeline(moduleName, moduleVersion, credential, runtime.PipelineOptions{}, options)
	if err != nil {
		return nil, err
	}
	client := &RabbitmqMessageQueuesClient{
		rootScope: rootScope,
		host: ep,
pl: pl,
	}
	return client, nil
}

// CreateOrUpdate - Creates or updates a RabbitmqMessageQueueResource
// If the operation fails it returns an *azcore.ResponseError type.
// Generated from API version 2022-03-15-privatepreview
// rabbitmqMessageQueueName - The name of the RabbitmqMessageQueue link resource
// resource - Resource create parameters.
// options - RabbitmqMessageQueuesClientCreateOrUpdateOptions contains the optional parameters for the RabbitmqMessageQueuesClient.CreateOrUpdate
// method.
func (client *RabbitmqMessageQueuesClient) CreateOrUpdate(ctx context.Context, rabbitmqMessageQueueName string, resource RabbitmqMessageQueueResource, options *RabbitmqMessageQueuesClientCreateOrUpdateOptions) (RabbitmqMessageQueuesClientCreateOrUpdateResponse, error) {
	req, err := client.createOrUpdateCreateRequest(ctx, rabbitmqMessageQueueName, resource, options)
	if err != nil {
		return RabbitmqMessageQueuesClientCreateOrUpdateResponse{}, err
	}
	resp, err := client.pl.Do(req)
	if err != nil {
		return RabbitmqMessageQueuesClientCreateOrUpdateResponse{}, err
	}
	if !runtime.HasStatusCode(resp, http.StatusOK, http.StatusCreated) {
		return RabbitmqMessageQueuesClientCreateOrUpdateResponse{}, runtime.NewResponseError(resp)
	}
	return client.createOrUpdateHandleResponse(resp)
}

// createOrUpdateCreateRequest creates the CreateOrUpdate request.
func (client *RabbitmqMessageQueuesClient) createOrUpdateCreateRequest(ctx context.Context, rabbitmqMessageQueueName string, resource RabbitmqMessageQueueResource, options *RabbitmqMessageQueuesClientCreateOrUpdateOptions) (*policy.Request, error) {
	urlPath := "/{rootScope}/providers/Applications.Link/rabbitmqMessageQueues/{rabbitmqMessageQueueName}"
	urlPath = strings.ReplaceAll(urlPath, "{rootScope}", client.rootScope)
	if rabbitmqMessageQueueName == "" {
		return nil, errors.New("parameter rabbitmqMessageQueueName cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{rabbitmqMessageQueueName}", url.PathEscape(rabbitmqMessageQueueName))
	req, err := runtime.NewRequest(ctx, http.MethodPut, runtime.JoinPaths(client.host, urlPath))
	if err != nil {
		return nil, err
	}
	reqQP := req.Raw().URL.Query()
	reqQP.Set("api-version", "2022-03-15-privatepreview")
	req.Raw().URL.RawQuery = reqQP.Encode()
	req.Raw().Header["Accept"] = []string{"application/json"}
	return req, runtime.MarshalAsJSON(req, resource)
}

// createOrUpdateHandleResponse handles the CreateOrUpdate response.
func (client *RabbitmqMessageQueuesClient) createOrUpdateHandleResponse(resp *http.Response) (RabbitmqMessageQueuesClientCreateOrUpdateResponse, error) {
	result := RabbitmqMessageQueuesClientCreateOrUpdateResponse{}
	if val := resp.Header.Get("Retry-After"); val != "" {
		retryAfter32, err := strconv.ParseInt(val, 10, 32)
		retryAfter := int32(retryAfter32)
		if err != nil {
			return RabbitmqMessageQueuesClientCreateOrUpdateResponse{}, err
		}
		result.RetryAfter = &retryAfter
	}
	if err := runtime.UnmarshalAsJSON(resp, &result.RabbitmqMessageQueueResource); err != nil {
		return RabbitmqMessageQueuesClientCreateOrUpdateResponse{}, err
	}
	return result, nil
}

// Delete - Deletes an existing RabbitmqMessageQueueResource
// If the operation fails it returns an *azcore.ResponseError type.
// Generated from API version 2022-03-15-privatepreview
// rabbitmqMessageQueueName - The name of the RabbitmqMessageQueue link resource
// options - RabbitmqMessageQueuesClientDeleteOptions contains the optional parameters for the RabbitmqMessageQueuesClient.Delete
// method.
func (client *RabbitmqMessageQueuesClient) Delete(ctx context.Context, rabbitmqMessageQueueName string, options *RabbitmqMessageQueuesClientDeleteOptions) (RabbitmqMessageQueuesClientDeleteResponse, error) {
	req, err := client.deleteCreateRequest(ctx, rabbitmqMessageQueueName, options)
	if err != nil {
		return RabbitmqMessageQueuesClientDeleteResponse{}, err
	}
	resp, err := client.pl.Do(req)
	if err != nil {
		return RabbitmqMessageQueuesClientDeleteResponse{}, err
	}
	if !runtime.HasStatusCode(resp, http.StatusOK, http.StatusAccepted, http.StatusNoContent) {
		return RabbitmqMessageQueuesClientDeleteResponse{}, runtime.NewResponseError(resp)
	}
	return client.deleteHandleResponse(resp)
}

// deleteCreateRequest creates the Delete request.
func (client *RabbitmqMessageQueuesClient) deleteCreateRequest(ctx context.Context, rabbitmqMessageQueueName string, options *RabbitmqMessageQueuesClientDeleteOptions) (*policy.Request, error) {
	urlPath := "/{rootScope}/providers/Applications.Link/rabbitmqMessageQueues/{rabbitmqMessageQueueName}"
	urlPath = strings.ReplaceAll(urlPath, "{rootScope}", client.rootScope)
	if rabbitmqMessageQueueName == "" {
		return nil, errors.New("parameter rabbitmqMessageQueueName cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{rabbitmqMessageQueueName}", url.PathEscape(rabbitmqMessageQueueName))
	req, err := runtime.NewRequest(ctx, http.MethodDelete, runtime.JoinPaths(client.host, urlPath))
	if err != nil {
		return nil, err
	}
	reqQP := req.Raw().URL.Query()
	reqQP.Set("api-version", "2022-03-15-privatepreview")
	req.Raw().URL.RawQuery = reqQP.Encode()
	req.Raw().Header["Accept"] = []string{"application/json"}
	return req, nil
}

// deleteHandleResponse handles the Delete response.
func (client *RabbitmqMessageQueuesClient) deleteHandleResponse(resp *http.Response) (RabbitmqMessageQueuesClientDeleteResponse, error) {
	result := RabbitmqMessageQueuesClientDeleteResponse{}
	if val := resp.Header.Get("Retry-After"); val != "" {
		retryAfter32, err := strconv.ParseInt(val, 10, 32)
		retryAfter := int32(retryAfter32)
		if err != nil {
			return RabbitmqMessageQueuesClientDeleteResponse{}, err
		}
		result.RetryAfter = &retryAfter
	}
	return result, nil
}

// Get - Retrieves information about a RabbitmqMessageQueueResource
// If the operation fails it returns an *azcore.ResponseError type.
// Generated from API version 2022-03-15-privatepreview
// rabbitmqMessageQueueName - The name of the RabbitmqMessageQueue link resource
// options - RabbitmqMessageQueuesClientGetOptions contains the optional parameters for the RabbitmqMessageQueuesClient.Get
// method.
func (client *RabbitmqMessageQueuesClient) Get(ctx context.Context, rabbitmqMessageQueueName string, options *RabbitmqMessageQueuesClientGetOptions) (RabbitmqMessageQueuesClientGetResponse, error) {
	req, err := client.getCreateRequest(ctx, rabbitmqMessageQueueName, options)
	if err != nil {
		return RabbitmqMessageQueuesClientGetResponse{}, err
	}
	resp, err := client.pl.Do(req)
	if err != nil {
		return RabbitmqMessageQueuesClientGetResponse{}, err
	}
	if !runtime.HasStatusCode(resp, http.StatusOK) {
		return RabbitmqMessageQueuesClientGetResponse{}, runtime.NewResponseError(resp)
	}
	return client.getHandleResponse(resp)
}

// getCreateRequest creates the Get request.
func (client *RabbitmqMessageQueuesClient) getCreateRequest(ctx context.Context, rabbitmqMessageQueueName string, options *RabbitmqMessageQueuesClientGetOptions) (*policy.Request, error) {
	urlPath := "/{rootScope}/providers/Applications.Link/rabbitmqMessageQueues/{rabbitmqMessageQueueName}"
	urlPath = strings.ReplaceAll(urlPath, "{rootScope}", client.rootScope)
	if rabbitmqMessageQueueName == "" {
		return nil, errors.New("parameter rabbitmqMessageQueueName cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{rabbitmqMessageQueueName}", url.PathEscape(rabbitmqMessageQueueName))
	req, err := runtime.NewRequest(ctx, http.MethodGet, runtime.JoinPaths(client.host, urlPath))
	if err != nil {
		return nil, err
	}
	reqQP := req.Raw().URL.Query()
	reqQP.Set("api-version", "2022-03-15-privatepreview")
	req.Raw().URL.RawQuery = reqQP.Encode()
	req.Raw().Header["Accept"] = []string{"application/json"}
	return req, nil
}

// getHandleResponse handles the Get response.
func (client *RabbitmqMessageQueuesClient) getHandleResponse(resp *http.Response) (RabbitmqMessageQueuesClientGetResponse, error) {
	result := RabbitmqMessageQueuesClientGetResponse{}
	if err := runtime.UnmarshalAsJSON(resp, &result.RabbitmqMessageQueueResource); err != nil {
		return RabbitmqMessageQueuesClientGetResponse{}, err
	}
	return result, nil
}

// NewListByRootScopePager - Lists information about all RabbitmqMessageQueueResources in the given root scope
// Generated from API version 2022-03-15-privatepreview
// options - RabbitmqMessageQueuesClientListByRootScopeOptions contains the optional parameters for the RabbitmqMessageQueuesClient.ListByRootScope
// method.
func (client *RabbitmqMessageQueuesClient) NewListByRootScopePager(options *RabbitmqMessageQueuesClientListByRootScopeOptions) (*runtime.Pager[RabbitmqMessageQueuesClientListByRootScopeResponse]) {
	return runtime.NewPager(runtime.PagingHandler[RabbitmqMessageQueuesClientListByRootScopeResponse]{
		More: func(page RabbitmqMessageQueuesClientListByRootScopeResponse) bool {
			return page.NextLink != nil && len(*page.NextLink) > 0
		},
		Fetcher: func(ctx context.Context, page *RabbitmqMessageQueuesClientListByRootScopeResponse) (RabbitmqMessageQueuesClientListByRootScopeResponse, error) {
			var req *policy.Request
			var err error
			if page == nil {
				req, err = client.listByRootScopeCreateRequest(ctx, options)
			} else {
				req, err = runtime.NewRequest(ctx, http.MethodGet, *page.NextLink)
			}
			if err != nil {
				return RabbitmqMessageQueuesClientListByRootScopeResponse{}, err
			}
			resp, err := client.pl.Do(req)
			if err != nil {
				return RabbitmqMessageQueuesClientListByRootScopeResponse{}, err
			}
			if !runtime.HasStatusCode(resp, http.StatusOK) {
				return RabbitmqMessageQueuesClientListByRootScopeResponse{}, runtime.NewResponseError(resp)
			}
			return client.listByRootScopeHandleResponse(resp)
		},
	})
}

// listByRootScopeCreateRequest creates the ListByRootScope request.
func (client *RabbitmqMessageQueuesClient) listByRootScopeCreateRequest(ctx context.Context, options *RabbitmqMessageQueuesClientListByRootScopeOptions) (*policy.Request, error) {
	urlPath := "/{rootScope}/providers/Applications.Link/rabbitmqMessageQueues"
	urlPath = strings.ReplaceAll(urlPath, "{rootScope}", client.rootScope)
	req, err := runtime.NewRequest(ctx, http.MethodGet, runtime.JoinPaths(client.host, urlPath))
	if err != nil {
		return nil, err
	}
	reqQP := req.Raw().URL.Query()
	reqQP.Set("api-version", "2022-03-15-privatepreview")
	req.Raw().URL.RawQuery = reqQP.Encode()
	req.Raw().Header["Accept"] = []string{"application/json"}
	return req, nil
}

// listByRootScopeHandleResponse handles the ListByRootScope response.
func (client *RabbitmqMessageQueuesClient) listByRootScopeHandleResponse(resp *http.Response) (RabbitmqMessageQueuesClientListByRootScopeResponse, error) {
	result := RabbitmqMessageQueuesClientListByRootScopeResponse{}
	if err := runtime.UnmarshalAsJSON(resp, &result.RabbitmqMessageQueueResourceListResult); err != nil {
		return RabbitmqMessageQueuesClientListByRootScopeResponse{}, err
	}
	return result, nil
}

// ListSecrets - Lists secrets values for the specified RabbitmqMessageQueue resource
// If the operation fails it returns an *azcore.ResponseError type.
// Generated from API version 2022-03-15-privatepreview
// rabbitmqMessageQueueName - The name of the RabbitmqMessageQueue link resource
// options - RabbitmqMessageQueuesClientListSecretsOptions contains the optional parameters for the RabbitmqMessageQueuesClient.ListSecrets
// method.
func (client *RabbitmqMessageQueuesClient) ListSecrets(ctx context.Context, rabbitmqMessageQueueName string, options *RabbitmqMessageQueuesClientListSecretsOptions) (RabbitmqMessageQueuesClientListSecretsResponse, error) {
	req, err := client.listSecretsCreateRequest(ctx, rabbitmqMessageQueueName, options)
	if err != nil {
		return RabbitmqMessageQueuesClientListSecretsResponse{}, err
	}
	resp, err := client.pl.Do(req)
	if err != nil {
		return RabbitmqMessageQueuesClientListSecretsResponse{}, err
	}
	if !runtime.HasStatusCode(resp, http.StatusOK) {
		return RabbitmqMessageQueuesClientListSecretsResponse{}, runtime.NewResponseError(resp)
	}
	return client.listSecretsHandleResponse(resp)
}

// listSecretsCreateRequest creates the ListSecrets request.
func (client *RabbitmqMessageQueuesClient) listSecretsCreateRequest(ctx context.Context, rabbitmqMessageQueueName string, options *RabbitmqMessageQueuesClientListSecretsOptions) (*policy.Request, error) {
	urlPath := "/{rootScope}/providers/Applications.Link/rabbitmqMessageQueues/{rabbitmqMessageQueueName}/listSecrets"
	urlPath = strings.ReplaceAll(urlPath, "{rootScope}", client.rootScope)
	if rabbitmqMessageQueueName == "" {
		return nil, errors.New("parameter rabbitmqMessageQueueName cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{rabbitmqMessageQueueName}", url.PathEscape(rabbitmqMessageQueueName))
	req, err := runtime.NewRequest(ctx, http.MethodGet, runtime.JoinPaths(client.host, urlPath))
	if err != nil {
		return nil, err
	}
	reqQP := req.Raw().URL.Query()
	reqQP.Set("api-version", "2022-03-15-privatepreview")
	req.Raw().URL.RawQuery = reqQP.Encode()
	req.Raw().Header["Accept"] = []string{"application/json"}
	return req, nil
}

// listSecretsHandleResponse handles the ListSecrets response.
func (client *RabbitmqMessageQueuesClient) listSecretsHandleResponse(resp *http.Response) (RabbitmqMessageQueuesClientListSecretsResponse, error) {
	result := RabbitmqMessageQueuesClientListSecretsResponse{}
	if err := runtime.UnmarshalAsJSON(resp, &result.RabbitmqListSecretsResult); err != nil {
		return RabbitmqMessageQueuesClientListSecretsResponse{}, err
	}
	return result, nil
}

