//go:build go1.18
// +build go1.18

// Copyright (c) Microsoft Corporation. All rights reserved.
// Licensed under the MIT License. See License.txt in the project root for license information.
// Code generated by Microsoft (R) AutoRest Code Generator.
// Changes may cause incorrect behavior and will be lost if the code is regenerated.
// DO NOT EDIT.

package v20220315privatepreviewCadl

import (
	"context"
	"errors"
	"github.com/Azure/azure-sdk-for-go/sdk/azcore"
	"github.com/Azure/azure-sdk-for-go/sdk/azcore/arm"
	armruntime "github.com/Azure/azure-sdk-for-go/sdk/azcore/arm/runtime"
	"github.com/Azure/azure-sdk-for-go/sdk/azcore/cloud"
	"github.com/Azure/azure-sdk-for-go/sdk/azcore/policy"
	"github.com/Azure/azure-sdk-for-go/sdk/azcore/runtime"
	"net/http"
	"net/url"
	"strconv"
	"strings"
)

// SQLDatabaseClient contains the methods for the SQLDatabase group.
// Don't use this type directly, use NewSQLDatabaseClient() instead.
type SQLDatabaseClient struct {
	host string
	pl runtime.Pipeline
}

// NewSQLDatabaseClient creates a new instance of SQLDatabaseClient with the specified values.
// credential - used to authorize requests. Usually a credential from azidentity.
// options - pass nil to accept the default values.
func NewSQLDatabaseClient(credential azcore.TokenCredential, options *arm.ClientOptions) (*SQLDatabaseClient, error) {
	if options == nil {
		options = &arm.ClientOptions{}
	}
	ep := cloud.AzurePublic.Services[cloud.ResourceManager].Endpoint
	if c, ok := options.Cloud.Services[cloud.ResourceManager]; ok {
		ep = c.Endpoint
	}
	pl, err := armruntime.NewPipeline(moduleName, moduleVersion, credential, runtime.PipelineOptions{}, options)
	if err != nil {
		return nil, err
	}
	client := &SQLDatabaseClient{
		host: ep,
pl: pl,
	}
	return client, nil
}

// CreateOrUpdate - Create a SqlDatabaseResource
// If the operation fails it returns an *azcore.ResponseError type.
// Generated from API version 2022-03-15-privatepreview
// rootScope - The scope in which the resource is present. For Azure resource this would be /subscriptions/{subscriptionID}/resourceGroup/{resourcegroupID}
// sqlDatabaseName - The name of the SqlDatabase link resource
// resource - Resource create parameters.
// options - SQLDatabaseClientCreateOrUpdateOptions contains the optional parameters for the SQLDatabaseClient.CreateOrUpdate
// method.
func (client *SQLDatabaseClient) CreateOrUpdate(ctx context.Context, rootScope string, sqlDatabaseName string, resource SQLDatabaseResource, options *SQLDatabaseClientCreateOrUpdateOptions) (SQLDatabaseClientCreateOrUpdateResponse, error) {
	req, err := client.createOrUpdateCreateRequest(ctx, rootScope, sqlDatabaseName, resource, options)
	if err != nil {
		return SQLDatabaseClientCreateOrUpdateResponse{}, err
	}
	resp, err := client.pl.Do(req)
	if err != nil {
		return SQLDatabaseClientCreateOrUpdateResponse{}, err
	}
	if !runtime.HasStatusCode(resp, http.StatusOK, http.StatusCreated) {
		return SQLDatabaseClientCreateOrUpdateResponse{}, runtime.NewResponseError(resp)
	}
	return client.createOrUpdateHandleResponse(resp)
}

// createOrUpdateCreateRequest creates the CreateOrUpdate request.
func (client *SQLDatabaseClient) createOrUpdateCreateRequest(ctx context.Context, rootScope string, sqlDatabaseName string, resource SQLDatabaseResource, options *SQLDatabaseClientCreateOrUpdateOptions) (*policy.Request, error) {
	urlPath := "/{rootScope}/providers/Applications.Link/sqlDatabases/{sqlDatabaseName}"
	urlPath = strings.ReplaceAll(urlPath, "{rootScope}", rootScope)
	if sqlDatabaseName == "" {
		return nil, errors.New("parameter sqlDatabaseName cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{sqlDatabaseName}", url.PathEscape(sqlDatabaseName))
	req, err := runtime.NewRequest(ctx, http.MethodPut, runtime.JoinPaths(client.host, urlPath))
	if err != nil {
		return nil, err
	}
	reqQP := req.Raw().URL.Query()
	reqQP.Set("api-version", "2022-03-15-privatepreview")
	req.Raw().URL.RawQuery = reqQP.Encode()
	req.Raw().Header["Accept"] = []string{"application/json"}
	return req, runtime.MarshalAsJSON(req, resource)
}

// createOrUpdateHandleResponse handles the CreateOrUpdate response.
func (client *SQLDatabaseClient) createOrUpdateHandleResponse(resp *http.Response) (SQLDatabaseClientCreateOrUpdateResponse, error) {
	result := SQLDatabaseClientCreateOrUpdateResponse{}
	if val := resp.Header.Get("Retry-After"); val != "" {
		retryAfter32, err := strconv.ParseInt(val, 10, 32)
		retryAfter := int32(retryAfter32)
		if err != nil {
			return SQLDatabaseClientCreateOrUpdateResponse{}, err
		}
		result.RetryAfter = &retryAfter
	}
	if err := runtime.UnmarshalAsJSON(resp, &result.SQLDatabaseResource); err != nil {
		return SQLDatabaseClientCreateOrUpdateResponse{}, err
	}
	return result, nil
}

// Delete - Delete a SqlDatabaseResource
// If the operation fails it returns an *azcore.ResponseError type.
// Generated from API version 2022-03-15-privatepreview
// rootScope - The scope in which the resource is present. For Azure resource this would be /subscriptions/{subscriptionID}/resourceGroup/{resourcegroupID}
// sqlDatabaseName - The name of the SqlDatabase link resource
// options - SQLDatabaseClientDeleteOptions contains the optional parameters for the SQLDatabaseClient.Delete method.
func (client *SQLDatabaseClient) Delete(ctx context.Context, rootScope string, sqlDatabaseName string, options *SQLDatabaseClientDeleteOptions) (SQLDatabaseClientDeleteResponse, error) {
	req, err := client.deleteCreateRequest(ctx, rootScope, sqlDatabaseName, options)
	if err != nil {
		return SQLDatabaseClientDeleteResponse{}, err
	}
	resp, err := client.pl.Do(req)
	if err != nil {
		return SQLDatabaseClientDeleteResponse{}, err
	}
	if !runtime.HasStatusCode(resp, http.StatusOK, http.StatusAccepted, http.StatusNoContent) {
		return SQLDatabaseClientDeleteResponse{}, runtime.NewResponseError(resp)
	}
	return client.deleteHandleResponse(resp)
}

// deleteCreateRequest creates the Delete request.
func (client *SQLDatabaseClient) deleteCreateRequest(ctx context.Context, rootScope string, sqlDatabaseName string, options *SQLDatabaseClientDeleteOptions) (*policy.Request, error) {
	urlPath := "/{rootScope}/providers/Applications.Link/sqlDatabases/{sqlDatabaseName}"
	urlPath = strings.ReplaceAll(urlPath, "{rootScope}", rootScope)
	if sqlDatabaseName == "" {
		return nil, errors.New("parameter sqlDatabaseName cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{sqlDatabaseName}", url.PathEscape(sqlDatabaseName))
	req, err := runtime.NewRequest(ctx, http.MethodDelete, runtime.JoinPaths(client.host, urlPath))
	if err != nil {
		return nil, err
	}
	reqQP := req.Raw().URL.Query()
	reqQP.Set("api-version", "2022-03-15-privatepreview")
	req.Raw().URL.RawQuery = reqQP.Encode()
	req.Raw().Header["Accept"] = []string{"application/json"}
	return req, nil
}

// deleteHandleResponse handles the Delete response.
func (client *SQLDatabaseClient) deleteHandleResponse(resp *http.Response) (SQLDatabaseClientDeleteResponse, error) {
	result := SQLDatabaseClientDeleteResponse{}
	if val := resp.Header.Get("Retry-After"); val != "" {
		retryAfter32, err := strconv.ParseInt(val, 10, 32)
		retryAfter := int32(retryAfter32)
		if err != nil {
			return SQLDatabaseClientDeleteResponse{}, err
		}
		result.RetryAfter = &retryAfter
	}
	return result, nil
}

// Get - Get a SqlDatabaseResource
// If the operation fails it returns an *azcore.ResponseError type.
// Generated from API version 2022-03-15-privatepreview
// rootScope - The scope in which the resource is present. For Azure resource this would be /subscriptions/{subscriptionID}/resourceGroup/{resourcegroupID}
// sqlDatabaseName - The name of the SqlDatabase link resource
// options - SQLDatabaseClientGetOptions contains the optional parameters for the SQLDatabaseClient.Get method.
func (client *SQLDatabaseClient) Get(ctx context.Context, rootScope string, sqlDatabaseName string, options *SQLDatabaseClientGetOptions) (SQLDatabaseClientGetResponse, error) {
	req, err := client.getCreateRequest(ctx, rootScope, sqlDatabaseName, options)
	if err != nil {
		return SQLDatabaseClientGetResponse{}, err
	}
	resp, err := client.pl.Do(req)
	if err != nil {
		return SQLDatabaseClientGetResponse{}, err
	}
	if !runtime.HasStatusCode(resp, http.StatusOK) {
		return SQLDatabaseClientGetResponse{}, runtime.NewResponseError(resp)
	}
	return client.getHandleResponse(resp)
}

// getCreateRequest creates the Get request.
func (client *SQLDatabaseClient) getCreateRequest(ctx context.Context, rootScope string, sqlDatabaseName string, options *SQLDatabaseClientGetOptions) (*policy.Request, error) {
	urlPath := "/{rootScope}/providers/Applications.Link/sqlDatabases/{sqlDatabaseName}"
	urlPath = strings.ReplaceAll(urlPath, "{rootScope}", rootScope)
	if sqlDatabaseName == "" {
		return nil, errors.New("parameter sqlDatabaseName cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{sqlDatabaseName}", url.PathEscape(sqlDatabaseName))
	req, err := runtime.NewRequest(ctx, http.MethodGet, runtime.JoinPaths(client.host, urlPath))
	if err != nil {
		return nil, err
	}
	reqQP := req.Raw().URL.Query()
	reqQP.Set("api-version", "2022-03-15-privatepreview")
	req.Raw().URL.RawQuery = reqQP.Encode()
	req.Raw().Header["Accept"] = []string{"application/json"}
	return req, nil
}

// getHandleResponse handles the Get response.
func (client *SQLDatabaseClient) getHandleResponse(resp *http.Response) (SQLDatabaseClientGetResponse, error) {
	result := SQLDatabaseClientGetResponse{}
	if err := runtime.UnmarshalAsJSON(resp, &result.SQLDatabaseResource); err != nil {
		return SQLDatabaseClientGetResponse{}, err
	}
	return result, nil
}

// NewListByResourceGroupPager - List SqlDatabaseResource resources by resource group
// Generated from API version 2022-03-15-privatepreview
// rootScope - The scope in which the resource is present. For Azure resource this would be /subscriptions/{subscriptionID}/resourceGroup/{resourcegroupID}
// options - SQLDatabaseClientListByResourceGroupOptions contains the optional parameters for the SQLDatabaseClient.ListByResourceGroup
// method.
func (client *SQLDatabaseClient) NewListByResourceGroupPager(rootScope string, options *SQLDatabaseClientListByResourceGroupOptions) (*runtime.Pager[SQLDatabaseClientListByResourceGroupResponse]) {
	return runtime.NewPager(runtime.PagingHandler[SQLDatabaseClientListByResourceGroupResponse]{
		More: func(page SQLDatabaseClientListByResourceGroupResponse) bool {
			return page.NextLink != nil && len(*page.NextLink) > 0
		},
		Fetcher: func(ctx context.Context, page *SQLDatabaseClientListByResourceGroupResponse) (SQLDatabaseClientListByResourceGroupResponse, error) {
			var req *policy.Request
			var err error
			if page == nil {
				req, err = client.listByResourceGroupCreateRequest(ctx, rootScope, options)
			} else {
				req, err = runtime.NewRequest(ctx, http.MethodGet, *page.NextLink)
			}
			if err != nil {
				return SQLDatabaseClientListByResourceGroupResponse{}, err
			}
			resp, err := client.pl.Do(req)
			if err != nil {
				return SQLDatabaseClientListByResourceGroupResponse{}, err
			}
			if !runtime.HasStatusCode(resp, http.StatusOK) {
				return SQLDatabaseClientListByResourceGroupResponse{}, runtime.NewResponseError(resp)
			}
			return client.listByResourceGroupHandleResponse(resp)
		},
	})
}

// listByResourceGroupCreateRequest creates the ListByResourceGroup request.
func (client *SQLDatabaseClient) listByResourceGroupCreateRequest(ctx context.Context, rootScope string, options *SQLDatabaseClientListByResourceGroupOptions) (*policy.Request, error) {
	urlPath := "/{rootScope}/providers/Applications.Link/sqlDatabases"
	urlPath = strings.ReplaceAll(urlPath, "{rootScope}", rootScope)
	req, err := runtime.NewRequest(ctx, http.MethodGet, runtime.JoinPaths(client.host, urlPath))
	if err != nil {
		return nil, err
	}
	reqQP := req.Raw().URL.Query()
	reqQP.Set("api-version", "2022-03-15-privatepreview")
	req.Raw().URL.RawQuery = reqQP.Encode()
	req.Raw().Header["Accept"] = []string{"application/json"}
	return req, nil
}

// listByResourceGroupHandleResponse handles the ListByResourceGroup response.
func (client *SQLDatabaseClient) listByResourceGroupHandleResponse(resp *http.Response) (SQLDatabaseClientListByResourceGroupResponse, error) {
	result := SQLDatabaseClientListByResourceGroupResponse{}
	if err := runtime.UnmarshalAsJSON(resp, &result.SQLDatabaseResourceListResult); err != nil {
		return SQLDatabaseClientListByResourceGroupResponse{}, err
	}
	return result, nil
}

// Update - Update a SqlDatabaseResource
// If the operation fails it returns an *azcore.ResponseError type.
// Generated from API version 2022-03-15-privatepreview
// rootScope - The scope in which the resource is present. For Azure resource this would be /subscriptions/{subscriptionID}/resourceGroup/{resourcegroupID}
// sqlDatabaseName - The name of the SqlDatabase link resource
// properties - The resource properties to be updated.
// options - SQLDatabaseClientUpdateOptions contains the optional parameters for the SQLDatabaseClient.Update method.
func (client *SQLDatabaseClient) Update(ctx context.Context, rootScope string, sqlDatabaseName string, properties SQLDatabaseResourceUpdate, options *SQLDatabaseClientUpdateOptions) (SQLDatabaseClientUpdateResponse, error) {
	req, err := client.updateCreateRequest(ctx, rootScope, sqlDatabaseName, properties, options)
	if err != nil {
		return SQLDatabaseClientUpdateResponse{}, err
	}
	resp, err := client.pl.Do(req)
	if err != nil {
		return SQLDatabaseClientUpdateResponse{}, err
	}
	if !runtime.HasStatusCode(resp, http.StatusOK) {
		return SQLDatabaseClientUpdateResponse{}, runtime.NewResponseError(resp)
	}
	return client.updateHandleResponse(resp)
}

// updateCreateRequest creates the Update request.
func (client *SQLDatabaseClient) updateCreateRequest(ctx context.Context, rootScope string, sqlDatabaseName string, properties SQLDatabaseResourceUpdate, options *SQLDatabaseClientUpdateOptions) (*policy.Request, error) {
	urlPath := "/{rootScope}/providers/Applications.Link/sqlDatabases/{sqlDatabaseName}"
	urlPath = strings.ReplaceAll(urlPath, "{rootScope}", rootScope)
	if sqlDatabaseName == "" {
		return nil, errors.New("parameter sqlDatabaseName cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{sqlDatabaseName}", url.PathEscape(sqlDatabaseName))
	req, err := runtime.NewRequest(ctx, http.MethodPatch, runtime.JoinPaths(client.host, urlPath))
	if err != nil {
		return nil, err
	}
	reqQP := req.Raw().URL.Query()
	reqQP.Set("api-version", "2022-03-15-privatepreview")
	req.Raw().URL.RawQuery = reqQP.Encode()
	req.Raw().Header["Accept"] = []string{"application/json"}
	return req, runtime.MarshalAsJSON(req, properties)
}

// updateHandleResponse handles the Update response.
func (client *SQLDatabaseClient) updateHandleResponse(resp *http.Response) (SQLDatabaseClientUpdateResponse, error) {
	result := SQLDatabaseClientUpdateResponse{}
	if err := runtime.UnmarshalAsJSON(resp, &result.SQLDatabaseResource); err != nil {
		return SQLDatabaseClientUpdateResponse{}, err
	}
	return result, nil
}

