# General maintainers and approvers for the entire repository
* @radius-project/maintainers-radius @radius-project/approvers-radius

# Ownership for dependency-related files. Allow the on-call team to approve dependency version updates (e.g., from Dependabot PRs)
# Files in the root directory
/go.mod @radius-project/on-call
/go.sum @radius-project/on-call
# Files in the `test/magpiego directory`
test/magpiego/go.mod @radius-project/on-call
test/magpiego/go.sum @radius-project/on-call
# Files in the `typespec` directory
typespec/package-lock.json @radius-project/on-call
typespec/package.json      @radius-project/on-call