version: 2
updates:
  - package-ecosystem: "github-actions"
    directory: "/"
    schedule:
      interval: "weekly"
    groups:
      all:
        patterns:
          - "*"
  - package-ecosystem: "gomod"
    directory: "/"
    schedule:
      interval: "weekly"
    groups:
      all:
        patterns:
          - "*"
  - package-ecosystem: "devcontainers"
    directory: "/.devcontainer/contributor"
    schedule:
      interval: weekly
    groups:
      all:
        patterns:
          - "*"
  - package-ecosystem: "gitsubmodule"
    directory: "/"
    schedule:
      interval: "weekly"
  - package-ecosystem: "npm"
    directory: "/typespec/"
    schedule:
      interval: "weekly"
    groups:
      typespec:
        applies-to: version-updates
        patterns:
        - "*"        # Matches all dependencies
        update-types:
        - "patch"    # Only allow patch updates for regular version updates
