//go:build go1.18
// +build go1.18

// Licensed under the Apache License, Version 2.0 . See LICENSE in the repository root for license information.
// Code generated by Microsoft (R) AutoRest Code Generator.
// Changes may cause incorrect behavior and will be lost if the code is regenerated.
// DO NOT EDIT.

package v20220315privatepreview

import (
	"context"
	"errors"
	"github.com/Azure/azure-sdk-for-go/sdk/azcore"
	"github.com/Azure/azure-sdk-for-go/sdk/azcore/arm"
	armruntime "github.com/Azure/azure-sdk-for-go/sdk/azcore/arm/runtime"
	"github.com/Azure/azure-sdk-for-go/sdk/azcore/cloud"
	"github.com/Azure/azure-sdk-for-go/sdk/azcore/policy"
	"github.com/Azure/azure-sdk-for-go/sdk/azcore/runtime"
	"net/http"
	"net/url"
	"strconv"
	"strings"
)

// DaprPubSubBrokerClient contains the methods for the DaprPubSubBroker group.
// Don't use this type directly, use NewDaprPubSubBrokerClient() instead.
type DaprPubSubBrokerClient struct {
	host string
	rootScope string
	pl runtime.Pipeline
}

// NewDaprPubSubBrokerClient creates a new instance of DaprPubSubBrokerClient with the specified values.
// rootScope - The scope in which the resource is present. For Azure resource this would be /subscriptions/{subscriptionID}/resourceGroup/{resourcegroupID}
// credential - used to authorize requests. Usually a credential from azidentity.
// options - pass nil to accept the default values.
func NewDaprPubSubBrokerClient(rootScope string, credential azcore.TokenCredential, options *arm.ClientOptions) (*DaprPubSubBrokerClient, error) {
	if options == nil {
		options = &arm.ClientOptions{}
	}
	ep := cloud.AzurePublic.Services[cloud.ResourceManager].Endpoint
	if c, ok := options.Cloud.Services[cloud.ResourceManager]; ok {
		ep = c.Endpoint
	}
	pl, err := armruntime.NewPipeline(moduleName, moduleVersion, credential, runtime.PipelineOptions{}, options)
	if err != nil {
		return nil, err
	}
	client := &DaprPubSubBrokerClient{
		rootScope: rootScope,
		host: ep,
pl: pl,
	}
	return client, nil
}

// CreateOrUpdate - Creates or updates a DaprPubSubBrokerResource
// If the operation fails it returns an *azcore.ResponseError type.
// Generated from API version 2022-03-15-privatepreview
// daprPubSubBrokerName - DaprPubSubBroker name
// resource - Resource create parameters.
// options - DaprPubSubBrokerClientCreateOrUpdateOptions contains the optional parameters for the DaprPubSubBrokerClient.CreateOrUpdate
// method.
func (client *DaprPubSubBrokerClient) CreateOrUpdate(ctx context.Context, daprPubSubBrokerName string, resource DaprPubSubBrokerResource, options *DaprPubSubBrokerClientCreateOrUpdateOptions) (DaprPubSubBrokerClientCreateOrUpdateResponse, error) {
	req, err := client.createOrUpdateCreateRequest(ctx, daprPubSubBrokerName, resource, options)
	if err != nil {
		return DaprPubSubBrokerClientCreateOrUpdateResponse{}, err
	}
	resp, err := client.pl.Do(req)
	if err != nil {
		return DaprPubSubBrokerClientCreateOrUpdateResponse{}, err
	}
	if !runtime.HasStatusCode(resp, http.StatusOK, http.StatusCreated) {
		return DaprPubSubBrokerClientCreateOrUpdateResponse{}, runtime.NewResponseError(resp)
	}
	return client.createOrUpdateHandleResponse(resp)
}

// createOrUpdateCreateRequest creates the CreateOrUpdate request.
func (client *DaprPubSubBrokerClient) createOrUpdateCreateRequest(ctx context.Context, daprPubSubBrokerName string, resource DaprPubSubBrokerResource, options *DaprPubSubBrokerClientCreateOrUpdateOptions) (*policy.Request, error) {
	urlPath := "/{rootScope}/providers/Applications.Link/daprPubSubBrokers/{daprPubSubBrokerName}"
	urlPath = strings.ReplaceAll(urlPath, "{rootScope}", client.rootScope)
	if daprPubSubBrokerName == "" {
		return nil, errors.New("parameter daprPubSubBrokerName cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{daprPubSubBrokerName}", url.PathEscape(daprPubSubBrokerName))
	req, err := runtime.NewRequest(ctx, http.MethodPut, runtime.JoinPaths(client.host, urlPath))
	if err != nil {
		return nil, err
	}
	reqQP := req.Raw().URL.Query()
	reqQP.Set("api-version", "2022-03-15-privatepreview")
	req.Raw().URL.RawQuery = reqQP.Encode()
	req.Raw().Header["Accept"] = []string{"application/json"}
	return req, runtime.MarshalAsJSON(req, resource)
}

// createOrUpdateHandleResponse handles the CreateOrUpdate response.
func (client *DaprPubSubBrokerClient) createOrUpdateHandleResponse(resp *http.Response) (DaprPubSubBrokerClientCreateOrUpdateResponse, error) {
	result := DaprPubSubBrokerClientCreateOrUpdateResponse{}
	if val := resp.Header.Get("Retry-After"); val != "" {
		retryAfter32, err := strconv.ParseInt(val, 10, 32)
		retryAfter := int32(retryAfter32)
		if err != nil {
			return DaprPubSubBrokerClientCreateOrUpdateResponse{}, err
		}
		result.RetryAfter = &retryAfter
	}
	if err := runtime.UnmarshalAsJSON(resp, &result.DaprPubSubBrokerResource); err != nil {
		return DaprPubSubBrokerClientCreateOrUpdateResponse{}, err
	}
	return result, nil
}

// Delete - Deletes an existing DaprPubSubBrokerResource
// If the operation fails it returns an *azcore.ResponseError type.
// Generated from API version 2022-03-15-privatepreview
// daprPubSubBrokerName - DaprPubSubBroker name
// options - DaprPubSubBrokerClientDeleteOptions contains the optional parameters for the DaprPubSubBrokerClient.Delete method.
func (client *DaprPubSubBrokerClient) Delete(ctx context.Context, daprPubSubBrokerName string, options *DaprPubSubBrokerClientDeleteOptions) (DaprPubSubBrokerClientDeleteResponse, error) {
	req, err := client.deleteCreateRequest(ctx, daprPubSubBrokerName, options)
	if err != nil {
		return DaprPubSubBrokerClientDeleteResponse{}, err
	}
	resp, err := client.pl.Do(req)
	if err != nil {
		return DaprPubSubBrokerClientDeleteResponse{}, err
	}
	if !runtime.HasStatusCode(resp, http.StatusOK, http.StatusAccepted, http.StatusNoContent) {
		return DaprPubSubBrokerClientDeleteResponse{}, runtime.NewResponseError(resp)
	}
	return client.deleteHandleResponse(resp)
}

// deleteCreateRequest creates the Delete request.
func (client *DaprPubSubBrokerClient) deleteCreateRequest(ctx context.Context, daprPubSubBrokerName string, options *DaprPubSubBrokerClientDeleteOptions) (*policy.Request, error) {
	urlPath := "/{rootScope}/providers/Applications.Link/daprPubSubBrokers/{daprPubSubBrokerName}"
	urlPath = strings.ReplaceAll(urlPath, "{rootScope}", client.rootScope)
	if daprPubSubBrokerName == "" {
		return nil, errors.New("parameter daprPubSubBrokerName cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{daprPubSubBrokerName}", url.PathEscape(daprPubSubBrokerName))
	req, err := runtime.NewRequest(ctx, http.MethodDelete, runtime.JoinPaths(client.host, urlPath))
	if err != nil {
		return nil, err
	}
	reqQP := req.Raw().URL.Query()
	reqQP.Set("api-version", "2022-03-15-privatepreview")
	req.Raw().URL.RawQuery = reqQP.Encode()
	req.Raw().Header["Accept"] = []string{"application/json"}
	return req, nil
}

// deleteHandleResponse handles the Delete response.
func (client *DaprPubSubBrokerClient) deleteHandleResponse(resp *http.Response) (DaprPubSubBrokerClientDeleteResponse, error) {
	result := DaprPubSubBrokerClientDeleteResponse{}
	if val := resp.Header.Get("Retry-After"); val != "" {
		retryAfter32, err := strconv.ParseInt(val, 10, 32)
		retryAfter := int32(retryAfter32)
		if err != nil {
			return DaprPubSubBrokerClientDeleteResponse{}, err
		}
		result.RetryAfter = &retryAfter
	}
	return result, nil
}

// Get - Retrieves information about a DaprPubSubBrokerResource
// If the operation fails it returns an *azcore.ResponseError type.
// Generated from API version 2022-03-15-privatepreview
// daprPubSubBrokerName - DaprPubSubBroker name
// options - DaprPubSubBrokerClientGetOptions contains the optional parameters for the DaprPubSubBrokerClient.Get method.
func (client *DaprPubSubBrokerClient) Get(ctx context.Context, daprPubSubBrokerName string, options *DaprPubSubBrokerClientGetOptions) (DaprPubSubBrokerClientGetResponse, error) {
	req, err := client.getCreateRequest(ctx, daprPubSubBrokerName, options)
	if err != nil {
		return DaprPubSubBrokerClientGetResponse{}, err
	}
	resp, err := client.pl.Do(req)
	if err != nil {
		return DaprPubSubBrokerClientGetResponse{}, err
	}
	if !runtime.HasStatusCode(resp, http.StatusOK) {
		return DaprPubSubBrokerClientGetResponse{}, runtime.NewResponseError(resp)
	}
	return client.getHandleResponse(resp)
}

// getCreateRequest creates the Get request.
func (client *DaprPubSubBrokerClient) getCreateRequest(ctx context.Context, daprPubSubBrokerName string, options *DaprPubSubBrokerClientGetOptions) (*policy.Request, error) {
	urlPath := "/{rootScope}/providers/Applications.Link/daprPubSubBrokers/{daprPubSubBrokerName}"
	urlPath = strings.ReplaceAll(urlPath, "{rootScope}", client.rootScope)
	if daprPubSubBrokerName == "" {
		return nil, errors.New("parameter daprPubSubBrokerName cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{daprPubSubBrokerName}", url.PathEscape(daprPubSubBrokerName))
	req, err := runtime.NewRequest(ctx, http.MethodGet, runtime.JoinPaths(client.host, urlPath))
	if err != nil {
		return nil, err
	}
	reqQP := req.Raw().URL.Query()
	reqQP.Set("api-version", "2022-03-15-privatepreview")
	req.Raw().URL.RawQuery = reqQP.Encode()
	req.Raw().Header["Accept"] = []string{"application/json"}
	return req, nil
}

// getHandleResponse handles the Get response.
func (client *DaprPubSubBrokerClient) getHandleResponse(resp *http.Response) (DaprPubSubBrokerClientGetResponse, error) {
	result := DaprPubSubBrokerClientGetResponse{}
	if err := runtime.UnmarshalAsJSON(resp, &result.DaprPubSubBrokerResource); err != nil {
		return DaprPubSubBrokerClientGetResponse{}, err
	}
	return result, nil
}

// NewListByRootScopePager - Lists information about all DaprPubSubBrokerResources in the given root scope
// Generated from API version 2022-03-15-privatepreview
// options - DaprPubSubBrokerClientListByRootScopeOptions contains the optional parameters for the DaprPubSubBrokerClient.ListByRootScope
// method.
func (client *DaprPubSubBrokerClient) NewListByRootScopePager(options *DaprPubSubBrokerClientListByRootScopeOptions) (*runtime.Pager[DaprPubSubBrokerClientListByRootScopeResponse]) {
	return runtime.NewPager(runtime.PagingHandler[DaprPubSubBrokerClientListByRootScopeResponse]{
		More: func(page DaprPubSubBrokerClientListByRootScopeResponse) bool {
			return page.NextLink != nil && len(*page.NextLink) > 0
		},
		Fetcher: func(ctx context.Context, page *DaprPubSubBrokerClientListByRootScopeResponse) (DaprPubSubBrokerClientListByRootScopeResponse, error) {
			var req *policy.Request
			var err error
			if page == nil {
				req, err = client.listByRootScopeCreateRequest(ctx, options)
			} else {
				req, err = runtime.NewRequest(ctx, http.MethodGet, *page.NextLink)
			}
			if err != nil {
				return DaprPubSubBrokerClientListByRootScopeResponse{}, err
			}
			resp, err := client.pl.Do(req)
			if err != nil {
				return DaprPubSubBrokerClientListByRootScopeResponse{}, err
			}
			if !runtime.HasStatusCode(resp, http.StatusOK) {
				return DaprPubSubBrokerClientListByRootScopeResponse{}, runtime.NewResponseError(resp)
			}
			return client.listByRootScopeHandleResponse(resp)
		},
	})
}

// listByRootScopeCreateRequest creates the ListByRootScope request.
func (client *DaprPubSubBrokerClient) listByRootScopeCreateRequest(ctx context.Context, options *DaprPubSubBrokerClientListByRootScopeOptions) (*policy.Request, error) {
	urlPath := "/{rootScope}/providers/Applications.Link/daprPubSubBrokers"
	urlPath = strings.ReplaceAll(urlPath, "{rootScope}", client.rootScope)
	req, err := runtime.NewRequest(ctx, http.MethodGet, runtime.JoinPaths(client.host, urlPath))
	if err != nil {
		return nil, err
	}
	reqQP := req.Raw().URL.Query()
	reqQP.Set("api-version", "2022-03-15-privatepreview")
	req.Raw().URL.RawQuery = reqQP.Encode()
	req.Raw().Header["Accept"] = []string{"application/json"}
	return req, nil
}

// listByRootScopeHandleResponse handles the ListByRootScope response.
func (client *DaprPubSubBrokerClient) listByRootScopeHandleResponse(resp *http.Response) (DaprPubSubBrokerClientListByRootScopeResponse, error) {
	result := DaprPubSubBrokerClientListByRootScopeResponse{}
	if err := runtime.UnmarshalAsJSON(resp, &result.DaprPubSubBrokerResourceListResult); err != nil {
		return DaprPubSubBrokerClientListByRootScopeResponse{}, err
	}
	return result, nil
}

