# Force the following filetypes to have unix eols, so Windows does not break them
* text eol=lf

# Declare files that will always have CRLF line endings on checkout.
*.{cmd,[cC][mM][dD]} text eol=crlf
*.{bat,[bB][aA][tT]} text eol=crlf

# Common files
*.pdf binary

# Image files
*.gif binary
*.tif binary
*.ico binary
*.jpg binary
*.jpeg binary
*.png binary

# Microsoft Office documents
*.pptx binary
*.potx binary
*.docx binary
*.dotx binary
*.vsdx binary

# Lock files
package-lock.json linguist-generated=true
pnpm-lock.yaml linguist-generated=true
yarn.lock linguist-generated=true
