// Licensed under the Apache License, Version 2.0 . See LICENSE in the repository root for license information.
// Code generated by @autorest/go. DO NOT EDIT.

package v20231001preview

import (
	"context"
	"errors"
	"github.com/Azure/azure-sdk-for-go/sdk/azcore"
	"github.com/Azure/azure-sdk-for-go/sdk/azcore/arm"
	"github.com/Azure/azure-sdk-for-go/sdk/azcore/policy"
	"github.com/Azure/azure-sdk-for-go/sdk/azcore/runtime"
	"net/http"
	"net/url"
	"strings"
)

// StateStoresClient contains the methods for the StateStores group.
// Don't use this type directly, use NewStateStoresClient() instead.
//
// Generated from API version 2023-10-01-preview
type StateStoresClient struct {
	internal *arm.Client
}

// NewStateStoresClient creates a new instance of StateStoresClient with the specified values.
//   - credential - used to authorize requests. Usually a credential from azidentity.
//   - options - Contains optional client configuration. Pass nil to accept the default values.
func NewStateStoresClient(credential azcore.TokenCredential, options *arm.ClientOptions) (*StateStoresClient, error) {
	cl, err := arm.NewClient(moduleName, moduleVersion, credential, options)
	if err != nil {
		return nil, err
	}
	client := &StateStoresClient{
		internal: cl,
	}
	return client, nil
}

// BeginCreateOrUpdate - Create a DaprStateStoreResource
// If the operation fails it returns an *azcore.ResponseError type.
//   - rootScope - The scope in which the resource is present. UCP Scope is /planes/{planeType}/{planeName}/resourceGroup/{resourcegroupID}
//     and Azure resource scope is /subscriptions/{subscriptionID}/resourceGroup/{resourcegroupID}
//   - stateStoreName - StateStore name
//   - resource - Resource create parameters.
//   - options - StateStoresClientBeginCreateOrUpdateOptions contains the optional parameters for the StateStoresClient.BeginCreateOrUpdate
//     method.
func (client *StateStoresClient) BeginCreateOrUpdate(ctx context.Context, rootScope string, stateStoreName string, resource DaprStateStoreResource, options *StateStoresClientBeginCreateOrUpdateOptions) (*runtime.Poller[StateStoresClientCreateOrUpdateResponse], error) {
	if options == nil || options.ResumeToken == "" {
		resp, err := client.createOrUpdate(ctx, rootScope, stateStoreName, resource, options)
		if err != nil {
			return nil, err
		}
		poller, err := runtime.NewPoller[StateStoresClientCreateOrUpdateResponse](resp, client.internal.Pipeline(), nil)
		return poller, err
	} else {
		return runtime.NewPollerFromResumeToken[StateStoresClientCreateOrUpdateResponse](options.ResumeToken, client.internal.Pipeline(), nil)
	}
}

// CreateOrUpdate - Create a DaprStateStoreResource
// If the operation fails it returns an *azcore.ResponseError type.
func (client *StateStoresClient) createOrUpdate(ctx context.Context, rootScope string, stateStoreName string, resource DaprStateStoreResource, options *StateStoresClientBeginCreateOrUpdateOptions) (*http.Response, error) {
	var err error
	req, err := client.createOrUpdateCreateRequest(ctx, rootScope, stateStoreName, resource, options)
	if err != nil {
		return nil, err
	}
	httpResp, err := client.internal.Pipeline().Do(req)
	if err != nil {
		return nil, err
	}
	if !runtime.HasStatusCode(httpResp, http.StatusOK, http.StatusCreated) {
		err = runtime.NewResponseError(httpResp)
		return nil, err
	}
	return httpResp, nil
}

// createOrUpdateCreateRequest creates the CreateOrUpdate request.
func (client *StateStoresClient) createOrUpdateCreateRequest(ctx context.Context, rootScope string, stateStoreName string, resource DaprStateStoreResource, _ *StateStoresClientBeginCreateOrUpdateOptions) (*policy.Request, error) {
	urlPath := "/{rootScope}/providers/Applications.Dapr/stateStores/{stateStoreName}"
	if rootScope == "" {
		return nil, errors.New("parameter rootScope cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{rootScope}", rootScope)
	if stateStoreName == "" {
		return nil, errors.New("parameter stateStoreName cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{stateStoreName}", url.PathEscape(stateStoreName))
	req, err := runtime.NewRequest(ctx, http.MethodPut, runtime.JoinPaths(client.internal.Endpoint(), urlPath))
	if err != nil {
		return nil, err
	}
	reqQP := req.Raw().URL.Query()
	reqQP.Set("api-version", version20231001Preview)
	req.Raw().URL.RawQuery = strings.ReplaceAll(reqQP.Encode(), "+", "%20")
	req.Raw().Header["Accept"] = []string{"application/json"}
	req.Raw().Header["Content-Type"] = []string{"application/json"}
	if err := runtime.MarshalAsJSON(req, resource); err != nil {
		return nil, err
	}
	return req, nil
}

// BeginDelete - Delete a DaprStateStoreResource
// If the operation fails it returns an *azcore.ResponseError type.
//   - rootScope - The scope in which the resource is present. UCP Scope is /planes/{planeType}/{planeName}/resourceGroup/{resourcegroupID}
//     and Azure resource scope is /subscriptions/{subscriptionID}/resourceGroup/{resourcegroupID}
//   - stateStoreName - StateStore name
//   - options - StateStoresClientBeginDeleteOptions contains the optional parameters for the StateStoresClient.BeginDelete method.
func (client *StateStoresClient) BeginDelete(ctx context.Context, rootScope string, stateStoreName string, options *StateStoresClientBeginDeleteOptions) (*runtime.Poller[StateStoresClientDeleteResponse], error) {
	if options == nil || options.ResumeToken == "" {
		resp, err := client.deleteOperation(ctx, rootScope, stateStoreName, options)
		if err != nil {
			return nil, err
		}
		poller, err := runtime.NewPoller[StateStoresClientDeleteResponse](resp, client.internal.Pipeline(), nil)
		return poller, err
	} else {
		return runtime.NewPollerFromResumeToken[StateStoresClientDeleteResponse](options.ResumeToken, client.internal.Pipeline(), nil)
	}
}

// Delete - Delete a DaprStateStoreResource
// If the operation fails it returns an *azcore.ResponseError type.
func (client *StateStoresClient) deleteOperation(ctx context.Context, rootScope string, stateStoreName string, options *StateStoresClientBeginDeleteOptions) (*http.Response, error) {
	var err error
	req, err := client.deleteCreateRequest(ctx, rootScope, stateStoreName, options)
	if err != nil {
		return nil, err
	}
	httpResp, err := client.internal.Pipeline().Do(req)
	if err != nil {
		return nil, err
	}
	if !runtime.HasStatusCode(httpResp, http.StatusAccepted, http.StatusNoContent) {
		err = runtime.NewResponseError(httpResp)
		return nil, err
	}
	return httpResp, nil
}

// deleteCreateRequest creates the Delete request.
func (client *StateStoresClient) deleteCreateRequest(ctx context.Context, rootScope string, stateStoreName string, _ *StateStoresClientBeginDeleteOptions) (*policy.Request, error) {
	urlPath := "/{rootScope}/providers/Applications.Dapr/stateStores/{stateStoreName}"
	if rootScope == "" {
		return nil, errors.New("parameter rootScope cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{rootScope}", rootScope)
	if stateStoreName == "" {
		return nil, errors.New("parameter stateStoreName cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{stateStoreName}", url.PathEscape(stateStoreName))
	req, err := runtime.NewRequest(ctx, http.MethodDelete, runtime.JoinPaths(client.internal.Endpoint(), urlPath))
	if err != nil {
		return nil, err
	}
	reqQP := req.Raw().URL.Query()
	reqQP.Set("api-version", version20231001Preview)
	req.Raw().URL.RawQuery = strings.ReplaceAll(reqQP.Encode(), "+", "%20")
	return req, nil
}

// Get - Get a DaprStateStoreResource
// If the operation fails it returns an *azcore.ResponseError type.
//   - rootScope - The scope in which the resource is present. UCP Scope is /planes/{planeType}/{planeName}/resourceGroup/{resourcegroupID}
//     and Azure resource scope is /subscriptions/{subscriptionID}/resourceGroup/{resourcegroupID}
//   - stateStoreName - StateStore name
//   - options - StateStoresClientGetOptions contains the optional parameters for the StateStoresClient.Get method.
func (client *StateStoresClient) Get(ctx context.Context, rootScope string, stateStoreName string, options *StateStoresClientGetOptions) (StateStoresClientGetResponse, error) {
	var err error
	req, err := client.getCreateRequest(ctx, rootScope, stateStoreName, options)
	if err != nil {
		return StateStoresClientGetResponse{}, err
	}
	httpResp, err := client.internal.Pipeline().Do(req)
	if err != nil {
		return StateStoresClientGetResponse{}, err
	}
	if !runtime.HasStatusCode(httpResp, http.StatusOK) {
		err = runtime.NewResponseError(httpResp)
		return StateStoresClientGetResponse{}, err
	}
	resp, err := client.getHandleResponse(httpResp)
	return resp, err
}

// getCreateRequest creates the Get request.
func (client *StateStoresClient) getCreateRequest(ctx context.Context, rootScope string, stateStoreName string, _ *StateStoresClientGetOptions) (*policy.Request, error) {
	urlPath := "/{rootScope}/providers/Applications.Dapr/stateStores/{stateStoreName}"
	if rootScope == "" {
		return nil, errors.New("parameter rootScope cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{rootScope}", rootScope)
	if stateStoreName == "" {
		return nil, errors.New("parameter stateStoreName cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{stateStoreName}", url.PathEscape(stateStoreName))
	req, err := runtime.NewRequest(ctx, http.MethodGet, runtime.JoinPaths(client.internal.Endpoint(), urlPath))
	if err != nil {
		return nil, err
	}
	reqQP := req.Raw().URL.Query()
	reqQP.Set("api-version", version20231001Preview)
	req.Raw().URL.RawQuery = strings.ReplaceAll(reqQP.Encode(), "+", "%20")
	req.Raw().Header["Accept"] = []string{"application/json"}
	return req, nil
}

// getHandleResponse handles the Get response.
func (client *StateStoresClient) getHandleResponse(resp *http.Response) (StateStoresClientGetResponse, error) {
	result := StateStoresClientGetResponse{}
	if err := runtime.UnmarshalAsJSON(resp, &result.DaprStateStoreResource); err != nil {
		return StateStoresClientGetResponse{}, err
	}
	return result, nil
}

// NewListByScopePager - List DaprStateStoreResource resources by Scope
//   - rootScope - The scope in which the resource is present. UCP Scope is /planes/{planeType}/{planeName}/resourceGroup/{resourcegroupID}
//     and Azure resource scope is /subscriptions/{subscriptionID}/resourceGroup/{resourcegroupID}
//   - options - StateStoresClientListByScopeOptions contains the optional parameters for the StateStoresClient.NewListByScopePager
//     method.
func (client *StateStoresClient) NewListByScopePager(rootScope string, options *StateStoresClientListByScopeOptions) *runtime.Pager[StateStoresClientListByScopeResponse] {
	return runtime.NewPager(runtime.PagingHandler[StateStoresClientListByScopeResponse]{
		More: func(page StateStoresClientListByScopeResponse) bool {
			return page.NextLink != nil && len(*page.NextLink) > 0
		},
		Fetcher: func(ctx context.Context, page *StateStoresClientListByScopeResponse) (StateStoresClientListByScopeResponse, error) {
			nextLink := ""
			if page != nil {
				nextLink = *page.NextLink
			}
			resp, err := runtime.FetcherForNextLink(ctx, client.internal.Pipeline(), nextLink, func(ctx context.Context) (*policy.Request, error) {
				return client.listByScopeCreateRequest(ctx, rootScope, options)
			}, nil)
			if err != nil {
				return StateStoresClientListByScopeResponse{}, err
			}
			return client.listByScopeHandleResponse(resp)
		},
	})
}

// listByScopeCreateRequest creates the ListByScope request.
func (client *StateStoresClient) listByScopeCreateRequest(ctx context.Context, rootScope string, _ *StateStoresClientListByScopeOptions) (*policy.Request, error) {
	urlPath := "/{rootScope}/providers/Applications.Dapr/stateStores"
	if rootScope == "" {
		return nil, errors.New("parameter rootScope cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{rootScope}", rootScope)
	req, err := runtime.NewRequest(ctx, http.MethodGet, runtime.JoinPaths(client.internal.Endpoint(), urlPath))
	if err != nil {
		return nil, err
	}
	reqQP := req.Raw().URL.Query()
	reqQP.Set("api-version", version20231001Preview)
	req.Raw().URL.RawQuery = strings.ReplaceAll(reqQP.Encode(), "+", "%20")
	req.Raw().Header["Accept"] = []string{"application/json"}
	return req, nil
}

// listByScopeHandleResponse handles the ListByScope response.
func (client *StateStoresClient) listByScopeHandleResponse(resp *http.Response) (StateStoresClientListByScopeResponse, error) {
	result := StateStoresClientListByScopeResponse{}
	if err := runtime.UnmarshalAsJSON(resp, &result.DaprStateStoreResourceListResult); err != nil {
		return StateStoresClientListByScopeResponse{}, err
	}
	return result, nil
}

// BeginUpdate - Update a DaprStateStoreResource
// If the operation fails it returns an *azcore.ResponseError type.
//   - rootScope - The scope in which the resource is present. UCP Scope is /planes/{planeType}/{planeName}/resourceGroup/{resourcegroupID}
//     and Azure resource scope is /subscriptions/{subscriptionID}/resourceGroup/{resourcegroupID}
//   - stateStoreName - StateStore name
//   - properties - The resource properties to be updated.
//   - options - StateStoresClientBeginUpdateOptions contains the optional parameters for the StateStoresClient.BeginUpdate method.
func (client *StateStoresClient) BeginUpdate(ctx context.Context, rootScope string, stateStoreName string, properties DaprStateStoreResource, options *StateStoresClientBeginUpdateOptions) (*runtime.Poller[StateStoresClientUpdateResponse], error) {
	if options == nil || options.ResumeToken == "" {
		resp, err := client.update(ctx, rootScope, stateStoreName, properties, options)
		if err != nil {
			return nil, err
		}
		poller, err := runtime.NewPoller[StateStoresClientUpdateResponse](resp, client.internal.Pipeline(), nil)
		return poller, err
	} else {
		return runtime.NewPollerFromResumeToken[StateStoresClientUpdateResponse](options.ResumeToken, client.internal.Pipeline(), nil)
	}
}

// Update - Update a DaprStateStoreResource
// If the operation fails it returns an *azcore.ResponseError type.
func (client *StateStoresClient) update(ctx context.Context, rootScope string, stateStoreName string, properties DaprStateStoreResource, options *StateStoresClientBeginUpdateOptions) (*http.Response, error) {
	var err error
	req, err := client.updateCreateRequest(ctx, rootScope, stateStoreName, properties, options)
	if err != nil {
		return nil, err
	}
	httpResp, err := client.internal.Pipeline().Do(req)
	if err != nil {
		return nil, err
	}
	if !runtime.HasStatusCode(httpResp, http.StatusOK, http.StatusAccepted) {
		err = runtime.NewResponseError(httpResp)
		return nil, err
	}
	return httpResp, nil
}

// updateCreateRequest creates the Update request.
func (client *StateStoresClient) updateCreateRequest(ctx context.Context, rootScope string, stateStoreName string, properties DaprStateStoreResource, _ *StateStoresClientBeginUpdateOptions) (*policy.Request, error) {
	urlPath := "/{rootScope}/providers/Applications.Dapr/stateStores/{stateStoreName}"
	if rootScope == "" {
		return nil, errors.New("parameter rootScope cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{rootScope}", rootScope)
	if stateStoreName == "" {
		return nil, errors.New("parameter stateStoreName cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{stateStoreName}", url.PathEscape(stateStoreName))
	req, err := runtime.NewRequest(ctx, http.MethodPatch, runtime.JoinPaths(client.internal.Endpoint(), urlPath))
	if err != nil {
		return nil, err
	}
	reqQP := req.Raw().URL.Query()
	reqQP.Set("api-version", version20231001Preview)
	req.Raw().URL.RawQuery = strings.ReplaceAll(reqQP.Encode(), "+", "%20")
	req.Raw().Header["Accept"] = []string{"application/json"}
	req.Raw().Header["Content-Type"] = []string{"application/json"}
	if err := runtime.MarshalAsJSON(req, properties); err != nil {
		return nil, err
	}
	return req, nil
}
