apiVersion: apps/v1
kind: Deployment
metadata:
  labels:
    control-plane: appcore-rp
  name: appcore-rp
  namespace: {{ .Release.Namespace }}
spec:
  replicas: 1
  selector:
    matchLabels:
      control-plane: appcore-rp
  template:
    metadata:
      labels:
        control-plane: appcore-rp
{{ if .Values.global.appcorerp.provider.azure.podidentity }}
        aadpodidbinding: {{ .Values.global.appcorerp.provider.azure.podidentity }}
{{ end }}
    spec:
      serviceAccountName: appcore-rp
      containers:
      - args:
        - --config-file=/etc/config/radius-self-host.yaml
        - --run-connector
        - --connector-config=/etc/config/connector-self-host.yaml
        image: {{ .Values.global.appcorerp.image }}:{{ .Values.global.appcorerp.tag }}
        envFrom:
        - secretRef: 
            name: appcore-rp-secrets
        env:
        - name: RADIUS_ENV
          value: 'self-hosted'
        - name: K8S_CLUSTER
          value: 'true'
        - name: SKIP_AUTH
          value: 'true'
        name: appcore-rp
        ports:
        - containerPort: 5443
          name: appcore-rp
          protocol: TCP
        - containerPort: 5444
          name: appconnector-rp
          protocol: TCP
        securityContext:
          allowPrivilegeEscalation: false
        volumeMounts:
        - name: config-volume
          mountPath: /etc/config
        securityContext:
          allowPrivilegeEscalation: false
      volumes:
        - name: config-volume
          configMap:
            name: appcore-rp-config
---
apiVersion: v1
kind: Service
metadata:
  name: appcore-rp
  namespace: {{ .Release.Namespace }}
spec:
  ports:
    - port: 5443
      name: core-http
      protocol: TCP
      targetPort: 5443
    - port: 5444
      name: connector-http
      protocol: TCP
      targetPort: 5444
  selector:
    control-plane: appcore-rp
---
apiVersion: v1
kind: ConfigMap
metadata:
  name: appcore-rp-config
  namespace: {{ .Release.Namespace }}
  labels:
    chart: "{{ .Chart.Name }}-{{ .Chart.Version }}"
    heritage: "{{ .Release.Service }}"
    release: "{{ .Release.Name }}"
data:
  radius-self-host.yaml: |-
{{ .Files.Get "radius-self-host.yaml" | indent 4}}
  connector-self-host.yaml: |-
{{ .Files.Get "connector-self-host.yaml" | indent 4}}
---
apiVersion: v1
kind: Secret
metadata:
  name: appcore-rp-secrets
  namespace: {{ .Release.Namespace }}
  labels:
    app: appcore-rp
stringData:
# Configuration for 'Azure' provider functionality
{{ if .Values.global.appcorerp.provider.azure.podidentity }}
  # Enable ARM without explicit credentials
  SKIP_ARM: 'false'
  ARM_AUTH_METHOD: 'ManagedIdentity'
  ARM_SUBSCRIPTION_ID: {{ .Values.global.appcorerp.provider.azure.subscriptionId }}
  ARM_RESOURCE_GROUP: {{ .Values.global.appcorerp.provider.azure.resourceGroup }}
{{ else if .Values.global.appcorerp.provider.azure.servicePrincipal }}
  # Enable ARM with explicit credentials
  SKIP_ARM: 'false' 
  ARM_AUTH_METHOD: 'ServicePrincipal'
  AZURE_CLIENT_ID: {{ .Values.global.appcorerp.provider.azure.servicePrincipal.clientId }}
  AZURE_CLIENT_SECRET: {{ .Values.global.appcorerp.provider.azure.servicePrincipal.clientSecret }}
  AZURE_TENANT_ID: {{ .Values.global.appcorerp.provider.azure.servicePrincipal.tenantId }}
  ARM_SUBSCRIPTION_ID: {{ .Values.global.appcorerp.provider.azure.subscriptionId }}
  ARM_RESOURCE_GROUP: {{ .Values.global.appcorerp.provider.azure.resourceGroup }}
{{ else }}
  # Skip ARM by default. Overwriting this secret will let you set this to false as well as configure credentials
  SKIP_ARM: 'true' 
{{ end }}
# Configuration for AKS integration
{{ if .Values.global.appcorerp.aks }}
  K8S_SUBSCRIPTION_ID: {{ .Values.global.appcorerp.aks.subscriptionId }}
  K8S_RESOURCE_GROUP: {{ .Values.global.appcorerp.aks.resourceGroup }}
  K8S_CLUSTER_NAME: {{ .Values.global.appcorerp.aks.clusterName }}
{{ end }}