apiVersion: apps/v1
kind: Deployment
metadata:
  labels:
    control-plane: appcore-rp
  name: appcore-rp
  namespace: {{ .Release.Namespace }}
spec:
  replicas: 1
  selector:
    matchLabels:
      control-plane: appcore-rp
  template:
    metadata:
      labels:
        control-plane: appcore-rp
{{ if .Values.global.rp.provider.azure.podidentity }}
        aadpodidbinding: {{ .Values.global.rp.provider.azure.podidentity }}
{{ end }}
    spec:
      serviceAccountName: appcore-rp
      containers:
      - args:
        - --config-file=/etc/config/radius-self-host.yaml
        - --run-connector
        - --connector-config=/etc/config/connector-self-host.yaml
        image: {{ .Values.global.appcorerp.image }}:{{ .Values.global.appcorerp.tag }}
        env:
        - name: RADIUS_ENV
          value: 'self-hosted'
        name: appcore-rp
        ports:
        - containerPort: 5443
          name: appcore-rp
          protocol: TCP
        - containerPort: 5444
          name: appconnector-rp
          protocol: TCP
        securityContext:
          allowPrivilegeEscalation: false
        volumeMounts:
        - name: config-volume
          mountPath: /etc/config
        securityContext:
          allowPrivilegeEscalation: false
      volumes:
        - name: config-volume
          configMap:
            name: appcore-rp-config
---
apiVersion: v1
kind: Service
metadata:
  name: appcore-rp
  namespace: {{ .Release.Namespace }}
spec:
  ports:
    - port: 5443
      name: http
      protocol: TCP
      targetPort: 5443
    - port: 5444
      name: http
      protocol: TCP
      targetPort: 5444
  selector:
    control-plane: appcore-rp
---
apiVersion: v1
kind: ConfigMap
metadata:
  name: appcore-rp-config
  namespace: {{ .Release.Namespace }}
  labels:
    chart: "{{ .Chart.Name }}-{{ .Chart.Version }}"
    heritage: "{{ .Release.Service }}"
    release: "{{ .Release.Name }}"
data:
  radius-self-host.yaml: |-
{{ .Files.Get "radius-self-host.yaml" | indent 4}}
  connector-self-host.yaml: |-
{{ .Files.Get "connector-self-host.yaml" | indent 4}}