apiVersion: apps/v1
kind: Deployment
metadata:
  labels:
    control-plane: appcore-rp
  name: appcore-rp
  namespace: {{ .Release.Namespace }}
spec:
  replicas: 1
  selector:
    matchLabels:
      control-plane: appcore-rp
  template:
    metadata:
      labels:
        control-plane: appcore-rp
{{ if .Values.global.rp.provider.azure.podidentity }}
        aadpodidbinding: {{ .Values.global.rp.provider.azure.podidentity }}
{{ end }}
    spec:
      serviceAccountName: appcore-rp
      containers:
      - args:
        - --config-file=/etc/config/radius-self-host.yaml
        image: {{ .Values.global.appcorerp.image }}:{{ .Values.global.appcorerp.tag }}
        env:
        - name: DEFAULT_PLANES_CONFIG
          value: /etc/config/appcore-rp-config.json
        - name: PORT
          value: '5443'
        - name: RADIUS_ENV
          value: 'self-hosted'
        name: appcore-rp
        ports:
        - containerPort: 5443
          name: appcore-rp
          protocol: TCP
        securityContext:
          allowPrivilegeEscalation: false
        volumeMounts:
        - name: config-volume
          mountPath: /etc/config
        securityContext:
          allowPrivilegeEscalation: false
      volumes:
        - name: cert
          secret:
            secretName: appcore-rp-cert
        - name: config-volume
          configMap:
            # Provide the name of the ConfigMap containing the files you want
            # to add to the container
            name: radius-config
---
apiVersion: v1
kind: Service
metadata:
  name: appcore-rp
  namespace: {{ .Release.Namespace }}
spec:
  ports:
    - port: 5443
      name: http
      protocol: TCP
      targetPort: 5443
  selector:
    control-plane: appcore-rp
---
apiVersion: v1
kind: ConfigMap
metadata:
  name: radius-config
  namespace: {{ .Release.Namespace }}
  labels:
    chart: "{{ .Chart.Name }}-{{ .Chart.Version }}"
    heritage: "{{ .Release.Service }}"
    release: "{{ .Release.Name }}"
data:
  radius-self-host.yaml: |-
{{ .Files.Get "radius-self-host.yaml" | indent 4}}