# This is an example of configuration file.
{{define "core-rp-config"}}
environment:
  name: self-hosted
  roleLocation: "global"
storageProvider:
  # Kubernetes APIServer store.
  # This supports two modes:
  # - incluster = true => uses the credentials/service-account of a pod. FOR PRODUCTION USE.
  # - incluster = false => uses your LOCAL kubernetes context. For TESTING
  #
  provider: "apiserver"
  apiserver:
    incluster: true
    context: ""
    namespace: "radius-system"
queueProvider:
  provider: "apiserver"
  apiserver:
    incluster: true
    context: ""
    namespace: "radius-system"
metricsProvider:
  prometheus:
    enabled: true
    path: "/metrics"
    port: 9090
secretProvider:
  provider: kubernetes
server:
  host: "0.0.0.0"
  port: 5443
workerServer:
  maxOperationConcurrency: 3
  maxOperationRetryCount: 2
ucp:
  kind: kubernetes
# Logging configuration
logging:
  level: "info"
  json: true
{{ if and .Values.zipkin .Values.zipkin.url }}
tracerProvider:
  serviceName: "applications.core"
  zipkin: 
    url: {{ .Values.zipkin.url }}
{{ end }}
{{ end }} 