{
  "swagger": "2.0",
  "info": {
    "title": "Applications.Core Management APIs",
    "description": "REST APIs for Applications.Core/extenders.",
    "version": "2022-03-15-privatepreview"
  },
  "host": "management.azure.com",
  "schemes": [
    "https"
  ],
  "consumes": [
    "application/json"
  ],
  "produces": [
    "application/json"
  ],
  "security": [
    {
      "azure_auth": [
        "user_impersonation"
      ]
    }
  ],
  "securityDefinitions": {
    "azure_auth": {
      "type": "oauth2",
      "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
      "flow": "implicit",
      "description": "Azure Active Directory OAuth2 Flow.",
      "scopes": {
        "user_impersonation": "impersonate your user account"
      }
    }
  },
  "paths": {
    "/{rootScope}/providers/Applications.Core/extenders": {
      "get": {
        "description": "Lists information about all Extender portable resources in the given root scope.",
        "operationId": "Extenders_ListByRootScope",
        "produces": [
          "application/json"
        ],
        "x-ms-examples": {
          "ExtendersListByRootScope": {
            "$ref": "./examples/ExtendersListByRootScope.json"
          }
        },
        "tags": [
          "Extenders"
        ],
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "global.json#/parameters/RootScopeParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "List of Extender portable resources.",
            "schema": {
              "$ref": "#/definitions/ExtenderList"
            }
          },
          "default": {
            "description": "Error response describing the reason for operation failure.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "deprecated": false,
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/{rootScope}/providers/Applications.Core/extenders/{extenderName}": {
      "get": {
        "description": "Retrieves information about a Extender portable resource.",
        "operationId": "Extenders_Get",
        "produces": [
          "application/json"
        ],
        "x-ms-examples": {
          "ExtendersGet": {
            "$ref": "./examples/ExtendersGet.json"
          }
        },
        "tags": [
          "Extenders"
        ],
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "global.json#/parameters/RootScopeParameter"
          },
          {
            "$ref": "#/parameters/ExtenderNameParameter"
          }
        ],
        "responses": { 
          "200": {
            "description": "Extender portable resource.",
            "schema": {
              "$ref": "#/definitions/ExtenderResource"
            }
          },
          "default": {
            "description": "Error response describing the reason for operation failure.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/ErrorResponse"
            }
          }
        }
      },
      "put": {
        "description": "Creates or updates a Extender portable resource.",
        "operationId": "Extenders_CreateOrUpdate",
        "produces": [
          "application/json"
        ],
        "x-ms-examples": {
          "ExtendersPut": {
            "$ref": "./examples/ExtendersPut.json"
          }
        },
        "tags": [
          "Extenders"
        ],
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "global.json#/parameters/RootScopeParameter"
          },
          {
            "$ref": "#/parameters/ExtenderNameParameter"
          },
          {
            "name": "ExtenderParameters",
            "description": "Extender create parameters.",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/ExtenderResource"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The request was successful; response contains the Extender portable resource.",
            "schema": {
              "$ref": "#/definitions/ExtenderResource"
            }
          },
          "201": {
            "description": "The request was successful, resource will be updated asynchronously.",
            "schema": {
              "$ref": "#/definitions/ExtenderResource"
            }
          },
          "default": {
            "description": "Error response describing the reason for operation failure.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/ErrorResponse"
            }
          }
        }
      },
      "delete": {
        "description": "Deletes an existing Extender portable resource.",
        "operationId": "Extenders_Delete",
        "produces": [
          "application/json"
        ],
        "x-ms-examples": {
          "ExtendersDelete": {
            "$ref": "./examples/ExtendersDelete.json"
          }
        },
        "tags": [
          "Extenders"
        ],
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "global.json#/parameters/RootScopeParameter"
          },
          {
            "$ref": "#/parameters/ExtenderNameParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "The Extender portable resource was successfully deleted."
          },
          "202": {
            "description": "The Extender portable resource will be deleted asynchronously."
          },
          "204": {
            "description": "The Extender portable resource does not exist."
          },
          "default": {
            "description": "Error response describing the reason for operation failure.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/ErrorResponse"
            }
          }
        }
      }
    },
    "/{rootScope}/providers/Applications.Core/extenders/{extenderName}/listSecrets": {
      "post": {
        "description": "Lists secrets values for the specified Extender portable resource.",
        "operationId": "Extenders_listSecrets",
        "produces": [
          "application/json"
        ],
        "x-ms-examples": {
          "ExtendersGet": {
            "$ref": "./examples/ExtendersListSecrets.json"
          }
        },
        "tags": [
          "Extenders"
        ],
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "global.json#/parameters/RootScopeParameter"
          },
          {
            "$ref": "#/parameters/ExtenderNameParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Extender secrets.",
            "schema": {
              "$ref": "#/definitions/ExtenderListSecretsResult"
            }
          },
          "default": {
            "description": "Error response describing the reason for operation failure.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/ErrorResponse"
            }
          }
        }
      }
    }
  },
  "definitions": {
    "ResourceRecipe": {
      "type": "object",
      "properties": {
        "name": {
          "type": "string",
          "description": "The name of the recipe within the environment to use."
        },
        "parameters": {
          "$ref": "global.json#/definitions/Parameters",
          "description": "Key/value parameters to pass into the recipe at deployment."
        }
      },
      "description": "The recipe used to automatically deploy underlying infrastructure for a portable resource.",
      "required": [
        "name"
      ]
    },
    "ResourceProvisioning": {
      "type": "string",
      "description": "Specifies how the underlying service/resource is provisioned and managed. Available values are 'recipe', where Radius manages the lifecycle of the resource through a Recipe, and 'manual', where a user manages the resource and provides the values.",
      "enum": [
        "recipe",
        "manual"
      ],
      "x-ms-enum": {
        "name": "ResourceProvisioning",
        "modelAsString": true
      }
    },
    "ExtenderList": {
      "description": "Object that includes an array of Extender and a possible portable resource for next set.",
      "type": "object",
      "properties": {
        "value": {
          "description": "List of Extender portable resources.",
          "type": "array",
          "items": {
            "$ref": "#/definitions/ExtenderResource"
          }
        },
        "nextLink": {
          "description": "The link used to fetch the next page of Extender list.",
          "type": "string"
        }
      }
    },
    "ExtenderResource": {
      "description": "Extender portable resource.",
      "type": "object",
      "allOf": [
        {
          "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/TrackedResource"
        }
      ],
      "required": [
        "properties"
      ],
      "properties": {
        "systemData": {
          "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/systemData"
        },
        "properties": {
          "x-ms-client-flatten": true,
          "$ref": "#/definitions/ExtenderProperties"
        }
      }
    },
    "ExtenderListSecretsResult": {
      "description": "The secret values for the given Extender portable resource.",
      "$ref": "#/definitions/ExtenderSecrets"
    },
    "ExtenderSecrets": {
      "description": "The secret values for the given Extender portable resource.",
      "additionalProperties": true,
      "properties": {}
    },
    "ExtenderProperties": {
      "description": "Extender portable resource properties.",
      "type": "object",
      "allOf": [
        {
          "$ref": "#/definitions/PortableResourceBasicProperties"
        }
      ],
      "additionalProperties": true,
      "properties": {
        "provisioningState": {
          "readOnly": true,
          "$ref": "global.json#/definitions/ProvisioningState",
          "description": "Provisioning state of the Extender portable resource at the time the operation was called."
        },
        "secrets": {
          "additionalProperties": true,
          "$ref": "#/definitions/ExtenderSecrets"
        },
        "resourceProvisioning": {
          "$ref": "#/definitions/ResourceProvisioning",
          "description": "Specifies how the underlying service/resource is provisioned and managed."
        },
        "recipe": {
          "$ref": "#/definitions/ResourceRecipe",
          "description": "The recipe used to automatically deploy underlying infrastructure for the Extender portable resource."
        }
      },
      "required": [
        "environment"
      ]
    },
    "PortableResourceBasicProperties": {
      "type": "object",
      "properties": {
        "status": {
          "$ref": "global.json#/definitions/ResourceStatus",
          "description": "Status of a Portable resource.",
          "readOnly": true
        },
        "environment": {
          "type": "string",
          "description": "The resource id of the environment linked to the resource"
        },
        "application": {
          "$ref": "global.json#/definitions/Application"
        }
      },
      "description": "Basic properties of a Portable resource.",
      "required": [
        "environment"
      ]
    }
  },
  "parameters": {
    "ExtenderNameParameter": {
      "description": "The name of the Extender portable resource.",
      "name": "extenderName",
      "in": "path",
      "required": true,
      "type": "string",
      "pattern": "^[A-Za-z]([-A-Za-z0-9]*[A-Za-z0-9])?$",
      "maxLength": 63,
      "x-ms-parameter-location": "method"
    }
  }
}