{
  "swagger": "2.0",
  "info": {
    "title": "Applications.Core Management APIs",
    "version": "2022-03-15-privatepreview"
  },
  "host": "management.azure.com",
  "schemes": [
    "https"
  ],
  "consumes": [
    "application/json"
  ],
  "produces": [
    "application/json"
  ],
  "security": [
    {
      "azure_auth": [
        "user_impersonation"
      ]
    }
  ],
  "securityDefinitions": {
    "azure_auth": {
      "type": "oauth2",
      "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
      "flow": "implicit",
      "description": "Azure Active Directory OAuth2 Flow.",
      "scopes": {
        "user_impersonation": "impersonate your user account"
      }
    }
  },
  "definitions": {
    "ProvisioningState": {
      "readOnly": true,
      "type": "string",
      "description": "Provisioning state of the resource at the time the operation was called.",
      "enum": [
        "Succeeded",
        "Failed",
        "Canceled",
        "Accepted",
        "Updating",
        "Deleting",
        "Provisioning"
      ],
      "x-ms-enum": {
        "name": "ProvisioningState",
        "modelAsString": true
      }
    },
    "BasicResourceProperties": {
      "description": "Basic properties of a Radius resource.",
      "type": "object",
      "properties": {
        "status": {
          "$ref": "#/definitions/ResourceStatus",
          "description": "Status of the resource"
        }
      }
    },
    "ResourceStatus": {
      "description": "Status of a resource.",
      "type": "object",
      "properties": {
        "outputResources": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/OutputResource"
          }
        }
      }
    },
    "OutputResource": {
      "description": "Properties of an output resource.",
      "type": "object",
      "properties": {}
    }
  },
  "paths": {
    "/providers/Applications.Core/operations": {
      "get": {
        "tags": [
          "Operations"
        ],
        "description": "Lists the available API operations.",
        "operationId": "Operations_List",
        "produces": [
          "application/json"
        ],
        "x-ms-examples": {
          "RadiusOperationsList": {
            "$ref": "./examples/OperationsList.json"
          }
        },
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Operation details.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/OperationListResult"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "deprecated": false,
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    }
  }
}
