{
    "swagger": "2.0",
    "info": {
      "title": "Applications.Core Management API",
      "description": "REST API for Applications.Core HTTP Route Resource",
      "version": "2022-03-15-privatepreview"
    },
    "host": "management.azure.com",
    "schemes": [
      "https"
    ],
    "consumes": [
      "application/json"
    ],
    "produces": [
      "application/json"
    ],
    "security": [
      {
        "azure_auth": [
          "user_impersonation"
        ]
      }
    ],
    "securityDefinitions": {
      "azure_auth": {
        "type": "oauth2",
        "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
        "flow": "implicit",
        "description": "Azure Active Directory OAuth2 Flow.",
        "scopes": {
          "user_impersonation": "impersonate your user account"
        }
      }
    },
    "paths": {
      "/subscriptions/{subscriptionId}/providers/Applications.Core/httproutes": {
        "get": {
          "description": "List all HTTP Routes in the given subscription.",
          "operationId": "HttpRoutes_ListBySubscription",
          "produces": [
            "application/json"
          ],
          "x-ms-examples": {
            "RadiusHttpRoutesListBySubscription": {
              "$ref": "./examples/HttpRoutesListBySubscription.json"
            }
          },
          "tags": [
            "HttpRoutes"
          ],
          "parameters": [
            {
              "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ApiVersionParameter"
            },
            {
              "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/SubscriptionIdParameter"
            }
          ],
          "responses": {
            "200": {
              "description": "HTTP Route details.",
              "schema": {
                "$ref": "#/definitions/HttpRouteResourceList"
              }
            },
            "default": {
              "description": "Error response describing why the operation failed.",
              "schema": {
                "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/ErrorResponse"
              }
            }
          },
          "deprecated": false,
          "x-ms-pageable": {
            "nextLinkName": "nextLink"
          }
        }
      },
      "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Applications.Core/httproutes": {
        "get": {
          "description": "List of HTTP Routes.",
          "operationId": "HttpRoutes_List",
          "produces": [
            "application/json"
          ],
          "x-ms-examples": {
            "RadiusHttpRoutesList": {
              "$ref": "./examples/HttpRoutesList.json"
            }
          },
          "tags": [
            "HttpRoutes"
          ],
          "parameters": [
            {
              "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ResourceGroupNameParameter"
            },
            {
              "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ApiVersionParameter"
            },
            {
              "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/SubscriptionIdParameter"
            }
          ],
          "responses": {
            "200": {
              "description": "HTTP Route details.",
              "schema": {
                "$ref": "#/definitions/HttpRouteResourceList"
              }
            },
            "default": {
              "description": "Error response describing why the operation failed.",
              "schema": {
                "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/ErrorResponse"
              }
            }
          },
          "deprecated": false,
          "x-ms-pageable": {
            "nextLinkName": "nextLink"
          }
        }
      },
      "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Applications.Core/httproutes/{httpRouteName}": {
        "get": {
          "description": "Gets the properties of an HTTP Route.",
          "operationId": "HttpRoutes_Get",
          "produces": [
            "application/json"
          ],
          "x-ms-examples": {
            "RadiusHttpRoutesGet": {
              "$ref": "./examples/HttpRoutesGet.json"
            }
          },
          "tags": [
            "HttpRoutes"
          ],
          "parameters": [
            {
              "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ResourceGroupNameParameter"
            },
            {
              "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ApiVersionParameter"
            },
            {
              "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/SubscriptionIdParameter"
            },
            {
              "$ref": "#/parameters/HttpRouteNameParameter"
            }
          ],
          "responses": {
            "200": {
              "description": "HTTP Route details.",
              "schema": {
                "$ref": "#/definitions/HttpRouteResource"
              }
            },
            "default": {
              "description": "Error response describing why the operation failed.",
              "schema": {
                "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/ErrorResponse"
              }
            }
          }
        },
        "put": {
          "description": "Create or update an HTTP Route.",
          "operationId": "HttpRoutes_CreateOrUpdate",
          "produces": [
            "application/json"
          ],
          "x-ms-examples": {
            "RadiusHttpRoutesPut": {
              "$ref": "./examples/HttpRoutesPut.json"
            }
          },
          "tags": [
            "HttpRoutes"
          ],
          "parameters": [
            {
              "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ResourceGroupNameParameter"
            },
            {
              "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ApiVersionParameter"
            },
            {
              "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/SubscriptionIdParameter"
            },
            {
              "$ref": "#/parameters/HttpRouteNameParameter"
            },
            {
              "name": "HttpRouteResource",
              "description": "HTTP Route details",
              "in": "body",
              "required": true,
              "schema": {
                "$ref": "#/definitions/HttpRouteResource"
              }
            }
          ],
          "responses": {
            "200": {
              "description": "The resource was updated successfully.",
              "schema": {
                "$ref": "#/definitions/HttpRouteResource"
              }
            },
            "201": {
              "description": "The resource will be updated asynchronously.",
              "schema": {
                "$ref": "#/definitions/HttpRouteResource"
              }
            },
            "204": {
              "description": "The HTTP Route does not exist."
            },
            "default": {
              "description": "Error response describing why the operation failed.",
              "schema": {
                "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/ErrorResponse"
              }
            }
          }
        },
        "patch": {
          "description": "Update the properties of an existing HTTP Route.",
          "operationId": "HttpRoutes_Update",
          "produces": [
            "application/json"
          ],
          "x-ms-examples": {
            "RadiusHttpRoutesPatch": {
              "$ref": "./examples/HttpRoutesPatch.json"
            }
          },
          "tags": [
            "HttpRoutes"
          ],
          "parameters": [
            {
              "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ResourceGroupNameParameter"
            },
            {
              "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ApiVersionParameter"
            },
            {
              "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/SubscriptionIdParameter"
            },
            {
              "$ref": "#/parameters/HttpRouteNameParameter"
            },
            {
              "name": "HttpRouteResource",
              "description": "HTTP Route details",
              "in": "body",
              "required": true,
              "schema": {
                "$ref": "#/definitions/HttpRouteResource"
              }
            }
          ],
          "responses": {
            "200": {
              "description": "The resource was updated successfully.",
              "schema": {
                "$ref": "#/definitions/HttpRouteResource"
              }
            },
            "201": {
              "description": "The resource will be updated asynchronously.",
              "schema": {
                "$ref": "#/definitions/HttpRouteResource"
              }
            },
            "204": {
              "description": "The HTTP Route does not exist."
            },
            "default": {
              "description": "Error response describing why the operation failed.",
              "schema": {
                "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/ErrorResponse"
              }
            }
          }
        },
        "delete": {
          "description": "Delete an HTTP Route.",
          "operationId": "HttpRoutes_Delete",
          "produces": [
            "application/json"
          ],
          "x-ms-examples": {
            "RadiusHttpRoutesDelete": {
              "$ref": "./examples/HttpRoutesDelete.json"
            }
          },
          "tags": [
            "HttpRoutes"
          ],
          "parameters": [
            {
              "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ResourceGroupNameParameter"
            },
            {
              "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ApiVersionParameter"
            },
            {
              "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/SubscriptionIdParameter"
            },
            {
              "$ref": "#/parameters/HttpRouteNameParameter"
            }
          ],
          "responses": {
            "200": {
              "description": "The HTTP Route was successfully deleted."
            },
            "202": {
              "description": "The HTTP Route will be deleted asynchronously."
            },
            "204": {
              "description": "The HTTP Route does not exist."
            },
            "default": {
              "description": "Error response describing why the operation failed.",
              "schema": {
                "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/ErrorResponse"
              }
            }
          }
        }
      }
    },
    "definitions": {
      "HttpRouteResourceList": {
        "description": "The list of HTTP Routes.",
        "type": "object",
        "properties": {
          "value": {
            "description": "The list of HTTP Route.",
            "type": "array",
            "items": {
              "$ref": "#/definitions/HttpRouteResource"
            }
          },
          "nextLink": {
            "description": "The link used to get the next page of HTTP Routes list.",
            "type": "string"
          }
        }
      },
      "HttpRouteResource": {
        "description": "Radius HTTP Route Resource.",
        "type": "object",
        "allOf": [
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/TrackedResource"
          }
        ],
        "required": [
          "properties"
        ],
        "properties": {
          "systemData": {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/systemData"
          },
          "properties": {
            "x-ms-client-flatten": true,
            "$ref": "#/definitions/HttpRouteProperties"
          }
        }
      },
      "HttpRouteProperties": {
        "description": "HTTP Route properties",
        "type": "object",
        "required": [
          "application"
        ],
        "properties": {
          "provisioningState": {
            "readOnly": true,
            "type": "string",
            "description": "Gets the status of the HTTP Route at the time the operation was called.",
            "enum": [
              "Succeeded",
              "Failed",
              "Canceled",
              "Accepted",
              "Updating",
              "Deleting"
            ],
            "x-ms-enum": {
              "name": "ProvisioningState",
              "modelAsString": true
            }
          },
          "application": {
            "description": "The resource id of the application linked to HTTP Route resource.",
            "type": "string"
          },
          "hostname": {
            "description": "The internal hostname accepting traffic for the HTTP Route. Readonly.",
            "type": "string"
          },
          "port": {
            "description": "The port number for the HTTP Route. Defaults to 80. Readonly.",
            "type": "number"
          },
          "scheme": {
            "description": "The scheme used for traffic. Readonly.",
            "type": "string"
          },
          "url": {
            "description": "A stable URL that that can be used to route traffic to a resource. Readonly.",
            "type": "string"
          }
        }
      },
      "BasicRouteProperties": {
        "description": "Basic properties of a route.",
        "type": "object",
        "properties": {
          "status": {
            "$ref": "#/definitions/RouteStatus",
            "description": "Status of the resource"
          }
        }
      },
      "RouteStatus": {
        "description": "Status of a route.",
        "type": "object",
        "properties": {
          "provisioningState": {
            "type": "string",
            "description": "Provisioning state of the route"
          },
          "healthState": {
            "type": "string",
            "description": "Health state of the route"
          },
          "outputResources": {
            "type": "array",
            "items": {
              "$ref": "#/definitions/RouteOutputResource"
            }
          }
        }
      },
      "RouteOutputResource": {
        "description": "Properties of an output resource.",
        "type": "object",
        "properties": {}
      }
    },
    "parameters": {
      "HttpRouteNameParameter": {
        "name": "httpRouteName",
        "in": "path",
        "required": true,
        "type": "string",
        "description": "The name of the HTTP Route.",
        "pattern": "^[a-z0-9]+(-[a-z0-9]+)*",
        "maxLength": 128,
        "x-ms-parameter-location": "method"
      }
    }
  }
  