{
  "swagger": "2.0",
  "info": {
    "title": "Applications.Core Management APIs",
    "description": "REST API for Applications.Core HTTPRoute Resource",
    "version": "2022-03-15-privatepreview"
  },
  "host": "management.azure.com",
  "schemes": [
    "https"
  ],
  "consumes": [
    "application/json"
  ],
  "produces": [
    "application/json"
  ],
  "security": [
    {
      "azure_auth": [
        "user_impersonation"
      ]
    }
  ],
  "securityDefinitions": {
    "azure_auth": {
      "type": "oauth2",
      "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
      "flow": "implicit",
      "description": "Azure Active Directory OAuth2 Flow.",
      "scopes": {
        "user_impersonation": "impersonate your user account"
      }
    }
  },
  "paths": {
    "/{rootScope}/providers/Applications.Core/httpRoutes": {
      "get": {
        "description": "List all HTTP Routes in the given scope.",
        "operationId": "HttpRoutes_ListByScope",
        "produces": [
          "application/json"
        ],
        "x-ms-examples": {
          "RadiusHttpRoutesListByScope": {
            "$ref": "./examples/HttpRoutesListByScope.json"
          }
        },
        "tags": [
          "HttpRoutes"
        ],
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "global.json#/parameters/RootScopeParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "HTTP Route details.",
            "schema": {
              "$ref": "#/definitions/HttpRouteResourceList"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "deprecated": false,
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/{rootScope}/providers/Applications.Core/httpRoutes/{httpRouteName}": {
      "get": {
        "description": "Gets the properties of an HTTP Route.",
        "operationId": "HttpRoutes_Get",
        "produces": [
          "application/json"
        ],
        "x-ms-examples": {
          "RadiusHttpRoutesGet": {
            "$ref": "./examples/HttpRoutesGet.json"
          }
        },
        "tags": [
          "HttpRoutes"
        ],
        "parameters": [
          {
            "$ref": "global.json#/parameters/RootScopeParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/HttpRouteNameParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "HTTP Route details.",
            "schema": {
              "$ref": "#/definitions/HttpRouteResource"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/ErrorResponse"
            }
          }
        }
      },
      "put": {
        "description": "Create or update an HTTP Route.",
        "operationId": "HttpRoutes_CreateOrUpdate",
        "produces": [
          "application/json"
        ],
        "x-ms-examples": {
          "RadiusHttpRoutesPut": {
            "$ref": "./examples/HttpRoutesPut.json"
          }
        },
        "tags": [
          "HttpRoutes"
        ],
        "parameters": [
          {
            "$ref": "global.json#/parameters/RootScopeParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/HttpRouteNameParameter"
          },
          {
            "name": "HttpRouteResource",
            "description": "HTTP Route details",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/HttpRouteResource"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The resource was updated successfully.",
            "schema": {
              "$ref": "#/definitions/HttpRouteResource"
            }
          },
          "201": {
            "description": "The resource will be updated asynchronously.",
            "schema": {
              "$ref": "#/definitions/HttpRouteResource"
            }
          },
          "204": {
            "description": "The HTTP Route does not exist."
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/ErrorResponse"
            }
          }
        }
      },
      "patch": {
        "description": "Update the properties of an existing HTTP Route.",
        "operationId": "HttpRoutes_Update",
        "produces": [
          "application/json"
        ],
        "x-ms-examples": {
          "RadiusHttpRoutesPatch": {
            "$ref": "./examples/HttpRoutesPatch.json"
          }
        },
        "tags": [
          "HttpRoutes"
        ],
        "parameters": [
          {
            "$ref": "global.json#/parameters/RootScopeParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/HttpRouteNameParameter"
          },
          {
            "name": "HttpRouteResource",
            "description": "HTTP Route details",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/HttpRouteResource"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The resource was updated successfully.",
            "schema": {
              "$ref": "#/definitions/HttpRouteResource"
            }
          },
          "201": {
            "description": "The resource will be updated asynchronously.",
            "schema": {
              "$ref": "#/definitions/HttpRouteResource"
            }
          },
          "204": {
            "description": "The HTTP Route does not exist."
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/ErrorResponse"
            }
          }
        }
      },
      "delete": {
        "description": "Delete an HTTP Route.",
        "operationId": "HttpRoutes_Delete",
        "produces": [
          "application/json"
        ],
        "x-ms-examples": {
          "RadiusHttpRoutesDelete": {
            "$ref": "./examples/HttpRoutesDelete.json"
          }
        },
        "tags": [
          "HttpRoutes"
        ],
        "parameters": [
          {
            "$ref": "global.json#/parameters/RootScopeParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/HttpRouteNameParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "The HTTP Route was successfully deleted."
          },
          "202": {
            "description": "The HTTP Route will be deleted asynchronously."
          },
          "204": {
            "description": "The HTTP Route does not exist."
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/ErrorResponse"
            }
          }
        }
      }
    }
  },
  "definitions": {
    "HttpRouteResourceList": {
      "description": "The list of HTTP Routes.",
      "type": "object",
      "properties": {
        "value": {
          "description": "The list of HTTP Route.",
          "type": "array",
          "items": {
            "$ref": "#/definitions/HttpRouteResource"
          }
        },
        "nextLink": {
          "description": "The link used to get the next page of HTTP Routes list.",
          "type": "string"
        }
      }
    },
    "HttpRouteResource": {
      "description": "Radius HTTP Route Resource.",
      "type": "object",
      "allOf": [
        {
          "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/TrackedResource"
        }
      ],
      "required": [
        "properties"
      ],
      "properties": {
        "systemData": {
          "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/systemData"
        },
        "properties": {
          "x-ms-client-flatten": true,
          "$ref": "#/definitions/HttpRouteProperties"
        }
      }
    },
    "HttpRouteProperties": {
      "description": "HTTP Route properties",
      "type": "object",
      "allOf": [
        {
          "$ref": "global.json#/definitions/BasicResourceProperties"
        }
      ],
      "properties": {
        "provisioningState": {
          "readOnly": true,
          "$ref": "global.json#/definitions/ProvisioningState",
          "description": "Provisioning state of the HTTP Route at the time the operation was called."
        },
        "hostname": {
          "description": "The internal hostname accepting traffic for the HTTP Route. Readonly.",
          "type": "string"
        },
        "port": {
          "description": "The port number for the HTTP Route. Defaults to 80. Readonly.",
          "type": "integer"
        },
        "scheme": {
          "description": "The scheme used for traffic. Readonly.",
          "type": "string"
        },
        "url": {
          "description": "A stable URL that that can be used to route traffic to a resource. Readonly.",
          "type": "string"
        }
      },
      "required": [
        "application"
      ]
    }
  },
  "parameters": {
    "HttpRouteNameParameter": {
      "name": "httpRouteName",
      "in": "path",
      "required": true,
      "type": "string",
      "description": "The name of the HTTP Route.",
      "pattern": "^[A-Za-z]([-A-Za-z0-9]*[A-Za-z0-9])?$",
      "maxLength": 63,
      "x-ms-parameter-location": "method"
    }
  }
}