{
  "swagger": "2.0",
  "info": {
    "title": "Applications Management APIs",
    "description": "REST API for Radius Application Operation Statuses",
    "version": "2022-03-15-privatepreview"
  },
  "host": "management.azure.com",
  "schemes": [
    "https"
  ],
  "consumes": [
    "application/json"
  ],
  "produces": [
    "application/json"
  ],
  "security": [
    {
      "azure_auth": [
        "user_impersonation"
      ]
    }
  ],
  "securityDefinitions": {
    "azure_auth": {
      "type": "oauth2",
      "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
      "flow": "implicit",
      "description": "Azure Active Directory OAuth2 Flow.",
      "scopes": {
        "user_impersonation": "impersonate your user account"
      }
    }
  },
  "paths": {
    "/subscriptions/{subscriptionId}/providers/Applications.Core/locations/{location}/operationStatuses/{operationId}": {
      "get": {
        "description": "Get status of an operation by operation id.",
        "operationId": "OperationStatuses_GetByOperationId",
        "produces": [
          "application/json"
        ],
        "x-ms-examples": {
          "RadiusGetOperationStatusByOperationId": {
            "$ref": "./examples/OperationStatusGetOp0.json"
          }
        },
        "tags": [
          "OperationStatuses"
        ],
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/LocationParameter"
          },
          {
            "$ref": "#/parameters/OperationIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Operation status"
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "deprecated": false
      }
    }
  },
  "definitions": {},
  "parameters": {
    "OperationIdParameter": {
      "name": "operationId",
      "in": "path",
      "required": true,
      "type": "string",
      "description": "The name of the operation [will be updated to UUID]",
      "pattern": "^[a-z0-9]+(-[a-z0-9]+)*",
      "maxLength": 128,
      "x-ms-parameter-location": "method"
    }
  }
}