// Licensed under the Apache License, Version 2.0 . See LICENSE in the repository root for license information.
// Code generated by Microsoft (R) AutoRest Code Generator. DO NOT EDIT.
// Changes may cause incorrect behavior and will be lost if the code is regenerated.

package generated

import (
	"context"
	"errors"
	"github.com/Azure/azure-sdk-for-go/sdk/azcore"
	"github.com/Azure/azure-sdk-for-go/sdk/azcore/arm"
	"github.com/Azure/azure-sdk-for-go/sdk/azcore/policy"
	"github.com/Azure/azure-sdk-for-go/sdk/azcore/runtime"
	"net/http"
	"net/url"
	"strings"
)

// GenericResourcesClient contains the methods for the GenericResources group.
// Don't use this type directly, use NewGenericResourcesClient() instead.
type GenericResourcesClient struct {
	internal     *arm.Client
	resourceType string
	rootScope    string
}

// NewGenericResourcesClient creates a new instance of GenericResourcesClient with the specified values.
//   - resourceType - The azure resource type. For example RedisCache, RabbitMQ and other
//   - rootScope - The scope in which the resource is present. For Azure resource this would be /subscriptions/{subscriptionID}/resourceGroups/{resourcegroupID}
//   - credential - used to authorize requests. Usually a credential from azidentity.
//   - options - Contains optional client configuration. Pass nil to accept the default values.
func NewGenericResourcesClient(resourceType string, rootScope string, credential azcore.TokenCredential, options *arm.ClientOptions) (*GenericResourcesClient, error) {
	cl, err := arm.NewClient(moduleName, moduleVersion, credential, options)
	if err != nil {
		return nil, err
	}
	client := &GenericResourcesClient{
		resourceType: resourceType,
		rootScope:    rootScope,
		internal:     cl,
	}
	return client, nil
}

// BeginCreateOrUpdate - Creates or updates a Generic resource
// If the operation fails it returns an *azcore.ResponseError type.
//
// Generated from API version 2023-10-01-preview
//   - resourceName - The name of the generic resource
//   - genericResourceParameters - generic resource create parameters
//   - options - GenericResourcesClientBeginCreateOrUpdateOptions contains the optional parameters for the GenericResourcesClient.BeginCreateOrUpdate
//     method.
func (client *GenericResourcesClient) BeginCreateOrUpdate(ctx context.Context, resourceName string, genericResourceParameters GenericResource, options *GenericResourcesClientBeginCreateOrUpdateOptions) (*runtime.Poller[GenericResourcesClientCreateOrUpdateResponse], error) {
	if options == nil || options.ResumeToken == "" {
		resp, err := client.createOrUpdate(ctx, resourceName, genericResourceParameters, options)
		if err != nil {
			return nil, err
		}
		poller, err := runtime.NewPoller(resp, client.internal.Pipeline(), &runtime.NewPollerOptions[GenericResourcesClientCreateOrUpdateResponse]{
			FinalStateVia: runtime.FinalStateViaAzureAsyncOp,
			Tracer:        client.internal.Tracer(),
		})
		return poller, err
	} else {
		return runtime.NewPollerFromResumeToken(options.ResumeToken, client.internal.Pipeline(), &runtime.NewPollerFromResumeTokenOptions[GenericResourcesClientCreateOrUpdateResponse]{
			Tracer: client.internal.Tracer(),
		})
	}
}

// CreateOrUpdate - Creates or updates a Generic resource
// If the operation fails it returns an *azcore.ResponseError type.
//
// Generated from API version 2023-10-01-preview
func (client *GenericResourcesClient) createOrUpdate(ctx context.Context, resourceName string, genericResourceParameters GenericResource, options *GenericResourcesClientBeginCreateOrUpdateOptions) (*http.Response, error) {
	var err error
	const operationName = "GenericResourcesClient.BeginCreateOrUpdate"
	ctx = context.WithValue(ctx, runtime.CtxAPINameKey{}, operationName)
	ctx, endSpan := runtime.StartSpan(ctx, operationName, client.internal.Tracer(), nil)
	defer func() { endSpan(err) }()
	req, err := client.createOrUpdateCreateRequest(ctx, resourceName, genericResourceParameters, options)
	if err != nil {
		return nil, err
	}
	httpResp, err := client.internal.Pipeline().Do(req)
	if err != nil {
		return nil, err
	}
	if !runtime.HasStatusCode(httpResp, http.StatusOK, http.StatusCreated) {
		err = runtime.NewResponseError(httpResp)
		return nil, err
	}
	return httpResp, nil
}

// createOrUpdateCreateRequest creates the CreateOrUpdate request.
func (client *GenericResourcesClient) createOrUpdateCreateRequest(ctx context.Context, resourceName string, genericResourceParameters GenericResource, _ *GenericResourcesClientBeginCreateOrUpdateOptions) (*policy.Request, error) {
	urlPath := "/{rootScope}/providers/{resourceType}/{resourceName}"
	urlPath = strings.ReplaceAll(urlPath, "{rootScope}", client.rootScope)
	urlPath = strings.ReplaceAll(urlPath, "{resourceType}", client.resourceType)
	if resourceName == "" {
		return nil, errors.New("parameter resourceName cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{resourceName}", url.PathEscape(resourceName))
	req, err := runtime.NewRequest(ctx, http.MethodPut, runtime.JoinPaths(client.internal.Endpoint(), urlPath))
	if err != nil {
		return nil, err
	}
	reqQP := req.Raw().URL.Query()
	reqQP.Set("api-version", "2023-10-01-preview")
	req.Raw().URL.RawQuery = reqQP.Encode()
	req.Raw().Header["Accept"] = []string{"application/json"}
	if err := runtime.MarshalAsJSON(req, genericResourceParameters); err != nil {
		return nil, err
	}
	return req, nil
}

// BeginDelete - Deletes an existing Generic resource
// If the operation fails it returns an *azcore.ResponseError type.
//
// Generated from API version 2023-10-01-preview
//   - resourceName - The name of the generic resource
//   - options - GenericResourcesClientBeginDeleteOptions contains the optional parameters for the GenericResourcesClient.BeginDelete
//     method.
func (client *GenericResourcesClient) BeginDelete(ctx context.Context, resourceName string, options *GenericResourcesClientBeginDeleteOptions) (*runtime.Poller[GenericResourcesClientDeleteResponse], error) {
	if options == nil || options.ResumeToken == "" {
		resp, err := client.deleteOperation(ctx, resourceName, options)
		if err != nil {
			return nil, err
		}
		poller, err := runtime.NewPoller(resp, client.internal.Pipeline(), &runtime.NewPollerOptions[GenericResourcesClientDeleteResponse]{
			FinalStateVia: runtime.FinalStateViaAzureAsyncOp,
			Tracer:        client.internal.Tracer(),
		})
		return poller, err
	} else {
		return runtime.NewPollerFromResumeToken(options.ResumeToken, client.internal.Pipeline(), &runtime.NewPollerFromResumeTokenOptions[GenericResourcesClientDeleteResponse]{
			Tracer: client.internal.Tracer(),
		})
	}
}

// Delete - Deletes an existing Generic resource
// If the operation fails it returns an *azcore.ResponseError type.
//
// Generated from API version 2023-10-01-preview
func (client *GenericResourcesClient) deleteOperation(ctx context.Context, resourceName string, options *GenericResourcesClientBeginDeleteOptions) (*http.Response, error) {
	var err error
	const operationName = "GenericResourcesClient.BeginDelete"
	ctx = context.WithValue(ctx, runtime.CtxAPINameKey{}, operationName)
	ctx, endSpan := runtime.StartSpan(ctx, operationName, client.internal.Tracer(), nil)
	defer func() { endSpan(err) }()
	req, err := client.deleteCreateRequest(ctx, resourceName, options)
	if err != nil {
		return nil, err
	}
	httpResp, err := client.internal.Pipeline().Do(req)
	if err != nil {
		return nil, err
	}
	if !runtime.HasStatusCode(httpResp, http.StatusOK, http.StatusAccepted, http.StatusNoContent) {
		err = runtime.NewResponseError(httpResp)
		return nil, err
	}
	return httpResp, nil
}

// deleteCreateRequest creates the Delete request.
func (client *GenericResourcesClient) deleteCreateRequest(ctx context.Context, resourceName string, _ *GenericResourcesClientBeginDeleteOptions) (*policy.Request, error) {
	urlPath := "/{rootScope}/providers/{resourceType}/{resourceName}"
	urlPath = strings.ReplaceAll(urlPath, "{rootScope}", client.rootScope)
	urlPath = strings.ReplaceAll(urlPath, "{resourceType}", client.resourceType)
	if resourceName == "" {
		return nil, errors.New("parameter resourceName cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{resourceName}", url.PathEscape(resourceName))
	req, err := runtime.NewRequest(ctx, http.MethodDelete, runtime.JoinPaths(client.internal.Endpoint(), urlPath))
	if err != nil {
		return nil, err
	}
	reqQP := req.Raw().URL.Query()
	reqQP.Set("api-version", "2023-10-01-preview")
	req.Raw().URL.RawQuery = reqQP.Encode()
	req.Raw().Header["Accept"] = []string{"application/json"}
	return req, nil
}

// Get - Retrieves information about a generic resource with the name given of the type given within the root scope
// If the operation fails it returns an *azcore.ResponseError type.
//
// Generated from API version 2023-10-01-preview
//   - resourceName - The name of the generic resource
//   - options - GenericResourcesClientGetOptions contains the optional parameters for the GenericResourcesClient.Get method.
func (client *GenericResourcesClient) Get(ctx context.Context, resourceName string, options *GenericResourcesClientGetOptions) (GenericResourcesClientGetResponse, error) {
	var err error
	const operationName = "GenericResourcesClient.Get"
	ctx = context.WithValue(ctx, runtime.CtxAPINameKey{}, operationName)
	ctx, endSpan := runtime.StartSpan(ctx, operationName, client.internal.Tracer(), nil)
	defer func() { endSpan(err) }()
	req, err := client.getCreateRequest(ctx, resourceName, options)
	if err != nil {
		return GenericResourcesClientGetResponse{}, err
	}
	httpResp, err := client.internal.Pipeline().Do(req)
	if err != nil {
		return GenericResourcesClientGetResponse{}, err
	}
	if !runtime.HasStatusCode(httpResp, http.StatusOK) {
		err = runtime.NewResponseError(httpResp)
		return GenericResourcesClientGetResponse{}, err
	}
	resp, err := client.getHandleResponse(httpResp)
	return resp, err
}

// getCreateRequest creates the Get request.
func (client *GenericResourcesClient) getCreateRequest(ctx context.Context, resourceName string, _ *GenericResourcesClientGetOptions) (*policy.Request, error) {
	urlPath := "/{rootScope}/providers/{resourceType}/{resourceName}"
	urlPath = strings.ReplaceAll(urlPath, "{rootScope}", client.rootScope)
	urlPath = strings.ReplaceAll(urlPath, "{resourceType}", client.resourceType)
	if resourceName == "" {
		return nil, errors.New("parameter resourceName cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{resourceName}", url.PathEscape(resourceName))
	req, err := runtime.NewRequest(ctx, http.MethodGet, runtime.JoinPaths(client.internal.Endpoint(), urlPath))
	if err != nil {
		return nil, err
	}
	reqQP := req.Raw().URL.Query()
	reqQP.Set("api-version", "2023-10-01-preview")
	req.Raw().URL.RawQuery = reqQP.Encode()
	req.Raw().Header["Accept"] = []string{"application/json"}
	return req, nil
}

// getHandleResponse handles the Get response.
func (client *GenericResourcesClient) getHandleResponse(resp *http.Response) (GenericResourcesClientGetResponse, error) {
	result := GenericResourcesClientGetResponse{}
	if err := runtime.UnmarshalAsJSON(resp, &result.GenericResource); err != nil {
		return GenericResourcesClientGetResponse{}, err
	}
	return result, nil
}

// NewListByRootScopePager - Lists information about all resources of the given resource type in the given root scope
//
// Generated from API version 2023-10-01-preview
//   - options - GenericResourcesClientListByRootScopeOptions contains the optional parameters for the GenericResourcesClient.NewListByRootScopePager
//     method.
func (client *GenericResourcesClient) NewListByRootScopePager(options *GenericResourcesClientListByRootScopeOptions) *runtime.Pager[GenericResourcesClientListByRootScopeResponse] {
	return runtime.NewPager(runtime.PagingHandler[GenericResourcesClientListByRootScopeResponse]{
		More: func(page GenericResourcesClientListByRootScopeResponse) bool {
			return page.NextLink != nil && len(*page.NextLink) > 0
		},
		Fetcher: func(ctx context.Context, page *GenericResourcesClientListByRootScopeResponse) (GenericResourcesClientListByRootScopeResponse, error) {
			ctx = context.WithValue(ctx, runtime.CtxAPINameKey{}, "GenericResourcesClient.NewListByRootScopePager")
			nextLink := ""
			if page != nil {
				nextLink = *page.NextLink
			}
			resp, err := runtime.FetcherForNextLink(ctx, client.internal.Pipeline(), nextLink, func(ctx context.Context) (*policy.Request, error) {
				return client.listByRootScopeCreateRequest(ctx, options)
			}, nil)
			if err != nil {
				return GenericResourcesClientListByRootScopeResponse{}, err
			}
			return client.listByRootScopeHandleResponse(resp)
		},
		Tracer: client.internal.Tracer(),
	})
}

// listByRootScopeCreateRequest creates the ListByRootScope request.
func (client *GenericResourcesClient) listByRootScopeCreateRequest(ctx context.Context, _ *GenericResourcesClientListByRootScopeOptions) (*policy.Request, error) {
	urlPath := "/{rootScope}/providers/{resourceType}"
	urlPath = strings.ReplaceAll(urlPath, "{rootScope}", client.rootScope)
	urlPath = strings.ReplaceAll(urlPath, "{resourceType}", client.resourceType)
	req, err := runtime.NewRequest(ctx, http.MethodGet, runtime.JoinPaths(client.internal.Endpoint(), urlPath))
	if err != nil {
		return nil, err
	}
	reqQP := req.Raw().URL.Query()
	reqQP.Set("api-version", "2023-10-01-preview")
	req.Raw().URL.RawQuery = reqQP.Encode()
	req.Raw().Header["Accept"] = []string{"application/json"}
	return req, nil
}

// listByRootScopeHandleResponse handles the ListByRootScope response.
func (client *GenericResourcesClient) listByRootScopeHandleResponse(resp *http.Response) (GenericResourcesClientListByRootScopeResponse, error) {
	result := GenericResourcesClientListByRootScopeResponse{}
	if err := runtime.UnmarshalAsJSON(resp, &result.GenericResourcesList); err != nil {
		return GenericResourcesClientListByRootScopeResponse{}, err
	}
	return result, nil
}

// ListSecrets - Lists secrets for a resource
// If the operation fails it returns an *azcore.ResponseError type.
//
// Generated from API version 2023-10-01-preview
//   - resourceName - The name of the generic resource
//   - options - GenericResourcesClientListSecretsOptions contains the optional parameters for the GenericResourcesClient.ListSecrets
//     method.
func (client *GenericResourcesClient) ListSecrets(ctx context.Context, resourceName string, options *GenericResourcesClientListSecretsOptions) (GenericResourcesClientListSecretsResponse, error) {
	var err error
	const operationName = "GenericResourcesClient.ListSecrets"
	ctx = context.WithValue(ctx, runtime.CtxAPINameKey{}, operationName)
	ctx, endSpan := runtime.StartSpan(ctx, operationName, client.internal.Tracer(), nil)
	defer func() { endSpan(err) }()
	req, err := client.listSecretsCreateRequest(ctx, resourceName, options)
	if err != nil {
		return GenericResourcesClientListSecretsResponse{}, err
	}
	httpResp, err := client.internal.Pipeline().Do(req)
	if err != nil {
		return GenericResourcesClientListSecretsResponse{}, err
	}
	if !runtime.HasStatusCode(httpResp, http.StatusOK) {
		err = runtime.NewResponseError(httpResp)
		return GenericResourcesClientListSecretsResponse{}, err
	}
	resp, err := client.listSecretsHandleResponse(httpResp)
	return resp, err
}

// listSecretsCreateRequest creates the ListSecrets request.
func (client *GenericResourcesClient) listSecretsCreateRequest(ctx context.Context, resourceName string, _ *GenericResourcesClientListSecretsOptions) (*policy.Request, error) {
	urlPath := "/{rootScope}/providers/{resourceType}/{resourceName}/listSecrets"
	urlPath = strings.ReplaceAll(urlPath, "{rootScope}", client.rootScope)
	urlPath = strings.ReplaceAll(urlPath, "{resourceType}", client.resourceType)
	if resourceName == "" {
		return nil, errors.New("parameter resourceName cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{resourceName}", url.PathEscape(resourceName))
	req, err := runtime.NewRequest(ctx, http.MethodPost, runtime.JoinPaths(client.internal.Endpoint(), urlPath))
	if err != nil {
		return nil, err
	}
	reqQP := req.Raw().URL.Query()
	reqQP.Set("api-version", "2023-10-01-preview")
	req.Raw().URL.RawQuery = reqQP.Encode()
	req.Raw().Header["Accept"] = []string{"application/json"}
	return req, nil
}

// listSecretsHandleResponse handles the ListSecrets response.
func (client *GenericResourcesClient) listSecretsHandleResponse(resp *http.Response) (GenericResourcesClientListSecretsResponse, error) {
	result := GenericResourcesClientListSecretsResponse{}
	if err := runtime.UnmarshalAsJSON(resp, &result.Value); err != nil {
		return GenericResourcesClientListSecretsResponse{}, err
	}
	return result, nil
}
