//go:build go1.18
// +build go1.18

// Licensed under the Apache License, Version 2.0 . See License.txt in the project root for license information.
// Code generated by Microsoft (R) AutoRest Code Generator.
// Changes may cause incorrect behavior and will be lost if the code is regenerated.
// DO NOT EDIT.

package generated

import (
	"context"
	"errors"
	"github.com/Azure/azure-sdk-for-go/sdk/azcore"
	"github.com/Azure/azure-sdk-for-go/sdk/azcore/arm"
	armruntime "github.com/Azure/azure-sdk-for-go/sdk/azcore/arm/runtime"
	"github.com/Azure/azure-sdk-for-go/sdk/azcore/cloud"
	"github.com/Azure/azure-sdk-for-go/sdk/azcore/policy"
	"github.com/Azure/azure-sdk-for-go/sdk/azcore/runtime"
	"net/http"
	"net/url"
	"strings"
)

// GenericResourcesClient contains the methods for the GenericResources group.
// Don't use this type directly, use NewGenericResourcesClient() instead.
type GenericResourcesClient struct {
	host string
	rootScope string
	resourceType string
	pl runtime.Pipeline
}

// NewGenericResourcesClient creates a new instance of GenericResourcesClient with the specified values.
// rootScope - The scope in which the resource is present. For Azure resource this would be /subscriptions/{subscriptionID}/resourceGroups/{resourcegroupID}
// resourceType - The azure resource type. For example RedisCache, RabbitMQ and other
// credential - used to authorize requests. Usually a credential from azidentity.
// options - pass nil to accept the default values.
func NewGenericResourcesClient(rootScope string, resourceType string, credential azcore.TokenCredential, options *arm.ClientOptions) (*GenericResourcesClient, error) {
	if options == nil {
		options = &arm.ClientOptions{}
	}
	ep := cloud.AzurePublic.Services[cloud.ResourceManager].Endpoint
	if c, ok := options.Cloud.Services[cloud.ResourceManager]; ok {
		ep = c.Endpoint
	}
	pl, err := armruntime.NewPipeline(moduleName, moduleVersion, credential, runtime.PipelineOptions{}, options)
	if err != nil {
		return nil, err
	}
	client := &GenericResourcesClient{
		rootScope: rootScope,
		resourceType: resourceType,
		host: ep,
pl: pl,
	}
	return client, nil
}

// CreateOrUpdate - Creates or updates a Generic resource
// If the operation fails it returns an *azcore.ResponseError type.
// Generated from API version 2022-03-15-privatepreview
// resourceName - The name of the generic resource
// genericResourceParameters - generic resource create parameters
// options - GenericResourcesClientCreateOrUpdateOptions contains the optional parameters for the GenericResourcesClient.CreateOrUpdate
// method.
func (client *GenericResourcesClient) CreateOrUpdate(ctx context.Context, resourceName string, genericResourceParameters GenericResource, options *GenericResourcesClientCreateOrUpdateOptions) (GenericResourcesClientCreateOrUpdateResponse, error) {
	req, err := client.createOrUpdateCreateRequest(ctx, resourceName, genericResourceParameters, options)
	if err != nil {
		return GenericResourcesClientCreateOrUpdateResponse{}, err
	}
	resp, err := client.pl.Do(req)
	if err != nil {
		return GenericResourcesClientCreateOrUpdateResponse{}, err
	}
	if !runtime.HasStatusCode(resp, http.StatusOK, http.StatusCreated) {
		return GenericResourcesClientCreateOrUpdateResponse{}, runtime.NewResponseError(resp)
	}
	return client.createOrUpdateHandleResponse(resp)
}

// createOrUpdateCreateRequest creates the CreateOrUpdate request.
func (client *GenericResourcesClient) createOrUpdateCreateRequest(ctx context.Context, resourceName string, genericResourceParameters GenericResource, options *GenericResourcesClientCreateOrUpdateOptions) (*policy.Request, error) {
	urlPath := "/{rootScope}/providers/{resourceType}/{resourceName}"
	urlPath = strings.ReplaceAll(urlPath, "{rootScope}", client.rootScope)
	urlPath = strings.ReplaceAll(urlPath, "{resourceType}", client.resourceType)
	if resourceName == "" {
		return nil, errors.New("parameter resourceName cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{resourceName}", url.PathEscape(resourceName))
	req, err := runtime.NewRequest(ctx, http.MethodPut, runtime.JoinPaths(client.host, urlPath))
	if err != nil {
		return nil, err
	}
	reqQP := req.Raw().URL.Query()
	reqQP.Set("api-version", "2022-03-15-privatepreview")
	req.Raw().URL.RawQuery = reqQP.Encode()
	req.Raw().Header["Accept"] = []string{"application/json"}
	return req, runtime.MarshalAsJSON(req, genericResourceParameters)
}

// createOrUpdateHandleResponse handles the CreateOrUpdate response.
func (client *GenericResourcesClient) createOrUpdateHandleResponse(resp *http.Response) (GenericResourcesClientCreateOrUpdateResponse, error) {
	result := GenericResourcesClientCreateOrUpdateResponse{}
	if err := runtime.UnmarshalAsJSON(resp, &result.GenericResource); err != nil {
		return GenericResourcesClientCreateOrUpdateResponse{}, err
	}
	return result, nil
}

// BeginDelete - Deletes an existing Generic resource
// If the operation fails it returns an *azcore.ResponseError type.
// Generated from API version 2022-03-15-privatepreview
// resourceName - The name of the generic resource
// options - GenericResourcesClientBeginDeleteOptions contains the optional parameters for the GenericResourcesClient.BeginDelete
// method.
func (client *GenericResourcesClient) BeginDelete(ctx context.Context, resourceName string, options *GenericResourcesClientBeginDeleteOptions) (*runtime.Poller[GenericResourcesClientDeleteResponse], error) {
	if options == nil || options.ResumeToken == "" {
		resp, err := client.deleteOperation(ctx, resourceName, options)
		if err != nil {
			return nil, err
		}
		return runtime.NewPoller(resp, client.pl, &runtime.NewPollerOptions[GenericResourcesClientDeleteResponse]{
			FinalStateVia: runtime.FinalStateViaAzureAsyncOp,
		})
	} else {
		return runtime.NewPollerFromResumeToken[GenericResourcesClientDeleteResponse](options.ResumeToken, client.pl, nil)
	}
}

// Delete - Deletes an existing Generic resource
// If the operation fails it returns an *azcore.ResponseError type.
// Generated from API version 2022-03-15-privatepreview
func (client *GenericResourcesClient) deleteOperation(ctx context.Context, resourceName string, options *GenericResourcesClientBeginDeleteOptions) (*http.Response, error) {
	req, err := client.deleteCreateRequest(ctx, resourceName, options)
	if err != nil {
		return nil, err
	}
	resp, err := client.pl.Do(req)
	if err != nil {
		return nil, err
	}
	if !runtime.HasStatusCode(resp, http.StatusOK, http.StatusAccepted, http.StatusNoContent) {
		return nil, runtime.NewResponseError(resp)
	}
	 return resp, nil
}

// deleteCreateRequest creates the Delete request.
func (client *GenericResourcesClient) deleteCreateRequest(ctx context.Context, resourceName string, options *GenericResourcesClientBeginDeleteOptions) (*policy.Request, error) {
	urlPath := "/{rootScope}/providers/{resourceType}/{resourceName}"
	urlPath = strings.ReplaceAll(urlPath, "{rootScope}", client.rootScope)
	urlPath = strings.ReplaceAll(urlPath, "{resourceType}", client.resourceType)
	if resourceName == "" {
		return nil, errors.New("parameter resourceName cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{resourceName}", url.PathEscape(resourceName))
	req, err := runtime.NewRequest(ctx, http.MethodDelete, runtime.JoinPaths(client.host, urlPath))
	if err != nil {
		return nil, err
	}
	reqQP := req.Raw().URL.Query()
	reqQP.Set("api-version", "2022-03-15-privatepreview")
	req.Raw().URL.RawQuery = reqQP.Encode()
	req.Raw().Header["Accept"] = []string{"application/json"}
	return req, nil
}

// Get - Retrieves information about a generic resource with the name given of the type given within the root scope
// If the operation fails it returns an *azcore.ResponseError type.
// Generated from API version 2022-03-15-privatepreview
// resourceName - The name of the generic resource
// options - GenericResourcesClientGetOptions contains the optional parameters for the GenericResourcesClient.Get method.
func (client *GenericResourcesClient) Get(ctx context.Context, resourceName string, options *GenericResourcesClientGetOptions) (GenericResourcesClientGetResponse, error) {
	req, err := client.getCreateRequest(ctx, resourceName, options)
	if err != nil {
		return GenericResourcesClientGetResponse{}, err
	}
	resp, err := client.pl.Do(req)
	if err != nil {
		return GenericResourcesClientGetResponse{}, err
	}
	if !runtime.HasStatusCode(resp, http.StatusOK) {
		return GenericResourcesClientGetResponse{}, runtime.NewResponseError(resp)
	}
	return client.getHandleResponse(resp)
}

// getCreateRequest creates the Get request.
func (client *GenericResourcesClient) getCreateRequest(ctx context.Context, resourceName string, options *GenericResourcesClientGetOptions) (*policy.Request, error) {
	urlPath := "/{rootScope}/providers/{resourceType}/{resourceName}"
	urlPath = strings.ReplaceAll(urlPath, "{rootScope}", client.rootScope)
	urlPath = strings.ReplaceAll(urlPath, "{resourceType}", client.resourceType)
	if resourceName == "" {
		return nil, errors.New("parameter resourceName cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{resourceName}", url.PathEscape(resourceName))
	req, err := runtime.NewRequest(ctx, http.MethodGet, runtime.JoinPaths(client.host, urlPath))
	if err != nil {
		return nil, err
	}
	reqQP := req.Raw().URL.Query()
	reqQP.Set("api-version", "2022-03-15-privatepreview")
	req.Raw().URL.RawQuery = reqQP.Encode()
	req.Raw().Header["Accept"] = []string{"application/json"}
	return req, nil
}

// getHandleResponse handles the Get response.
func (client *GenericResourcesClient) getHandleResponse(resp *http.Response) (GenericResourcesClientGetResponse, error) {
	result := GenericResourcesClientGetResponse{}
	if err := runtime.UnmarshalAsJSON(resp, &result.GenericResource); err != nil {
		return GenericResourcesClientGetResponse{}, err
	}
	return result, nil
}

// NewListByRootScopePager - Lists information about all resources of the given resource type in the given root scope
// Generated from API version 2022-03-15-privatepreview
// options - GenericResourcesClientListByRootScopeOptions contains the optional parameters for the GenericResourcesClient.ListByRootScope
// method.
func (client *GenericResourcesClient) NewListByRootScopePager(options *GenericResourcesClientListByRootScopeOptions) (*runtime.Pager[GenericResourcesClientListByRootScopeResponse]) {
	return runtime.NewPager(runtime.PagingHandler[GenericResourcesClientListByRootScopeResponse]{
		More: func(page GenericResourcesClientListByRootScopeResponse) bool {
			return page.NextLink != nil && len(*page.NextLink) > 0
		},
		Fetcher: func(ctx context.Context, page *GenericResourcesClientListByRootScopeResponse) (GenericResourcesClientListByRootScopeResponse, error) {
			var req *policy.Request
			var err error
			if page == nil {
				req, err = client.listByRootScopeCreateRequest(ctx, options)
			} else {
				req, err = runtime.NewRequest(ctx, http.MethodGet, *page.NextLink)
			}
			if err != nil {
				return GenericResourcesClientListByRootScopeResponse{}, err
			}
			resp, err := client.pl.Do(req)
			if err != nil {
				return GenericResourcesClientListByRootScopeResponse{}, err
			}
			if !runtime.HasStatusCode(resp, http.StatusOK) {
				return GenericResourcesClientListByRootScopeResponse{}, runtime.NewResponseError(resp)
			}
			return client.listByRootScopeHandleResponse(resp)
		},
	})
}

// listByRootScopeCreateRequest creates the ListByRootScope request.
func (client *GenericResourcesClient) listByRootScopeCreateRequest(ctx context.Context, options *GenericResourcesClientListByRootScopeOptions) (*policy.Request, error) {
	urlPath := "/{rootScope}/providers/{resourceType}"
	urlPath = strings.ReplaceAll(urlPath, "{rootScope}", client.rootScope)
	urlPath = strings.ReplaceAll(urlPath, "{resourceType}", client.resourceType)
	req, err := runtime.NewRequest(ctx, http.MethodGet, runtime.JoinPaths(client.host, urlPath))
	if err != nil {
		return nil, err
	}
	reqQP := req.Raw().URL.Query()
	reqQP.Set("api-version", "2022-03-15-privatepreview")
	req.Raw().URL.RawQuery = reqQP.Encode()
	req.Raw().Header["Accept"] = []string{"application/json"}
	return req, nil
}

// listByRootScopeHandleResponse handles the ListByRootScope response.
func (client *GenericResourcesClient) listByRootScopeHandleResponse(resp *http.Response) (GenericResourcesClientListByRootScopeResponse, error) {
	result := GenericResourcesClientListByRootScopeResponse{}
	if err := runtime.UnmarshalAsJSON(resp, &result.GenericResourcesList); err != nil {
		return GenericResourcesClientListByRootScopeResponse{}, err
	}
	return result, nil
}

