//go:build go1.16
// +build go1.16

// Copyright (c) Microsoft Corporation. All rights reserved.
// Licensed under the MIT License. See License.txt in the project root for license information.
// Code generated by Microsoft (R) AutoRest Code Generator.
// Changes may cause incorrect behavior and will be lost if the code is regenerated.

package radclient

import (
	"context"
	"errors"
	"fmt"
	"github.com/Azure/azure-sdk-for-go/sdk/azcore/arm"
	armruntime "github.com/Azure/azure-sdk-for-go/sdk/azcore/arm/runtime"
	"github.com/Azure/azure-sdk-for-go/sdk/azcore/policy"
	"github.com/Azure/azure-sdk-for-go/sdk/azcore/runtime"
	"net/http"
	"net/url"
	"strings"
)

// MicrosoftComSQLComponentClient contains the methods for the MicrosoftComSQLComponent group.
// Don't use this type directly, use NewMicrosoftComSQLComponentClient() instead.
type MicrosoftComSQLComponentClient struct {
	ep string
	pl runtime.Pipeline
	subscriptionID string
}

// NewMicrosoftComSQLComponentClient creates a new instance of MicrosoftComSQLComponentClient with the specified values.
func NewMicrosoftComSQLComponentClient(con *arm.Connection, subscriptionID string) *MicrosoftComSQLComponentClient {
	return &MicrosoftComSQLComponentClient{ep: con.Endpoint(), pl: con.NewPipeline(module, version), subscriptionID: subscriptionID}
}

// BeginCreateOrUpdate - Creates or updates a microsoft.com.SQLComponent resource.
// If the operation fails it returns the *ErrorResponse error type.
func (client *MicrosoftComSQLComponentClient) BeginCreateOrUpdate(ctx context.Context, resourceGroupName string, applicationName string, microsoftSQLComponentName string, parameters MicrosoftSQLComponentResource, options *MicrosoftComSQLComponentBeginCreateOrUpdateOptions) (MicrosoftComSQLComponentCreateOrUpdatePollerResponse, error) {
	resp, err := client.createOrUpdate(ctx, resourceGroupName, applicationName, microsoftSQLComponentName, parameters, options)
	if err != nil {
		return MicrosoftComSQLComponentCreateOrUpdatePollerResponse{}, err
	}
	result := MicrosoftComSQLComponentCreateOrUpdatePollerResponse{
		RawResponse: resp,
	}
	pt, err := armruntime.NewPoller("MicrosoftComSQLComponentClient.CreateOrUpdate", "location", resp, 	client.pl, client.createOrUpdateHandleError)
	if err != nil {
		return MicrosoftComSQLComponentCreateOrUpdatePollerResponse{}, err
	}
	result.Poller = &MicrosoftComSQLComponentCreateOrUpdatePoller {
		pt: pt,
	}
	return result, nil
}

// CreateOrUpdate - Creates or updates a microsoft.com.SQLComponent resource.
// If the operation fails it returns the *ErrorResponse error type.
func (client *MicrosoftComSQLComponentClient) createOrUpdate(ctx context.Context, resourceGroupName string, applicationName string, microsoftSQLComponentName string, parameters MicrosoftSQLComponentResource, options *MicrosoftComSQLComponentBeginCreateOrUpdateOptions) (*http.Response, error) {
	req, err := client.createOrUpdateCreateRequest(ctx, resourceGroupName, applicationName, microsoftSQLComponentName, parameters, options)
	if err != nil {
		return nil, err
	}
	resp, err := 	client.pl.Do(req)
	if err != nil {
		return nil, err
	}
	if !runtime.HasStatusCode(resp, http.StatusOK, http.StatusCreated, http.StatusAccepted) {
		return nil, client.createOrUpdateHandleError(resp)
	}
	 return resp, nil
}

// createOrUpdateCreateRequest creates the CreateOrUpdate request.
func (client *MicrosoftComSQLComponentClient) createOrUpdateCreateRequest(ctx context.Context, resourceGroupName string, applicationName string, microsoftSQLComponentName string, parameters MicrosoftSQLComponentResource, options *MicrosoftComSQLComponentBeginCreateOrUpdateOptions) (*policy.Request, error) {
	urlPath := "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.CustomProviders/resourceProviders/radiusv3/Application/{applicationName}/microsoft.com.SQLComponent/{microsoftSQLComponentName}"
	if client.subscriptionID == "" {
		return nil, errors.New("parameter client.subscriptionID cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{subscriptionId}", url.PathEscape(client.subscriptionID))
	if resourceGroupName == "" {
		return nil, errors.New("parameter resourceGroupName cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{resourceGroupName}", url.PathEscape(resourceGroupName))
	if applicationName == "" {
		return nil, errors.New("parameter applicationName cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{applicationName}", url.PathEscape(applicationName))
	if microsoftSQLComponentName == "" {
		return nil, errors.New("parameter microsoftSQLComponentName cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{microsoftSQLComponentName}", url.PathEscape(microsoftSQLComponentName))
	req, err := runtime.NewRequest(ctx, http.MethodPut, runtime.JoinPaths(	client.ep, urlPath))
	if err != nil {
		return nil, err
	}
	reqQP := req.Raw().URL.Query()
	reqQP.Set("api-version", "2018-09-01-preview")
	req.Raw().URL.RawQuery = reqQP.Encode()
	req.Raw().Header.Set("Accept", "application/json")
	return req, runtime.MarshalAsJSON(req, parameters)
}

// createOrUpdateHandleError handles the CreateOrUpdate error response.
func (client *MicrosoftComSQLComponentClient) createOrUpdateHandleError(resp *http.Response) error {
	body, err := runtime.Payload(resp)
	if err != nil {
		return runtime.NewResponseError(err, resp)
	}
		errType := ErrorResponse{raw: string(body)}
	if err := runtime.UnmarshalAsJSON(resp, &errType); err != nil {
		return runtime.NewResponseError(fmt.Errorf("%s\n%s", string(body), err), resp)
	}
	return runtime.NewResponseError(&errType, resp)
}

// BeginDelete - Deletes a microsoft.com.SQLComponent resource.
// If the operation fails it returns the *ErrorResponse error type.
func (client *MicrosoftComSQLComponentClient) BeginDelete(ctx context.Context, resourceGroupName string, applicationName string, microsoftSQLComponentName string, options *MicrosoftComSQLComponentBeginDeleteOptions) (MicrosoftComSQLComponentDeletePollerResponse, error) {
	resp, err := client.deleteOperation(ctx, resourceGroupName, applicationName, microsoftSQLComponentName, options)
	if err != nil {
		return MicrosoftComSQLComponentDeletePollerResponse{}, err
	}
	result := MicrosoftComSQLComponentDeletePollerResponse{
		RawResponse: resp,
	}
	pt, err := armruntime.NewPoller("MicrosoftComSQLComponentClient.Delete", "location", resp, 	client.pl, client.deleteHandleError)
	if err != nil {
		return MicrosoftComSQLComponentDeletePollerResponse{}, err
	}
	result.Poller = &MicrosoftComSQLComponentDeletePoller {
		pt: pt,
	}
	return result, nil
}

// Delete - Deletes a microsoft.com.SQLComponent resource.
// If the operation fails it returns the *ErrorResponse error type.
func (client *MicrosoftComSQLComponentClient) deleteOperation(ctx context.Context, resourceGroupName string, applicationName string, microsoftSQLComponentName string, options *MicrosoftComSQLComponentBeginDeleteOptions) (*http.Response, error) {
	req, err := client.deleteCreateRequest(ctx, resourceGroupName, applicationName, microsoftSQLComponentName, options)
	if err != nil {
		return nil, err
	}
	resp, err := 	client.pl.Do(req)
	if err != nil {
		return nil, err
	}
	if !runtime.HasStatusCode(resp, http.StatusAccepted, http.StatusNoContent) {
		return nil, client.deleteHandleError(resp)
	}
	 return resp, nil
}

// deleteCreateRequest creates the Delete request.
func (client *MicrosoftComSQLComponentClient) deleteCreateRequest(ctx context.Context, resourceGroupName string, applicationName string, microsoftSQLComponentName string, options *MicrosoftComSQLComponentBeginDeleteOptions) (*policy.Request, error) {
	urlPath := "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.CustomProviders/resourceProviders/radiusv3/Application/{applicationName}/microsoft.com.SQLComponent/{microsoftSQLComponentName}"
	if client.subscriptionID == "" {
		return nil, errors.New("parameter client.subscriptionID cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{subscriptionId}", url.PathEscape(client.subscriptionID))
	if resourceGroupName == "" {
		return nil, errors.New("parameter resourceGroupName cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{resourceGroupName}", url.PathEscape(resourceGroupName))
	if applicationName == "" {
		return nil, errors.New("parameter applicationName cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{applicationName}", url.PathEscape(applicationName))
	if microsoftSQLComponentName == "" {
		return nil, errors.New("parameter microsoftSQLComponentName cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{microsoftSQLComponentName}", url.PathEscape(microsoftSQLComponentName))
	req, err := runtime.NewRequest(ctx, http.MethodDelete, runtime.JoinPaths(	client.ep, urlPath))
	if err != nil {
		return nil, err
	}
	reqQP := req.Raw().URL.Query()
	reqQP.Set("api-version", "2018-09-01-preview")
	req.Raw().URL.RawQuery = reqQP.Encode()
	req.Raw().Header.Set("Accept", "application/json")
	return req, nil
}

// deleteHandleError handles the Delete error response.
func (client *MicrosoftComSQLComponentClient) deleteHandleError(resp *http.Response) error {
	body, err := runtime.Payload(resp)
	if err != nil {
		return runtime.NewResponseError(err, resp)
	}
		errType := ErrorResponse{raw: string(body)}
	if err := runtime.UnmarshalAsJSON(resp, &errType); err != nil {
		return runtime.NewResponseError(fmt.Errorf("%s\n%s", string(body), err), resp)
	}
	return runtime.NewResponseError(&errType, resp)
}

// Get - Gets a microsoft.com.SQLComponent resource by name.
// If the operation fails it returns the *ErrorResponse error type.
func (client *MicrosoftComSQLComponentClient) Get(ctx context.Context, resourceGroupName string, applicationName string, microsoftSQLComponentName string, options *MicrosoftComSQLComponentGetOptions) (MicrosoftComSQLComponentGetResponse, error) {
	req, err := client.getCreateRequest(ctx, resourceGroupName, applicationName, microsoftSQLComponentName, options)
	if err != nil {
		return MicrosoftComSQLComponentGetResponse{}, err
	}
	resp, err := 	client.pl.Do(req)
	if err != nil {
		return MicrosoftComSQLComponentGetResponse{}, err
	}
	if !runtime.HasStatusCode(resp, http.StatusOK) {
		return MicrosoftComSQLComponentGetResponse{}, client.getHandleError(resp)
	}
	return client.getHandleResponse(resp)
}

// getCreateRequest creates the Get request.
func (client *MicrosoftComSQLComponentClient) getCreateRequest(ctx context.Context, resourceGroupName string, applicationName string, microsoftSQLComponentName string, options *MicrosoftComSQLComponentGetOptions) (*policy.Request, error) {
	urlPath := "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.CustomProviders/resourceProviders/radiusv3/Application/{applicationName}/microsoft.com.SQLComponent/{microsoftSQLComponentName}"
	if client.subscriptionID == "" {
		return nil, errors.New("parameter client.subscriptionID cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{subscriptionId}", url.PathEscape(client.subscriptionID))
	if resourceGroupName == "" {
		return nil, errors.New("parameter resourceGroupName cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{resourceGroupName}", url.PathEscape(resourceGroupName))
	if applicationName == "" {
		return nil, errors.New("parameter applicationName cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{applicationName}", url.PathEscape(applicationName))
	if microsoftSQLComponentName == "" {
		return nil, errors.New("parameter microsoftSQLComponentName cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{microsoftSQLComponentName}", url.PathEscape(microsoftSQLComponentName))
	req, err := runtime.NewRequest(ctx, http.MethodGet, runtime.JoinPaths(	client.ep, urlPath))
	if err != nil {
		return nil, err
	}
	reqQP := req.Raw().URL.Query()
	reqQP.Set("api-version", "2018-09-01-preview")
	req.Raw().URL.RawQuery = reqQP.Encode()
	req.Raw().Header.Set("Accept", "application/json")
	return req, nil
}

// getHandleResponse handles the Get response.
func (client *MicrosoftComSQLComponentClient) getHandleResponse(resp *http.Response) (MicrosoftComSQLComponentGetResponse, error) {
	result := MicrosoftComSQLComponentGetResponse{RawResponse: resp}
	if err := runtime.UnmarshalAsJSON(resp, &result.MicrosoftSQLComponentResource); err != nil {
		return MicrosoftComSQLComponentGetResponse{}, err
	}
	return result, nil
}

// getHandleError handles the Get error response.
func (client *MicrosoftComSQLComponentClient) getHandleError(resp *http.Response) error {
	body, err := runtime.Payload(resp)
	if err != nil {
		return runtime.NewResponseError(err, resp)
	}
		errType := ErrorResponse{raw: string(body)}
	if err := runtime.UnmarshalAsJSON(resp, &errType); err != nil {
		return runtime.NewResponseError(fmt.Errorf("%s\n%s", string(body), err), resp)
	}
	return runtime.NewResponseError(&errType, resp)
}

// List - List the microsoft.com.SQLComponent resources deployed in the application.
// If the operation fails it returns the *ErrorResponse error type.
func (client *MicrosoftComSQLComponentClient) List(ctx context.Context, resourceGroupName string, applicationName string, options *MicrosoftComSQLComponentListOptions) (MicrosoftComSQLComponentListResponse, error) {
	req, err := client.listCreateRequest(ctx, resourceGroupName, applicationName, options)
	if err != nil {
		return MicrosoftComSQLComponentListResponse{}, err
	}
	resp, err := 	client.pl.Do(req)
	if err != nil {
		return MicrosoftComSQLComponentListResponse{}, err
	}
	if !runtime.HasStatusCode(resp, http.StatusOK) {
		return MicrosoftComSQLComponentListResponse{}, client.listHandleError(resp)
	}
	return client.listHandleResponse(resp)
}

// listCreateRequest creates the List request.
func (client *MicrosoftComSQLComponentClient) listCreateRequest(ctx context.Context, resourceGroupName string, applicationName string, options *MicrosoftComSQLComponentListOptions) (*policy.Request, error) {
	urlPath := "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.CustomProviders/resourceProviders/radiusv3/Application/{applicationName}/microsoft.com.SQLComponent"
	if client.subscriptionID == "" {
		return nil, errors.New("parameter client.subscriptionID cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{subscriptionId}", url.PathEscape(client.subscriptionID))
	if resourceGroupName == "" {
		return nil, errors.New("parameter resourceGroupName cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{resourceGroupName}", url.PathEscape(resourceGroupName))
	if applicationName == "" {
		return nil, errors.New("parameter applicationName cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{applicationName}", url.PathEscape(applicationName))
	req, err := runtime.NewRequest(ctx, http.MethodGet, runtime.JoinPaths(	client.ep, urlPath))
	if err != nil {
		return nil, err
	}
	reqQP := req.Raw().URL.Query()
	reqQP.Set("api-version", "2018-09-01-preview")
	req.Raw().URL.RawQuery = reqQP.Encode()
	req.Raw().Header.Set("Accept", "application/json")
	return req, nil
}

// listHandleResponse handles the List response.
func (client *MicrosoftComSQLComponentClient) listHandleResponse(resp *http.Response) (MicrosoftComSQLComponentListResponse, error) {
	result := MicrosoftComSQLComponentListResponse{RawResponse: resp}
	if err := runtime.UnmarshalAsJSON(resp, &result.MicrosoftSQLComponentList); err != nil {
		return MicrosoftComSQLComponentListResponse{}, err
	}
	return result, nil
}

// listHandleError handles the List error response.
func (client *MicrosoftComSQLComponentClient) listHandleError(resp *http.Response) error {
	body, err := runtime.Payload(resp)
	if err != nil {
		return runtime.NewResponseError(err, resp)
	}
		errType := ErrorResponse{raw: string(body)}
	if err := runtime.UnmarshalAsJSON(resp, &errType); err != nil {
		return runtime.NewResponseError(fmt.Errorf("%s\n%s", string(body), err), resp)
	}
	return runtime.NewResponseError(&errType, resp)
}

