//go:build go1.16
// +build go1.16

// Copyright (c) Microsoft Corporation. All rights reserved.
// Licensed under the MIT License. See License.txt in the project root for license information.
// Code generated by Microsoft (R) AutoRest Code Generator.
// Changes may cause incorrect behavior and will be lost if the code is regenerated.

package radclient

import (
	"context"
	"errors"
	"fmt"
	"github.com/Azure/azure-sdk-for-go/sdk/azcore/arm"
	armruntime "github.com/Azure/azure-sdk-for-go/sdk/azcore/arm/runtime"
	"github.com/Azure/azure-sdk-for-go/sdk/azcore/policy"
	"github.com/Azure/azure-sdk-for-go/sdk/azcore/runtime"
	"net/http"
	"net/url"
	"strings"
)

// AzureComKeyVaultClient contains the methods for the AzureComKeyVault group.
// Don't use this type directly, use NewAzureComKeyVaultClient() instead.
type AzureComKeyVaultClient struct {
	ep string
	pl runtime.Pipeline
	subscriptionID string
}

// NewAzureComKeyVaultClient creates a new instance of AzureComKeyVaultClient with the specified values.
func NewAzureComKeyVaultClient(con *arm.Connection, subscriptionID string) *AzureComKeyVaultClient {
	return &AzureComKeyVaultClient{ep: con.Endpoint(), pl: con.NewPipeline(module, version), subscriptionID: subscriptionID}
}

// BeginCreateOrUpdate - Creates or updates a azure.com.KeyVault resource.
// If the operation fails it returns the *ErrorResponse error type.
func (client *AzureComKeyVaultClient) BeginCreateOrUpdate(ctx context.Context, resourceGroupName string, applicationName string, azureKeyVaultName string, parameters AzureKeyVaultResource, options *AzureComKeyVaultBeginCreateOrUpdateOptions) (AzureComKeyVaultCreateOrUpdatePollerResponse, error) {
	resp, err := client.createOrUpdate(ctx, resourceGroupName, applicationName, azureKeyVaultName, parameters, options)
	if err != nil {
		return AzureComKeyVaultCreateOrUpdatePollerResponse{}, err
	}
	result := AzureComKeyVaultCreateOrUpdatePollerResponse{
		RawResponse: resp,
	}
	pt, err := armruntime.NewPoller("AzureComKeyVaultClient.CreateOrUpdate", "location", resp, 	client.pl, client.createOrUpdateHandleError)
	if err != nil {
		return AzureComKeyVaultCreateOrUpdatePollerResponse{}, err
	}
	result.Poller = &AzureComKeyVaultCreateOrUpdatePoller {
		pt: pt,
	}
	return result, nil
}

// CreateOrUpdate - Creates or updates a azure.com.KeyVault resource.
// If the operation fails it returns the *ErrorResponse error type.
func (client *AzureComKeyVaultClient) createOrUpdate(ctx context.Context, resourceGroupName string, applicationName string, azureKeyVaultName string, parameters AzureKeyVaultResource, options *AzureComKeyVaultBeginCreateOrUpdateOptions) (*http.Response, error) {
	req, err := client.createOrUpdateCreateRequest(ctx, resourceGroupName, applicationName, azureKeyVaultName, parameters, options)
	if err != nil {
		return nil, err
	}
	resp, err := 	client.pl.Do(req)
	if err != nil {
		return nil, err
	}
	if !runtime.HasStatusCode(resp, http.StatusOK, http.StatusCreated, http.StatusAccepted) {
		return nil, client.createOrUpdateHandleError(resp)
	}
	 return resp, nil
}

// createOrUpdateCreateRequest creates the CreateOrUpdate request.
func (client *AzureComKeyVaultClient) createOrUpdateCreateRequest(ctx context.Context, resourceGroupName string, applicationName string, azureKeyVaultName string, parameters AzureKeyVaultResource, options *AzureComKeyVaultBeginCreateOrUpdateOptions) (*policy.Request, error) {
	urlPath := "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.CustomProviders/resourceProviders/radiusv3/Application/{applicationName}/azure.com.KeyVault/{azureKeyVaultName}"
	if client.subscriptionID == "" {
		return nil, errors.New("parameter client.subscriptionID cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{subscriptionId}", url.PathEscape(client.subscriptionID))
	if resourceGroupName == "" {
		return nil, errors.New("parameter resourceGroupName cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{resourceGroupName}", url.PathEscape(resourceGroupName))
	if applicationName == "" {
		return nil, errors.New("parameter applicationName cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{applicationName}", url.PathEscape(applicationName))
	if azureKeyVaultName == "" {
		return nil, errors.New("parameter azureKeyVaultName cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{azureKeyVaultName}", url.PathEscape(azureKeyVaultName))
	req, err := runtime.NewRequest(ctx, http.MethodPut, runtime.JoinPaths(	client.ep, urlPath))
	if err != nil {
		return nil, err
	}
	reqQP := req.Raw().URL.Query()
	reqQP.Set("api-version", "2018-09-01-preview")
	req.Raw().URL.RawQuery = reqQP.Encode()
	req.Raw().Header.Set("Accept", "application/json")
	return req, runtime.MarshalAsJSON(req, parameters)
}

// createOrUpdateHandleError handles the CreateOrUpdate error response.
func (client *AzureComKeyVaultClient) createOrUpdateHandleError(resp *http.Response) error {
	body, err := runtime.Payload(resp)
	if err != nil {
		return runtime.NewResponseError(err, resp)
	}
		errType := ErrorResponse{raw: string(body)}
	if err := runtime.UnmarshalAsJSON(resp, &errType); err != nil {
		return runtime.NewResponseError(fmt.Errorf("%s\n%s", string(body), err), resp)
	}
	return runtime.NewResponseError(&errType, resp)
}

// BeginDelete - Deletes a azure.com.KeyVault resource.
// If the operation fails it returns the *ErrorResponse error type.
func (client *AzureComKeyVaultClient) BeginDelete(ctx context.Context, resourceGroupName string, applicationName string, azureKeyVaultName string, options *AzureComKeyVaultBeginDeleteOptions) (AzureComKeyVaultDeletePollerResponse, error) {
	resp, err := client.deleteOperation(ctx, resourceGroupName, applicationName, azureKeyVaultName, options)
	if err != nil {
		return AzureComKeyVaultDeletePollerResponse{}, err
	}
	result := AzureComKeyVaultDeletePollerResponse{
		RawResponse: resp,
	}
	pt, err := armruntime.NewPoller("AzureComKeyVaultClient.Delete", "location", resp, 	client.pl, client.deleteHandleError)
	if err != nil {
		return AzureComKeyVaultDeletePollerResponse{}, err
	}
	result.Poller = &AzureComKeyVaultDeletePoller {
		pt: pt,
	}
	return result, nil
}

// Delete - Deletes a azure.com.KeyVault resource.
// If the operation fails it returns the *ErrorResponse error type.
func (client *AzureComKeyVaultClient) deleteOperation(ctx context.Context, resourceGroupName string, applicationName string, azureKeyVaultName string, options *AzureComKeyVaultBeginDeleteOptions) (*http.Response, error) {
	req, err := client.deleteCreateRequest(ctx, resourceGroupName, applicationName, azureKeyVaultName, options)
	if err != nil {
		return nil, err
	}
	resp, err := 	client.pl.Do(req)
	if err != nil {
		return nil, err
	}
	if !runtime.HasStatusCode(resp, http.StatusAccepted, http.StatusNoContent) {
		return nil, client.deleteHandleError(resp)
	}
	 return resp, nil
}

// deleteCreateRequest creates the Delete request.
func (client *AzureComKeyVaultClient) deleteCreateRequest(ctx context.Context, resourceGroupName string, applicationName string, azureKeyVaultName string, options *AzureComKeyVaultBeginDeleteOptions) (*policy.Request, error) {
	urlPath := "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.CustomProviders/resourceProviders/radiusv3/Application/{applicationName}/azure.com.KeyVault/{azureKeyVaultName}"
	if client.subscriptionID == "" {
		return nil, errors.New("parameter client.subscriptionID cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{subscriptionId}", url.PathEscape(client.subscriptionID))
	if resourceGroupName == "" {
		return nil, errors.New("parameter resourceGroupName cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{resourceGroupName}", url.PathEscape(resourceGroupName))
	if applicationName == "" {
		return nil, errors.New("parameter applicationName cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{applicationName}", url.PathEscape(applicationName))
	if azureKeyVaultName == "" {
		return nil, errors.New("parameter azureKeyVaultName cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{azureKeyVaultName}", url.PathEscape(azureKeyVaultName))
	req, err := runtime.NewRequest(ctx, http.MethodDelete, runtime.JoinPaths(	client.ep, urlPath))
	if err != nil {
		return nil, err
	}
	reqQP := req.Raw().URL.Query()
	reqQP.Set("api-version", "2018-09-01-preview")
	req.Raw().URL.RawQuery = reqQP.Encode()
	req.Raw().Header.Set("Accept", "application/json")
	return req, nil
}

// deleteHandleError handles the Delete error response.
func (client *AzureComKeyVaultClient) deleteHandleError(resp *http.Response) error {
	body, err := runtime.Payload(resp)
	if err != nil {
		return runtime.NewResponseError(err, resp)
	}
		errType := ErrorResponse{raw: string(body)}
	if err := runtime.UnmarshalAsJSON(resp, &errType); err != nil {
		return runtime.NewResponseError(fmt.Errorf("%s\n%s", string(body), err), resp)
	}
	return runtime.NewResponseError(&errType, resp)
}

// Get - Gets a azure.com.KeyVault resource by name.
// If the operation fails it returns the *ErrorResponse error type.
func (client *AzureComKeyVaultClient) Get(ctx context.Context, resourceGroupName string, applicationName string, azureKeyVaultName string, options *AzureComKeyVaultGetOptions) (AzureComKeyVaultGetResponse, error) {
	req, err := client.getCreateRequest(ctx, resourceGroupName, applicationName, azureKeyVaultName, options)
	if err != nil {
		return AzureComKeyVaultGetResponse{}, err
	}
	resp, err := 	client.pl.Do(req)
	if err != nil {
		return AzureComKeyVaultGetResponse{}, err
	}
	if !runtime.HasStatusCode(resp, http.StatusOK) {
		return AzureComKeyVaultGetResponse{}, client.getHandleError(resp)
	}
	return client.getHandleResponse(resp)
}

// getCreateRequest creates the Get request.
func (client *AzureComKeyVaultClient) getCreateRequest(ctx context.Context, resourceGroupName string, applicationName string, azureKeyVaultName string, options *AzureComKeyVaultGetOptions) (*policy.Request, error) {
	urlPath := "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.CustomProviders/resourceProviders/radiusv3/Application/{applicationName}/azure.com.KeyVault/{azureKeyVaultName}"
	if client.subscriptionID == "" {
		return nil, errors.New("parameter client.subscriptionID cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{subscriptionId}", url.PathEscape(client.subscriptionID))
	if resourceGroupName == "" {
		return nil, errors.New("parameter resourceGroupName cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{resourceGroupName}", url.PathEscape(resourceGroupName))
	if applicationName == "" {
		return nil, errors.New("parameter applicationName cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{applicationName}", url.PathEscape(applicationName))
	if azureKeyVaultName == "" {
		return nil, errors.New("parameter azureKeyVaultName cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{azureKeyVaultName}", url.PathEscape(azureKeyVaultName))
	req, err := runtime.NewRequest(ctx, http.MethodGet, runtime.JoinPaths(	client.ep, urlPath))
	if err != nil {
		return nil, err
	}
	reqQP := req.Raw().URL.Query()
	reqQP.Set("api-version", "2018-09-01-preview")
	req.Raw().URL.RawQuery = reqQP.Encode()
	req.Raw().Header.Set("Accept", "application/json")
	return req, nil
}

// getHandleResponse handles the Get response.
func (client *AzureComKeyVaultClient) getHandleResponse(resp *http.Response) (AzureComKeyVaultGetResponse, error) {
	result := AzureComKeyVaultGetResponse{RawResponse: resp}
	if err := runtime.UnmarshalAsJSON(resp, &result.AzureKeyVaultResource); err != nil {
		return AzureComKeyVaultGetResponse{}, err
	}
	return result, nil
}

// getHandleError handles the Get error response.
func (client *AzureComKeyVaultClient) getHandleError(resp *http.Response) error {
	body, err := runtime.Payload(resp)
	if err != nil {
		return runtime.NewResponseError(err, resp)
	}
		errType := ErrorResponse{raw: string(body)}
	if err := runtime.UnmarshalAsJSON(resp, &errType); err != nil {
		return runtime.NewResponseError(fmt.Errorf("%s\n%s", string(body), err), resp)
	}
	return runtime.NewResponseError(&errType, resp)
}

// List - List the azure.com.KeyVault resources deployed in the application.
// If the operation fails it returns the *ErrorResponse error type.
func (client *AzureComKeyVaultClient) List(ctx context.Context, resourceGroupName string, applicationName string, options *AzureComKeyVaultListOptions) (AzureComKeyVaultListResponse, error) {
	req, err := client.listCreateRequest(ctx, resourceGroupName, applicationName, options)
	if err != nil {
		return AzureComKeyVaultListResponse{}, err
	}
	resp, err := 	client.pl.Do(req)
	if err != nil {
		return AzureComKeyVaultListResponse{}, err
	}
	if !runtime.HasStatusCode(resp, http.StatusOK) {
		return AzureComKeyVaultListResponse{}, client.listHandleError(resp)
	}
	return client.listHandleResponse(resp)
}

// listCreateRequest creates the List request.
func (client *AzureComKeyVaultClient) listCreateRequest(ctx context.Context, resourceGroupName string, applicationName string, options *AzureComKeyVaultListOptions) (*policy.Request, error) {
	urlPath := "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.CustomProviders/resourceProviders/radiusv3/Application/{applicationName}/azure.com.KeyVault"
	if client.subscriptionID == "" {
		return nil, errors.New("parameter client.subscriptionID cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{subscriptionId}", url.PathEscape(client.subscriptionID))
	if resourceGroupName == "" {
		return nil, errors.New("parameter resourceGroupName cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{resourceGroupName}", url.PathEscape(resourceGroupName))
	if applicationName == "" {
		return nil, errors.New("parameter applicationName cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{applicationName}", url.PathEscape(applicationName))
	req, err := runtime.NewRequest(ctx, http.MethodGet, runtime.JoinPaths(	client.ep, urlPath))
	if err != nil {
		return nil, err
	}
	reqQP := req.Raw().URL.Query()
	reqQP.Set("api-version", "2018-09-01-preview")
	req.Raw().URL.RawQuery = reqQP.Encode()
	req.Raw().Header.Set("Accept", "application/json")
	return req, nil
}

// listHandleResponse handles the List response.
func (client *AzureComKeyVaultClient) listHandleResponse(resp *http.Response) (AzureComKeyVaultListResponse, error) {
	result := AzureComKeyVaultListResponse{RawResponse: resp}
	if err := runtime.UnmarshalAsJSON(resp, &result.AzureKeyVaultList); err != nil {
		return AzureComKeyVaultListResponse{}, err
	}
	return result, nil
}

// listHandleError handles the List error response.
func (client *AzureComKeyVaultClient) listHandleError(resp *http.Response) error {
	body, err := runtime.Payload(resp)
	if err != nil {
		return runtime.NewResponseError(err, resp)
	}
		errType := ErrorResponse{raw: string(body)}
	if err := runtime.UnmarshalAsJSON(resp, &errType); err != nil {
		return runtime.NewResponseError(fmt.Errorf("%s\n%s", string(body), err), resp)
	}
	return runtime.NewResponseError(&errType, resp)
}

