//go:build go1.16
// +build go1.16

// Copyright (c) Microsoft Corporation. All rights reserved.
// Licensed under the MIT License. See License.txt in the project root for license information.
// Code generated by Microsoft (R) AutoRest Code Generator.
// Changes may cause incorrect behavior and will be lost if the code is regenerated.

package radclient

import (
	"context"
	"errors"
	"fmt"
	"github.com/Azure/azure-sdk-for-go/sdk/azcore/arm"
	armruntime "github.com/Azure/azure-sdk-for-go/sdk/azcore/arm/runtime"
	"github.com/Azure/azure-sdk-for-go/sdk/azcore/policy"
	"github.com/Azure/azure-sdk-for-go/sdk/azcore/runtime"
	"net/http"
	"net/url"
	"strings"
)

// DaprIoPubSubTopicClient contains the methods for the DaprIoPubSubTopic group.
// Don't use this type directly, use NewDaprIoPubSubTopicClient() instead.
type DaprIoPubSubTopicClient struct {
	ep string
	pl runtime.Pipeline
	subscriptionID string
}

// NewDaprIoPubSubTopicClient creates a new instance of DaprIoPubSubTopicClient with the specified values.
func NewDaprIoPubSubTopicClient(con *arm.Connection, subscriptionID string) *DaprIoPubSubTopicClient {
	return &DaprIoPubSubTopicClient{ep: con.Endpoint(), pl: con.NewPipeline(module, version), subscriptionID: subscriptionID}
}

// BeginCreateOrUpdate - Creates or updates a dapr.io.PubSubTopic resource.
// If the operation fails it returns the *ErrorResponse error type.
func (client *DaprIoPubSubTopicClient) BeginCreateOrUpdate(ctx context.Context, resourceGroupName string, applicationName string, daprPubSubTopicName string, parameters DaprPubSubTopicResource, options *DaprIoPubSubTopicBeginCreateOrUpdateOptions) (DaprIoPubSubTopicCreateOrUpdatePollerResponse, error) {
	resp, err := client.createOrUpdate(ctx, resourceGroupName, applicationName, daprPubSubTopicName, parameters, options)
	if err != nil {
		return DaprIoPubSubTopicCreateOrUpdatePollerResponse{}, err
	}
	result := DaprIoPubSubTopicCreateOrUpdatePollerResponse{
		RawResponse: resp,
	}
	pt, err := armruntime.NewPoller("DaprIoPubSubTopicClient.CreateOrUpdate", "location", resp, 	client.pl, client.createOrUpdateHandleError)
	if err != nil {
		return DaprIoPubSubTopicCreateOrUpdatePollerResponse{}, err
	}
	result.Poller = &DaprIoPubSubTopicCreateOrUpdatePoller {
		pt: pt,
	}
	return result, nil
}

// CreateOrUpdate - Creates or updates a dapr.io.PubSubTopic resource.
// If the operation fails it returns the *ErrorResponse error type.
func (client *DaprIoPubSubTopicClient) createOrUpdate(ctx context.Context, resourceGroupName string, applicationName string, daprPubSubTopicName string, parameters DaprPubSubTopicResource, options *DaprIoPubSubTopicBeginCreateOrUpdateOptions) (*http.Response, error) {
	req, err := client.createOrUpdateCreateRequest(ctx, resourceGroupName, applicationName, daprPubSubTopicName, parameters, options)
	if err != nil {
		return nil, err
	}
	resp, err := 	client.pl.Do(req)
	if err != nil {
		return nil, err
	}
	if !runtime.HasStatusCode(resp, http.StatusOK, http.StatusCreated, http.StatusAccepted) {
		return nil, client.createOrUpdateHandleError(resp)
	}
	 return resp, nil
}

// createOrUpdateCreateRequest creates the CreateOrUpdate request.
func (client *DaprIoPubSubTopicClient) createOrUpdateCreateRequest(ctx context.Context, resourceGroupName string, applicationName string, daprPubSubTopicName string, parameters DaprPubSubTopicResource, options *DaprIoPubSubTopicBeginCreateOrUpdateOptions) (*policy.Request, error) {
	urlPath := "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.CustomProviders/resourceProviders/radiusv3/Application/{applicationName}/dapr.io.PubSubTopic/{daprPubSubTopicName}"
	if client.subscriptionID == "" {
		return nil, errors.New("parameter client.subscriptionID cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{subscriptionId}", url.PathEscape(client.subscriptionID))
	if resourceGroupName == "" {
		return nil, errors.New("parameter resourceGroupName cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{resourceGroupName}", url.PathEscape(resourceGroupName))
	if applicationName == "" {
		return nil, errors.New("parameter applicationName cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{applicationName}", url.PathEscape(applicationName))
	if daprPubSubTopicName == "" {
		return nil, errors.New("parameter daprPubSubTopicName cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{daprPubSubTopicName}", url.PathEscape(daprPubSubTopicName))
	req, err := runtime.NewRequest(ctx, http.MethodPut, runtime.JoinPaths(	client.ep, urlPath))
	if err != nil {
		return nil, err
	}
	reqQP := req.Raw().URL.Query()
	reqQP.Set("api-version", "2018-09-01-preview")
	req.Raw().URL.RawQuery = reqQP.Encode()
	req.Raw().Header.Set("Accept", "application/json")
	return req, runtime.MarshalAsJSON(req, parameters)
}

// createOrUpdateHandleError handles the CreateOrUpdate error response.
func (client *DaprIoPubSubTopicClient) createOrUpdateHandleError(resp *http.Response) error {
	body, err := runtime.Payload(resp)
	if err != nil {
		return runtime.NewResponseError(err, resp)
	}
		errType := ErrorResponse{raw: string(body)}
	if err := runtime.UnmarshalAsJSON(resp, &errType); err != nil {
		return runtime.NewResponseError(fmt.Errorf("%s\n%s", string(body), err), resp)
	}
	return runtime.NewResponseError(&errType, resp)
}

// BeginDelete - Deletes a dapr.io.PubSubTopic resource.
// If the operation fails it returns the *ErrorResponse error type.
func (client *DaprIoPubSubTopicClient) BeginDelete(ctx context.Context, resourceGroupName string, applicationName string, daprPubSubTopicName string, options *DaprIoPubSubTopicBeginDeleteOptions) (DaprIoPubSubTopicDeletePollerResponse, error) {
	resp, err := client.deleteOperation(ctx, resourceGroupName, applicationName, daprPubSubTopicName, options)
	if err != nil {
		return DaprIoPubSubTopicDeletePollerResponse{}, err
	}
	result := DaprIoPubSubTopicDeletePollerResponse{
		RawResponse: resp,
	}
	pt, err := armruntime.NewPoller("DaprIoPubSubTopicClient.Delete", "location", resp, 	client.pl, client.deleteHandleError)
	if err != nil {
		return DaprIoPubSubTopicDeletePollerResponse{}, err
	}
	result.Poller = &DaprIoPubSubTopicDeletePoller {
		pt: pt,
	}
	return result, nil
}

// Delete - Deletes a dapr.io.PubSubTopic resource.
// If the operation fails it returns the *ErrorResponse error type.
func (client *DaprIoPubSubTopicClient) deleteOperation(ctx context.Context, resourceGroupName string, applicationName string, daprPubSubTopicName string, options *DaprIoPubSubTopicBeginDeleteOptions) (*http.Response, error) {
	req, err := client.deleteCreateRequest(ctx, resourceGroupName, applicationName, daprPubSubTopicName, options)
	if err != nil {
		return nil, err
	}
	resp, err := 	client.pl.Do(req)
	if err != nil {
		return nil, err
	}
	if !runtime.HasStatusCode(resp, http.StatusAccepted, http.StatusNoContent) {
		return nil, client.deleteHandleError(resp)
	}
	 return resp, nil
}

// deleteCreateRequest creates the Delete request.
func (client *DaprIoPubSubTopicClient) deleteCreateRequest(ctx context.Context, resourceGroupName string, applicationName string, daprPubSubTopicName string, options *DaprIoPubSubTopicBeginDeleteOptions) (*policy.Request, error) {
	urlPath := "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.CustomProviders/resourceProviders/radiusv3/Application/{applicationName}/dapr.io.PubSubTopic/{daprPubSubTopicName}"
	if client.subscriptionID == "" {
		return nil, errors.New("parameter client.subscriptionID cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{subscriptionId}", url.PathEscape(client.subscriptionID))
	if resourceGroupName == "" {
		return nil, errors.New("parameter resourceGroupName cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{resourceGroupName}", url.PathEscape(resourceGroupName))
	if applicationName == "" {
		return nil, errors.New("parameter applicationName cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{applicationName}", url.PathEscape(applicationName))
	if daprPubSubTopicName == "" {
		return nil, errors.New("parameter daprPubSubTopicName cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{daprPubSubTopicName}", url.PathEscape(daprPubSubTopicName))
	req, err := runtime.NewRequest(ctx, http.MethodDelete, runtime.JoinPaths(	client.ep, urlPath))
	if err != nil {
		return nil, err
	}
	reqQP := req.Raw().URL.Query()
	reqQP.Set("api-version", "2018-09-01-preview")
	req.Raw().URL.RawQuery = reqQP.Encode()
	req.Raw().Header.Set("Accept", "application/json")
	return req, nil
}

// deleteHandleError handles the Delete error response.
func (client *DaprIoPubSubTopicClient) deleteHandleError(resp *http.Response) error {
	body, err := runtime.Payload(resp)
	if err != nil {
		return runtime.NewResponseError(err, resp)
	}
		errType := ErrorResponse{raw: string(body)}
	if err := runtime.UnmarshalAsJSON(resp, &errType); err != nil {
		return runtime.NewResponseError(fmt.Errorf("%s\n%s", string(body), err), resp)
	}
	return runtime.NewResponseError(&errType, resp)
}

// Get - Gets a dapr.io.PubSubTopic resource by name.
// If the operation fails it returns the *ErrorResponse error type.
func (client *DaprIoPubSubTopicClient) Get(ctx context.Context, resourceGroupName string, applicationName string, daprPubSubTopicName string, options *DaprIoPubSubTopicGetOptions) (DaprIoPubSubTopicGetResponse, error) {
	req, err := client.getCreateRequest(ctx, resourceGroupName, applicationName, daprPubSubTopicName, options)
	if err != nil {
		return DaprIoPubSubTopicGetResponse{}, err
	}
	resp, err := 	client.pl.Do(req)
	if err != nil {
		return DaprIoPubSubTopicGetResponse{}, err
	}
	if !runtime.HasStatusCode(resp, http.StatusOK) {
		return DaprIoPubSubTopicGetResponse{}, client.getHandleError(resp)
	}
	return client.getHandleResponse(resp)
}

// getCreateRequest creates the Get request.
func (client *DaprIoPubSubTopicClient) getCreateRequest(ctx context.Context, resourceGroupName string, applicationName string, daprPubSubTopicName string, options *DaprIoPubSubTopicGetOptions) (*policy.Request, error) {
	urlPath := "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.CustomProviders/resourceProviders/radiusv3/Application/{applicationName}/dapr.io.PubSubTopic/{daprPubSubTopicName}"
	if client.subscriptionID == "" {
		return nil, errors.New("parameter client.subscriptionID cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{subscriptionId}", url.PathEscape(client.subscriptionID))
	if resourceGroupName == "" {
		return nil, errors.New("parameter resourceGroupName cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{resourceGroupName}", url.PathEscape(resourceGroupName))
	if applicationName == "" {
		return nil, errors.New("parameter applicationName cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{applicationName}", url.PathEscape(applicationName))
	if daprPubSubTopicName == "" {
		return nil, errors.New("parameter daprPubSubTopicName cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{daprPubSubTopicName}", url.PathEscape(daprPubSubTopicName))
	req, err := runtime.NewRequest(ctx, http.MethodGet, runtime.JoinPaths(	client.ep, urlPath))
	if err != nil {
		return nil, err
	}
	reqQP := req.Raw().URL.Query()
	reqQP.Set("api-version", "2018-09-01-preview")
	req.Raw().URL.RawQuery = reqQP.Encode()
	req.Raw().Header.Set("Accept", "application/json")
	return req, nil
}

// getHandleResponse handles the Get response.
func (client *DaprIoPubSubTopicClient) getHandleResponse(resp *http.Response) (DaprIoPubSubTopicGetResponse, error) {
	result := DaprIoPubSubTopicGetResponse{RawResponse: resp}
	if err := runtime.UnmarshalAsJSON(resp, &result.DaprPubSubTopicResource); err != nil {
		return DaprIoPubSubTopicGetResponse{}, err
	}
	return result, nil
}

// getHandleError handles the Get error response.
func (client *DaprIoPubSubTopicClient) getHandleError(resp *http.Response) error {
	body, err := runtime.Payload(resp)
	if err != nil {
		return runtime.NewResponseError(err, resp)
	}
		errType := ErrorResponse{raw: string(body)}
	if err := runtime.UnmarshalAsJSON(resp, &errType); err != nil {
		return runtime.NewResponseError(fmt.Errorf("%s\n%s", string(body), err), resp)
	}
	return runtime.NewResponseError(&errType, resp)
}

// List - List the dapr.io.PubSubTopic resources deployed in the application.
// If the operation fails it returns the *ErrorResponse error type.
func (client *DaprIoPubSubTopicClient) List(ctx context.Context, resourceGroupName string, applicationName string, options *DaprIoPubSubTopicListOptions) (DaprIoPubSubTopicListResponse, error) {
	req, err := client.listCreateRequest(ctx, resourceGroupName, applicationName, options)
	if err != nil {
		return DaprIoPubSubTopicListResponse{}, err
	}
	resp, err := 	client.pl.Do(req)
	if err != nil {
		return DaprIoPubSubTopicListResponse{}, err
	}
	if !runtime.HasStatusCode(resp, http.StatusOK) {
		return DaprIoPubSubTopicListResponse{}, client.listHandleError(resp)
	}
	return client.listHandleResponse(resp)
}

// listCreateRequest creates the List request.
func (client *DaprIoPubSubTopicClient) listCreateRequest(ctx context.Context, resourceGroupName string, applicationName string, options *DaprIoPubSubTopicListOptions) (*policy.Request, error) {
	urlPath := "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.CustomProviders/resourceProviders/radiusv3/Application/{applicationName}/dapr.io.PubSubTopic"
	if client.subscriptionID == "" {
		return nil, errors.New("parameter client.subscriptionID cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{subscriptionId}", url.PathEscape(client.subscriptionID))
	if resourceGroupName == "" {
		return nil, errors.New("parameter resourceGroupName cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{resourceGroupName}", url.PathEscape(resourceGroupName))
	if applicationName == "" {
		return nil, errors.New("parameter applicationName cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{applicationName}", url.PathEscape(applicationName))
	req, err := runtime.NewRequest(ctx, http.MethodGet, runtime.JoinPaths(	client.ep, urlPath))
	if err != nil {
		return nil, err
	}
	reqQP := req.Raw().URL.Query()
	reqQP.Set("api-version", "2018-09-01-preview")
	req.Raw().URL.RawQuery = reqQP.Encode()
	req.Raw().Header.Set("Accept", "application/json")
	return req, nil
}

// listHandleResponse handles the List response.
func (client *DaprIoPubSubTopicClient) listHandleResponse(resp *http.Response) (DaprIoPubSubTopicListResponse, error) {
	result := DaprIoPubSubTopicListResponse{RawResponse: resp}
	if err := runtime.UnmarshalAsJSON(resp, &result.DaprPubSubTopicList); err != nil {
		return DaprIoPubSubTopicListResponse{}, err
	}
	return result, nil
}

// listHandleError handles the List error response.
func (client *DaprIoPubSubTopicClient) listHandleError(resp *http.Response) error {
	body, err := runtime.Payload(resp)
	if err != nil {
		return runtime.NewResponseError(err, resp)
	}
		errType := ErrorResponse{raw: string(body)}
	if err := runtime.UnmarshalAsJSON(resp, &errType); err != nil {
		return runtime.NewResponseError(fmt.Errorf("%s\n%s", string(body), err), resp)
	}
	return runtime.NewResponseError(&errType, resp)
}

