//go:build go1.16
// +build go1.16

// Copyright (c) Microsoft Corporation. All rights reserved.
// Licensed under the MIT License. See License.txt in the project root for license information.
// Code generated by Microsoft (R) AutoRest Code Generator.
// Changes may cause incorrect behavior and will be lost if the code is regenerated.

package radclient

import (
	"context"
	"errors"
	"fmt"
	"github.com/Azure/azure-sdk-for-go/sdk/azcore/arm"
	armruntime "github.com/Azure/azure-sdk-for-go/sdk/azcore/arm/runtime"
	"github.com/Azure/azure-sdk-for-go/sdk/azcore/policy"
	"github.com/Azure/azure-sdk-for-go/sdk/azcore/runtime"
	"net/http"
	"net/url"
	"strings"
)

// DaprIoDaprHTTPRouteClient contains the methods for the DaprIoDaprHTTPRoute group.
// Don't use this type directly, use NewDaprIoDaprHTTPRouteClient() instead.
type DaprIoDaprHTTPRouteClient struct {
	ep string
	pl runtime.Pipeline
	subscriptionID string
}

// NewDaprIoDaprHTTPRouteClient creates a new instance of DaprIoDaprHTTPRouteClient with the specified values.
func NewDaprIoDaprHTTPRouteClient(con *arm.Connection, subscriptionID string) *DaprIoDaprHTTPRouteClient {
	return &DaprIoDaprHTTPRouteClient{ep: con.Endpoint(), pl: con.NewPipeline(module, version), subscriptionID: subscriptionID}
}

// BeginCreateOrUpdate - Creates or updates a dapr.io.DaprHttpRoute resource.
// If the operation fails it returns the *ErrorResponse error type.
func (client *DaprIoDaprHTTPRouteClient) BeginCreateOrUpdate(ctx context.Context, resourceGroupName string, applicationName string, daprHTTPRouteName string, parameters DaprHTTPRouteResource, options *DaprIoDaprHTTPRouteBeginCreateOrUpdateOptions) (DaprIoDaprHTTPRouteCreateOrUpdatePollerResponse, error) {
	resp, err := client.createOrUpdate(ctx, resourceGroupName, applicationName, daprHTTPRouteName, parameters, options)
	if err != nil {
		return DaprIoDaprHTTPRouteCreateOrUpdatePollerResponse{}, err
	}
	result := DaprIoDaprHTTPRouteCreateOrUpdatePollerResponse{
		RawResponse: resp,
	}
	pt, err := armruntime.NewPoller("DaprIoDaprHTTPRouteClient.CreateOrUpdate", "location", resp, 	client.pl, client.createOrUpdateHandleError)
	if err != nil {
		return DaprIoDaprHTTPRouteCreateOrUpdatePollerResponse{}, err
	}
	result.Poller = &DaprIoDaprHTTPRouteCreateOrUpdatePoller {
		pt: pt,
	}
	return result, nil
}

// CreateOrUpdate - Creates or updates a dapr.io.DaprHttpRoute resource.
// If the operation fails it returns the *ErrorResponse error type.
func (client *DaprIoDaprHTTPRouteClient) createOrUpdate(ctx context.Context, resourceGroupName string, applicationName string, daprHTTPRouteName string, parameters DaprHTTPRouteResource, options *DaprIoDaprHTTPRouteBeginCreateOrUpdateOptions) (*http.Response, error) {
	req, err := client.createOrUpdateCreateRequest(ctx, resourceGroupName, applicationName, daprHTTPRouteName, parameters, options)
	if err != nil {
		return nil, err
	}
	resp, err := 	client.pl.Do(req)
	if err != nil {
		return nil, err
	}
	if !runtime.HasStatusCode(resp, http.StatusOK, http.StatusCreated, http.StatusAccepted) {
		return nil, client.createOrUpdateHandleError(resp)
	}
	 return resp, nil
}

// createOrUpdateCreateRequest creates the CreateOrUpdate request.
func (client *DaprIoDaprHTTPRouteClient) createOrUpdateCreateRequest(ctx context.Context, resourceGroupName string, applicationName string, daprHTTPRouteName string, parameters DaprHTTPRouteResource, options *DaprIoDaprHTTPRouteBeginCreateOrUpdateOptions) (*policy.Request, error) {
	urlPath := "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.CustomProviders/resourceProviders/radiusv3/Application/{applicationName}/dapr.io.DaprHttpRoute/{daprHttpRouteName}"
	if client.subscriptionID == "" {
		return nil, errors.New("parameter client.subscriptionID cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{subscriptionId}", url.PathEscape(client.subscriptionID))
	if resourceGroupName == "" {
		return nil, errors.New("parameter resourceGroupName cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{resourceGroupName}", url.PathEscape(resourceGroupName))
	if applicationName == "" {
		return nil, errors.New("parameter applicationName cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{applicationName}", url.PathEscape(applicationName))
	if daprHTTPRouteName == "" {
		return nil, errors.New("parameter daprHTTPRouteName cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{daprHttpRouteName}", url.PathEscape(daprHTTPRouteName))
	req, err := runtime.NewRequest(ctx, http.MethodPut, runtime.JoinPaths(	client.ep, urlPath))
	if err != nil {
		return nil, err
	}
	reqQP := req.Raw().URL.Query()
	reqQP.Set("api-version", "2018-09-01-preview")
	req.Raw().URL.RawQuery = reqQP.Encode()
	req.Raw().Header.Set("Accept", "application/json")
	return req, runtime.MarshalAsJSON(req, parameters)
}

// createOrUpdateHandleError handles the CreateOrUpdate error response.
func (client *DaprIoDaprHTTPRouteClient) createOrUpdateHandleError(resp *http.Response) error {
	body, err := runtime.Payload(resp)
	if err != nil {
		return runtime.NewResponseError(err, resp)
	}
		errType := ErrorResponse{raw: string(body)}
	if err := runtime.UnmarshalAsJSON(resp, &errType); err != nil {
		return runtime.NewResponseError(fmt.Errorf("%s\n%s", string(body), err), resp)
	}
	return runtime.NewResponseError(&errType, resp)
}

// BeginDelete - Deletes a dapr.io.DaprHttpRoute resource.
// If the operation fails it returns the *ErrorResponse error type.
func (client *DaprIoDaprHTTPRouteClient) BeginDelete(ctx context.Context, resourceGroupName string, applicationName string, daprHTTPRouteName string, options *DaprIoDaprHTTPRouteBeginDeleteOptions) (DaprIoDaprHTTPRouteDeletePollerResponse, error) {
	resp, err := client.deleteOperation(ctx, resourceGroupName, applicationName, daprHTTPRouteName, options)
	if err != nil {
		return DaprIoDaprHTTPRouteDeletePollerResponse{}, err
	}
	result := DaprIoDaprHTTPRouteDeletePollerResponse{
		RawResponse: resp,
	}
	pt, err := armruntime.NewPoller("DaprIoDaprHTTPRouteClient.Delete", "location", resp, 	client.pl, client.deleteHandleError)
	if err != nil {
		return DaprIoDaprHTTPRouteDeletePollerResponse{}, err
	}
	result.Poller = &DaprIoDaprHTTPRouteDeletePoller {
		pt: pt,
	}
	return result, nil
}

// Delete - Deletes a dapr.io.DaprHttpRoute resource.
// If the operation fails it returns the *ErrorResponse error type.
func (client *DaprIoDaprHTTPRouteClient) deleteOperation(ctx context.Context, resourceGroupName string, applicationName string, daprHTTPRouteName string, options *DaprIoDaprHTTPRouteBeginDeleteOptions) (*http.Response, error) {
	req, err := client.deleteCreateRequest(ctx, resourceGroupName, applicationName, daprHTTPRouteName, options)
	if err != nil {
		return nil, err
	}
	resp, err := 	client.pl.Do(req)
	if err != nil {
		return nil, err
	}
	if !runtime.HasStatusCode(resp, http.StatusAccepted, http.StatusNoContent) {
		return nil, client.deleteHandleError(resp)
	}
	 return resp, nil
}

// deleteCreateRequest creates the Delete request.
func (client *DaprIoDaprHTTPRouteClient) deleteCreateRequest(ctx context.Context, resourceGroupName string, applicationName string, daprHTTPRouteName string, options *DaprIoDaprHTTPRouteBeginDeleteOptions) (*policy.Request, error) {
	urlPath := "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.CustomProviders/resourceProviders/radiusv3/Application/{applicationName}/dapr.io.DaprHttpRoute/{daprHttpRouteName}"
	if client.subscriptionID == "" {
		return nil, errors.New("parameter client.subscriptionID cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{subscriptionId}", url.PathEscape(client.subscriptionID))
	if resourceGroupName == "" {
		return nil, errors.New("parameter resourceGroupName cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{resourceGroupName}", url.PathEscape(resourceGroupName))
	if applicationName == "" {
		return nil, errors.New("parameter applicationName cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{applicationName}", url.PathEscape(applicationName))
	if daprHTTPRouteName == "" {
		return nil, errors.New("parameter daprHTTPRouteName cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{daprHttpRouteName}", url.PathEscape(daprHTTPRouteName))
	req, err := runtime.NewRequest(ctx, http.MethodDelete, runtime.JoinPaths(	client.ep, urlPath))
	if err != nil {
		return nil, err
	}
	reqQP := req.Raw().URL.Query()
	reqQP.Set("api-version", "2018-09-01-preview")
	req.Raw().URL.RawQuery = reqQP.Encode()
	req.Raw().Header.Set("Accept", "application/json")
	return req, nil
}

// deleteHandleError handles the Delete error response.
func (client *DaprIoDaprHTTPRouteClient) deleteHandleError(resp *http.Response) error {
	body, err := runtime.Payload(resp)
	if err != nil {
		return runtime.NewResponseError(err, resp)
	}
		errType := ErrorResponse{raw: string(body)}
	if err := runtime.UnmarshalAsJSON(resp, &errType); err != nil {
		return runtime.NewResponseError(fmt.Errorf("%s\n%s", string(body), err), resp)
	}
	return runtime.NewResponseError(&errType, resp)
}

// Get - Gets a dapr.io.DaprHttpRoute resource by name.
// If the operation fails it returns the *ErrorResponse error type.
func (client *DaprIoDaprHTTPRouteClient) Get(ctx context.Context, resourceGroupName string, applicationName string, daprHTTPRouteName string, options *DaprIoDaprHTTPRouteGetOptions) (DaprIoDaprHTTPRouteGetResponse, error) {
	req, err := client.getCreateRequest(ctx, resourceGroupName, applicationName, daprHTTPRouteName, options)
	if err != nil {
		return DaprIoDaprHTTPRouteGetResponse{}, err
	}
	resp, err := 	client.pl.Do(req)
	if err != nil {
		return DaprIoDaprHTTPRouteGetResponse{}, err
	}
	if !runtime.HasStatusCode(resp, http.StatusOK) {
		return DaprIoDaprHTTPRouteGetResponse{}, client.getHandleError(resp)
	}
	return client.getHandleResponse(resp)
}

// getCreateRequest creates the Get request.
func (client *DaprIoDaprHTTPRouteClient) getCreateRequest(ctx context.Context, resourceGroupName string, applicationName string, daprHTTPRouteName string, options *DaprIoDaprHTTPRouteGetOptions) (*policy.Request, error) {
	urlPath := "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.CustomProviders/resourceProviders/radiusv3/Application/{applicationName}/dapr.io.DaprHttpRoute/{daprHttpRouteName}"
	if client.subscriptionID == "" {
		return nil, errors.New("parameter client.subscriptionID cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{subscriptionId}", url.PathEscape(client.subscriptionID))
	if resourceGroupName == "" {
		return nil, errors.New("parameter resourceGroupName cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{resourceGroupName}", url.PathEscape(resourceGroupName))
	if applicationName == "" {
		return nil, errors.New("parameter applicationName cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{applicationName}", url.PathEscape(applicationName))
	if daprHTTPRouteName == "" {
		return nil, errors.New("parameter daprHTTPRouteName cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{daprHttpRouteName}", url.PathEscape(daprHTTPRouteName))
	req, err := runtime.NewRequest(ctx, http.MethodGet, runtime.JoinPaths(	client.ep, urlPath))
	if err != nil {
		return nil, err
	}
	reqQP := req.Raw().URL.Query()
	reqQP.Set("api-version", "2018-09-01-preview")
	req.Raw().URL.RawQuery = reqQP.Encode()
	req.Raw().Header.Set("Accept", "application/json")
	return req, nil
}

// getHandleResponse handles the Get response.
func (client *DaprIoDaprHTTPRouteClient) getHandleResponse(resp *http.Response) (DaprIoDaprHTTPRouteGetResponse, error) {
	result := DaprIoDaprHTTPRouteGetResponse{RawResponse: resp}
	if err := runtime.UnmarshalAsJSON(resp, &result.DaprHTTPRouteResource); err != nil {
		return DaprIoDaprHTTPRouteGetResponse{}, err
	}
	return result, nil
}

// getHandleError handles the Get error response.
func (client *DaprIoDaprHTTPRouteClient) getHandleError(resp *http.Response) error {
	body, err := runtime.Payload(resp)
	if err != nil {
		return runtime.NewResponseError(err, resp)
	}
		errType := ErrorResponse{raw: string(body)}
	if err := runtime.UnmarshalAsJSON(resp, &errType); err != nil {
		return runtime.NewResponseError(fmt.Errorf("%s\n%s", string(body), err), resp)
	}
	return runtime.NewResponseError(&errType, resp)
}

// List - List the dapr.io.DaprHttpRoute resources deployed in the application.
// If the operation fails it returns the *ErrorResponse error type.
func (client *DaprIoDaprHTTPRouteClient) List(ctx context.Context, resourceGroupName string, applicationName string, options *DaprIoDaprHTTPRouteListOptions) (DaprIoDaprHTTPRouteListResponse, error) {
	req, err := client.listCreateRequest(ctx, resourceGroupName, applicationName, options)
	if err != nil {
		return DaprIoDaprHTTPRouteListResponse{}, err
	}
	resp, err := 	client.pl.Do(req)
	if err != nil {
		return DaprIoDaprHTTPRouteListResponse{}, err
	}
	if !runtime.HasStatusCode(resp, http.StatusOK) {
		return DaprIoDaprHTTPRouteListResponse{}, client.listHandleError(resp)
	}
	return client.listHandleResponse(resp)
}

// listCreateRequest creates the List request.
func (client *DaprIoDaprHTTPRouteClient) listCreateRequest(ctx context.Context, resourceGroupName string, applicationName string, options *DaprIoDaprHTTPRouteListOptions) (*policy.Request, error) {
	urlPath := "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.CustomProviders/resourceProviders/radiusv3/Application/{applicationName}/dapr.io.DaprHttpRoute"
	if client.subscriptionID == "" {
		return nil, errors.New("parameter client.subscriptionID cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{subscriptionId}", url.PathEscape(client.subscriptionID))
	if resourceGroupName == "" {
		return nil, errors.New("parameter resourceGroupName cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{resourceGroupName}", url.PathEscape(resourceGroupName))
	if applicationName == "" {
		return nil, errors.New("parameter applicationName cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{applicationName}", url.PathEscape(applicationName))
	req, err := runtime.NewRequest(ctx, http.MethodGet, runtime.JoinPaths(	client.ep, urlPath))
	if err != nil {
		return nil, err
	}
	reqQP := req.Raw().URL.Query()
	reqQP.Set("api-version", "2018-09-01-preview")
	req.Raw().URL.RawQuery = reqQP.Encode()
	req.Raw().Header.Set("Accept", "application/json")
	return req, nil
}

// listHandleResponse handles the List response.
func (client *DaprIoDaprHTTPRouteClient) listHandleResponse(resp *http.Response) (DaprIoDaprHTTPRouteListResponse, error) {
	result := DaprIoDaprHTTPRouteListResponse{RawResponse: resp}
	if err := runtime.UnmarshalAsJSON(resp, &result.DaprHTTPRouteList); err != nil {
		return DaprIoDaprHTTPRouteListResponse{}, err
	}
	return result, nil
}

// listHandleError handles the List error response.
func (client *DaprIoDaprHTTPRouteClient) listHandleError(resp *http.Response) error {
	body, err := runtime.Payload(resp)
	if err != nil {
		return runtime.NewResponseError(err, resp)
	}
		errType := ErrorResponse{raw: string(body)}
	if err := runtime.UnmarshalAsJSON(resp, &errType); err != nil {
		return runtime.NewResponseError(fmt.Errorf("%s\n%s", string(body), err), resp)
	}
	return runtime.NewResponseError(&errType, resp)
}

