//go:build go1.16
// +build go1.16

// Copyright (c) Microsoft Corporation. All rights reserved.
// Licensed under the MIT License. See License.txt in the project root for license information.
// Code generated by Microsoft (R) AutoRest Code Generator.
// Changes may cause incorrect behavior and will be lost if the code is regenerated.

package radclient

import (
	"context"
	"errors"
	"fmt"
	"github.com/Azure/azure-sdk-for-go/sdk/azcore/arm"
	armruntime "github.com/Azure/azure-sdk-for-go/sdk/azcore/arm/runtime"
	"github.com/Azure/azure-sdk-for-go/sdk/azcore/policy"
	"github.com/Azure/azure-sdk-for-go/sdk/azcore/runtime"
	"net/http"
	"net/url"
	"strings"
)

// MicrosoftComSQLDatabaseClient contains the methods for the MicrosoftComSQLDatabase group.
// Don't use this type directly, use NewMicrosoftComSQLDatabaseClient() instead.
type MicrosoftComSQLDatabaseClient struct {
	ep string
	pl runtime.Pipeline
	subscriptionID string
}

// NewMicrosoftComSQLDatabaseClient creates a new instance of MicrosoftComSQLDatabaseClient with the specified values.
func NewMicrosoftComSQLDatabaseClient(con *arm.Connection, subscriptionID string) *MicrosoftComSQLDatabaseClient {
	return &MicrosoftComSQLDatabaseClient{ep: con.Endpoint(), pl: con.NewPipeline(module, version), subscriptionID: subscriptionID}
}

// BeginCreateOrUpdate - Creates or updates a microsoft.com.SQLDatabase resource.
// If the operation fails it returns the *ErrorResponse error type.
func (client *MicrosoftComSQLDatabaseClient) BeginCreateOrUpdate(ctx context.Context, resourceGroupName string, applicationName string, microsoftSQLDatabaseName string, parameters MicrosoftSQLDatabaseResource, options *MicrosoftComSQLDatabaseBeginCreateOrUpdateOptions) (MicrosoftComSQLDatabaseCreateOrUpdatePollerResponse, error) {
	resp, err := client.createOrUpdate(ctx, resourceGroupName, applicationName, microsoftSQLDatabaseName, parameters, options)
	if err != nil {
		return MicrosoftComSQLDatabaseCreateOrUpdatePollerResponse{}, err
	}
	result := MicrosoftComSQLDatabaseCreateOrUpdatePollerResponse{
		RawResponse: resp,
	}
	pt, err := armruntime.NewPoller("MicrosoftComSQLDatabaseClient.CreateOrUpdate", "location", resp, 	client.pl, client.createOrUpdateHandleError)
	if err != nil {
		return MicrosoftComSQLDatabaseCreateOrUpdatePollerResponse{}, err
	}
	result.Poller = &MicrosoftComSQLDatabaseCreateOrUpdatePoller {
		pt: pt,
	}
	return result, nil
}

// CreateOrUpdate - Creates or updates a microsoft.com.SQLDatabase resource.
// If the operation fails it returns the *ErrorResponse error type.
func (client *MicrosoftComSQLDatabaseClient) createOrUpdate(ctx context.Context, resourceGroupName string, applicationName string, microsoftSQLDatabaseName string, parameters MicrosoftSQLDatabaseResource, options *MicrosoftComSQLDatabaseBeginCreateOrUpdateOptions) (*http.Response, error) {
	req, err := client.createOrUpdateCreateRequest(ctx, resourceGroupName, applicationName, microsoftSQLDatabaseName, parameters, options)
	if err != nil {
		return nil, err
	}
	resp, err := 	client.pl.Do(req)
	if err != nil {
		return nil, err
	}
	if !runtime.HasStatusCode(resp, http.StatusOK, http.StatusCreated, http.StatusAccepted) {
		return nil, client.createOrUpdateHandleError(resp)
	}
	 return resp, nil
}

// createOrUpdateCreateRequest creates the CreateOrUpdate request.
func (client *MicrosoftComSQLDatabaseClient) createOrUpdateCreateRequest(ctx context.Context, resourceGroupName string, applicationName string, microsoftSQLDatabaseName string, parameters MicrosoftSQLDatabaseResource, options *MicrosoftComSQLDatabaseBeginCreateOrUpdateOptions) (*policy.Request, error) {
	urlPath := "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.CustomProviders/resourceProviders/radiusv3/Application/{applicationName}/microsoft.com.SQLDatabase/{microsoftSQLDatabaseName}"
	if client.subscriptionID == "" {
		return nil, errors.New("parameter client.subscriptionID cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{subscriptionId}", url.PathEscape(client.subscriptionID))
	if resourceGroupName == "" {
		return nil, errors.New("parameter resourceGroupName cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{resourceGroupName}", url.PathEscape(resourceGroupName))
	if applicationName == "" {
		return nil, errors.New("parameter applicationName cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{applicationName}", url.PathEscape(applicationName))
	if microsoftSQLDatabaseName == "" {
		return nil, errors.New("parameter microsoftSQLDatabaseName cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{microsoftSQLDatabaseName}", url.PathEscape(microsoftSQLDatabaseName))
	req, err := runtime.NewRequest(ctx, http.MethodPut, runtime.JoinPaths(	client.ep, urlPath))
	if err != nil {
		return nil, err
	}
	reqQP := req.Raw().URL.Query()
	reqQP.Set("api-version", "2018-09-01-preview")
	req.Raw().URL.RawQuery = reqQP.Encode()
	req.Raw().Header.Set("Accept", "application/json")
	return req, runtime.MarshalAsJSON(req, parameters)
}

// createOrUpdateHandleError handles the CreateOrUpdate error response.
func (client *MicrosoftComSQLDatabaseClient) createOrUpdateHandleError(resp *http.Response) error {
	body, err := runtime.Payload(resp)
	if err != nil {
		return runtime.NewResponseError(err, resp)
	}
		errType := ErrorResponse{raw: string(body)}
	if err := runtime.UnmarshalAsJSON(resp, &errType); err != nil {
		return runtime.NewResponseError(fmt.Errorf("%s\n%s", string(body), err), resp)
	}
	return runtime.NewResponseError(&errType, resp)
}

// BeginDelete - Deletes a microsoft.com.SQLDatabase resource.
// If the operation fails it returns the *ErrorResponse error type.
func (client *MicrosoftComSQLDatabaseClient) BeginDelete(ctx context.Context, resourceGroupName string, applicationName string, microsoftSQLDatabaseName string, options *MicrosoftComSQLDatabaseBeginDeleteOptions) (MicrosoftComSQLDatabaseDeletePollerResponse, error) {
	resp, err := client.deleteOperation(ctx, resourceGroupName, applicationName, microsoftSQLDatabaseName, options)
	if err != nil {
		return MicrosoftComSQLDatabaseDeletePollerResponse{}, err
	}
	result := MicrosoftComSQLDatabaseDeletePollerResponse{
		RawResponse: resp,
	}
	pt, err := armruntime.NewPoller("MicrosoftComSQLDatabaseClient.Delete", "location", resp, 	client.pl, client.deleteHandleError)
	if err != nil {
		return MicrosoftComSQLDatabaseDeletePollerResponse{}, err
	}
	result.Poller = &MicrosoftComSQLDatabaseDeletePoller {
		pt: pt,
	}
	return result, nil
}

// Delete - Deletes a microsoft.com.SQLDatabase resource.
// If the operation fails it returns the *ErrorResponse error type.
func (client *MicrosoftComSQLDatabaseClient) deleteOperation(ctx context.Context, resourceGroupName string, applicationName string, microsoftSQLDatabaseName string, options *MicrosoftComSQLDatabaseBeginDeleteOptions) (*http.Response, error) {
	req, err := client.deleteCreateRequest(ctx, resourceGroupName, applicationName, microsoftSQLDatabaseName, options)
	if err != nil {
		return nil, err
	}
	resp, err := 	client.pl.Do(req)
	if err != nil {
		return nil, err
	}
	if !runtime.HasStatusCode(resp, http.StatusAccepted, http.StatusNoContent) {
		return nil, client.deleteHandleError(resp)
	}
	 return resp, nil
}

// deleteCreateRequest creates the Delete request.
func (client *MicrosoftComSQLDatabaseClient) deleteCreateRequest(ctx context.Context, resourceGroupName string, applicationName string, microsoftSQLDatabaseName string, options *MicrosoftComSQLDatabaseBeginDeleteOptions) (*policy.Request, error) {
	urlPath := "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.CustomProviders/resourceProviders/radiusv3/Application/{applicationName}/microsoft.com.SQLDatabase/{microsoftSQLDatabaseName}"
	if client.subscriptionID == "" {
		return nil, errors.New("parameter client.subscriptionID cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{subscriptionId}", url.PathEscape(client.subscriptionID))
	if resourceGroupName == "" {
		return nil, errors.New("parameter resourceGroupName cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{resourceGroupName}", url.PathEscape(resourceGroupName))
	if applicationName == "" {
		return nil, errors.New("parameter applicationName cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{applicationName}", url.PathEscape(applicationName))
	if microsoftSQLDatabaseName == "" {
		return nil, errors.New("parameter microsoftSQLDatabaseName cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{microsoftSQLDatabaseName}", url.PathEscape(microsoftSQLDatabaseName))
	req, err := runtime.NewRequest(ctx, http.MethodDelete, runtime.JoinPaths(	client.ep, urlPath))
	if err != nil {
		return nil, err
	}
	reqQP := req.Raw().URL.Query()
	reqQP.Set("api-version", "2018-09-01-preview")
	req.Raw().URL.RawQuery = reqQP.Encode()
	req.Raw().Header.Set("Accept", "application/json")
	return req, nil
}

// deleteHandleError handles the Delete error response.
func (client *MicrosoftComSQLDatabaseClient) deleteHandleError(resp *http.Response) error {
	body, err := runtime.Payload(resp)
	if err != nil {
		return runtime.NewResponseError(err, resp)
	}
		errType := ErrorResponse{raw: string(body)}
	if err := runtime.UnmarshalAsJSON(resp, &errType); err != nil {
		return runtime.NewResponseError(fmt.Errorf("%s\n%s", string(body), err), resp)
	}
	return runtime.NewResponseError(&errType, resp)
}

// Get - Gets a microsoft.com.SQLDatabase resource by name.
// If the operation fails it returns the *ErrorResponse error type.
func (client *MicrosoftComSQLDatabaseClient) Get(ctx context.Context, resourceGroupName string, applicationName string, microsoftSQLDatabaseName string, options *MicrosoftComSQLDatabaseGetOptions) (MicrosoftComSQLDatabaseGetResponse, error) {
	req, err := client.getCreateRequest(ctx, resourceGroupName, applicationName, microsoftSQLDatabaseName, options)
	if err != nil {
		return MicrosoftComSQLDatabaseGetResponse{}, err
	}
	resp, err := 	client.pl.Do(req)
	if err != nil {
		return MicrosoftComSQLDatabaseGetResponse{}, err
	}
	if !runtime.HasStatusCode(resp, http.StatusOK) {
		return MicrosoftComSQLDatabaseGetResponse{}, client.getHandleError(resp)
	}
	return client.getHandleResponse(resp)
}

// getCreateRequest creates the Get request.
func (client *MicrosoftComSQLDatabaseClient) getCreateRequest(ctx context.Context, resourceGroupName string, applicationName string, microsoftSQLDatabaseName string, options *MicrosoftComSQLDatabaseGetOptions) (*policy.Request, error) {
	urlPath := "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.CustomProviders/resourceProviders/radiusv3/Application/{applicationName}/microsoft.com.SQLDatabase/{microsoftSQLDatabaseName}"
	if client.subscriptionID == "" {
		return nil, errors.New("parameter client.subscriptionID cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{subscriptionId}", url.PathEscape(client.subscriptionID))
	if resourceGroupName == "" {
		return nil, errors.New("parameter resourceGroupName cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{resourceGroupName}", url.PathEscape(resourceGroupName))
	if applicationName == "" {
		return nil, errors.New("parameter applicationName cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{applicationName}", url.PathEscape(applicationName))
	if microsoftSQLDatabaseName == "" {
		return nil, errors.New("parameter microsoftSQLDatabaseName cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{microsoftSQLDatabaseName}", url.PathEscape(microsoftSQLDatabaseName))
	req, err := runtime.NewRequest(ctx, http.MethodGet, runtime.JoinPaths(	client.ep, urlPath))
	if err != nil {
		return nil, err
	}
	reqQP := req.Raw().URL.Query()
	reqQP.Set("api-version", "2018-09-01-preview")
	req.Raw().URL.RawQuery = reqQP.Encode()
	req.Raw().Header.Set("Accept", "application/json")
	return req, nil
}

// getHandleResponse handles the Get response.
func (client *MicrosoftComSQLDatabaseClient) getHandleResponse(resp *http.Response) (MicrosoftComSQLDatabaseGetResponse, error) {
	result := MicrosoftComSQLDatabaseGetResponse{RawResponse: resp}
	if err := runtime.UnmarshalAsJSON(resp, &result.MicrosoftSQLDatabaseResource); err != nil {
		return MicrosoftComSQLDatabaseGetResponse{}, err
	}
	return result, nil
}

// getHandleError handles the Get error response.
func (client *MicrosoftComSQLDatabaseClient) getHandleError(resp *http.Response) error {
	body, err := runtime.Payload(resp)
	if err != nil {
		return runtime.NewResponseError(err, resp)
	}
		errType := ErrorResponse{raw: string(body)}
	if err := runtime.UnmarshalAsJSON(resp, &errType); err != nil {
		return runtime.NewResponseError(fmt.Errorf("%s\n%s", string(body), err), resp)
	}
	return runtime.NewResponseError(&errType, resp)
}

// List - List the microsoft.com.SQLDatabase resources deployed in the application.
// If the operation fails it returns the *ErrorResponse error type.
func (client *MicrosoftComSQLDatabaseClient) List(ctx context.Context, resourceGroupName string, applicationName string, options *MicrosoftComSQLDatabaseListOptions) (MicrosoftComSQLDatabaseListResponse, error) {
	req, err := client.listCreateRequest(ctx, resourceGroupName, applicationName, options)
	if err != nil {
		return MicrosoftComSQLDatabaseListResponse{}, err
	}
	resp, err := 	client.pl.Do(req)
	if err != nil {
		return MicrosoftComSQLDatabaseListResponse{}, err
	}
	if !runtime.HasStatusCode(resp, http.StatusOK) {
		return MicrosoftComSQLDatabaseListResponse{}, client.listHandleError(resp)
	}
	return client.listHandleResponse(resp)
}

// listCreateRequest creates the List request.
func (client *MicrosoftComSQLDatabaseClient) listCreateRequest(ctx context.Context, resourceGroupName string, applicationName string, options *MicrosoftComSQLDatabaseListOptions) (*policy.Request, error) {
	urlPath := "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.CustomProviders/resourceProviders/radiusv3/Application/{applicationName}/microsoft.com.SQLDatabase"
	if client.subscriptionID == "" {
		return nil, errors.New("parameter client.subscriptionID cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{subscriptionId}", url.PathEscape(client.subscriptionID))
	if resourceGroupName == "" {
		return nil, errors.New("parameter resourceGroupName cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{resourceGroupName}", url.PathEscape(resourceGroupName))
	if applicationName == "" {
		return nil, errors.New("parameter applicationName cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{applicationName}", url.PathEscape(applicationName))
	req, err := runtime.NewRequest(ctx, http.MethodGet, runtime.JoinPaths(	client.ep, urlPath))
	if err != nil {
		return nil, err
	}
	reqQP := req.Raw().URL.Query()
	reqQP.Set("api-version", "2018-09-01-preview")
	req.Raw().URL.RawQuery = reqQP.Encode()
	req.Raw().Header.Set("Accept", "application/json")
	return req, nil
}

// listHandleResponse handles the List response.
func (client *MicrosoftComSQLDatabaseClient) listHandleResponse(resp *http.Response) (MicrosoftComSQLDatabaseListResponse, error) {
	result := MicrosoftComSQLDatabaseListResponse{RawResponse: resp}
	if err := runtime.UnmarshalAsJSON(resp, &result.MicrosoftSQLDatabaseList); err != nil {
		return MicrosoftComSQLDatabaseListResponse{}, err
	}
	return result, nil
}

// listHandleError handles the List error response.
func (client *MicrosoftComSQLDatabaseClient) listHandleError(resp *http.Response) error {
	body, err := runtime.Payload(resp)
	if err != nil {
		return runtime.NewResponseError(err, resp)
	}
		errType := ErrorResponse{raw: string(body)}
	if err := runtime.UnmarshalAsJSON(resp, &errType); err != nil {
		return runtime.NewResponseError(fmt.Errorf("%s\n%s", string(body), err), resp)
	}
	return runtime.NewResponseError(&errType, resp)
}

