//go:build go1.16
// +build go1.16

// Copyright (c) Microsoft Corporation. All rights reserved.
// Licensed under the MIT License. See License.txt in the project root for license information.
// Code generated by Microsoft (R) AutoRest Code Generator.
// Changes may cause incorrect behavior and will be lost if the code is regenerated.

package radclient

import (
	"context"
	"errors"
	"fmt"
	"github.com/Azure/azure-sdk-for-go/sdk/azcore/arm"
	armruntime "github.com/Azure/azure-sdk-for-go/sdk/azcore/arm/runtime"
	"github.com/Azure/azure-sdk-for-go/sdk/azcore/policy"
	"github.com/Azure/azure-sdk-for-go/sdk/azcore/runtime"
	"net/http"
	"net/url"
	"strings"
)

// RedislabsComRedisComponentClient contains the methods for the RedislabsComRedisComponent group.
// Don't use this type directly, use NewRedislabsComRedisComponentClient() instead.
type RedislabsComRedisComponentClient struct {
	ep string
	pl runtime.Pipeline
	subscriptionID string
}

// NewRedislabsComRedisComponentClient creates a new instance of RedislabsComRedisComponentClient with the specified values.
func NewRedislabsComRedisComponentClient(con *arm.Connection, subscriptionID string) *RedislabsComRedisComponentClient {
	return &RedislabsComRedisComponentClient{ep: con.Endpoint(), pl: con.NewPipeline(module, version), subscriptionID: subscriptionID}
}

// BeginCreateOrUpdate - Creates or updates a redislabs.com.RedisComponent resource.
// If the operation fails it returns the *ErrorResponse error type.
func (client *RedislabsComRedisComponentClient) BeginCreateOrUpdate(ctx context.Context, resourceGroupName string, applicationName string, redisComponentName string, parameters RedisComponentResource, options *RedislabsComRedisComponentBeginCreateOrUpdateOptions) (RedislabsComRedisComponentCreateOrUpdatePollerResponse, error) {
	resp, err := client.createOrUpdate(ctx, resourceGroupName, applicationName, redisComponentName, parameters, options)
	if err != nil {
		return RedislabsComRedisComponentCreateOrUpdatePollerResponse{}, err
	}
	result := RedislabsComRedisComponentCreateOrUpdatePollerResponse{
		RawResponse: resp,
	}
	pt, err := armruntime.NewPoller("RedislabsComRedisComponentClient.CreateOrUpdate", "location", resp, 	client.pl, client.createOrUpdateHandleError)
	if err != nil {
		return RedislabsComRedisComponentCreateOrUpdatePollerResponse{}, err
	}
	result.Poller = &RedislabsComRedisComponentCreateOrUpdatePoller {
		pt: pt,
	}
	return result, nil
}

// CreateOrUpdate - Creates or updates a redislabs.com.RedisComponent resource.
// If the operation fails it returns the *ErrorResponse error type.
func (client *RedislabsComRedisComponentClient) createOrUpdate(ctx context.Context, resourceGroupName string, applicationName string, redisComponentName string, parameters RedisComponentResource, options *RedislabsComRedisComponentBeginCreateOrUpdateOptions) (*http.Response, error) {
	req, err := client.createOrUpdateCreateRequest(ctx, resourceGroupName, applicationName, redisComponentName, parameters, options)
	if err != nil {
		return nil, err
	}
	resp, err := 	client.pl.Do(req)
	if err != nil {
		return nil, err
	}
	if !runtime.HasStatusCode(resp, http.StatusOK, http.StatusCreated, http.StatusAccepted) {
		return nil, client.createOrUpdateHandleError(resp)
	}
	 return resp, nil
}

// createOrUpdateCreateRequest creates the CreateOrUpdate request.
func (client *RedislabsComRedisComponentClient) createOrUpdateCreateRequest(ctx context.Context, resourceGroupName string, applicationName string, redisComponentName string, parameters RedisComponentResource, options *RedislabsComRedisComponentBeginCreateOrUpdateOptions) (*policy.Request, error) {
	urlPath := "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.CustomProviders/resourceProviders/radiusv3/Application/{applicationName}/redislabs.com.RedisComponent/{redisComponentName}"
	if client.subscriptionID == "" {
		return nil, errors.New("parameter client.subscriptionID cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{subscriptionId}", url.PathEscape(client.subscriptionID))
	if resourceGroupName == "" {
		return nil, errors.New("parameter resourceGroupName cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{resourceGroupName}", url.PathEscape(resourceGroupName))
	if applicationName == "" {
		return nil, errors.New("parameter applicationName cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{applicationName}", url.PathEscape(applicationName))
	if redisComponentName == "" {
		return nil, errors.New("parameter redisComponentName cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{redisComponentName}", url.PathEscape(redisComponentName))
	req, err := runtime.NewRequest(ctx, http.MethodPut, runtime.JoinPaths(	client.ep, urlPath))
	if err != nil {
		return nil, err
	}
	reqQP := req.Raw().URL.Query()
	reqQP.Set("api-version", "2018-09-01-preview")
	req.Raw().URL.RawQuery = reqQP.Encode()
	req.Raw().Header.Set("Accept", "application/json")
	return req, runtime.MarshalAsJSON(req, parameters)
}

// createOrUpdateHandleError handles the CreateOrUpdate error response.
func (client *RedislabsComRedisComponentClient) createOrUpdateHandleError(resp *http.Response) error {
	body, err := runtime.Payload(resp)
	if err != nil {
		return runtime.NewResponseError(err, resp)
	}
		errType := ErrorResponse{raw: string(body)}
	if err := runtime.UnmarshalAsJSON(resp, &errType); err != nil {
		return runtime.NewResponseError(fmt.Errorf("%s\n%s", string(body), err), resp)
	}
	return runtime.NewResponseError(&errType, resp)
}

// BeginDelete - Deletes a redislabs.com.RedisComponent resource.
// If the operation fails it returns the *ErrorResponse error type.
func (client *RedislabsComRedisComponentClient) BeginDelete(ctx context.Context, resourceGroupName string, applicationName string, redisComponentName string, options *RedislabsComRedisComponentBeginDeleteOptions) (RedislabsComRedisComponentDeletePollerResponse, error) {
	resp, err := client.deleteOperation(ctx, resourceGroupName, applicationName, redisComponentName, options)
	if err != nil {
		return RedislabsComRedisComponentDeletePollerResponse{}, err
	}
	result := RedislabsComRedisComponentDeletePollerResponse{
		RawResponse: resp,
	}
	pt, err := armruntime.NewPoller("RedislabsComRedisComponentClient.Delete", "location", resp, 	client.pl, client.deleteHandleError)
	if err != nil {
		return RedislabsComRedisComponentDeletePollerResponse{}, err
	}
	result.Poller = &RedislabsComRedisComponentDeletePoller {
		pt: pt,
	}
	return result, nil
}

// Delete - Deletes a redislabs.com.RedisComponent resource.
// If the operation fails it returns the *ErrorResponse error type.
func (client *RedislabsComRedisComponentClient) deleteOperation(ctx context.Context, resourceGroupName string, applicationName string, redisComponentName string, options *RedislabsComRedisComponentBeginDeleteOptions) (*http.Response, error) {
	req, err := client.deleteCreateRequest(ctx, resourceGroupName, applicationName, redisComponentName, options)
	if err != nil {
		return nil, err
	}
	resp, err := 	client.pl.Do(req)
	if err != nil {
		return nil, err
	}
	if !runtime.HasStatusCode(resp, http.StatusAccepted, http.StatusNoContent) {
		return nil, client.deleteHandleError(resp)
	}
	 return resp, nil
}

// deleteCreateRequest creates the Delete request.
func (client *RedislabsComRedisComponentClient) deleteCreateRequest(ctx context.Context, resourceGroupName string, applicationName string, redisComponentName string, options *RedislabsComRedisComponentBeginDeleteOptions) (*policy.Request, error) {
	urlPath := "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.CustomProviders/resourceProviders/radiusv3/Application/{applicationName}/redislabs.com.RedisComponent/{redisComponentName}"
	if client.subscriptionID == "" {
		return nil, errors.New("parameter client.subscriptionID cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{subscriptionId}", url.PathEscape(client.subscriptionID))
	if resourceGroupName == "" {
		return nil, errors.New("parameter resourceGroupName cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{resourceGroupName}", url.PathEscape(resourceGroupName))
	if applicationName == "" {
		return nil, errors.New("parameter applicationName cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{applicationName}", url.PathEscape(applicationName))
	if redisComponentName == "" {
		return nil, errors.New("parameter redisComponentName cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{redisComponentName}", url.PathEscape(redisComponentName))
	req, err := runtime.NewRequest(ctx, http.MethodDelete, runtime.JoinPaths(	client.ep, urlPath))
	if err != nil {
		return nil, err
	}
	reqQP := req.Raw().URL.Query()
	reqQP.Set("api-version", "2018-09-01-preview")
	req.Raw().URL.RawQuery = reqQP.Encode()
	req.Raw().Header.Set("Accept", "application/json")
	return req, nil
}

// deleteHandleError handles the Delete error response.
func (client *RedislabsComRedisComponentClient) deleteHandleError(resp *http.Response) error {
	body, err := runtime.Payload(resp)
	if err != nil {
		return runtime.NewResponseError(err, resp)
	}
		errType := ErrorResponse{raw: string(body)}
	if err := runtime.UnmarshalAsJSON(resp, &errType); err != nil {
		return runtime.NewResponseError(fmt.Errorf("%s\n%s", string(body), err), resp)
	}
	return runtime.NewResponseError(&errType, resp)
}

// Get - Gets a redislabs.com.RedisComponent resource by name.
// If the operation fails it returns the *ErrorResponse error type.
func (client *RedislabsComRedisComponentClient) Get(ctx context.Context, resourceGroupName string, applicationName string, redisComponentName string, options *RedislabsComRedisComponentGetOptions) (RedislabsComRedisComponentGetResponse, error) {
	req, err := client.getCreateRequest(ctx, resourceGroupName, applicationName, redisComponentName, options)
	if err != nil {
		return RedislabsComRedisComponentGetResponse{}, err
	}
	resp, err := 	client.pl.Do(req)
	if err != nil {
		return RedislabsComRedisComponentGetResponse{}, err
	}
	if !runtime.HasStatusCode(resp, http.StatusOK) {
		return RedislabsComRedisComponentGetResponse{}, client.getHandleError(resp)
	}
	return client.getHandleResponse(resp)
}

// getCreateRequest creates the Get request.
func (client *RedislabsComRedisComponentClient) getCreateRequest(ctx context.Context, resourceGroupName string, applicationName string, redisComponentName string, options *RedislabsComRedisComponentGetOptions) (*policy.Request, error) {
	urlPath := "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.CustomProviders/resourceProviders/radiusv3/Application/{applicationName}/redislabs.com.RedisComponent/{redisComponentName}"
	if client.subscriptionID == "" {
		return nil, errors.New("parameter client.subscriptionID cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{subscriptionId}", url.PathEscape(client.subscriptionID))
	if resourceGroupName == "" {
		return nil, errors.New("parameter resourceGroupName cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{resourceGroupName}", url.PathEscape(resourceGroupName))
	if applicationName == "" {
		return nil, errors.New("parameter applicationName cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{applicationName}", url.PathEscape(applicationName))
	if redisComponentName == "" {
		return nil, errors.New("parameter redisComponentName cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{redisComponentName}", url.PathEscape(redisComponentName))
	req, err := runtime.NewRequest(ctx, http.MethodGet, runtime.JoinPaths(	client.ep, urlPath))
	if err != nil {
		return nil, err
	}
	reqQP := req.Raw().URL.Query()
	reqQP.Set("api-version", "2018-09-01-preview")
	req.Raw().URL.RawQuery = reqQP.Encode()
	req.Raw().Header.Set("Accept", "application/json")
	return req, nil
}

// getHandleResponse handles the Get response.
func (client *RedislabsComRedisComponentClient) getHandleResponse(resp *http.Response) (RedislabsComRedisComponentGetResponse, error) {
	result := RedislabsComRedisComponentGetResponse{RawResponse: resp}
	if err := runtime.UnmarshalAsJSON(resp, &result.RedisComponentResource); err != nil {
		return RedislabsComRedisComponentGetResponse{}, err
	}
	return result, nil
}

// getHandleError handles the Get error response.
func (client *RedislabsComRedisComponentClient) getHandleError(resp *http.Response) error {
	body, err := runtime.Payload(resp)
	if err != nil {
		return runtime.NewResponseError(err, resp)
	}
		errType := ErrorResponse{raw: string(body)}
	if err := runtime.UnmarshalAsJSON(resp, &errType); err != nil {
		return runtime.NewResponseError(fmt.Errorf("%s\n%s", string(body), err), resp)
	}
	return runtime.NewResponseError(&errType, resp)
}

// List - List the redislabs.com.RedisComponent resources deployed in the application.
// If the operation fails it returns the *ErrorResponse error type.
func (client *RedislabsComRedisComponentClient) List(ctx context.Context, resourceGroupName string, applicationName string, options *RedislabsComRedisComponentListOptions) (RedislabsComRedisComponentListResponse, error) {
	req, err := client.listCreateRequest(ctx, resourceGroupName, applicationName, options)
	if err != nil {
		return RedislabsComRedisComponentListResponse{}, err
	}
	resp, err := 	client.pl.Do(req)
	if err != nil {
		return RedislabsComRedisComponentListResponse{}, err
	}
	if !runtime.HasStatusCode(resp, http.StatusOK) {
		return RedislabsComRedisComponentListResponse{}, client.listHandleError(resp)
	}
	return client.listHandleResponse(resp)
}

// listCreateRequest creates the List request.
func (client *RedislabsComRedisComponentClient) listCreateRequest(ctx context.Context, resourceGroupName string, applicationName string, options *RedislabsComRedisComponentListOptions) (*policy.Request, error) {
	urlPath := "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.CustomProviders/resourceProviders/radiusv3/Application/{applicationName}/redislabs.com.RedisComponent"
	if client.subscriptionID == "" {
		return nil, errors.New("parameter client.subscriptionID cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{subscriptionId}", url.PathEscape(client.subscriptionID))
	if resourceGroupName == "" {
		return nil, errors.New("parameter resourceGroupName cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{resourceGroupName}", url.PathEscape(resourceGroupName))
	if applicationName == "" {
		return nil, errors.New("parameter applicationName cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{applicationName}", url.PathEscape(applicationName))
	req, err := runtime.NewRequest(ctx, http.MethodGet, runtime.JoinPaths(	client.ep, urlPath))
	if err != nil {
		return nil, err
	}
	reqQP := req.Raw().URL.Query()
	reqQP.Set("api-version", "2018-09-01-preview")
	req.Raw().URL.RawQuery = reqQP.Encode()
	req.Raw().Header.Set("Accept", "application/json")
	return req, nil
}

// listHandleResponse handles the List response.
func (client *RedislabsComRedisComponentClient) listHandleResponse(resp *http.Response) (RedislabsComRedisComponentListResponse, error) {
	result := RedislabsComRedisComponentListResponse{RawResponse: resp}
	if err := runtime.UnmarshalAsJSON(resp, &result.RedisComponentList); err != nil {
		return RedislabsComRedisComponentListResponse{}, err
	}
	return result, nil
}

// listHandleError handles the List error response.
func (client *RedislabsComRedisComponentClient) listHandleError(resp *http.Response) error {
	body, err := runtime.Payload(resp)
	if err != nil {
		return runtime.NewResponseError(err, resp)
	}
		errType := ErrorResponse{raw: string(body)}
	if err := runtime.UnmarshalAsJSON(resp, &errType); err != nil {
		return runtime.NewResponseError(fmt.Errorf("%s\n%s", string(body), err), resp)
	}
	return runtime.NewResponseError(&errType, resp)
}

