// +build go1.13

// Copyright (c) Microsoft Corporation. All rights reserved.
// Licensed under the MIT License. See License.txt in the project root for license information.
// Code generated by Microsoft (R) AutoRest Code Generator.
// Changes may cause incorrect behavior and will be lost if the code is regenerated.

package radclient

import (
	"context"
	"errors"
	"fmt"
	"github.com/Azure/azure-sdk-for-go/sdk/armcore"
	"github.com/Azure/azure-sdk-for-go/sdk/azcore"
	"net/http"
	"net/url"
	"strings"
	"time"
)

// MicrosoftComSQLComponentClient contains the methods for the MicrosoftComSQLComponent group.
// Don't use this type directly, use NewMicrosoftComSQLComponentClient() instead.
type MicrosoftComSQLComponentClient struct {
	con *armcore.Connection
	subscriptionID string
}

// NewMicrosoftComSQLComponentClient creates a new instance of MicrosoftComSQLComponentClient with the specified values.
func NewMicrosoftComSQLComponentClient(con *armcore.Connection, subscriptionID string) *MicrosoftComSQLComponentClient {
	return &MicrosoftComSQLComponentClient{con: con, subscriptionID: subscriptionID}
}

// BeginCreateOrUpdate - Creates or updates a microsoft.com.SQLComponent resource.
// If the operation fails it returns the *ErrorResponse error type.
func (client *MicrosoftComSQLComponentClient) BeginCreateOrUpdate(ctx context.Context, resourceGroupName string, applicationName string, microsoftSQLComponentName string, parameters MicrosoftSQLComponentResource, options *MicrosoftComSQLComponentBeginCreateOrUpdateOptions) (MicrosoftSQLComponentResourcePollerResponse, error) {
	resp, err := client.createOrUpdate(ctx, resourceGroupName, applicationName, microsoftSQLComponentName, parameters, options)
	if err != nil {
		return MicrosoftSQLComponentResourcePollerResponse{}, err
	}
	result := MicrosoftSQLComponentResourcePollerResponse{
		RawResponse: resp.Response,
	}
	pt, err := armcore.NewLROPoller("MicrosoftComSQLComponentClient.CreateOrUpdate", "location", resp, client.con.Pipeline(), client.createOrUpdateHandleError)
	if err != nil {
		return MicrosoftSQLComponentResourcePollerResponse{}, err
	}
	poller := &microsoftSQLComponentResourcePoller{
		pt: pt,
	}
	result.Poller = poller
	result.PollUntilDone = func(ctx context.Context, frequency time.Duration) (MicrosoftSQLComponentResourceResponse, error) {
		return poller.pollUntilDone(ctx, frequency)
	}
	return result, nil
}

// ResumeCreateOrUpdate creates a new MicrosoftSQLComponentResourcePoller from the specified resume token.
// token - The value must come from a previous call to MicrosoftSQLComponentResourcePoller.ResumeToken().
func (client *MicrosoftComSQLComponentClient) ResumeCreateOrUpdate(ctx context.Context, token string) (MicrosoftSQLComponentResourcePollerResponse, error) {
	pt, err := armcore.NewLROPollerFromResumeToken("MicrosoftComSQLComponentClient.CreateOrUpdate", token, client.con.Pipeline(), client.createOrUpdateHandleError)
	if err != nil {
		return MicrosoftSQLComponentResourcePollerResponse{}, err
	}
	poller := &microsoftSQLComponentResourcePoller{
		pt: pt,
	}
	resp, err := poller.Poll(ctx)
	if err != nil {
		return MicrosoftSQLComponentResourcePollerResponse{}, err
	}
	result := MicrosoftSQLComponentResourcePollerResponse{
		RawResponse: resp,
	}
	result.Poller = poller
	result.PollUntilDone = func(ctx context.Context, frequency time.Duration) (MicrosoftSQLComponentResourceResponse, error) {
		return poller.pollUntilDone(ctx, frequency)
	}
	return result, nil
}

// CreateOrUpdate - Creates or updates a microsoft.com.SQLComponent resource.
// If the operation fails it returns the *ErrorResponse error type.
func (client *MicrosoftComSQLComponentClient) createOrUpdate(ctx context.Context, resourceGroupName string, applicationName string, microsoftSQLComponentName string, parameters MicrosoftSQLComponentResource, options *MicrosoftComSQLComponentBeginCreateOrUpdateOptions) (*azcore.Response, error) {
	req, err := client.createOrUpdateCreateRequest(ctx, resourceGroupName, applicationName, microsoftSQLComponentName, parameters, options)
	if err != nil {
		return nil, err
	}
	resp, err := client.con.Pipeline().Do(req)
	if err != nil {
		return nil, err
	}
	if !resp.HasStatusCode(http.StatusOK, http.StatusCreated, http.StatusAccepted) {
		return nil, client.createOrUpdateHandleError(resp)
	}
	 return resp, nil
}

// createOrUpdateCreateRequest creates the CreateOrUpdate request.
func (client *MicrosoftComSQLComponentClient) createOrUpdateCreateRequest(ctx context.Context, resourceGroupName string, applicationName string, microsoftSQLComponentName string, parameters MicrosoftSQLComponentResource, options *MicrosoftComSQLComponentBeginCreateOrUpdateOptions) (*azcore.Request, error) {
	urlPath := "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.CustomProviders/resourceProviders/radiusv3/Application/{applicationName}/microsoft.com.SQLComponent/{microsoftSQLComponentName}"
	if client.subscriptionID == "" {
		return nil, errors.New("parameter client.subscriptionID cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{subscriptionId}", url.PathEscape(client.subscriptionID))
	if resourceGroupName == "" {
		return nil, errors.New("parameter resourceGroupName cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{resourceGroupName}", url.PathEscape(resourceGroupName))
	if applicationName == "" {
		return nil, errors.New("parameter applicationName cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{applicationName}", url.PathEscape(applicationName))
	if microsoftSQLComponentName == "" {
		return nil, errors.New("parameter microsoftSQLComponentName cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{microsoftSQLComponentName}", url.PathEscape(microsoftSQLComponentName))
	req, err := azcore.NewRequest(ctx, http.MethodPut, azcore.JoinPaths(client.con.Endpoint(), urlPath))
	if err != nil {
		return nil, err
	}
	req.Telemetry(telemetryInfo)
	reqQP := req.URL.Query()
	reqQP.Set("api-version", "2018-09-01-preview")
	req.URL.RawQuery = reqQP.Encode()
	req.Header.Set("Accept", "application/json")
	return req, req.MarshalAsJSON(parameters)
}

// createOrUpdateHandleError handles the CreateOrUpdate error response.
func (client *MicrosoftComSQLComponentClient) createOrUpdateHandleError(resp *azcore.Response) error {
	body, err := resp.Payload()
	if err != nil {
		return azcore.NewResponseError(err, resp.Response)
	}
		errType := ErrorResponse{raw: string(body)}
	if err := resp.UnmarshalAsJSON(&errType); err != nil {
		return azcore.NewResponseError(fmt.Errorf("%s\n%s", string(body), err), resp.Response)
	}
	return azcore.NewResponseError(&errType, resp.Response)
}

// BeginDelete - Deletes a microsoft.com.SQLComponent resource.
// If the operation fails it returns the *ErrorResponse error type.
func (client *MicrosoftComSQLComponentClient) BeginDelete(ctx context.Context, resourceGroupName string, applicationName string, microsoftSQLComponentName string, options *MicrosoftComSQLComponentBeginDeleteOptions) (HTTPPollerResponse, error) {
	resp, err := client.deleteOperation(ctx, resourceGroupName, applicationName, microsoftSQLComponentName, options)
	if err != nil {
		return HTTPPollerResponse{}, err
	}
	result := HTTPPollerResponse{
		RawResponse: resp.Response,
	}
	pt, err := armcore.NewLROPoller("MicrosoftComSQLComponentClient.Delete", "location", resp, client.con.Pipeline(), client.deleteHandleError)
	if err != nil {
		return HTTPPollerResponse{}, err
	}
	poller := &httpPoller{
		pt: pt,
	}
	result.Poller = poller
	result.PollUntilDone = func(ctx context.Context, frequency time.Duration) (*http.Response, error) {
		return poller.pollUntilDone(ctx, frequency)
	}
	return result, nil
}

// ResumeDelete creates a new HTTPPoller from the specified resume token.
// token - The value must come from a previous call to HTTPPoller.ResumeToken().
func (client *MicrosoftComSQLComponentClient) ResumeDelete(ctx context.Context, token string) (HTTPPollerResponse, error) {
	pt, err := armcore.NewLROPollerFromResumeToken("MicrosoftComSQLComponentClient.Delete", token, client.con.Pipeline(), client.deleteHandleError)
	if err != nil {
		return HTTPPollerResponse{}, err
	}
	poller := &httpPoller{
		pt: pt,
	}
	resp, err := poller.Poll(ctx)
	if err != nil {
		return HTTPPollerResponse{}, err
	}
	result := HTTPPollerResponse{
		RawResponse: resp,
	}
	result.Poller = poller
	result.PollUntilDone = func(ctx context.Context, frequency time.Duration) (*http.Response, error) {
		return poller.pollUntilDone(ctx, frequency)
	}
	return result, nil
}

// Delete - Deletes a microsoft.com.SQLComponent resource.
// If the operation fails it returns the *ErrorResponse error type.
func (client *MicrosoftComSQLComponentClient) deleteOperation(ctx context.Context, resourceGroupName string, applicationName string, microsoftSQLComponentName string, options *MicrosoftComSQLComponentBeginDeleteOptions) (*azcore.Response, error) {
	req, err := client.deleteCreateRequest(ctx, resourceGroupName, applicationName, microsoftSQLComponentName, options)
	if err != nil {
		return nil, err
	}
	resp, err := client.con.Pipeline().Do(req)
	if err != nil {
		return nil, err
	}
	if !resp.HasStatusCode(http.StatusAccepted, http.StatusNoContent) {
		return nil, client.deleteHandleError(resp)
	}
	 return resp, nil
}

// deleteCreateRequest creates the Delete request.
func (client *MicrosoftComSQLComponentClient) deleteCreateRequest(ctx context.Context, resourceGroupName string, applicationName string, microsoftSQLComponentName string, options *MicrosoftComSQLComponentBeginDeleteOptions) (*azcore.Request, error) {
	urlPath := "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.CustomProviders/resourceProviders/radiusv3/Application/{applicationName}/microsoft.com.SQLComponent/{microsoftSQLComponentName}"
	if client.subscriptionID == "" {
		return nil, errors.New("parameter client.subscriptionID cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{subscriptionId}", url.PathEscape(client.subscriptionID))
	if resourceGroupName == "" {
		return nil, errors.New("parameter resourceGroupName cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{resourceGroupName}", url.PathEscape(resourceGroupName))
	if applicationName == "" {
		return nil, errors.New("parameter applicationName cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{applicationName}", url.PathEscape(applicationName))
	if microsoftSQLComponentName == "" {
		return nil, errors.New("parameter microsoftSQLComponentName cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{microsoftSQLComponentName}", url.PathEscape(microsoftSQLComponentName))
	req, err := azcore.NewRequest(ctx, http.MethodDelete, azcore.JoinPaths(client.con.Endpoint(), urlPath))
	if err != nil {
		return nil, err
	}
	req.Telemetry(telemetryInfo)
	reqQP := req.URL.Query()
	reqQP.Set("api-version", "2018-09-01-preview")
	req.URL.RawQuery = reqQP.Encode()
	req.Header.Set("Accept", "application/json")
	return req, nil
}

// deleteHandleError handles the Delete error response.
func (client *MicrosoftComSQLComponentClient) deleteHandleError(resp *azcore.Response) error {
	body, err := resp.Payload()
	if err != nil {
		return azcore.NewResponseError(err, resp.Response)
	}
		errType := ErrorResponse{raw: string(body)}
	if err := resp.UnmarshalAsJSON(&errType); err != nil {
		return azcore.NewResponseError(fmt.Errorf("%s\n%s", string(body), err), resp.Response)
	}
	return azcore.NewResponseError(&errType, resp.Response)
}

// Get - Gets a microsoft.com.SQLComponent resource by name.
// If the operation fails it returns the *ErrorResponse error type.
func (client *MicrosoftComSQLComponentClient) Get(ctx context.Context, resourceGroupName string, applicationName string, microsoftSQLComponentName string, options *MicrosoftComSQLComponentGetOptions) (MicrosoftSQLComponentResourceResponse, error) {
	req, err := client.getCreateRequest(ctx, resourceGroupName, applicationName, microsoftSQLComponentName, options)
	if err != nil {
		return MicrosoftSQLComponentResourceResponse{}, err
	}
	resp, err := client.con.Pipeline().Do(req)
	if err != nil {
		return MicrosoftSQLComponentResourceResponse{}, err
	}
	if !resp.HasStatusCode(http.StatusOK) {
		return MicrosoftSQLComponentResourceResponse{}, client.getHandleError(resp)
	}
	return client.getHandleResponse(resp)
}

// getCreateRequest creates the Get request.
func (client *MicrosoftComSQLComponentClient) getCreateRequest(ctx context.Context, resourceGroupName string, applicationName string, microsoftSQLComponentName string, options *MicrosoftComSQLComponentGetOptions) (*azcore.Request, error) {
	urlPath := "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.CustomProviders/resourceProviders/radiusv3/Application/{applicationName}/microsoft.com.SQLComponent/{microsoftSQLComponentName}"
	if client.subscriptionID == "" {
		return nil, errors.New("parameter client.subscriptionID cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{subscriptionId}", url.PathEscape(client.subscriptionID))
	if resourceGroupName == "" {
		return nil, errors.New("parameter resourceGroupName cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{resourceGroupName}", url.PathEscape(resourceGroupName))
	if applicationName == "" {
		return nil, errors.New("parameter applicationName cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{applicationName}", url.PathEscape(applicationName))
	if microsoftSQLComponentName == "" {
		return nil, errors.New("parameter microsoftSQLComponentName cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{microsoftSQLComponentName}", url.PathEscape(microsoftSQLComponentName))
	req, err := azcore.NewRequest(ctx, http.MethodGet, azcore.JoinPaths(client.con.Endpoint(), urlPath))
	if err != nil {
		return nil, err
	}
	req.Telemetry(telemetryInfo)
	reqQP := req.URL.Query()
	reqQP.Set("api-version", "2018-09-01-preview")
	req.URL.RawQuery = reqQP.Encode()
	req.Header.Set("Accept", "application/json")
	return req, nil
}

// getHandleResponse handles the Get response.
func (client *MicrosoftComSQLComponentClient) getHandleResponse(resp *azcore.Response) (MicrosoftSQLComponentResourceResponse, error) {
	var val *MicrosoftSQLComponentResource
	if err := resp.UnmarshalAsJSON(&val); err != nil {
		return MicrosoftSQLComponentResourceResponse{}, err
	}
return MicrosoftSQLComponentResourceResponse{RawResponse: resp.Response, MicrosoftSQLComponentResource: val}, nil
}

// getHandleError handles the Get error response.
func (client *MicrosoftComSQLComponentClient) getHandleError(resp *azcore.Response) error {
	body, err := resp.Payload()
	if err != nil {
		return azcore.NewResponseError(err, resp.Response)
	}
		errType := ErrorResponse{raw: string(body)}
	if err := resp.UnmarshalAsJSON(&errType); err != nil {
		return azcore.NewResponseError(fmt.Errorf("%s\n%s", string(body), err), resp.Response)
	}
	return azcore.NewResponseError(&errType, resp.Response)
}

// List - List the microsoft.com.SQLComponent resources deployed in the application.
// If the operation fails it returns the *ErrorResponse error type.
func (client *MicrosoftComSQLComponentClient) List(ctx context.Context, resourceGroupName string, applicationName string, options *MicrosoftComSQLComponentListOptions) (MicrosoftSQLComponentListResponse, error) {
	req, err := client.listCreateRequest(ctx, resourceGroupName, applicationName, options)
	if err != nil {
		return MicrosoftSQLComponentListResponse{}, err
	}
	resp, err := client.con.Pipeline().Do(req)
	if err != nil {
		return MicrosoftSQLComponentListResponse{}, err
	}
	if !resp.HasStatusCode(http.StatusOK) {
		return MicrosoftSQLComponentListResponse{}, client.listHandleError(resp)
	}
	return client.listHandleResponse(resp)
}

// listCreateRequest creates the List request.
func (client *MicrosoftComSQLComponentClient) listCreateRequest(ctx context.Context, resourceGroupName string, applicationName string, options *MicrosoftComSQLComponentListOptions) (*azcore.Request, error) {
	urlPath := "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.CustomProviders/resourceProviders/radiusv3/Application/{applicationName}/microsoft.com.SQLComponent"
	if client.subscriptionID == "" {
		return nil, errors.New("parameter client.subscriptionID cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{subscriptionId}", url.PathEscape(client.subscriptionID))
	if resourceGroupName == "" {
		return nil, errors.New("parameter resourceGroupName cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{resourceGroupName}", url.PathEscape(resourceGroupName))
	if applicationName == "" {
		return nil, errors.New("parameter applicationName cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{applicationName}", url.PathEscape(applicationName))
	req, err := azcore.NewRequest(ctx, http.MethodGet, azcore.JoinPaths(client.con.Endpoint(), urlPath))
	if err != nil {
		return nil, err
	}
	req.Telemetry(telemetryInfo)
	reqQP := req.URL.Query()
	reqQP.Set("api-version", "2018-09-01-preview")
	req.URL.RawQuery = reqQP.Encode()
	req.Header.Set("Accept", "application/json")
	return req, nil
}

// listHandleResponse handles the List response.
func (client *MicrosoftComSQLComponentClient) listHandleResponse(resp *azcore.Response) (MicrosoftSQLComponentListResponse, error) {
	var val *MicrosoftSQLComponentList
	if err := resp.UnmarshalAsJSON(&val); err != nil {
		return MicrosoftSQLComponentListResponse{}, err
	}
return MicrosoftSQLComponentListResponse{RawResponse: resp.Response, MicrosoftSQLComponentList: val}, nil
}

// listHandleError handles the List error response.
func (client *MicrosoftComSQLComponentClient) listHandleError(resp *azcore.Response) error {
	body, err := resp.Payload()
	if err != nil {
		return azcore.NewResponseError(err, resp.Response)
	}
		errType := ErrorResponse{raw: string(body)}
	if err := resp.UnmarshalAsJSON(&errType); err != nil {
		return azcore.NewResponseError(fmt.Errorf("%s\n%s", string(body), err), resp.Response)
	}
	return azcore.NewResponseError(&errType, resp.Response)
}

