//go:build go1.16
// +build go1.16

// Copyright (c) Microsoft Corporation. All rights reserved.
// Licensed under the MIT License. See License.txt in the project root for license information.
// Code generated by Microsoft (R) AutoRest Code Generator.
// Changes may cause incorrect behavior and will be lost if the code is regenerated.

package radclient

import (
	"context"
	"errors"
	"fmt"
	"github.com/Azure/azure-sdk-for-go/sdk/azcore/arm"
	armruntime "github.com/Azure/azure-sdk-for-go/sdk/azcore/arm/runtime"
	"github.com/Azure/azure-sdk-for-go/sdk/azcore/policy"
	"github.com/Azure/azure-sdk-for-go/sdk/azcore/runtime"
	"net/http"
	"net/url"
	"strings"
)

// AzureComKeyVaultComponentClient contains the methods for the AzureComKeyVaultComponent group.
// Don't use this type directly, use NewAzureComKeyVaultComponentClient() instead.
type AzureComKeyVaultComponentClient struct {
	ep string
	pl runtime.Pipeline
	subscriptionID string
}

// NewAzureComKeyVaultComponentClient creates a new instance of AzureComKeyVaultComponentClient with the specified values.
func NewAzureComKeyVaultComponentClient(con *arm.Connection, subscriptionID string) *AzureComKeyVaultComponentClient {
	return &AzureComKeyVaultComponentClient{ep: con.Endpoint(), pl: con.NewPipeline(module, version), subscriptionID: subscriptionID}
}

// BeginCreateOrUpdate - Creates or updates a azure.com.KeyVaultComponent resource.
// If the operation fails it returns the *ErrorResponse error type.
func (client *AzureComKeyVaultComponentClient) BeginCreateOrUpdate(ctx context.Context, resourceGroupName string, applicationName string, azureKeyVaultComponentName string, parameters AzureKeyVaultComponentResource, options *AzureComKeyVaultComponentBeginCreateOrUpdateOptions) (AzureComKeyVaultComponentCreateOrUpdatePollerResponse, error) {
	resp, err := client.createOrUpdate(ctx, resourceGroupName, applicationName, azureKeyVaultComponentName, parameters, options)
	if err != nil {
		return AzureComKeyVaultComponentCreateOrUpdatePollerResponse{}, err
	}
	result := AzureComKeyVaultComponentCreateOrUpdatePollerResponse{
		RawResponse: resp,
	}
	pt, err := armruntime.NewPoller("AzureComKeyVaultComponentClient.CreateOrUpdate", "location", resp, 	client.pl, client.createOrUpdateHandleError)
	if err != nil {
		return AzureComKeyVaultComponentCreateOrUpdatePollerResponse{}, err
	}
	result.Poller = &AzureComKeyVaultComponentCreateOrUpdatePoller {
		pt: pt,
	}
	return result, nil
}

// CreateOrUpdate - Creates or updates a azure.com.KeyVaultComponent resource.
// If the operation fails it returns the *ErrorResponse error type.
func (client *AzureComKeyVaultComponentClient) createOrUpdate(ctx context.Context, resourceGroupName string, applicationName string, azureKeyVaultComponentName string, parameters AzureKeyVaultComponentResource, options *AzureComKeyVaultComponentBeginCreateOrUpdateOptions) (*http.Response, error) {
	req, err := client.createOrUpdateCreateRequest(ctx, resourceGroupName, applicationName, azureKeyVaultComponentName, parameters, options)
	if err != nil {
		return nil, err
	}
	resp, err := 	client.pl.Do(req)
	if err != nil {
		return nil, err
	}
	if !runtime.HasStatusCode(resp, http.StatusOK, http.StatusCreated, http.StatusAccepted) {
		return nil, client.createOrUpdateHandleError(resp)
	}
	 return resp, nil
}

// createOrUpdateCreateRequest creates the CreateOrUpdate request.
func (client *AzureComKeyVaultComponentClient) createOrUpdateCreateRequest(ctx context.Context, resourceGroupName string, applicationName string, azureKeyVaultComponentName string, parameters AzureKeyVaultComponentResource, options *AzureComKeyVaultComponentBeginCreateOrUpdateOptions) (*policy.Request, error) {
	urlPath := "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.CustomProviders/resourceProviders/radiusv3/Application/{applicationName}/azure.com.KeyVaultComponent/{azureKeyVaultComponentName}"
	if client.subscriptionID == "" {
		return nil, errors.New("parameter client.subscriptionID cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{subscriptionId}", url.PathEscape(client.subscriptionID))
	if resourceGroupName == "" {
		return nil, errors.New("parameter resourceGroupName cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{resourceGroupName}", url.PathEscape(resourceGroupName))
	if applicationName == "" {
		return nil, errors.New("parameter applicationName cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{applicationName}", url.PathEscape(applicationName))
	if azureKeyVaultComponentName == "" {
		return nil, errors.New("parameter azureKeyVaultComponentName cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{azureKeyVaultComponentName}", url.PathEscape(azureKeyVaultComponentName))
	req, err := runtime.NewRequest(ctx, http.MethodPut, runtime.JoinPaths(	client.ep, urlPath))
	if err != nil {
		return nil, err
	}
	reqQP := req.Raw().URL.Query()
	reqQP.Set("api-version", "2018-09-01-preview")
	req.Raw().URL.RawQuery = reqQP.Encode()
	req.Raw().Header.Set("Accept", "application/json")
	return req, runtime.MarshalAsJSON(req, parameters)
}

// createOrUpdateHandleError handles the CreateOrUpdate error response.
func (client *AzureComKeyVaultComponentClient) createOrUpdateHandleError(resp *http.Response) error {
	body, err := runtime.Payload(resp)
	if err != nil {
		return runtime.NewResponseError(err, resp)
	}
		errType := ErrorResponse{raw: string(body)}
	if err := runtime.UnmarshalAsJSON(resp, &errType); err != nil {
		return runtime.NewResponseError(fmt.Errorf("%s\n%s", string(body), err), resp)
	}
	return runtime.NewResponseError(&errType, resp)
}

// BeginDelete - Deletes a azure.com.KeyVaultComponent resource.
// If the operation fails it returns the *ErrorResponse error type.
func (client *AzureComKeyVaultComponentClient) BeginDelete(ctx context.Context, resourceGroupName string, applicationName string, azureKeyVaultComponentName string, options *AzureComKeyVaultComponentBeginDeleteOptions) (AzureComKeyVaultComponentDeletePollerResponse, error) {
	resp, err := client.deleteOperation(ctx, resourceGroupName, applicationName, azureKeyVaultComponentName, options)
	if err != nil {
		return AzureComKeyVaultComponentDeletePollerResponse{}, err
	}
	result := AzureComKeyVaultComponentDeletePollerResponse{
		RawResponse: resp,
	}
	pt, err := armruntime.NewPoller("AzureComKeyVaultComponentClient.Delete", "location", resp, 	client.pl, client.deleteHandleError)
	if err != nil {
		return AzureComKeyVaultComponentDeletePollerResponse{}, err
	}
	result.Poller = &AzureComKeyVaultComponentDeletePoller {
		pt: pt,
	}
	return result, nil
}

// Delete - Deletes a azure.com.KeyVaultComponent resource.
// If the operation fails it returns the *ErrorResponse error type.
func (client *AzureComKeyVaultComponentClient) deleteOperation(ctx context.Context, resourceGroupName string, applicationName string, azureKeyVaultComponentName string, options *AzureComKeyVaultComponentBeginDeleteOptions) (*http.Response, error) {
	req, err := client.deleteCreateRequest(ctx, resourceGroupName, applicationName, azureKeyVaultComponentName, options)
	if err != nil {
		return nil, err
	}
	resp, err := 	client.pl.Do(req)
	if err != nil {
		return nil, err
	}
	if !runtime.HasStatusCode(resp, http.StatusAccepted, http.StatusNoContent) {
		return nil, client.deleteHandleError(resp)
	}
	 return resp, nil
}

// deleteCreateRequest creates the Delete request.
func (client *AzureComKeyVaultComponentClient) deleteCreateRequest(ctx context.Context, resourceGroupName string, applicationName string, azureKeyVaultComponentName string, options *AzureComKeyVaultComponentBeginDeleteOptions) (*policy.Request, error) {
	urlPath := "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.CustomProviders/resourceProviders/radiusv3/Application/{applicationName}/azure.com.KeyVaultComponent/{azureKeyVaultComponentName}"
	if client.subscriptionID == "" {
		return nil, errors.New("parameter client.subscriptionID cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{subscriptionId}", url.PathEscape(client.subscriptionID))
	if resourceGroupName == "" {
		return nil, errors.New("parameter resourceGroupName cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{resourceGroupName}", url.PathEscape(resourceGroupName))
	if applicationName == "" {
		return nil, errors.New("parameter applicationName cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{applicationName}", url.PathEscape(applicationName))
	if azureKeyVaultComponentName == "" {
		return nil, errors.New("parameter azureKeyVaultComponentName cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{azureKeyVaultComponentName}", url.PathEscape(azureKeyVaultComponentName))
	req, err := runtime.NewRequest(ctx, http.MethodDelete, runtime.JoinPaths(	client.ep, urlPath))
	if err != nil {
		return nil, err
	}
	reqQP := req.Raw().URL.Query()
	reqQP.Set("api-version", "2018-09-01-preview")
	req.Raw().URL.RawQuery = reqQP.Encode()
	req.Raw().Header.Set("Accept", "application/json")
	return req, nil
}

// deleteHandleError handles the Delete error response.
func (client *AzureComKeyVaultComponentClient) deleteHandleError(resp *http.Response) error {
	body, err := runtime.Payload(resp)
	if err != nil {
		return runtime.NewResponseError(err, resp)
	}
		errType := ErrorResponse{raw: string(body)}
	if err := runtime.UnmarshalAsJSON(resp, &errType); err != nil {
		return runtime.NewResponseError(fmt.Errorf("%s\n%s", string(body), err), resp)
	}
	return runtime.NewResponseError(&errType, resp)
}

// Get - Gets a azure.com.KeyVaultComponent resource by name.
// If the operation fails it returns the *ErrorResponse error type.
func (client *AzureComKeyVaultComponentClient) Get(ctx context.Context, resourceGroupName string, applicationName string, azureKeyVaultComponentName string, options *AzureComKeyVaultComponentGetOptions) (AzureComKeyVaultComponentGetResponse, error) {
	req, err := client.getCreateRequest(ctx, resourceGroupName, applicationName, azureKeyVaultComponentName, options)
	if err != nil {
		return AzureComKeyVaultComponentGetResponse{}, err
	}
	resp, err := 	client.pl.Do(req)
	if err != nil {
		return AzureComKeyVaultComponentGetResponse{}, err
	}
	if !runtime.HasStatusCode(resp, http.StatusOK) {
		return AzureComKeyVaultComponentGetResponse{}, client.getHandleError(resp)
	}
	return client.getHandleResponse(resp)
}

// getCreateRequest creates the Get request.
func (client *AzureComKeyVaultComponentClient) getCreateRequest(ctx context.Context, resourceGroupName string, applicationName string, azureKeyVaultComponentName string, options *AzureComKeyVaultComponentGetOptions) (*policy.Request, error) {
	urlPath := "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.CustomProviders/resourceProviders/radiusv3/Application/{applicationName}/azure.com.KeyVaultComponent/{azureKeyVaultComponentName}"
	if client.subscriptionID == "" {
		return nil, errors.New("parameter client.subscriptionID cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{subscriptionId}", url.PathEscape(client.subscriptionID))
	if resourceGroupName == "" {
		return nil, errors.New("parameter resourceGroupName cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{resourceGroupName}", url.PathEscape(resourceGroupName))
	if applicationName == "" {
		return nil, errors.New("parameter applicationName cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{applicationName}", url.PathEscape(applicationName))
	if azureKeyVaultComponentName == "" {
		return nil, errors.New("parameter azureKeyVaultComponentName cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{azureKeyVaultComponentName}", url.PathEscape(azureKeyVaultComponentName))
	req, err := runtime.NewRequest(ctx, http.MethodGet, runtime.JoinPaths(	client.ep, urlPath))
	if err != nil {
		return nil, err
	}
	reqQP := req.Raw().URL.Query()
	reqQP.Set("api-version", "2018-09-01-preview")
	req.Raw().URL.RawQuery = reqQP.Encode()
	req.Raw().Header.Set("Accept", "application/json")
	return req, nil
}

// getHandleResponse handles the Get response.
func (client *AzureComKeyVaultComponentClient) getHandleResponse(resp *http.Response) (AzureComKeyVaultComponentGetResponse, error) {
	result := AzureComKeyVaultComponentGetResponse{RawResponse: resp}
	if err := runtime.UnmarshalAsJSON(resp, &result.AzureKeyVaultComponentResource); err != nil {
		return AzureComKeyVaultComponentGetResponse{}, err
	}
	return result, nil
}

// getHandleError handles the Get error response.
func (client *AzureComKeyVaultComponentClient) getHandleError(resp *http.Response) error {
	body, err := runtime.Payload(resp)
	if err != nil {
		return runtime.NewResponseError(err, resp)
	}
		errType := ErrorResponse{raw: string(body)}
	if err := runtime.UnmarshalAsJSON(resp, &errType); err != nil {
		return runtime.NewResponseError(fmt.Errorf("%s\n%s", string(body), err), resp)
	}
	return runtime.NewResponseError(&errType, resp)
}

// List - List the azure.com.KeyVaultComponent resources deployed in the application.
// If the operation fails it returns the *ErrorResponse error type.
func (client *AzureComKeyVaultComponentClient) List(ctx context.Context, resourceGroupName string, applicationName string, options *AzureComKeyVaultComponentListOptions) (AzureComKeyVaultComponentListResponse, error) {
	req, err := client.listCreateRequest(ctx, resourceGroupName, applicationName, options)
	if err != nil {
		return AzureComKeyVaultComponentListResponse{}, err
	}
	resp, err := 	client.pl.Do(req)
	if err != nil {
		return AzureComKeyVaultComponentListResponse{}, err
	}
	if !runtime.HasStatusCode(resp, http.StatusOK) {
		return AzureComKeyVaultComponentListResponse{}, client.listHandleError(resp)
	}
	return client.listHandleResponse(resp)
}

// listCreateRequest creates the List request.
func (client *AzureComKeyVaultComponentClient) listCreateRequest(ctx context.Context, resourceGroupName string, applicationName string, options *AzureComKeyVaultComponentListOptions) (*policy.Request, error) {
	urlPath := "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.CustomProviders/resourceProviders/radiusv3/Application/{applicationName}/azure.com.KeyVaultComponent"
	if client.subscriptionID == "" {
		return nil, errors.New("parameter client.subscriptionID cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{subscriptionId}", url.PathEscape(client.subscriptionID))
	if resourceGroupName == "" {
		return nil, errors.New("parameter resourceGroupName cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{resourceGroupName}", url.PathEscape(resourceGroupName))
	if applicationName == "" {
		return nil, errors.New("parameter applicationName cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{applicationName}", url.PathEscape(applicationName))
	req, err := runtime.NewRequest(ctx, http.MethodGet, runtime.JoinPaths(	client.ep, urlPath))
	if err != nil {
		return nil, err
	}
	reqQP := req.Raw().URL.Query()
	reqQP.Set("api-version", "2018-09-01-preview")
	req.Raw().URL.RawQuery = reqQP.Encode()
	req.Raw().Header.Set("Accept", "application/json")
	return req, nil
}

// listHandleResponse handles the List response.
func (client *AzureComKeyVaultComponentClient) listHandleResponse(resp *http.Response) (AzureComKeyVaultComponentListResponse, error) {
	result := AzureComKeyVaultComponentListResponse{RawResponse: resp}
	if err := runtime.UnmarshalAsJSON(resp, &result.AzureKeyVaultComponentList); err != nil {
		return AzureComKeyVaultComponentListResponse{}, err
	}
	return result, nil
}

// listHandleError handles the List error response.
func (client *AzureComKeyVaultComponentClient) listHandleError(resp *http.Response) error {
	body, err := runtime.Payload(resp)
	if err != nil {
		return runtime.NewResponseError(err, resp)
	}
		errType := ErrorResponse{raw: string(body)}
	if err := runtime.UnmarshalAsJSON(resp, &errType); err != nil {
		return runtime.NewResponseError(fmt.Errorf("%s\n%s", string(body), err), resp)
	}
	return runtime.NewResponseError(&errType, resp)
}

