//go:build go1.16
// +build go1.16

// Copyright (c) Microsoft Corporation. All rights reserved.
// Licensed under the MIT License. See License.txt in the project root for license information.
// Code generated by Microsoft (R) AutoRest Code Generator.
// Changes may cause incorrect behavior and will be lost if the code is regenerated.

package radclient

import (
	"context"
	"errors"
	"fmt"
	"github.com/Azure/azure-sdk-for-go/sdk/azcore/arm"
	armruntime "github.com/Azure/azure-sdk-for-go/sdk/azcore/arm/runtime"
	"github.com/Azure/azure-sdk-for-go/sdk/azcore/policy"
	"github.com/Azure/azure-sdk-for-go/sdk/azcore/runtime"
	"net/http"
	"net/url"
	"strings"
)

// AzureComServiceBusQueueComponentClient contains the methods for the AzureComServiceBusQueueComponent group.
// Don't use this type directly, use NewAzureComServiceBusQueueComponentClient() instead.
type AzureComServiceBusQueueComponentClient struct {
	ep string
	pl runtime.Pipeline
	subscriptionID string
}

// NewAzureComServiceBusQueueComponentClient creates a new instance of AzureComServiceBusQueueComponentClient with the specified values.
func NewAzureComServiceBusQueueComponentClient(con *arm.Connection, subscriptionID string) *AzureComServiceBusQueueComponentClient {
	return &AzureComServiceBusQueueComponentClient{ep: con.Endpoint(), pl: con.NewPipeline(module, version), subscriptionID: subscriptionID}
}

// BeginCreateOrUpdate - Creates or updates a azure.com.ServiceBusQueueComponent resource.
// If the operation fails it returns the *ErrorResponse error type.
func (client *AzureComServiceBusQueueComponentClient) BeginCreateOrUpdate(ctx context.Context, resourceGroupName string, applicationName string, azureServiceBusComponentName string, parameters AzureServiceBusComponentResource, options *AzureComServiceBusQueueComponentBeginCreateOrUpdateOptions) (AzureComServiceBusQueueComponentCreateOrUpdatePollerResponse, error) {
	resp, err := client.createOrUpdate(ctx, resourceGroupName, applicationName, azureServiceBusComponentName, parameters, options)
	if err != nil {
		return AzureComServiceBusQueueComponentCreateOrUpdatePollerResponse{}, err
	}
	result := AzureComServiceBusQueueComponentCreateOrUpdatePollerResponse{
		RawResponse: resp,
	}
	pt, err := armruntime.NewPoller("AzureComServiceBusQueueComponentClient.CreateOrUpdate", "location", resp, 	client.pl, client.createOrUpdateHandleError)
	if err != nil {
		return AzureComServiceBusQueueComponentCreateOrUpdatePollerResponse{}, err
	}
	result.Poller = &AzureComServiceBusQueueComponentCreateOrUpdatePoller {
		pt: pt,
	}
	return result, nil
}

// CreateOrUpdate - Creates or updates a azure.com.ServiceBusQueueComponent resource.
// If the operation fails it returns the *ErrorResponse error type.
func (client *AzureComServiceBusQueueComponentClient) createOrUpdate(ctx context.Context, resourceGroupName string, applicationName string, azureServiceBusComponentName string, parameters AzureServiceBusComponentResource, options *AzureComServiceBusQueueComponentBeginCreateOrUpdateOptions) (*http.Response, error) {
	req, err := client.createOrUpdateCreateRequest(ctx, resourceGroupName, applicationName, azureServiceBusComponentName, parameters, options)
	if err != nil {
		return nil, err
	}
	resp, err := 	client.pl.Do(req)
	if err != nil {
		return nil, err
	}
	if !runtime.HasStatusCode(resp, http.StatusOK, http.StatusCreated, http.StatusAccepted) {
		return nil, client.createOrUpdateHandleError(resp)
	}
	 return resp, nil
}

// createOrUpdateCreateRequest creates the CreateOrUpdate request.
func (client *AzureComServiceBusQueueComponentClient) createOrUpdateCreateRequest(ctx context.Context, resourceGroupName string, applicationName string, azureServiceBusComponentName string, parameters AzureServiceBusComponentResource, options *AzureComServiceBusQueueComponentBeginCreateOrUpdateOptions) (*policy.Request, error) {
	urlPath := "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.CustomProviders/resourceProviders/radiusv3/Application/{applicationName}/azure.com.ServiceBusQueueComponent/{azureServiceBusComponentName}"
	if client.subscriptionID == "" {
		return nil, errors.New("parameter client.subscriptionID cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{subscriptionId}", url.PathEscape(client.subscriptionID))
	if resourceGroupName == "" {
		return nil, errors.New("parameter resourceGroupName cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{resourceGroupName}", url.PathEscape(resourceGroupName))
	if applicationName == "" {
		return nil, errors.New("parameter applicationName cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{applicationName}", url.PathEscape(applicationName))
	if azureServiceBusComponentName == "" {
		return nil, errors.New("parameter azureServiceBusComponentName cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{azureServiceBusComponentName}", url.PathEscape(azureServiceBusComponentName))
	req, err := runtime.NewRequest(ctx, http.MethodPut, runtime.JoinPaths(	client.ep, urlPath))
	if err != nil {
		return nil, err
	}
	reqQP := req.Raw().URL.Query()
	reqQP.Set("api-version", "2018-09-01-preview")
	req.Raw().URL.RawQuery = reqQP.Encode()
	req.Raw().Header.Set("Accept", "application/json")
	return req, runtime.MarshalAsJSON(req, parameters)
}

// createOrUpdateHandleError handles the CreateOrUpdate error response.
func (client *AzureComServiceBusQueueComponentClient) createOrUpdateHandleError(resp *http.Response) error {
	body, err := runtime.Payload(resp)
	if err != nil {
		return runtime.NewResponseError(err, resp)
	}
		errType := ErrorResponse{raw: string(body)}
	if err := runtime.UnmarshalAsJSON(resp, &errType); err != nil {
		return runtime.NewResponseError(fmt.Errorf("%s\n%s", string(body), err), resp)
	}
	return runtime.NewResponseError(&errType, resp)
}

// BeginDelete - Deletes a azure.com.ServiceBusQueueComponent resource.
// If the operation fails it returns the *ErrorResponse error type.
func (client *AzureComServiceBusQueueComponentClient) BeginDelete(ctx context.Context, resourceGroupName string, applicationName string, azureServiceBusComponentName string, options *AzureComServiceBusQueueComponentBeginDeleteOptions) (AzureComServiceBusQueueComponentDeletePollerResponse, error) {
	resp, err := client.deleteOperation(ctx, resourceGroupName, applicationName, azureServiceBusComponentName, options)
	if err != nil {
		return AzureComServiceBusQueueComponentDeletePollerResponse{}, err
	}
	result := AzureComServiceBusQueueComponentDeletePollerResponse{
		RawResponse: resp,
	}
	pt, err := armruntime.NewPoller("AzureComServiceBusQueueComponentClient.Delete", "location", resp, 	client.pl, client.deleteHandleError)
	if err != nil {
		return AzureComServiceBusQueueComponentDeletePollerResponse{}, err
	}
	result.Poller = &AzureComServiceBusQueueComponentDeletePoller {
		pt: pt,
	}
	return result, nil
}

// Delete - Deletes a azure.com.ServiceBusQueueComponent resource.
// If the operation fails it returns the *ErrorResponse error type.
func (client *AzureComServiceBusQueueComponentClient) deleteOperation(ctx context.Context, resourceGroupName string, applicationName string, azureServiceBusComponentName string, options *AzureComServiceBusQueueComponentBeginDeleteOptions) (*http.Response, error) {
	req, err := client.deleteCreateRequest(ctx, resourceGroupName, applicationName, azureServiceBusComponentName, options)
	if err != nil {
		return nil, err
	}
	resp, err := 	client.pl.Do(req)
	if err != nil {
		return nil, err
	}
	if !runtime.HasStatusCode(resp, http.StatusAccepted, http.StatusNoContent) {
		return nil, client.deleteHandleError(resp)
	}
	 return resp, nil
}

// deleteCreateRequest creates the Delete request.
func (client *AzureComServiceBusQueueComponentClient) deleteCreateRequest(ctx context.Context, resourceGroupName string, applicationName string, azureServiceBusComponentName string, options *AzureComServiceBusQueueComponentBeginDeleteOptions) (*policy.Request, error) {
	urlPath := "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.CustomProviders/resourceProviders/radiusv3/Application/{applicationName}/azure.com.ServiceBusQueueComponent/{azureServiceBusComponentName}"
	if client.subscriptionID == "" {
		return nil, errors.New("parameter client.subscriptionID cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{subscriptionId}", url.PathEscape(client.subscriptionID))
	if resourceGroupName == "" {
		return nil, errors.New("parameter resourceGroupName cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{resourceGroupName}", url.PathEscape(resourceGroupName))
	if applicationName == "" {
		return nil, errors.New("parameter applicationName cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{applicationName}", url.PathEscape(applicationName))
	if azureServiceBusComponentName == "" {
		return nil, errors.New("parameter azureServiceBusComponentName cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{azureServiceBusComponentName}", url.PathEscape(azureServiceBusComponentName))
	req, err := runtime.NewRequest(ctx, http.MethodDelete, runtime.JoinPaths(	client.ep, urlPath))
	if err != nil {
		return nil, err
	}
	reqQP := req.Raw().URL.Query()
	reqQP.Set("api-version", "2018-09-01-preview")
	req.Raw().URL.RawQuery = reqQP.Encode()
	req.Raw().Header.Set("Accept", "application/json")
	return req, nil
}

// deleteHandleError handles the Delete error response.
func (client *AzureComServiceBusQueueComponentClient) deleteHandleError(resp *http.Response) error {
	body, err := runtime.Payload(resp)
	if err != nil {
		return runtime.NewResponseError(err, resp)
	}
		errType := ErrorResponse{raw: string(body)}
	if err := runtime.UnmarshalAsJSON(resp, &errType); err != nil {
		return runtime.NewResponseError(fmt.Errorf("%s\n%s", string(body), err), resp)
	}
	return runtime.NewResponseError(&errType, resp)
}

// Get - Gets a azure.com.ServiceBusQueueComponent resource by name.
// If the operation fails it returns the *ErrorResponse error type.
func (client *AzureComServiceBusQueueComponentClient) Get(ctx context.Context, resourceGroupName string, applicationName string, azureServiceBusComponentName string, options *AzureComServiceBusQueueComponentGetOptions) (AzureComServiceBusQueueComponentGetResponse, error) {
	req, err := client.getCreateRequest(ctx, resourceGroupName, applicationName, azureServiceBusComponentName, options)
	if err != nil {
		return AzureComServiceBusQueueComponentGetResponse{}, err
	}
	resp, err := 	client.pl.Do(req)
	if err != nil {
		return AzureComServiceBusQueueComponentGetResponse{}, err
	}
	if !runtime.HasStatusCode(resp, http.StatusOK) {
		return AzureComServiceBusQueueComponentGetResponse{}, client.getHandleError(resp)
	}
	return client.getHandleResponse(resp)
}

// getCreateRequest creates the Get request.
func (client *AzureComServiceBusQueueComponentClient) getCreateRequest(ctx context.Context, resourceGroupName string, applicationName string, azureServiceBusComponentName string, options *AzureComServiceBusQueueComponentGetOptions) (*policy.Request, error) {
	urlPath := "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.CustomProviders/resourceProviders/radiusv3/Application/{applicationName}/azure.com.ServiceBusQueueComponent/{azureServiceBusComponentName}"
	if client.subscriptionID == "" {
		return nil, errors.New("parameter client.subscriptionID cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{subscriptionId}", url.PathEscape(client.subscriptionID))
	if resourceGroupName == "" {
		return nil, errors.New("parameter resourceGroupName cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{resourceGroupName}", url.PathEscape(resourceGroupName))
	if applicationName == "" {
		return nil, errors.New("parameter applicationName cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{applicationName}", url.PathEscape(applicationName))
	if azureServiceBusComponentName == "" {
		return nil, errors.New("parameter azureServiceBusComponentName cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{azureServiceBusComponentName}", url.PathEscape(azureServiceBusComponentName))
	req, err := runtime.NewRequest(ctx, http.MethodGet, runtime.JoinPaths(	client.ep, urlPath))
	if err != nil {
		return nil, err
	}
	reqQP := req.Raw().URL.Query()
	reqQP.Set("api-version", "2018-09-01-preview")
	req.Raw().URL.RawQuery = reqQP.Encode()
	req.Raw().Header.Set("Accept", "application/json")
	return req, nil
}

// getHandleResponse handles the Get response.
func (client *AzureComServiceBusQueueComponentClient) getHandleResponse(resp *http.Response) (AzureComServiceBusQueueComponentGetResponse, error) {
	result := AzureComServiceBusQueueComponentGetResponse{RawResponse: resp}
	if err := runtime.UnmarshalAsJSON(resp, &result.AzureServiceBusComponentResource); err != nil {
		return AzureComServiceBusQueueComponentGetResponse{}, err
	}
	return result, nil
}

// getHandleError handles the Get error response.
func (client *AzureComServiceBusQueueComponentClient) getHandleError(resp *http.Response) error {
	body, err := runtime.Payload(resp)
	if err != nil {
		return runtime.NewResponseError(err, resp)
	}
		errType := ErrorResponse{raw: string(body)}
	if err := runtime.UnmarshalAsJSON(resp, &errType); err != nil {
		return runtime.NewResponseError(fmt.Errorf("%s\n%s", string(body), err), resp)
	}
	return runtime.NewResponseError(&errType, resp)
}

// List - List the azure.com.ServiceBusQueueComponent resources deployed in the application.
// If the operation fails it returns the *ErrorResponse error type.
func (client *AzureComServiceBusQueueComponentClient) List(ctx context.Context, resourceGroupName string, applicationName string, options *AzureComServiceBusQueueComponentListOptions) (AzureComServiceBusQueueComponentListResponse, error) {
	req, err := client.listCreateRequest(ctx, resourceGroupName, applicationName, options)
	if err != nil {
		return AzureComServiceBusQueueComponentListResponse{}, err
	}
	resp, err := 	client.pl.Do(req)
	if err != nil {
		return AzureComServiceBusQueueComponentListResponse{}, err
	}
	if !runtime.HasStatusCode(resp, http.StatusOK) {
		return AzureComServiceBusQueueComponentListResponse{}, client.listHandleError(resp)
	}
	return client.listHandleResponse(resp)
}

// listCreateRequest creates the List request.
func (client *AzureComServiceBusQueueComponentClient) listCreateRequest(ctx context.Context, resourceGroupName string, applicationName string, options *AzureComServiceBusQueueComponentListOptions) (*policy.Request, error) {
	urlPath := "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.CustomProviders/resourceProviders/radiusv3/Application/{applicationName}/azure.com.ServiceBusQueueComponent"
	if client.subscriptionID == "" {
		return nil, errors.New("parameter client.subscriptionID cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{subscriptionId}", url.PathEscape(client.subscriptionID))
	if resourceGroupName == "" {
		return nil, errors.New("parameter resourceGroupName cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{resourceGroupName}", url.PathEscape(resourceGroupName))
	if applicationName == "" {
		return nil, errors.New("parameter applicationName cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{applicationName}", url.PathEscape(applicationName))
	req, err := runtime.NewRequest(ctx, http.MethodGet, runtime.JoinPaths(	client.ep, urlPath))
	if err != nil {
		return nil, err
	}
	reqQP := req.Raw().URL.Query()
	reqQP.Set("api-version", "2018-09-01-preview")
	req.Raw().URL.RawQuery = reqQP.Encode()
	req.Raw().Header.Set("Accept", "application/json")
	return req, nil
}

// listHandleResponse handles the List response.
func (client *AzureComServiceBusQueueComponentClient) listHandleResponse(resp *http.Response) (AzureComServiceBusQueueComponentListResponse, error) {
	result := AzureComServiceBusQueueComponentListResponse{RawResponse: resp}
	if err := runtime.UnmarshalAsJSON(resp, &result.AzureServiceBusComponentList); err != nil {
		return AzureComServiceBusQueueComponentListResponse{}, err
	}
	return result, nil
}

// listHandleError handles the List error response.
func (client *AzureComServiceBusQueueComponentClient) listHandleError(resp *http.Response) error {
	body, err := runtime.Payload(resp)
	if err != nil {
		return runtime.NewResponseError(err, resp)
	}
		errType := ErrorResponse{raw: string(body)}
	if err := runtime.UnmarshalAsJSON(resp, &errType); err != nil {
		return runtime.NewResponseError(fmt.Errorf("%s\n%s", string(body), err), resp)
	}
	return runtime.NewResponseError(&errType, resp)
}

