//go:build go1.16
// +build go1.16

// Copyright (c) Microsoft Corporation. All rights reserved.
// Licensed under the MIT License. See License.txt in the project root for license information.
// Code generated by Microsoft (R) AutoRest Code Generator.
// Changes may cause incorrect behavior and will be lost if the code is regenerated.

package radclient

import (
	"context"
	"errors"
	"fmt"
	"github.com/Azure/azure-sdk-for-go/sdk/azcore/arm"
	armruntime "github.com/Azure/azure-sdk-for-go/sdk/azcore/arm/runtime"
	"github.com/Azure/azure-sdk-for-go/sdk/azcore/policy"
	"github.com/Azure/azure-sdk-for-go/sdk/azcore/runtime"
	"net/http"
	"net/url"
	"strings"
)

// DaprIoStateStoreComponentClient contains the methods for the DaprIoStateStoreComponent group.
// Don't use this type directly, use NewDaprIoStateStoreComponentClient() instead.
type DaprIoStateStoreComponentClient struct {
	ep string
	pl runtime.Pipeline
	subscriptionID string
}

// NewDaprIoStateStoreComponentClient creates a new instance of DaprIoStateStoreComponentClient with the specified values.
func NewDaprIoStateStoreComponentClient(con *arm.Connection, subscriptionID string) *DaprIoStateStoreComponentClient {
	return &DaprIoStateStoreComponentClient{ep: con.Endpoint(), pl: con.NewPipeline(module, version), subscriptionID: subscriptionID}
}

// BeginCreateOrUpdate - Creates or updates a dapr.io.StateStoreComponent resource.
// If the operation fails it returns the *ErrorResponse error type.
func (client *DaprIoStateStoreComponentClient) BeginCreateOrUpdate(ctx context.Context, resourceGroupName string, applicationName string, daprStateStoreComponentName string, parameters DaprStateStoreComponentResource, options *DaprIoStateStoreComponentBeginCreateOrUpdateOptions) (DaprIoStateStoreComponentCreateOrUpdatePollerResponse, error) {
	resp, err := client.createOrUpdate(ctx, resourceGroupName, applicationName, daprStateStoreComponentName, parameters, options)
	if err != nil {
		return DaprIoStateStoreComponentCreateOrUpdatePollerResponse{}, err
	}
	result := DaprIoStateStoreComponentCreateOrUpdatePollerResponse{
		RawResponse: resp,
	}
	pt, err := armruntime.NewPoller("DaprIoStateStoreComponentClient.CreateOrUpdate", "location", resp, 	client.pl, client.createOrUpdateHandleError)
	if err != nil {
		return DaprIoStateStoreComponentCreateOrUpdatePollerResponse{}, err
	}
	result.Poller = &DaprIoStateStoreComponentCreateOrUpdatePoller {
		pt: pt,
	}
	return result, nil
}

// CreateOrUpdate - Creates or updates a dapr.io.StateStoreComponent resource.
// If the operation fails it returns the *ErrorResponse error type.
func (client *DaprIoStateStoreComponentClient) createOrUpdate(ctx context.Context, resourceGroupName string, applicationName string, daprStateStoreComponentName string, parameters DaprStateStoreComponentResource, options *DaprIoStateStoreComponentBeginCreateOrUpdateOptions) (*http.Response, error) {
	req, err := client.createOrUpdateCreateRequest(ctx, resourceGroupName, applicationName, daprStateStoreComponentName, parameters, options)
	if err != nil {
		return nil, err
	}
	resp, err := 	client.pl.Do(req)
	if err != nil {
		return nil, err
	}
	if !runtime.HasStatusCode(resp, http.StatusOK, http.StatusCreated, http.StatusAccepted) {
		return nil, client.createOrUpdateHandleError(resp)
	}
	 return resp, nil
}

// createOrUpdateCreateRequest creates the CreateOrUpdate request.
func (client *DaprIoStateStoreComponentClient) createOrUpdateCreateRequest(ctx context.Context, resourceGroupName string, applicationName string, daprStateStoreComponentName string, parameters DaprStateStoreComponentResource, options *DaprIoStateStoreComponentBeginCreateOrUpdateOptions) (*policy.Request, error) {
	urlPath := "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.CustomProviders/resourceProviders/radiusv3/Application/{applicationName}/dapr.io.StateStoreComponent/{daprStateStoreComponentName}"
	if client.subscriptionID == "" {
		return nil, errors.New("parameter client.subscriptionID cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{subscriptionId}", url.PathEscape(client.subscriptionID))
	if resourceGroupName == "" {
		return nil, errors.New("parameter resourceGroupName cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{resourceGroupName}", url.PathEscape(resourceGroupName))
	if applicationName == "" {
		return nil, errors.New("parameter applicationName cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{applicationName}", url.PathEscape(applicationName))
	if daprStateStoreComponentName == "" {
		return nil, errors.New("parameter daprStateStoreComponentName cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{daprStateStoreComponentName}", url.PathEscape(daprStateStoreComponentName))
	req, err := runtime.NewRequest(ctx, http.MethodPut, runtime.JoinPaths(	client.ep, urlPath))
	if err != nil {
		return nil, err
	}
	reqQP := req.Raw().URL.Query()
	reqQP.Set("api-version", "2018-09-01-preview")
	req.Raw().URL.RawQuery = reqQP.Encode()
	req.Raw().Header.Set("Accept", "application/json")
	return req, runtime.MarshalAsJSON(req, parameters)
}

// createOrUpdateHandleError handles the CreateOrUpdate error response.
func (client *DaprIoStateStoreComponentClient) createOrUpdateHandleError(resp *http.Response) error {
	body, err := runtime.Payload(resp)
	if err != nil {
		return runtime.NewResponseError(err, resp)
	}
		errType := ErrorResponse{raw: string(body)}
	if err := runtime.UnmarshalAsJSON(resp, &errType); err != nil {
		return runtime.NewResponseError(fmt.Errorf("%s\n%s", string(body), err), resp)
	}
	return runtime.NewResponseError(&errType, resp)
}

// BeginDelete - Deletes a dapr.io.StateStoreComponent resource.
// If the operation fails it returns the *ErrorResponse error type.
func (client *DaprIoStateStoreComponentClient) BeginDelete(ctx context.Context, resourceGroupName string, applicationName string, daprStateStoreComponentName string, options *DaprIoStateStoreComponentBeginDeleteOptions) (DaprIoStateStoreComponentDeletePollerResponse, error) {
	resp, err := client.deleteOperation(ctx, resourceGroupName, applicationName, daprStateStoreComponentName, options)
	if err != nil {
		return DaprIoStateStoreComponentDeletePollerResponse{}, err
	}
	result := DaprIoStateStoreComponentDeletePollerResponse{
		RawResponse: resp,
	}
	pt, err := armruntime.NewPoller("DaprIoStateStoreComponentClient.Delete", "location", resp, 	client.pl, client.deleteHandleError)
	if err != nil {
		return DaprIoStateStoreComponentDeletePollerResponse{}, err
	}
	result.Poller = &DaprIoStateStoreComponentDeletePoller {
		pt: pt,
	}
	return result, nil
}

// Delete - Deletes a dapr.io.StateStoreComponent resource.
// If the operation fails it returns the *ErrorResponse error type.
func (client *DaprIoStateStoreComponentClient) deleteOperation(ctx context.Context, resourceGroupName string, applicationName string, daprStateStoreComponentName string, options *DaprIoStateStoreComponentBeginDeleteOptions) (*http.Response, error) {
	req, err := client.deleteCreateRequest(ctx, resourceGroupName, applicationName, daprStateStoreComponentName, options)
	if err != nil {
		return nil, err
	}
	resp, err := 	client.pl.Do(req)
	if err != nil {
		return nil, err
	}
	if !runtime.HasStatusCode(resp, http.StatusAccepted, http.StatusNoContent) {
		return nil, client.deleteHandleError(resp)
	}
	 return resp, nil
}

// deleteCreateRequest creates the Delete request.
func (client *DaprIoStateStoreComponentClient) deleteCreateRequest(ctx context.Context, resourceGroupName string, applicationName string, daprStateStoreComponentName string, options *DaprIoStateStoreComponentBeginDeleteOptions) (*policy.Request, error) {
	urlPath := "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.CustomProviders/resourceProviders/radiusv3/Application/{applicationName}/dapr.io.StateStoreComponent/{daprStateStoreComponentName}"
	if client.subscriptionID == "" {
		return nil, errors.New("parameter client.subscriptionID cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{subscriptionId}", url.PathEscape(client.subscriptionID))
	if resourceGroupName == "" {
		return nil, errors.New("parameter resourceGroupName cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{resourceGroupName}", url.PathEscape(resourceGroupName))
	if applicationName == "" {
		return nil, errors.New("parameter applicationName cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{applicationName}", url.PathEscape(applicationName))
	if daprStateStoreComponentName == "" {
		return nil, errors.New("parameter daprStateStoreComponentName cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{daprStateStoreComponentName}", url.PathEscape(daprStateStoreComponentName))
	req, err := runtime.NewRequest(ctx, http.MethodDelete, runtime.JoinPaths(	client.ep, urlPath))
	if err != nil {
		return nil, err
	}
	reqQP := req.Raw().URL.Query()
	reqQP.Set("api-version", "2018-09-01-preview")
	req.Raw().URL.RawQuery = reqQP.Encode()
	req.Raw().Header.Set("Accept", "application/json")
	return req, nil
}

// deleteHandleError handles the Delete error response.
func (client *DaprIoStateStoreComponentClient) deleteHandleError(resp *http.Response) error {
	body, err := runtime.Payload(resp)
	if err != nil {
		return runtime.NewResponseError(err, resp)
	}
		errType := ErrorResponse{raw: string(body)}
	if err := runtime.UnmarshalAsJSON(resp, &errType); err != nil {
		return runtime.NewResponseError(fmt.Errorf("%s\n%s", string(body), err), resp)
	}
	return runtime.NewResponseError(&errType, resp)
}

// Get - Gets a dapr.io.StateStoreComponent resource by name.
// If the operation fails it returns the *ErrorResponse error type.
func (client *DaprIoStateStoreComponentClient) Get(ctx context.Context, resourceGroupName string, applicationName string, daprStateStoreComponentName string, options *DaprIoStateStoreComponentGetOptions) (DaprIoStateStoreComponentGetResponse, error) {
	req, err := client.getCreateRequest(ctx, resourceGroupName, applicationName, daprStateStoreComponentName, options)
	if err != nil {
		return DaprIoStateStoreComponentGetResponse{}, err
	}
	resp, err := 	client.pl.Do(req)
	if err != nil {
		return DaprIoStateStoreComponentGetResponse{}, err
	}
	if !runtime.HasStatusCode(resp, http.StatusOK) {
		return DaprIoStateStoreComponentGetResponse{}, client.getHandleError(resp)
	}
	return client.getHandleResponse(resp)
}

// getCreateRequest creates the Get request.
func (client *DaprIoStateStoreComponentClient) getCreateRequest(ctx context.Context, resourceGroupName string, applicationName string, daprStateStoreComponentName string, options *DaprIoStateStoreComponentGetOptions) (*policy.Request, error) {
	urlPath := "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.CustomProviders/resourceProviders/radiusv3/Application/{applicationName}/dapr.io.StateStoreComponent/{daprStateStoreComponentName}"
	if client.subscriptionID == "" {
		return nil, errors.New("parameter client.subscriptionID cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{subscriptionId}", url.PathEscape(client.subscriptionID))
	if resourceGroupName == "" {
		return nil, errors.New("parameter resourceGroupName cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{resourceGroupName}", url.PathEscape(resourceGroupName))
	if applicationName == "" {
		return nil, errors.New("parameter applicationName cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{applicationName}", url.PathEscape(applicationName))
	if daprStateStoreComponentName == "" {
		return nil, errors.New("parameter daprStateStoreComponentName cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{daprStateStoreComponentName}", url.PathEscape(daprStateStoreComponentName))
	req, err := runtime.NewRequest(ctx, http.MethodGet, runtime.JoinPaths(	client.ep, urlPath))
	if err != nil {
		return nil, err
	}
	reqQP := req.Raw().URL.Query()
	reqQP.Set("api-version", "2018-09-01-preview")
	req.Raw().URL.RawQuery = reqQP.Encode()
	req.Raw().Header.Set("Accept", "application/json")
	return req, nil
}

// getHandleResponse handles the Get response.
func (client *DaprIoStateStoreComponentClient) getHandleResponse(resp *http.Response) (DaprIoStateStoreComponentGetResponse, error) {
	result := DaprIoStateStoreComponentGetResponse{RawResponse: resp}
	if err := runtime.UnmarshalAsJSON(resp, &result.DaprStateStoreComponentResource); err != nil {
		return DaprIoStateStoreComponentGetResponse{}, err
	}
	return result, nil
}

// getHandleError handles the Get error response.
func (client *DaprIoStateStoreComponentClient) getHandleError(resp *http.Response) error {
	body, err := runtime.Payload(resp)
	if err != nil {
		return runtime.NewResponseError(err, resp)
	}
		errType := ErrorResponse{raw: string(body)}
	if err := runtime.UnmarshalAsJSON(resp, &errType); err != nil {
		return runtime.NewResponseError(fmt.Errorf("%s\n%s", string(body), err), resp)
	}
	return runtime.NewResponseError(&errType, resp)
}

// List - List the dapr.io.StateStoreComponent resources deployed in the application.
// If the operation fails it returns the *ErrorResponse error type.
func (client *DaprIoStateStoreComponentClient) List(ctx context.Context, resourceGroupName string, applicationName string, options *DaprIoStateStoreComponentListOptions) (DaprIoStateStoreComponentListResponse, error) {
	req, err := client.listCreateRequest(ctx, resourceGroupName, applicationName, options)
	if err != nil {
		return DaprIoStateStoreComponentListResponse{}, err
	}
	resp, err := 	client.pl.Do(req)
	if err != nil {
		return DaprIoStateStoreComponentListResponse{}, err
	}
	if !runtime.HasStatusCode(resp, http.StatusOK) {
		return DaprIoStateStoreComponentListResponse{}, client.listHandleError(resp)
	}
	return client.listHandleResponse(resp)
}

// listCreateRequest creates the List request.
func (client *DaprIoStateStoreComponentClient) listCreateRequest(ctx context.Context, resourceGroupName string, applicationName string, options *DaprIoStateStoreComponentListOptions) (*policy.Request, error) {
	urlPath := "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.CustomProviders/resourceProviders/radiusv3/Application/{applicationName}/dapr.io.StateStoreComponent"
	if client.subscriptionID == "" {
		return nil, errors.New("parameter client.subscriptionID cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{subscriptionId}", url.PathEscape(client.subscriptionID))
	if resourceGroupName == "" {
		return nil, errors.New("parameter resourceGroupName cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{resourceGroupName}", url.PathEscape(resourceGroupName))
	if applicationName == "" {
		return nil, errors.New("parameter applicationName cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{applicationName}", url.PathEscape(applicationName))
	req, err := runtime.NewRequest(ctx, http.MethodGet, runtime.JoinPaths(	client.ep, urlPath))
	if err != nil {
		return nil, err
	}
	reqQP := req.Raw().URL.Query()
	reqQP.Set("api-version", "2018-09-01-preview")
	req.Raw().URL.RawQuery = reqQP.Encode()
	req.Raw().Header.Set("Accept", "application/json")
	return req, nil
}

// listHandleResponse handles the List response.
func (client *DaprIoStateStoreComponentClient) listHandleResponse(resp *http.Response) (DaprIoStateStoreComponentListResponse, error) {
	result := DaprIoStateStoreComponentListResponse{RawResponse: resp}
	if err := runtime.UnmarshalAsJSON(resp, &result.DaprStateStoreComponentList); err != nil {
		return DaprIoStateStoreComponentListResponse{}, err
	}
	return result, nil
}

// listHandleError handles the List error response.
func (client *DaprIoStateStoreComponentClient) listHandleError(resp *http.Response) error {
	body, err := runtime.Payload(resp)
	if err != nil {
		return runtime.NewResponseError(err, resp)
	}
		errType := ErrorResponse{raw: string(body)}
	if err := runtime.UnmarshalAsJSON(resp, &errType); err != nil {
		return runtime.NewResponseError(fmt.Errorf("%s\n%s", string(body), err), resp)
	}
	return runtime.NewResponseError(&errType, resp)
}

