<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Todo list</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
</head>

<body>
    <div class="container">
        <div id="app">
            <div class="row" id="itemList">
                <h1 class="header">Todo list</h1>
                <h5 v-if="hasMessage" class="header red-text">{{ message }}</h5>
                <table v-if="hasItems">
                    <thead>
                        <tr>
                            <th>Title</th>
                            <th>Status</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr v-for="item in items">
                            <td>{{ item.title }}</td>
                            <td>
                                <span v-if="item.done" class="material-icons">done</span>
                                <span v-if="!item.done" class="material-icons">lightbulb</span>
                            </td>
                            <td>
                                <button id="itemComplete" @click="completeItem(item.id)" class="btn-small">
                                    <i class="material-icons right">done</i>Complete
                                </button>
                                <button id="itemDelete" @click="confirmDeleteItem(item.id)" class="btn-small">
                                    <i class="material-icons right">delete</i>Delete
                                </button>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <p v-if="isEmpty">No items yet!</p>
            </div>
            <div class="row" id="itemEdit">
                <h3>Add an item</h3>
                <form class="col s12" @submit.prevent="addItem">
                    <div class="row">
                        <div class="input-field col s6">
                            <input v-model="title" ref="title" placeholder="What do you need to do?" id="title"
                                type="text" class="validate">
                            <label for="title">Title</label>
                        </div>
                    </div>
                    <button id="itemEditSubmit" class="btn" type="submit"><i
                            class="material-icons right">send</i>Add</button>
                </form>
            </div>
            <div id="deleteConfirm" ref="deleteConfirm" class="modal">
                <div class="modal-content">
                    <h4>Confirm delete</h4>
                    <p>Delete {{ selectedItem }}?</p>
                </div>
                <div class="modal-footer">
                    <button @click="deleteItem(selectedItemId)" class="modal-close btn-flat">Ok</button>
                    <button class="modal-close btn-flat">Cancel</button>
                </div>
            </div>
        </div>
    </div>
    <script src="js/main.js"></script>
</body>

</html>