{{- $appversion := include "radius.versiontag" . }}
apiVersion: apps/v1
kind: Deployment
metadata:
  name: controller
  namespace: "{{ .Release.Namespace }}"
  labels:
    control-plane: controller
    app.kubernetes.io/name: controller
    app.kubernetes.io/part-of: radius
spec:
  replicas: 1
  selector:
    matchLabels:
      app.kubernetes.io/name: controller
  template:
    metadata:
      labels:
        control-plane: controller
        app.kubernetes.io/name: controller
        app.kubernetes.io/part-of: radius
      {{- if eq .Values.global.prometheus.enabled true }}
      annotations:
        prometheus.io/path: "{{ .Values.global.prometheus.path }}"
        prometheus.io/port: "{{ .Values.global.prometheus.port }}"
        prometheus.io/scrape: "{{ .Values.global.prometheus.enabled }}"
      {{- end }}
    spec:
      serviceAccountName: controller
      {{- if .Values.global.imagePullSecrets }}
      imagePullSecrets:
        {{- toYaml .Values.global.imagePullSecrets | nindent 6 }}
      {{- end }}
      initContainers:
      - name: bicep
        image: "{{ include "radius.image" (dict "image" .Values.bicep.image "tag" (.Values.bicep.tag | default .Values.global.imageTag | default $appversion) "global" .Values.global) }}"
        command: ['sh', '-c', 'mv /bicepconfig.json /bicepconfig/bicepconfig.json && mv /bicep /usr/local/bin/bicep']
        volumeMounts:
        - name: bicep
          mountPath: /usr/local/bin
        - name: bicepconfig
          mountPath: /bicepconfig
      {{- if .Values.global.appendRootCA.cert }}
      - name: append-root-ca
        image: "{{ .Values.rp.image }}:{{ .Values.rp.tag | default $appversion }}"
        command:
        - sh
        - -c
        - |
          mkdir -p /etc/radius-ssl/certs
          cp /etc/ssl/certs/* /etc/radius-ssl/certs/
          cat >> /etc/radius-ssl/certs/ca-certificates.crt <<'CERTEOF'
        {{ .Values.global.appendRootCA.cert | nindent 10 }}
          CERTEOF
        volumeMounts:
        - name: ssl-certs
          mountPath: /etc/radius-ssl/certs
      {{- end }}
      containers:
      - name: controller
        image: "{{ include "radius.image" (dict "image" .Values.controller.image "tag" (.Values.controller.tag | default .Values.global.imageTag | default $appversion) "global" .Values.global) }}"
        imagePullPolicy: 'Always'
        args: 
        - '--config-file'
        - '/etc/config/controller-config.yaml'
        env:
        - name: TLS_CERT_DIR
          value: '/var/tls/cert'
        - name: PORT
          value: '9443'
        - name: RAD_BICEP
          value: '/usr/local/bin/bicep'
        {{- if .Values.global.rootCA.cert }}
        # This is the environment variable to set the path to the intermediate root CA for outgoing connections.
        - name: {{ .Values.global.rootCA.sslCertDirEnvVar }}
          value: {{ .Values.global.rootCA.mountPath }}
        {{- end}}
        ports:
        - containerPort: 9443
          name: controller
          protocol: TCP
        {{- if eq .Values.global.prometheus.enabled true }}
        - containerPort: {{ .Values.global.prometheus.port }}
          name: metrics
          protocol: TCP
        {{- end }}
        - containerPort: 3000
          name: healthz
          protocol: TCP
        securityContext:
          allowPrivilegeEscalation: false
        {{- if .Values.controller.resources }}
        resources:{{ toYaml .Values.controller.resources | nindent 10 }}
        {{- end }}
        volumeMounts:
        - name: bicep
          mountPath: /usr/local/bin
        - name: bicepconfig
          mountPath: /bicepconfig.json
          subPath: bicepconfig.json
        - name: config-volume
          mountPath: /etc/config
        - name: cert
          mountPath: '/var/tls/cert'
          readOnly: true
        {{- if .Values.global.rootCA.cert }}
        - name: {{ .Values.global.rootCA.volumeName }}
          mountPath: {{ .Values.global.rootCA.mountPath }}
          readOnly: true
        {{- end }}
        {{- if .Values.global.appendRootCA.cert }}
        - name: ssl-certs
          mountPath: /etc/ssl/certs
          readOnly: true
        {{- end }}
      volumes:
        - name: bicep
          emptyDir: {}
        - name: bicepconfig
          emptyDir: {}
        - name: config-volume
          configMap:
            name: controller-config
        - name: cert
          secret:
            secretName: controller-cert
        {{- if .Values.global.rootCA.cert }}
        - name: {{ .Values.global.rootCA.volumeName }}
          secret:
            secretName: {{ .Values.global.rootCA.secretName }}
        {{- end }}
        {{- if .Values.global.appendRootCA.cert }}
        - name: ssl-certs
          emptyDir: {}
        {{- end }}