{{- $ca := genCA "controller-ca" 3650 }}
{{- $cn := printf "controller" }}
{{- $altName1 := printf "controller.%s" .Release.Namespace }}
{{- $altName2 := printf "controller.%s.svc" .Release.Namespace }}
{{- $altName3 := printf "controller.%s.svc.cluster" .Release.Namespace }}
{{- $altName4 := printf "controller.%s.svc.cluster.local" .Release.Namespace }}
{{- $cert := genSignedCert $cn nil (list $altName1 $altName2 $altName3 $altName4) 3650 $ca }}
apiVersion: v1
kind: Secret
metadata:
  name: controller-cert
  namespace: {{ .Release.Namespace }}
  labels:
    app.kubernetes.io/name: controller
    app.kubernetes.io/part-of: radius
data:
  tls.crt: {{ include "secrets.lookup" (dict "secret" "controller-cert" "namespace" .Release.Namespace "key" "tls.crt" "defaultValue" $cert.Cert) }}
  tls.key: {{ include "secrets.lookup" (dict "secret" "controller-cert" "namespace" .Release.Namespace "key" "tls.key" "defaultValue" $cert.Key) }}
  ca.crt: {{ include "secrets.lookup" (dict "secret" "controller-cert" "namespace" .Release.Namespace "key" "ca.crt" "defaultValue" $ca.Cert) }}
---
apiVersion: admissionregistration.k8s.io/v1
kind: ValidatingWebhookConfiguration
metadata:
  name: recipe-webhook.radapp.io
webhooks:
- admissionReviewVersions:
  - v1
  clientConfig:
    caBundle: {{ include "secrets.lookup" (dict "secret" "controller-cert" "namespace" .Release.Namespace "key" "ca.crt" "defaultValue" $ca.Cert) }}
    service:
      name: controller
      namespace: {{ .Release.Namespace }}
      path: /validate-radapp-io-v1alpha3-recipe
  failurePolicy: Fail
  matchPolicy: Equivalent
  name: recipe-webhook.radapp.io
  rules:
  - apiGroups:
    - radapp.io
    apiVersions:
    - v1alpha3
    operations:
    - CREATE
    - UPDATE
    - DELETE
    resources:
    - recipes
  sideEffects: None