// Licensed under the Apache License, Version 2.0 . See LICENSE in the repository root for license information.
// Code generated by Microsoft (R) AutoRest Code Generator. DO NOT EDIT.
// Changes may cause incorrect behavior and will be lost if the code is regenerated.

package fake

import (
	"errors"
	"fmt"
	azfake "github.com/Azure/azure-sdk-for-go/sdk/azcore/fake"
	"github.com/Azure/azure-sdk-for-go/sdk/azcore/fake/server"
	"github.com/Azure/azure-sdk-for-go/sdk/azcore/runtime"
	"github.com/Azure/azure-sdk-for-go/sdk/azcore/to"
	"github.com/radius-project/radius/pkg/ucp/api/v20231001preview"
	"net/http"
	"net/url"
	"regexp"
)

// ResourcesServer is a fake server for instances of the v20231001preview.ResourcesClient type.
type ResourcesServer struct{
	// NewListPager is the fake for method ResourcesClient.NewListPager
	// HTTP status codes to indicate success: http.StatusOK
	NewListPager func(planeName string, resourceGroupName string, options *v20231001preview.ResourcesClientListOptions) (resp azfake.PagerResponder[v20231001preview.ResourcesClientListResponse])

}

// NewResourcesServerTransport creates a new instance of ResourcesServerTransport with the provided implementation.
// The returned ResourcesServerTransport instance is connected to an instance of v20231001preview.ResourcesClient via the
// azcore.ClientOptions.Transporter field in the client's constructor parameters.
func NewResourcesServerTransport(srv *ResourcesServer) *ResourcesServerTransport {
	return &ResourcesServerTransport{
		srv: srv,
		newListPager: newTracker[azfake.PagerResponder[v20231001preview.ResourcesClientListResponse]](),
	}
}

// ResourcesServerTransport connects instances of v20231001preview.ResourcesClient to instances of ResourcesServer.
// Don't use this type directly, use NewResourcesServerTransport instead.
type ResourcesServerTransport struct {
	srv *ResourcesServer
	newListPager *tracker[azfake.PagerResponder[v20231001preview.ResourcesClientListResponse]]
}

// Do implements the policy.Transporter interface for ResourcesServerTransport.
func (r *ResourcesServerTransport) Do(req *http.Request) (*http.Response, error) {
	rawMethod := req.Context().Value(runtime.CtxAPINameKey{})
	method, ok := rawMethod.(string)
	if !ok {
		return nil, nonRetriableError{errors.New("unable to dispatch request, missing value for CtxAPINameKey")}
	}

	return r.dispatchToMethodFake(req, method)
}

func (r *ResourcesServerTransport) dispatchToMethodFake(req *http.Request, method string) (*http.Response, error) {
	resultChan := make(chan result)
	defer close(resultChan)

	go func() {
		var intercepted bool
		var res result
		 if resourcesServerTransportInterceptor != nil {
			 res.resp, res.err, intercepted = resourcesServerTransportInterceptor.Do(req)
		}
		if !intercepted {
			switch method {
			case "ResourcesClient.NewListPager":
				res.resp, res.err = r.dispatchNewListPager(req)
				default:
		res.err = fmt.Errorf("unhandled API %s", method)
			}

		}
		select {
		case resultChan <- res:
		case <-req.Context().Done():
		}
	}()

	select {
	case <-req.Context().Done():
		return nil, req.Context().Err()
	case res := <-resultChan:
		return res.resp, res.err
	}
}

func (r *ResourcesServerTransport) dispatchNewListPager(req *http.Request) (*http.Response, error) {
	if r.srv.NewListPager == nil {
		return nil, &nonRetriableError{errors.New("fake for method NewListPager not implemented")}
	}
	newListPager := r.newListPager.get(req)
	if newListPager == nil {
	const regexStr = `/planes/radius/(?P<planeName>[!#&$-;=?-\[\]_a-zA-Z0-9~%@]+)/resourcegroups/(?P<resourceGroupName>[!#&$-;=?-\[\]_a-zA-Z0-9~%@]+)/resources`
	regex := regexp.MustCompile(regexStr)
	matches := regex.FindStringSubmatch(req.URL.EscapedPath())
	if matches == nil || len(matches) < 2 {
		return nil, fmt.Errorf("failed to parse path %s", req.URL.Path)
	}
	planeNameParam, err := url.PathUnescape(matches[regex.SubexpIndex("planeName")])
	if err != nil {
		return nil, err
	}
	resourceGroupNameParam, err := url.PathUnescape(matches[regex.SubexpIndex("resourceGroupName")])
	if err != nil {
		return nil, err
	}
resp := r.srv.NewListPager(planeNameParam, resourceGroupNameParam, nil)
		newListPager = &resp
		r.newListPager.add(req, newListPager)
		server.PagerResponderInjectNextLinks(newListPager, req, func(page *v20231001preview.ResourcesClientListResponse, createLink func() string) {
			page.NextLink = to.Ptr(createLink())
		})
	}
	resp, err := server.PagerResponderNext(newListPager, req)
	if err != nil {
		return nil, err
	}
	if !contains([]int{http.StatusOK}, resp.StatusCode) {
		r.newListPager.remove(req)
		return nil, &nonRetriableError{fmt.Errorf("unexpected status code %d. acceptable values are http.StatusOK", resp.StatusCode)}
	}
	if !server.PagerResponderMore(newListPager) {
		r.newListPager.remove(req)
	}
	return resp, nil
}

// set this to conditionally intercept incoming requests to ResourcesServerTransport
var resourcesServerTransportInterceptor interface {
	// Do returns true if the server transport should use the returned response/error
	Do(*http.Request) (*http.Response, error, bool)
}
