// Licensed under the Apache License, Version 2.0 . See LICENSE in the repository root for license information.
// Code generated by @autorest/go. DO NOT EDIT.

package v20231001preview

import (
	"context"
	"errors"
	"github.com/Azure/azure-sdk-for-go/sdk/azcore"
	"github.com/Azure/azure-sdk-for-go/sdk/azcore/arm"
	"github.com/Azure/azure-sdk-for-go/sdk/azcore/policy"
	"github.com/Azure/azure-sdk-for-go/sdk/azcore/runtime"
	"net/http"
	"net/url"
	"strings"
)

// SQLDatabasesClient contains the methods for the SQLDatabases group.
// Don't use this type directly, use NewSQLDatabasesClient() instead.
//
// Generated from API version 2023-10-01-preview
type SQLDatabasesClient struct {
	internal *arm.Client
}

// NewSQLDatabasesClient creates a new instance of SQLDatabasesClient with the specified values.
//   - credential - used to authorize requests. Usually a credential from azidentity.
//   - options - Contains optional client configuration. Pass nil to accept the default values.
func NewSQLDatabasesClient(credential azcore.TokenCredential, options *arm.ClientOptions) (*SQLDatabasesClient, error) {
	cl, err := arm.NewClient(moduleName, moduleVersion, credential, options)
	if err != nil {
		return nil, err
	}
	client := &SQLDatabasesClient{
		internal: cl,
	}
	return client, nil
}

// BeginCreateOrUpdate - Create a SqlDatabaseResource
// If the operation fails it returns an *azcore.ResponseError type.
//   - rootScope - The scope in which the resource is present. UCP Scope is /planes/{planeType}/{planeName}/resourceGroup/{resourcegroupID}
//     and Azure resource scope is /subscriptions/{subscriptionID}/resourceGroup/{resourcegroupID}
//   - sqlDatabaseName - The name of the SqlDatabase portable resource resource
//   - resource - Resource create parameters.
//   - options - SQLDatabasesClientBeginCreateOrUpdateOptions contains the optional parameters for the SQLDatabasesClient.BeginCreateOrUpdate
//     method.
func (client *SQLDatabasesClient) BeginCreateOrUpdate(ctx context.Context, rootScope string, sqlDatabaseName string, resource SQLDatabaseResource, options *SQLDatabasesClientBeginCreateOrUpdateOptions) (*runtime.Poller[SQLDatabasesClientCreateOrUpdateResponse], error) {
	if options == nil || options.ResumeToken == "" {
		resp, err := client.createOrUpdate(ctx, rootScope, sqlDatabaseName, resource, options)
		if err != nil {
			return nil, err
		}
		poller, err := runtime.NewPoller[SQLDatabasesClientCreateOrUpdateResponse](resp, client.internal.Pipeline(), nil)
		return poller, err
	} else {
		return runtime.NewPollerFromResumeToken[SQLDatabasesClientCreateOrUpdateResponse](options.ResumeToken, client.internal.Pipeline(), nil)
	}
}

// CreateOrUpdate - Create a SqlDatabaseResource
// If the operation fails it returns an *azcore.ResponseError type.
func (client *SQLDatabasesClient) createOrUpdate(ctx context.Context, rootScope string, sqlDatabaseName string, resource SQLDatabaseResource, options *SQLDatabasesClientBeginCreateOrUpdateOptions) (*http.Response, error) {
	var err error
	req, err := client.createOrUpdateCreateRequest(ctx, rootScope, sqlDatabaseName, resource, options)
	if err != nil {
		return nil, err
	}
	httpResp, err := client.internal.Pipeline().Do(req)
	if err != nil {
		return nil, err
	}
	if !runtime.HasStatusCode(httpResp, http.StatusOK, http.StatusCreated) {
		err = runtime.NewResponseError(httpResp)
		return nil, err
	}
	return httpResp, nil
}

// createOrUpdateCreateRequest creates the CreateOrUpdate request.
func (client *SQLDatabasesClient) createOrUpdateCreateRequest(ctx context.Context, rootScope string, sqlDatabaseName string, resource SQLDatabaseResource, _ *SQLDatabasesClientBeginCreateOrUpdateOptions) (*policy.Request, error) {
	urlPath := "/{rootScope}/providers/Applications.Datastores/sqlDatabases/{sqlDatabaseName}"
	if rootScope == "" {
		return nil, errors.New("parameter rootScope cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{rootScope}", url.PathEscape(rootScope))
	if sqlDatabaseName == "" {
		return nil, errors.New("parameter sqlDatabaseName cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{sqlDatabaseName}", url.PathEscape(sqlDatabaseName))
	req, err := runtime.NewRequest(ctx, http.MethodPut, runtime.JoinPaths(client.internal.Endpoint(), urlPath))
	if err != nil {
		return nil, err
	}
	reqQP := req.Raw().URL.Query()
	reqQP.Set("api-version", version20231001Preview)
	req.Raw().URL.RawQuery = strings.ReplaceAll(reqQP.Encode(), "+", "%20")
	req.Raw().Header["Accept"] = []string{"application/json"}
	req.Raw().Header["Content-Type"] = []string{"application/json"}
	if err := runtime.MarshalAsJSON(req, resource); err != nil {
		return nil, err
	}
	return req, nil
}

// BeginDelete - Delete a SqlDatabaseResource
// If the operation fails it returns an *azcore.ResponseError type.
//   - rootScope - The scope in which the resource is present. UCP Scope is /planes/{planeType}/{planeName}/resourceGroup/{resourcegroupID}
//     and Azure resource scope is /subscriptions/{subscriptionID}/resourceGroup/{resourcegroupID}
//   - sqlDatabaseName - The name of the SqlDatabase portable resource resource
//   - options - SQLDatabasesClientBeginDeleteOptions contains the optional parameters for the SQLDatabasesClient.BeginDelete
//     method.
func (client *SQLDatabasesClient) BeginDelete(ctx context.Context, rootScope string, sqlDatabaseName string, options *SQLDatabasesClientBeginDeleteOptions) (*runtime.Poller[SQLDatabasesClientDeleteResponse], error) {
	if options == nil || options.ResumeToken == "" {
		resp, err := client.deleteOperation(ctx, rootScope, sqlDatabaseName, options)
		if err != nil {
			return nil, err
		}
		poller, err := runtime.NewPoller[SQLDatabasesClientDeleteResponse](resp, client.internal.Pipeline(), nil)
		return poller, err
	} else {
		return runtime.NewPollerFromResumeToken[SQLDatabasesClientDeleteResponse](options.ResumeToken, client.internal.Pipeline(), nil)
	}
}

// Delete - Delete a SqlDatabaseResource
// If the operation fails it returns an *azcore.ResponseError type.
func (client *SQLDatabasesClient) deleteOperation(ctx context.Context, rootScope string, sqlDatabaseName string, options *SQLDatabasesClientBeginDeleteOptions) (*http.Response, error) {
	var err error
	req, err := client.deleteCreateRequest(ctx, rootScope, sqlDatabaseName, options)
	if err != nil {
		return nil, err
	}
	httpResp, err := client.internal.Pipeline().Do(req)
	if err != nil {
		return nil, err
	}
	if !runtime.HasStatusCode(httpResp, http.StatusAccepted, http.StatusNoContent) {
		err = runtime.NewResponseError(httpResp)
		return nil, err
	}
	return httpResp, nil
}

// deleteCreateRequest creates the Delete request.
func (client *SQLDatabasesClient) deleteCreateRequest(ctx context.Context, rootScope string, sqlDatabaseName string, _ *SQLDatabasesClientBeginDeleteOptions) (*policy.Request, error) {
	urlPath := "/{rootScope}/providers/Applications.Datastores/sqlDatabases/{sqlDatabaseName}"
	if rootScope == "" {
		return nil, errors.New("parameter rootScope cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{rootScope}", url.PathEscape(rootScope))
	if sqlDatabaseName == "" {
		return nil, errors.New("parameter sqlDatabaseName cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{sqlDatabaseName}", url.PathEscape(sqlDatabaseName))
	req, err := runtime.NewRequest(ctx, http.MethodDelete, runtime.JoinPaths(client.internal.Endpoint(), urlPath))
	if err != nil {
		return nil, err
	}
	reqQP := req.Raw().URL.Query()
	reqQP.Set("api-version", version20231001Preview)
	req.Raw().URL.RawQuery = strings.ReplaceAll(reqQP.Encode(), "+", "%20")
	return req, nil
}

// Get - Get a SqlDatabaseResource
// If the operation fails it returns an *azcore.ResponseError type.
//   - rootScope - The scope in which the resource is present. UCP Scope is /planes/{planeType}/{planeName}/resourceGroup/{resourcegroupID}
//     and Azure resource scope is /subscriptions/{subscriptionID}/resourceGroup/{resourcegroupID}
//   - sqlDatabaseName - The name of the SqlDatabase portable resource resource
//   - options - SQLDatabasesClientGetOptions contains the optional parameters for the SQLDatabasesClient.Get method.
func (client *SQLDatabasesClient) Get(ctx context.Context, rootScope string, sqlDatabaseName string, options *SQLDatabasesClientGetOptions) (SQLDatabasesClientGetResponse, error) {
	var err error
	req, err := client.getCreateRequest(ctx, rootScope, sqlDatabaseName, options)
	if err != nil {
		return SQLDatabasesClientGetResponse{}, err
	}
	httpResp, err := client.internal.Pipeline().Do(req)
	if err != nil {
		return SQLDatabasesClientGetResponse{}, err
	}
	if !runtime.HasStatusCode(httpResp, http.StatusOK) {
		err = runtime.NewResponseError(httpResp)
		return SQLDatabasesClientGetResponse{}, err
	}
	resp, err := client.getHandleResponse(httpResp)
	return resp, err
}

// getCreateRequest creates the Get request.
func (client *SQLDatabasesClient) getCreateRequest(ctx context.Context, rootScope string, sqlDatabaseName string, _ *SQLDatabasesClientGetOptions) (*policy.Request, error) {
	urlPath := "/{rootScope}/providers/Applications.Datastores/sqlDatabases/{sqlDatabaseName}"
	if rootScope == "" {
		return nil, errors.New("parameter rootScope cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{rootScope}", url.PathEscape(rootScope))
	if sqlDatabaseName == "" {
		return nil, errors.New("parameter sqlDatabaseName cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{sqlDatabaseName}", url.PathEscape(sqlDatabaseName))
	req, err := runtime.NewRequest(ctx, http.MethodGet, runtime.JoinPaths(client.internal.Endpoint(), urlPath))
	if err != nil {
		return nil, err
	}
	reqQP := req.Raw().URL.Query()
	reqQP.Set("api-version", version20231001Preview)
	req.Raw().URL.RawQuery = strings.ReplaceAll(reqQP.Encode(), "+", "%20")
	req.Raw().Header["Accept"] = []string{"application/json"}
	return req, nil
}

// getHandleResponse handles the Get response.
func (client *SQLDatabasesClient) getHandleResponse(resp *http.Response) (SQLDatabasesClientGetResponse, error) {
	result := SQLDatabasesClientGetResponse{}
	if err := runtime.UnmarshalAsJSON(resp, &result.SQLDatabaseResource); err != nil {
		return SQLDatabasesClientGetResponse{}, err
	}
	return result, nil
}

// NewListByScopePager - List SqlDatabaseResource resources by Scope
//   - rootScope - The scope in which the resource is present. UCP Scope is /planes/{planeType}/{planeName}/resourceGroup/{resourcegroupID}
//     and Azure resource scope is /subscriptions/{subscriptionID}/resourceGroup/{resourcegroupID}
//   - options - SQLDatabasesClientListByScopeOptions contains the optional parameters for the SQLDatabasesClient.NewListByScopePager
//     method.
func (client *SQLDatabasesClient) NewListByScopePager(rootScope string, options *SQLDatabasesClientListByScopeOptions) *runtime.Pager[SQLDatabasesClientListByScopeResponse] {
	return runtime.NewPager(runtime.PagingHandler[SQLDatabasesClientListByScopeResponse]{
		More: func(page SQLDatabasesClientListByScopeResponse) bool {
			return page.NextLink != nil && len(*page.NextLink) > 0
		},
		Fetcher: func(ctx context.Context, page *SQLDatabasesClientListByScopeResponse) (SQLDatabasesClientListByScopeResponse, error) {
			nextLink := ""
			if page != nil {
				nextLink = *page.NextLink
			}
			resp, err := runtime.FetcherForNextLink(ctx, client.internal.Pipeline(), nextLink, func(ctx context.Context) (*policy.Request, error) {
				return client.listByScopeCreateRequest(ctx, rootScope, options)
			}, nil)
			if err != nil {
				return SQLDatabasesClientListByScopeResponse{}, err
			}
			return client.listByScopeHandleResponse(resp)
		},
	})
}

// listByScopeCreateRequest creates the ListByScope request.
func (client *SQLDatabasesClient) listByScopeCreateRequest(ctx context.Context, rootScope string, _ *SQLDatabasesClientListByScopeOptions) (*policy.Request, error) {
	urlPath := "/{rootScope}/providers/Applications.Datastores/sqlDatabases"
	if rootScope == "" {
		return nil, errors.New("parameter rootScope cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{rootScope}", url.PathEscape(rootScope))
	req, err := runtime.NewRequest(ctx, http.MethodGet, runtime.JoinPaths(client.internal.Endpoint(), urlPath))
	if err != nil {
		return nil, err
	}
	reqQP := req.Raw().URL.Query()
	reqQP.Set("api-version", version20231001Preview)
	req.Raw().URL.RawQuery = strings.ReplaceAll(reqQP.Encode(), "+", "%20")
	req.Raw().Header["Accept"] = []string{"application/json"}
	return req, nil
}

// listByScopeHandleResponse handles the ListByScope response.
func (client *SQLDatabasesClient) listByScopeHandleResponse(resp *http.Response) (SQLDatabasesClientListByScopeResponse, error) {
	result := SQLDatabasesClientListByScopeResponse{}
	if err := runtime.UnmarshalAsJSON(resp, &result.SQLDatabaseResourceListResult); err != nil {
		return SQLDatabasesClientListByScopeResponse{}, err
	}
	return result, nil
}

// ListSecrets - Lists secrets values for the specified SqlDatabase resource
// If the operation fails it returns an *azcore.ResponseError type.
//   - rootScope - The scope in which the resource is present. UCP Scope is /planes/{planeType}/{planeName}/resourceGroup/{resourcegroupID}
//     and Azure resource scope is /subscriptions/{subscriptionID}/resourceGroup/{resourcegroupID}
//   - sqlDatabaseName - The name of the SqlDatabase portable resource resource
//   - body - The content of the action request
//   - options - SQLDatabasesClientListSecretsOptions contains the optional parameters for the SQLDatabasesClient.ListSecrets
//     method.
func (client *SQLDatabasesClient) ListSecrets(ctx context.Context, rootScope string, sqlDatabaseName string, body ListSecretsRequest2, options *SQLDatabasesClientListSecretsOptions) (SQLDatabasesClientListSecretsResponse, error) {
	var err error
	req, err := client.listSecretsCreateRequest(ctx, rootScope, sqlDatabaseName, body, options)
	if err != nil {
		return SQLDatabasesClientListSecretsResponse{}, err
	}
	httpResp, err := client.internal.Pipeline().Do(req)
	if err != nil {
		return SQLDatabasesClientListSecretsResponse{}, err
	}
	if !runtime.HasStatusCode(httpResp, http.StatusOK) {
		err = runtime.NewResponseError(httpResp)
		return SQLDatabasesClientListSecretsResponse{}, err
	}
	resp, err := client.listSecretsHandleResponse(httpResp)
	return resp, err
}

// listSecretsCreateRequest creates the ListSecrets request.
func (client *SQLDatabasesClient) listSecretsCreateRequest(ctx context.Context, rootScope string, sqlDatabaseName string, body ListSecretsRequest2, _ *SQLDatabasesClientListSecretsOptions) (*policy.Request, error) {
	urlPath := "/{rootScope}/providers/Applications.Datastores/sqlDatabases/{sqlDatabaseName}/listSecrets"
	if rootScope == "" {
		return nil, errors.New("parameter rootScope cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{rootScope}", url.PathEscape(rootScope))
	if sqlDatabaseName == "" {
		return nil, errors.New("parameter sqlDatabaseName cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{sqlDatabaseName}", url.PathEscape(sqlDatabaseName))
	req, err := runtime.NewRequest(ctx, http.MethodPost, runtime.JoinPaths(client.internal.Endpoint(), urlPath))
	if err != nil {
		return nil, err
	}
	reqQP := req.Raw().URL.Query()
	reqQP.Set("api-version", version20231001Preview)
	req.Raw().URL.RawQuery = strings.ReplaceAll(reqQP.Encode(), "+", "%20")
	req.Raw().Header["Accept"] = []string{"application/json"}
	req.Raw().Header["Content-Type"] = []string{"application/json"}
	if err := runtime.MarshalAsJSON(req, body); err != nil {
		return nil, err
	}
	return req, nil
}

// listSecretsHandleResponse handles the ListSecrets response.
func (client *SQLDatabasesClient) listSecretsHandleResponse(resp *http.Response) (SQLDatabasesClientListSecretsResponse, error) {
	result := SQLDatabasesClientListSecretsResponse{}
	if err := runtime.UnmarshalAsJSON(resp, &result.SQLDatabaseListSecretsResult); err != nil {
		return SQLDatabasesClientListSecretsResponse{}, err
	}
	return result, nil
}

// BeginUpdate - Update a SqlDatabaseResource
// If the operation fails it returns an *azcore.ResponseError type.
//   - rootScope - The scope in which the resource is present. UCP Scope is /planes/{planeType}/{planeName}/resourceGroup/{resourcegroupID}
//     and Azure resource scope is /subscriptions/{subscriptionID}/resourceGroup/{resourcegroupID}
//   - sqlDatabaseName - The name of the SqlDatabase portable resource resource
//   - properties - The resource properties to be updated.
//   - options - SQLDatabasesClientBeginUpdateOptions contains the optional parameters for the SQLDatabasesClient.BeginUpdate
//     method.
func (client *SQLDatabasesClient) BeginUpdate(ctx context.Context, rootScope string, sqlDatabaseName string, properties SQLDatabaseResource, options *SQLDatabasesClientBeginUpdateOptions) (*runtime.Poller[SQLDatabasesClientUpdateResponse], error) {
	if options == nil || options.ResumeToken == "" {
		resp, err := client.update(ctx, rootScope, sqlDatabaseName, properties, options)
		if err != nil {
			return nil, err
		}
		poller, err := runtime.NewPoller[SQLDatabasesClientUpdateResponse](resp, client.internal.Pipeline(), nil)
		return poller, err
	} else {
		return runtime.NewPollerFromResumeToken[SQLDatabasesClientUpdateResponse](options.ResumeToken, client.internal.Pipeline(), nil)
	}
}

// Update - Update a SqlDatabaseResource
// If the operation fails it returns an *azcore.ResponseError type.
func (client *SQLDatabasesClient) update(ctx context.Context, rootScope string, sqlDatabaseName string, properties SQLDatabaseResource, options *SQLDatabasesClientBeginUpdateOptions) (*http.Response, error) {
	var err error
	req, err := client.updateCreateRequest(ctx, rootScope, sqlDatabaseName, properties, options)
	if err != nil {
		return nil, err
	}
	httpResp, err := client.internal.Pipeline().Do(req)
	if err != nil {
		return nil, err
	}
	if !runtime.HasStatusCode(httpResp, http.StatusOK, http.StatusAccepted) {
		err = runtime.NewResponseError(httpResp)
		return nil, err
	}
	return httpResp, nil
}

// updateCreateRequest creates the Update request.
func (client *SQLDatabasesClient) updateCreateRequest(ctx context.Context, rootScope string, sqlDatabaseName string, properties SQLDatabaseResource, _ *SQLDatabasesClientBeginUpdateOptions) (*policy.Request, error) {
	urlPath := "/{rootScope}/providers/Applications.Datastores/sqlDatabases/{sqlDatabaseName}"
	if rootScope == "" {
		return nil, errors.New("parameter rootScope cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{rootScope}", url.PathEscape(rootScope))
	if sqlDatabaseName == "" {
		return nil, errors.New("parameter sqlDatabaseName cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{sqlDatabaseName}", url.PathEscape(sqlDatabaseName))
	req, err := runtime.NewRequest(ctx, http.MethodPatch, runtime.JoinPaths(client.internal.Endpoint(), urlPath))
	if err != nil {
		return nil, err
	}
	reqQP := req.Raw().URL.Query()
	reqQP.Set("api-version", version20231001Preview)
	req.Raw().URL.RawQuery = strings.ReplaceAll(reqQP.Encode(), "+", "%20")
	req.Raw().Header["Accept"] = []string{"application/json"}
	req.Raw().Header["Content-Type"] = []string{"application/json"}
	if err := runtime.MarshalAsJSON(req, properties); err != nil {
		return nil, err
	}
	return req, nil
}
