{
  "swagger": "2.0",
  "info": {
    "title": "Applications.Link Management APIs",
    "description": "REST APIs for Applications.Link/daprStateStores",
    "version": "2022-03-15-privatepreview"
  },
  "host": "management.azure.com",
  "schemes": [
    "https"
  ],
  "consumes": [
    "application/json"
  ],
  "produces": [
    "application/json"
  ],
  "security": [
    {
      "azure_auth": [
        "user_impersonation"
      ]
    }
  ],
  "securityDefinitions": {
    "azure_auth": {
      "type": "oauth2",
      "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
      "flow": "implicit",
      "description": "Azure Active Directory OAuth2 Flow.",
      "scopes": {
        "user_impersonation": "impersonate your user account"
      }
    }
  },
  "paths": {
    "/{rootScope}/providers/Applications.Link/daprStateStores": {
      "get": {
        "description": "Lists information about all daprStateStore resources in the given root scope",
        "operationId": "DaprStateStores_ListByRootScope",
        "produces": [
          "application/json"
        ],
        "x-ms-examples": {
          "DaprStateStoresListByRootScope": {
            "$ref": "./examples/DaprStateStoresListByRootScope.json"
          }
        },
        "tags": [
          "DaprStateStores"
        ],
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "global.json#/parameters/RootScopeParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "List of DaprStateStore resources",
            "schema": {
              "$ref": "#/definitions/DaprStateStoreList"
            }
          },
          "default": {
            "description": "Error response describing the reason for operation failure",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "deprecated": false,
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/{rootScope}/providers/Applications.Link/daprStateStores/{daprStateStoreName}": {
      "get": {
        "description": "Retrieves information about a daprStateStore resource",
        "operationId": "DaprStateStores_Get",
        "produces": [
          "application/json"
        ],
        "x-ms-examples": {
          "DaprStateStoresGet": {
            "$ref": "./examples/DaprStateStoresGet.json"
          }
        },
        "tags": [
          "DaprStateStores"
        ],
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "global.json#/parameters/RootScopeParameter"
          },
          {
            "$ref": "#/parameters/DaprStateStoreNameParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "DaprStateStore resource",
            "schema": {
              "$ref": "#/definitions/DaprStateStoreResource"
            }
          },
          "default": {
            "description": "Error response describing the reason for operation failure",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/ErrorResponse"
            }
          }
        }
      },
      "put": {
        "description": "Creates or updates a DaprStateStore resource",
        "operationId": "DaprStateStores_CreateOrUpdate",
        "produces": [
          "application/json"
        ],
        "x-ms-examples": {
          "DaprStateStoresPut": {
            "$ref": "./examples/DaprStateStoresPut.json"
          }
        },
        "tags": [
          "DaprStateStores"
        ],
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "global.json#/parameters/RootScopeParameter"
          },
          {
            "$ref": "#/parameters/DaprStateStoreNameParameter"
          },
          {
            "name": "DaprStateStoreParameters",
            "description": "daprStateStore create parameters",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/DaprStateStoreResource"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The request was successful; response contains the daprStateStore resource",
            "schema": {
              "$ref": "#/definitions/DaprStateStoreResource"
            }
          },
          "201": {
            "description": "The request was successful, resource will be updated asynchronously",
            "schema": {
              "$ref": "#/definitions/DaprStateStoreResource"
            }
          },
          "default": {
            "description": "Error response describing the reason for operation failure",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/ErrorResponse"
            }
          }
        }
      },
      "delete": {
        "description": "Deletes an existing daprStateStore resource",
        "operationId": "DaprStateStores_Delete",
        "produces": [
          "application/json"
        ],
        "x-ms-examples": {
          "DaprStateStoresDelete": {
            "$ref": "./examples/DaprStateStoresDelete.json"
          }
        },
        "tags": [
          "DaprStateStores"
        ],
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "global.json#/parameters/RootScopeParameter"
          },
          {
            "$ref": "#/parameters/DaprStateStoreNameParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "The DaprStateStore link was successfully deleted."
          },
          "202": {
            "description": "The DaprStateStore link will be deleted asynchronously."
          },
          "204": {
            "description": "The DaprStateStore link does not exist."
          },
          "default": {
            "description": "Error response describing the reason for operation failure",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/ErrorResponse"
            }
          }
        }
      }
    }
  },
  "definitions": {
    "DaprStateStoreList": {
      "description": "Object that includes an array of DaprStateStore and a possible link for next set",
      "type": "object",
      "properties": {
        "value": {
          "description": "List of DaprStateStore resources",
          "type": "array",
          "items": {
            "$ref": "#/definitions/DaprStateStoreResource"
          }
        },
        "nextLink": {
          "description": "The link used to fetch the next page of DaprStateStore list.",
          "type": "string"
        }
      }
    },
    "DaprStateStoreResource": {
      "description": "DaprStateStore link",
      "type": "object",
      "allOf": [
        {
          "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/TrackedResource"
        }
      ],
      "required": [
        "properties"
      ],
      "properties": {
        "systemData": {
          "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/systemData"
        },
        "properties": {
          "x-ms-client-flatten": true,
          "$ref": "#/definitions/DaprStateStoreProperties"
        }
      }
    },
    "ResourceDaprStateStoreResourceProperties": {
      "additionalProperties": false,
      "allOf": [
        {
          "$ref": "#/definitions/DaprStateStoreProperties"
        }
      ],
      "properties": {
        "kind": {
          "description": "The Dapr StateStore kind",
          "type": "string",
          "enum": [
            "state.sqlserver",
            "state.azure.tablestorage"
          ]
        },
        "metadata": {
          "description": "Metadata for the state store resource. This should match the values specified in Dapr component spec",
          "type": "object"
        },
        "type": {
          "description": "Dapr StateStore type. These strings match the format used by Dapr Kubernetes configuration format.",
          "example": [
            "state.zookeeper"
          ],
          "type": "string"
        },
        "version": {
          "description": "Dapr component version",
          "type": "string"
        },
        "resource": {
          "description": "The resource id of the Azure SQL Database or Azure Table Storage the daprStateStore resource is connected to.",
          "type": "string"
        }
      },
      "required": [
        "kind",
        "resource"
      ],
      "type": "object",
      "x-ms-discriminator-value": "resource"
    },
    "ValuesDaprStateStoreResourceProperties": {
      "additionalProperties": false,
      "allOf": [
        {
          "$ref": "#/definitions/DaprStateStoreProperties"
        }
      ],
      "properties": {
        "kind": {
          "description": "The Dapr StateStore kind",
          "type": "string",
          "enum": [
            "generic"
          ]
        },
        "metadata": {
          "description": "Metadata for the state store resource. This should match the values specified in Dapr component spec",
          "type": "object"
        },
        "type": {
          "description": "Dapr StateStore type. These strings match the format used by Dapr Kubernetes configuration format.",
          "example": [
            "state.zookeeper"
          ],
          "type": "string"
        },
        "version": {
          "description": "Dapr component version",
          "type": "string"
        },
        "resource": {
          "description": "The resource id of the Azure SQL Database or Azure Table Storage the daprStateStore resource is connected to.",
          "type": "string"
        }
      },
      "required": [
        "kind",
        "type",
        "metadata",
        "version"
      ],
      "type": "object",
      "x-ms-discriminator-value": "values"
    },
    "RecipeDaprStateStoreProperties": {
      "additionalProperties": false,
      "allOf": [
        {
          "$ref": "#/definitions/DaprStateStoreProperties"
        }
      ],
      "properties": {
        "metadata": {
          "description": "Metadata for the state store resource. This should match the values specified in Dapr component spec",
          "type": "object"
        },
        "type": {
          "description": "Dapr StateStore type. These strings match the format used by Dapr Kubernetes configuration format.",
          "example": [
            "state.zookeeper"
          ],
          "type": "string"
        },
        "version": {
          "description": "Dapr component version",
          "type": "string"
        },
        "resource": {
          "description": "The resource id of the Azure SQL Database or Azure Table Storage the daprStateStore resource is connected to.",
          "type": "string"
        },
        "recipe": {
          "description": "The recipe used to automatically deploy underlying infrastructure for the daprStateStore link",
          "type": "object",
          "additionalProperties": false,
          "$ref": "global.json#/definitions/Recipe"
        }
      },
      "required": [
        "recipe"
      ],
      "type": "object",
      "x-ms-discriminator-value": "recipe"
    },
    "DaprStateStoreProperties": {
      "description": "DaprStateStore link properties",
      "type": "object",
      "allOf": [
        {
          "$ref": "global.json#/definitions/BasicResourceProperties"
        },
        {
          "$ref": "global.json#/definitions/BasicDaprResourceProperties"
        }
      ],
      "discriminator": "mode",
      "properties": {
        "provisioningState": {
          "readOnly": true,
          "$ref": "global.json#/definitions/ProvisioningState",
          "description": "Provisioning state of the daprStateStore link at the time the operation was called"
        },
        "mode": {
          "description": "How to build the link. Options are to build automatically via 'recipe', build via 'resource' or build manually via 'values'. Selection determines which set of fields to additionally require.",
          "type": "string",
          "enum": [
            "recipe",
            "resource",
            "values"
          ]
        }
      },
      "required": [
        "environment",
        "mode"
      ]
    }
  },
  "parameters": {
    "DaprStateStoreNameParameter": {
      "description": "The name of the daprStateStore link resource",
      "name": "daprStateStoreName",
      "in": "path",
      "required": true,
      "type": "string",
      "pattern": "^[a-z]([-a-z0-9]*[a-z0-9])?$",
      "maxLength": 63,
      "x-ms-parameter-location": "method"
    }
  }
}