{
  "swagger": "2.0",
  "info": {
    "title": "Applications.Link Management APIs",
    "description": "REST APIs for Applications.Link/daprPubSubBrokers",
    "version": "2022-03-15-privatepreview"
  },
  "host": "management.azure.com",
  "schemes": [
    "https"
  ],
  "consumes": [
    "application/json"
  ],
  "produces": [
    "application/json"
  ],
  "security": [
    {
      "azure_auth": [
        "user_impersonation"
      ]
    }
  ],
  "securityDefinitions": {
    "azure_auth": {
      "type": "oauth2",
      "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
      "flow": "implicit",
      "description": "Azure Active Directory OAuth2 Flow.",
      "scopes": {
        "user_impersonation": "impersonate your user account"
      }
    }
  },
  "paths": {
    "/{rootScope}/providers/Applications.Link/daprPubSubBrokers": {
      "get": {
        "description": "Lists information about all daprPubSubBroker resources in the given root scope",
        "operationId": "DaprPubSubBrokers_ListByRootScope",
        "produces": [
          "application/json"
        ],
        "x-ms-examples": {
          "DaprPubSubBrokersListByRootScope": {
            "$ref": "./examples/DaprPubSubBrokersListByRootScope.json"
          }
        },
        "tags": [
          "DaprPubSubBrokers"
        ],
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "global.json#/parameters/RootScopeParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "List of DaprPubSubBroker resources",
            "schema": {
              "$ref": "#/definitions/DaprPubSubBrokerList"
            }
          },
          "default": {
            "description": "Error response describing the reason for operation failure",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "deprecated": false,
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/{rootScope}/providers/Applications.Link/daprPubSubBrokers/{daprPubSubBrokerName}": {
      "get": {
        "description": "Retrieves information about a daprPubSubBroker resource",
        "operationId": "DaprPubSubBrokers_Get",
        "produces": [
          "application/json"
        ],
        "x-ms-examples": {
          "DaprPubSubBrokersGet": {
            "$ref": "./examples/DaprPubSubBrokersGet.json"
          }
        },
        "tags": [
          "DaprPubSubBrokers"
        ],
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "global.json#/parameters/RootScopeParameter"
          },
          {
            "$ref": "#/parameters/DaprPubSubBrokerNameParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "DaprPubSubBroker resource",
            "schema": {
              "$ref": "#/definitions/DaprPubSubBrokerResource"
            }
          },
          "default": {
            "description": "Error response describing the reason for operation failure",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/ErrorResponse"
            }
          }
        }
      },
      "put": {
        "description": "Creates or updates a DaprPubSubBroker resource",
        "operationId": "DaprPubSubBrokers_CreateOrUpdate",
        "produces": [
          "application/json"
        ],
        "x-ms-examples": {
          "DaprPubSubBrokersPut": {
            "$ref": "./examples/DaprPubSubBrokersPut.json"
          }
        },
        "tags": [
          "DaprPubSubBrokers"
        ],
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "global.json#/parameters/RootScopeParameter"
          },
          {
            "$ref": "#/parameters/DaprPubSubBrokerNameParameter"
          },
          {
            "name": "DaprPubSubBrokerParameters",
            "description": "daprPubSubBroker create parameters",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/DaprPubSubBrokerResource"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The request was successful; response contains the daprPubSubBroker resource",
            "schema": {
              "$ref": "#/definitions/DaprPubSubBrokerResource"
            }
          },
          "201": {
            "description": "The request was successful, resource will be updated asynchronously",
            "schema": {
              "$ref": "#/definitions/DaprPubSubBrokerResource"
            }
          },
          "default": {
            "description": "Error response describing the reason for operation failure",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/ErrorResponse"
            }
          }
        }
      },
      "delete": {
        "description": "Deletes an existing daprPubSubBroker resource",
        "operationId": "DaprPubSubBrokers_Delete",
        "produces": [
          "application/json"
        ],
        "x-ms-examples": {
          "DaprPubSubBrokersDelete": {
            "$ref": "./examples/DaprPubSubBrokersDelete.json"
          }
        },
        "tags": [
          "DaprPubSubBrokers"
        ],
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "global.json#/parameters/RootScopeParameter"
          },
          {
            "$ref": "#/parameters/DaprPubSubBrokerNameParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "The DaprPubSubBroker link was successfully deleted."
          },
          "202": {
            "description": "The DaprPubSubBroker link will be deleted asynchronously."
          },
          "204": {
            "description": "The DaprPubSubBroker link does not exist."
          },
          "default": {
            "description": "Error response describing the reason for operation failure",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/ErrorResponse"
            }
          }
        }
      }
    }
  },
  "definitions": {
    "DaprPubSubBrokerList": {
      "description": "Object that includes an array of DaprPubSubBroker and a possible link for next set",
      "type": "object",
      "properties": {
        "value": {
          "description": "List of DaprPubSubBroker resources",
          "type": "array",
          "items": {
            "$ref": "#/definitions/DaprPubSubBrokerResource"
          }
        },
        "nextLink": {
          "description": "The link used to fetch the next page of DaprPubSubBroker list.",
          "type": "string"
        }
      }
    },
    "DaprPubSubBrokerResource": {
      "description": "DaprPubSubBroker link",
      "type": "object",
      "allOf": [
        {
          "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/TrackedResource"
        }
      ],
      "required": [
        "properties"
      ],
      "properties": {
        "systemData": {
          "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/systemData"
        },
        "properties": {
          "x-ms-client-flatten": true,
          "$ref": "#/definitions/DaprPubSubBrokerProperties"
        }
      }
    },
    "ResourceDaprPubSubProperties": {
      "additionalProperties": false,
      "allOf": [
        {
          "$ref": "#/definitions/DaprPubSubBrokerProperties"
        }
      ],
      "properties": {
        "kind": {
          "description": "The DaprPubSubProperties kind",
          "type": "string",
          "enum": [
            "pubsub.azure.servicebus"
          ]
        },
        "resource": {
          "description": "PubSub resource",
          "type": "string"
        },
        "metadata": {
          "description": "Metadata for the pub sub resource. This should match the values specified in Dapr component spec",
          "type": "object"
        },
        "type": {
          "description": "Dapr PubSub type. These strings match the format used by Dapr Kubernetes configuration format.",
          "type": "string"
        },
        "version": {
          "description": "Dapr component version",
          "type": "string"
        }
      },
      "required": [
        "kind",
        "resource"
      ],
      "type": "object",
      "x-ms-discriminator-value": "resource"
    },
    "ValuesDaprPubSubProperties": {
      "additionalProperties": false,
      "allOf": [
        {
          "$ref": "#/definitions/DaprPubSubBrokerProperties"
        }
      ],
      "properties": {
        "kind": {
          "description": "The DaprPubSubProperties kind",
          "type": "string",
          "enum": [
            "generic"
          ]
        },
        "metadata": {
          "description": "Metadata for the pub sub resource. This should match the values specified in Dapr component spec",
          "type": "object"
        },
        "type": {
          "description": "Dapr PubSub type. These strings match the format used by Dapr Kubernetes configuration format.",
          "type": "string"
        },
        "version": {
          "description": "Dapr component version",
          "type": "string"
        },
        "resource": {
          "description": "PubSub resource",
          "type": "string"
        }
      },
      "required": [
        "kind",
        "type",
        "version",
        "metadata"
      ],
      "type": "object",
      "x-ms-discriminator-value": "values"
    },
    "RecipeDaprPubSubProperties": {
      "additionalProperties": false,
      "allOf": [
        {
          "$ref": "#/definitions/DaprPubSubBrokerProperties"
        }
      ],
      "properties": {
        "recipe": {
          "description": "The recipe used to automatically deploy underlying infrastructure for the daprPubSub link",
          "type": "object",
          "additionalProperties": false,
          "$ref": "global.json#/definitions/Recipe"
        },
        "resource": {
          "description": "PubSub resource",
          "type": "string"
        },
        "type": {
          "description": "Dapr PubSub type. These strings match the format used by Dapr Kubernetes configuration format.",
          "type": "string"
        },
        "version": {
          "description": "Dapr component version",
          "type": "string"
        },
        "metadata": {
          "description": "Metadata for the pub sub resource. This should match the values specified in Dapr component spec",
          "type": "object"
        }
      },
      "required": [
        "recipe"
      ],
      "type": "object",
      "x-ms-discriminator-value": "recipe"
    },
    "DaprPubSubBrokerProperties": {
      "description": "DaprPubSubBroker link properties",
      "type": "object",
      "allOf": [
        {
          "$ref": "global.json#/definitions/BasicResourceProperties"
        },
        {
          "$ref": "global.json#/definitions/BasicDaprResourceProperties"
        }
      ],
      "discriminator": "mode",
      "properties": {
        "provisioningState": {
          "readOnly": true,
          "$ref": "global.json#/definitions/ProvisioningState",
          "description": "Provisioning state of the daprPubSubBroker link at the time the operation was called"
        },
        "mode": {
          "description": "How to build the link. Options are to build automatically via 'recipe', build via 'resource' or build manually via 'values'. Selection determines which set of fields to additionally require.",
          "type": "string",
          "enum": [
            "recipe",
            "resource",
            "values"
          ]
        },
        "topic": {
          "description": "Topic name of the Azure ServiceBus resource",
          "type": "string"
        }
      },
      "required": [
        "environment",
        "mode"
      ]
    }
  },
  "parameters": {
    "DaprPubSubBrokerNameParameter": {
      "description": "The name of the DaprPubSubBroker link resource",
      "name": "daprPubSubBrokerName",
      "in": "path",
      "required": true,
      "type": "string",
      "pattern": "^[a-z]([-a-z0-9]*[a-z0-9])?$",
      "maxLength": 63,
      "x-ms-parameter-location": "method"
    }
  }
}
