{
  "swagger": "2.0",
  "info": {
    "title": "Applications.Link Management APIs",
    "description": "REST APIs for Applications.Link/mongoDatabases",
    "version": "2022-03-15-privatepreview"
  },
  "host": "management.azure.com",
  "schemes": [
    "https"
  ],
  "consumes": [
    "application/json"
  ],
  "produces": [
    "application/json"
  ],
  "security": [
    {
      "azure_auth": [
        "user_impersonation"
      ]
    }
  ],
  "securityDefinitions": {
    "azure_auth": {
      "type": "oauth2",
      "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
      "flow": "implicit",
      "description": "Azure Active Directory OAuth2 Flow.",
      "scopes": {
        "user_impersonation": "impersonate your user account"
      }
    }
  },
  "paths": {
    "/{rootScope}/providers/Applications.Link/mongoDatabases": {
      "get": {
        "description": "Lists information about all mongoDatabases resources in the given root scope",
        "operationId": "MongoDatabases_ListByRootScope",
        "produces": [
          "application/json"
        ],
        "x-ms-examples": {
          "MongoDatabasesListByRootScope": {
            "$ref": "./examples/MongoDatabasesListByRootScope.json"
          }
        },
        "tags": [
          "MongoDatabases"
        ],
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "global.json#/parameters/RootScopeParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "List of MongoDatabase resources",
            "schema": {
              "$ref": "#/definitions/MongoDatabaseList"
            }
          },
          "default": {
            "description": "Error response describing the reason for operation failure",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "deprecated": false,
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/{rootScope}/providers/Applications.Link/mongoDatabases/{mongoDatabaseName}": {
      "get": {
        "description": "Retrieves information about a mongoDatabases resource",
        "operationId": "MongoDatabases_Get",
        "produces": [
          "application/json"
        ],
        "x-ms-examples": {
          "MongoDatabasesGet": {
            "$ref": "./examples/MongoDatabasesGet.json"
          }
        },
        "tags": [
          "MongoDatabases"
        ],
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "global.json#/parameters/RootScopeParameter"
          },
          {
            "$ref": "#/parameters/MongoDatabaseNameParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "MongoDatabase resource",
            "schema": {
              "$ref": "#/definitions/MongoDatabaseResponseResource"
            }
          },
          "default": {
            "description": "Error response describing the reason for operation failure",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/ErrorResponse"
            }
          }
        }
      },
      "put": {
        "description": "Creates or updates a MongoDatabase resource",
        "operationId": "MongoDatabases_CreateOrUpdate",
        "produces": [
          "application/json"
        ],
        "x-ms-examples": {
          "MongoDatabasesPut": {
            "$ref": "./examples/MongoDatabasesPut.json"
          }
        },
        "tags": [
          "MongoDatabases"
        ],
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "global.json#/parameters/RootScopeParameter"
          },
          {
            "$ref": "#/parameters/MongoDatabaseNameParameter"
          },
          {
            "name": "MongoDatabaseParameters",
            "description": "mongoDatabase create parameters",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/MongoDatabaseResource"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The request was successful; response contains the mongoDatabase resource",
            "schema": {
              "$ref": "#/definitions/MongoDatabaseResponseResource"
            }
          },
          "201": {
            "description": "The request was successful, resource will be updated asynchronously",
            "schema": {
              "$ref": "#/definitions/MongoDatabaseResponseResource"
            }
          },
          "default": {
            "description": "Error response describing the reason for operation failure",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/ErrorResponse"
            }
          }
        }
      },
      "delete": {
        "description": "Deletes an existing mongoDatabase resource",
        "operationId": "MongoDatabases_Delete",
        "produces": [
          "application/json"
        ],
        "x-ms-examples": {
          "MongoDatabasesDelete": {
            "$ref": "./examples/MongoDatabasesDelete.json"
          }
        },
        "tags": [
          "MongoDatabases"
        ],
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "global.json#/parameters/RootScopeParameter"
          },
          {
            "$ref": "#/parameters/MongoDatabaseNameParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "The MongoDatabase link was successfully deleted."
          },
          "202": {
            "description": "The MongoDatabase link will be deleted asynchronously."
          },
          "204": {
            "description": "The MongoDatabase link does not exist."
          },
          "default": {
            "description": "Error response describing the reason for operation failure",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/ErrorResponse"
            }
          }
        }
      }
    },
    "/{rootScope}/providers/Applications.Link/mongoDatabases/{mongoDatabaseName}/listSecrets": {
      "post": {
        "description": "Lists secrets values for the specified MongoDatabase resource",
        "operationId": "MongoDatabases_listSecrets",
        "produces": [
          "application/json"
        ],
        "x-ms-examples": {
          "MongoDatabasesGet": {
            "$ref": "./examples/MongoDatabasesListSecrets.json"
          }
        },
        "tags": [
          "MongoDatabases"
        ],
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "global.json#/parameters/RootScopeParameter"
          },
          {
            "$ref": "#/parameters/MongoDatabaseNameParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "MongoDatabase resource",
            "schema": {
              "$ref": "#/definitions/MongoDatabaseListSecretsResult"
            }
          },
          "default": {
            "description": "Error response describing the reason for operation failure",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/ErrorResponse"
            }
          }
        }
      }
    }
  },
  "definitions": {
    "MongoDatabaseList": {
      "description": "Object that includes an array of MongoDatabase and a possible link for next set",
      "type": "object",
      "properties": {
        "value": {
          "description": "List of MongoDatabase resources",
          "type": "array",
          "items": {
            "$ref": "#/definitions/MongoDatabaseResponseResource"
          }
        },
        "nextLink": {
          "description": "The link used to fetch the next page of MongoDatabase list.",
          "type": "string"
        }
      }
    },
    "MongoDatabaseResource": {
      "description": "MongoDatabase link",
      "type": "object",
      "allOf": [
        {
          "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/TrackedResource"
        }
      ],
      "required": [
        "properties"
      ],
      "properties": {
        "systemData": {
          "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/systemData"
        },
        "properties": {
          "x-ms-client-flatten": true,
          "$ref": "#/definitions/MongoDatabaseProperties"
        }
      }
    },
    "MongoDatabaseResponseResource": {
      "description": "MongoDatabase link",
      "type": "object",
      "allOf": [
        {
          "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/TrackedResource"
        }
      ],
      "required": [
        "properties"
      ],
      "properties": {
        "systemData": {
          "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/systemData"
        },
        "properties": {
          "x-ms-client-flatten": true,
          "$ref": "#/definitions/MongoDatabaseResponseProperties"
        }
      }
    },
    "MongoDatabaseResponseProperties": {
      "description": "MongoDatabase link response properties",
      "type": "object",
      "allOf": [
        {
          "$ref": "global.json#/definitions/BasicResourceProperties"
        },
        {
          "$ref": "#/definitions/ValuesMongoDatabaseProperties"
        }
      ],
      "properties": {
        "provisioningState": {
          "readOnly": true,
          "$ref": "global.json#/definitions/ProvisioningState",
          "description": "Provisioning state of the mongo database link at the time the operation was called"
        },
        "resource": {
          "description": "Fully qualified resource ID of a supported resource with Mongo API to use for this link",
          "type": "string",
          "example": [
            "account::mongodb.id"
          ]
        },
        "recipe": {
          "readOnly": true,
          "description": "The recipe used to automatically deploy underlying infrastructure for the mongodatabase link",
          "type": "object",
          "$ref": "global.json#/definitions/Recipe"
        },
        "mode": {
          "readOnly": true,
          "description": "Mode of the Mongo Database link deployment. It can be either one of 'recipe', 'resource' or 'values'",
          "type": "string"
        }
      }
    },
    "ResourceMongoDatabaseRequestProperties": {
      "additionalProperties": false,
      "allOf": [
        {
          "$ref": "#/definitions/ValuesMongoDatabaseRequestProperties"
        }
      ],
      "properties": { 
        "resource": {
          "description": "Fully qualified resource ID of a supported resource with Mongo API to use for this link",
          "type": "string",
          "example": [
            "account::mongodb.id"
          ]
        }
      },
      "required": [
        "resource"
      ],
      "type": "object",
      "x-ms-discriminator-value": "resource"
    },
    "RecipeMongoDatabaseRequestProperties": {
      "additionalProperties": false,
      "allOf": [
        {
          "$ref": "#/definitions/MongoDatabaseProperties"
        }
      ],
      "properties": { 
        "recipe": {
          "description": "The recipe used to automatically deploy underlying infrastructure for the mongodatabase link",
          "type": "object",
          "$ref": "global.json#/definitions/Recipe"
        }
      },
      "required": [
        "mode",
        "recipe"
      ],
      "type": "object",
      "x-ms-discriminator-value": "recipe"
    },
    "ValuesMongoDatabaseRequestProperties": {
      "additionalProperties": false,
      "allOf": [
        {
          "$ref": "#/definitions/MongoDatabaseProperties"
        },
        {
          "$ref": "#/definitions/ValuesMongoDatabaseProperties"
        }
      ],
      "properties": {
        "secrets": {
          "type": "object",
          "description": "Secrets values provided for the resource",
          "$ref": "#/definitions/MongoDatabaseSecrets"
        }
      },
      "required": [
        "mode"
      ],
      "type": "object",
      "x-ms-discriminator-value": "values"
    },
    "ValuesMongoDatabaseProperties": {
      "additionalProperties": false,
      "properties": {
        "host": {
          "description": "Host name of the target Mongo database",
          "type": "string"
       },
       "port": {
         "description": "Port value of the target Mongo database",
         "type": "integer",
         "example": [
           27017
         ]
       },
       "database": {
          "description": "Database name of the target Mongo database",
          "type": "string",
          "readOnly": true
        }
      },
      "type": "object"
    },
    "MongoDatabaseProperties": {
      "description": "MongoDatabase link create/update request properties",
      "type": "object",
      "allOf": [
        {
          "$ref": "global.json#/definitions/BasicResourceProperties"
        }
      ],
      "discriminator": "mode",
      "properties": {
        "provisioningState": {
          "readOnly": true,
          "$ref": "global.json#/definitions/ProvisioningState",
          "description": "Provisioning state of the mongo database link at the time the operation was called"
        },
        "mode" : {
          "description": "Mode of the Mongo Database link deployment. It can be either one of 'recipe', 'resource' or 'values'",
          "type": "string",
          "enum": [
            "resource",
            "recipe",
            "values"
          ] 
        }
      },
      "required": [
        "environment",
        "mode"
      ]
    },
    "MongoDatabaseListSecretsResult": {
      "description": "The secret values for the given MongoDatabase resource",
      "$ref": "#/definitions/MongoDatabaseSecrets"
    },
    "MongoDatabaseSecrets": {
      "description": "The secret values for the given MongoDatabase resource",
      "properties": {
        "username": {
          "description": "Username to use when connecting to the target Mongo database",
          "type": "string"
        },
        "password": {
          "description": "Password to use when connecting to the target Mongo database",
          "type": "string"
        },
        "connectionString": {
          "description": "Connection string used to connect to the target Mongo database",
          "type": "string"
        }
      }
    }
  },
  "parameters": {
    "MongoDatabaseNameParameter": {
      "description": "The name of the MongoDatabase link resource",
      "name": "mongoDatabaseName",
      "in": "path",
      "required": true,
      "type": "string",
      "pattern": "^[a-z]([-a-z0-9]*[a-z0-9])?$",
      "maxLength": 63,
      "x-ms-parameter-location": "method"
    }
  }
}