{
  "swagger": "2.0",
  "info": {
    "title": "Applications.Link Management APIs",
    "description": "REST APIs for Applications.Link/rabbitMQMessageQueues",
    "version": "2022-03-15-privatepreview"
  },
  "host": "management.azure.com",
  "schemes": [
    "https"
  ],
  "consumes": [
    "application/json"
  ],
  "produces": [
    "application/json"
  ],
  "security": [
    {
      "azure_auth": [
        "user_impersonation"
      ]
    }
  ],
  "securityDefinitions": {
    "azure_auth": {
      "type": "oauth2",
      "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
      "flow": "implicit",
      "description": "Azure Active Directory OAuth2 Flow.",
      "scopes": {
        "user_impersonation": "impersonate your user account"
      }
    }
  },
  "paths": {
    "/{rootScope}/providers/Applications.Link/rabbitMQMessageQueues": {
      "get": {
        "description": "Lists information about all rabbitMQMessageQueue resources in the given root scope",
        "operationId": "RabbitMQMessageQueues_ListByRootScope",
        "produces": [
          "application/json"
        ],
        "x-ms-examples": {
          "RabbitMQMessageQueuesListByRootScope": {
            "$ref": "./examples/RabbitMQMessageQueuesListByRootScope.json"
          }
        },
        "tags": [
          "RabbitMQMessageQueues"
        ],
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "global.json#/parameters/RootScopeParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "List of RabbitMQMessageQueue resources",
            "schema": {
              "$ref": "#/definitions/RabbitMQMessageQueueList"
            }
          },
          "default": {
            "description": "Error response describing the reason for operation failure",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "deprecated": false,
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/{rootScope}/providers/Applications.Link/rabbitMQMessageQueues/{rabbitMQMessageQueueName}": {
      "get": {
        "description": "Retrieves information about a rabbitMQMessageQueue resource",
        "operationId": "RabbitMQMessageQueues_Get",
        "produces": [
          "application/json"
        ],
        "x-ms-examples": {
          "RabbitMQMessageQueuesGet": {
            "$ref": "./examples/RabbitMQMessageQueuesGet.json"
          }
        },
        "tags": [
          "RabbitMQMessageQueues"
        ],
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "global.json#/parameters/RootScopeParameter"
          },
          {
            "$ref": "#/parameters/RabbitMQMessageQueueNameParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "RabbitMQMessageQueue resource",
            "schema": {
              "$ref": "#/definitions/RabbitMQMessageQueueResource"
            }
          },
          "default": {
            "description": "Error response describing the reason for operation failure",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/ErrorResponse"
            }
          }
        }
      },
      "put": {
        "description": "Creates or updates a RabbitMQMessageQueue resource",
        "operationId": "RabbitMQMessageQueues_CreateOrUpdate",
        "produces": [
          "application/json"
        ],
        "x-ms-examples": {
          "RabbitMQMessageQueuesPut": {
            "$ref": "./examples/RabbitMQMessageQueuesPut.json"
          }
        },
        "tags": [
          "RabbitMQMessageQueues"
        ],
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "global.json#/parameters/RootScopeParameter"
          },
          {
            "$ref": "#/parameters/RabbitMQMessageQueueNameParameter"
          },
          {
            "name": "RabbitMQMessageQueueParameters",
            "description": "rabbitMQMessageQueue create parameters",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/RabbitMQMessageQueueResource"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The request was successful; response contains the rabbitMQMessageQueue resource",
            "schema": {
              "$ref": "#/definitions/RabbitMQMessageQueueResource"
            }
          },
          "201": {
            "description": "The request was successful, resource will be updated asynchronously",
            "schema": {
              "$ref": "#/definitions/RabbitMQMessageQueueResource"
            }
          },
          "default": {
            "description": "Error response describing the reason for operation failure",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/ErrorResponse"
            }
          }
        }
      },
      "delete": {
        "description": "Deletes an existing rabbitMQMessageQueue resource",
        "operationId": "RabbitMQMessageQueues_Delete",
        "produces": [
          "application/json"
        ],
        "x-ms-examples": {
          "RabbitMQMessageQueuesDelete": {
            "$ref": "./examples/RabbitMQMessageQueuesDelete.json"
          }
        },
        "tags": [
          "RabbitMQMessageQueues"
        ],
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "global.json#/parameters/RootScopeParameter"
          },
          {
            "$ref": "#/parameters/RabbitMQMessageQueueNameParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "The RabbitMQMessageQueue link was successfully deleted."
          },
          "202": {
            "description": "The RabbitMQMessageQueue link will be deleted asynchronously."
          },
          "204": {
            "description": "The RabbitMQMessageQueue link does not exist."
          },
          "default": {
            "description": "Error response describing the reason for operation failure",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/ErrorResponse"
            }
          }
        }
      }
    },
    "/{rootScope}/providers/Applications.Link/rabbitMQMessageQueues/{rabbitMQMessageQueueName}/listSecrets": {
      "post": {
        "description": "Lists secrets values for the specified RabbitMQMessageQueue resource",
        "operationId": "RabbitMQMessageQueues_listSecrets",
        "produces": [
          "application/json"
        ],
        "x-ms-examples": {
          "MongoDatabasesGet": {
            "$ref": "./examples/RabbitMQMessageQueuesListSecrets.json"
          }
        },
        "tags": [
          "MongoDatabases"
        ],
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "global.json#/parameters/RootScopeParameter"
          },
          {
            "$ref": "#/parameters/RabbitMQMessageQueueNameParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "RabbitMQMessageQueue resource",
            "schema": {
              "$ref": "#/definitions/RabbitMQListSecretsResult"
            }
          },
          "default": {
            "description": "Error response describing the reason for operation failure",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/ErrorResponse"
            }
          }
        }
      }
    }
  },
  "definitions": {
    "RabbitMQMessageQueueList": {
      "description": "Object that includes an array of RabbitMQMessageQueue and a possible link for next set",
      "type": "object",
      "properties": {
        "value": {
          "description": "List of RabbitMQMessageQueue resources",
          "type": "array",
          "items": {
            "$ref": "#/definitions/RabbitMQMessageQueueResource"
          }
        },
        "nextLink": {
          "description": "The link used to fetch the next page of RabbitMQMessageQueue list.",
          "type": "string"
        }
      }
    },
    "RabbitMQMessageQueueResource": {
      "description": "RabbitMQMessageQueue link",
      "type": "object",
      "allOf": [
        {
          "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/TrackedResource"
        }
      ],
      "required": [
        "properties"
      ],
      "properties": {
        "systemData": {
          "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/systemData"
        },
        "properties": {
          "x-ms-client-flatten": true,
          "$ref": "#/definitions/RabbitMQMessageQueueProperties"
        }
      }
    },
    "RabbitMQListSecretsResult": {
      "description": "The secret values for the given RabbitMQMessageQueue resource",
      "$ref": "#/definitions/RabbitMQSecrets"
    },
    "RabbitMQSecrets": {
      "description": "The secret values for the given RabbitMQMessageQueue resource",
      "properties": {
        "connectionString": {
          "description": "The connection string used to connect to this RabbitMQ instance",
          "type": "string"
        }
      }
    },
    "ValuesRabbitMQMessageQueueProperties": {
      "additionalProperties": false,
      "allOf": [
        {
          "$ref": "#/definitions/RabbitMQMessageQueueProperties"
        }
      ],
      "properties": {
        "queue": {
          "description": "The name of the queue",
          "type": "string"
        }
      },
      "required": [
        "queue"
      ],
      "type": "object",
      "x-ms-discriminator-value": "values"
    },
    "RecipeRabbitMQMessageQueueProperties": {
      "additionalProperties": false,
      "allOf": [
        {
          "$ref": "#/definitions/RabbitMQMessageQueueProperties"
        }
      ],
      "properties": {
        "recipe": {
          "description": "The recipe used to automatically deploy underlying infrastructure for the rabbitmq link",
          "type": "object",
          "additionalProperties": false,
          "$ref": "global.json#/definitions/Recipe"
        },
        "queue": {
          "description": "The name of the queue",
          "type": "string"
        }
      },
      "required": [
        "recipe"
      ],
      "type": "object",
      "x-ms-discriminator-value": "recipe"
    },
    "RabbitMQMessageQueueProperties": {
      "description": "RabbitMQMessageQueue link response properties",
      "type": "object",
      "allOf": [
        {
          "$ref": "global.json#/definitions/BasicResourceProperties"
        }
      ],
      "discriminator": "mode",
      "properties": {
        "provisioningState": {
          "readOnly": true,
          "$ref": "global.json#/definitions/ProvisioningState",
          "description": "Provisioning state of the rabbitMQ message queue link at the time the operation was called"
        },
        "secrets": {
          "x-ms-secret": true,
          "type": "object",
          "description": "Secrets provided by resources,",
          "additionalProperties": false,
          "$ref": "#/definitions/RabbitMQSecrets"
        },
        "mode": {
          "description": "How to build the link. Options are to build automatically via 'recipe' or build manually via 'values'. Selection determines which set of fields to additionally require.",
          "type": "string",
          "enum": [
            "recipe",
            "values"
          ]
        }
      },
      "required": [
        "environment",
        "mode"
      ]
    }
  },
  "parameters": {
    "RabbitMQMessageQueueNameParameter": {
      "description": "The name of the RabbitMQMessageQueue link resource",
      "name": "rabbitMQMessageQueueName",
      "in": "path",
      "required": true,
      "type": "string",
      "pattern": "^[a-z]([-a-z0-9]*[a-z0-9])?$",
      "maxLength": 63,
      "x-ms-parameter-location": "method"
    }
  }
}