{
  "swagger": "2.0",
  "info": {
    "title": "Applications.Link Management APIs",
    "description": "REST APIs for Applications.Link/redisCaches",
    "version": "2022-03-15-privatepreview"
  },
  "host": "management.azure.com",
  "schemes": [
    "https"
  ],
  "consumes": [
    "application/json"
  ],
  "produces": [
    "application/json"
  ],
  "security": [
    {
      "azure_auth": [
        "user_impersonation"
      ]
    }
  ],
  "securityDefinitions": {
    "azure_auth": {
      "type": "oauth2",
      "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
      "flow": "implicit",
      "description": "Azure Active Directory OAuth2 Flow.",
      "scopes": {
        "user_impersonation": "impersonate your user account"
      }
    }
  },
  "paths": {
    "/{rootScope}/providers/Applications.Link/redisCaches": {
      "get": {
        "description": "Lists information about all Redis cache resources in the given root scope",
        "operationId": "RedisCaches_ListByRootScope",
        "produces": [
          "application/json"
        ],
        "x-ms-examples": {
          "RedisCachesListByRootScope": {
            "$ref": "./examples/RedisCachesListByRootScope.json"
          }
        },
        "tags": [
          "RedisCaches"
        ],
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "global.json#/parameters/RootScopeParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "List of Redis cache resources",
            "schema": {
              "$ref": "#/definitions/RedisCacheList"
            }
          },
          "default": {
            "description": "Error response describing the reason for operation failure",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "deprecated": false,
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/{rootScope}/providers/Applications.Link/redisCaches/{redisCacheName}": {
      "get": {
        "description": "Retrieves information about a Redis cache resource",
        "operationId": "RedisCaches_Get",
        "produces": [
          "application/json"
        ],
        "x-ms-examples": {
          "RedisCachesGet": {
            "$ref": "./examples/RedisCachesGet.json"
          }
        },
        "tags": [
          "RedisCaches"
        ],
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "global.json#/parameters/RootScopeParameter"
          },
          {
            "$ref": "#/parameters/RedisCacheNameParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Redis cache resource",
            "schema": {
              "$ref": "#/definitions/RedisCacheResource"
            }
          },
          "default": {
            "description": "Error response describing the reason for operation failure",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/ErrorResponse"
            }
          }
        }
      },
      "put": {
        "description": "Creates or updates a Redis cache resource",
        "operationId": "RedisCaches_CreateOrUpdate",
        "produces": [
          "application/json"
        ],
        "x-ms-examples": {
          "RedisCachesPutResource": {
            "$ref": "./examples/RedisCachesPutResource.json"
          },
          "RedisCachesPutRecipe": {
            "$ref": "./examples/RedisCachesPutRecipe.json"
          },
          "RedisCachesPutValues": {
            "$ref": "./examples/RedisCachesPutValues.json"
          }
        },
        "tags": [
          "RedisCaches"
        ],
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "global.json#/parameters/RootScopeParameter"
          },
          {
            "$ref": "#/parameters/RedisCacheNameParameter"
          },
          {
            "name": "RedisCacheParameters",
            "description": "Redis cache create parameters",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/RedisCacheResource"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The request was successful; response contains the Redis cache resource",
            "schema": {
              "$ref": "#/definitions/RedisCacheResource"
            }
          },
          "201": {
            "description": "The request was successful, resource will be updated asynchronously",
            "schema": {
              "$ref": "#/definitions/RedisCacheResource"
            }
          },
          "default": {
            "description": "Error response describing the reason for operation failure",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/ErrorResponse"
            }
          }
        }
      },
      "delete": {
        "description": "Deletes an existing redisCache resource",
        "operationId": "RedisCaches_Delete",
        "produces": [
          "application/json"
        ],
        "x-ms-examples": {
          "RedisCachesDelete": {
            "$ref": "./examples/RedisCachesDelete.json"
          }
        },
        "tags": [
          "RedisCaches"
        ],
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "global.json#/parameters/RootScopeParameter"
          },
          {
            "$ref": "#/parameters/RedisCacheNameParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "The RedisCache link was successfully deleted."
          },
          "202": {
            "description": "The RedisCache link will be deleted asynchronously."
          },
          "204": {
            "description": "The RedisCache link does not exist."
          },
          "default": {
            "description": "Error response describing the reason for operation failure",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/ErrorResponse"
            }
          }
        }
      }
    },
    "/{rootScope}/providers/Applications.Link/redisCaches/{redisCacheName}/listSecrets": {
      "post": {
        "description": "Lists secrets values for the specified Redis cache resource",
        "operationId": "RedisCaches_listSecrets",
        "produces": [
          "application/json"
        ],
        "x-ms-examples": {
          "RedisCachesGet": {
            "$ref": "./examples/RedisCachesListSecrets.json"
          }
        },
        "tags": [
          "RedisCaches"
        ],
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "global.json#/parameters/RootScopeParameter"
          },
          {
            "$ref": "#/parameters/RedisCacheNameParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Redis cache secrets",
            "schema": {
              "$ref": "#/definitions/RedisCacheListSecretsResult"
            }
          },
          "default": {
            "description": "Error response describing the reason for operation failure",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/ErrorResponse"
            }
          }
        }
      }
    }
  },
  "definitions": {
    "RedisCacheList": {
      "description": "Object that includes an array of Redis cache and a possible link for next set",
      "type": "object",
      "properties": {
        "value": {
          "description": "List of RedisCache resources",
          "type": "array",
          "items": {
            "$ref": "#/definitions/RedisCacheResource"
          }
        },
        "nextLink": {
          "description": "The link used to fetch the next page of Redis cache list.",
          "type": "string"
        }
      }
    },
    "RedisCacheResource": {
      "description": "Redis cache link",
      "type": "object",
      "allOf": [
        {
          "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/TrackedResource"
        }
      ],
      "required": [
        "properties"
      ],
      "properties": {
        "systemData": {
          "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/systemData"
        },
        "properties": {
          "x-ms-client-flatten": true,
          "$ref": "#/definitions/RedisCacheProperties"
        }
      }
    },
    "RedisCacheListSecretsResult": {
      "description": "The secret values for the given Redis cache resource",
      "$ref": "#/definitions/RedisCacheSecrets"
    },
    "RedisCacheSecrets": {
      "description": "The secret values for the given Redis cache resource",
      "properties": {
        "connectionString": {
          "description": "The connection string used to connect to the Redis cache",
          "type": "string",
          "example": [
            "myrediscache.redis.cache.windows.net:6380",
            "redis.default.svc.cluster.local:6379"
          ]
        },
        "password": {
          "description": "The password for this Redis cache instance",
          "type": "string"
        }
      }
    },
    "ResourceRedisCacheProperties": {
      "additionalProperties": false,
      "allOf": [
        {
          "$ref": "#/definitions/RedisCacheProperties"
        }
      ],
      "properties": { 
        "host": {
          "description": "The host name of the target Redis cache",
          "type": "string",
          "example": [
            "myrediscache.redis.cache.windows.net",
            "redis.default.svc.cluster.local"
          ]
        },
        "port": {
          "description": "The port value of the target Redis cache",
          "type": "integer",
          "example": [
            6380,
            6379
          ]
        },
        "username": {
          "type": "string",
          "description": "The username for Redis cache",
          "readOnly": true
        },
        "resource": {
          "description": "Fully qualified resource ID of a supported resource with Redis API to use for this link",
          "type": "string",
          "example": [
            "account::redis.id"
          ]
        }
      },
      "required": [
        "resource"
      ],
      "type": "object",
      "x-ms-discriminator-value": "resource"
    },
    "RecipeRedisCacheProperties": {
      "additionalProperties": false,
      "allOf": [
        {
          "$ref": "#/definitions/RedisCacheProperties"
        }
      ],
      "properties": { 
        "host": {
          "description": "The host name of the target Redis cache",
          "type": "string",
          "example": [
            "myrediscache.redis.cache.windows.net",
            "redis.default.svc.cluster.local"
          ]
        },
        "port": {
          "description": "The port value of the target Redis cache",
          "type": "integer",
          "example": [
            6380,
            6379
          ]
        },
        "username": {
          "type": "string",
          "description": "The username for Redis cache",
          "readOnly": true
        },
        "recipe": {
          "description": "The recipe used to automatically deploy underlying infrastructure for the Redis cache link",
          "type": "object",
          "additionalProperties": false,
          "$ref": "global.json#/definitions/Recipe"
        }
      },
      "required": [
        "recipe"
      ],
      "type": "object",
      "x-ms-discriminator-value": "recipe"
    },
    "ValuesRedisCacheProperties": {
      "additionalProperties": false,
      "allOf": [
        {
          "$ref": "#/definitions/RedisCacheProperties"
        }
      ],
      "properties": {
        "host": {
          "description": "The host name of the target Redis cache",
          "type": "string",
          "example": [
            "myrediscache.redis.cache.windows.net",
            "redis.default.svc.cluster.local"
          ]
        },
        "port": {
          "description": "The port value of the target Redis cache",
          "type": "integer",
          "example": [
            6380,
            6379
          ]
        },
        "username": {
          "type": "string",
          "description": "The username for Redis cache",
          "readOnly": true
        }
      },
      "required": [
        "host",
        "port"
      ],
      "type": "object",
      "x-ms-discriminator-value": "values"
    },
    "RedisCacheProperties": {
      "description": "Redis cache link properties",
      "type": "object",
      "allOf": [
        {
          "$ref": "global.json#/definitions/BasicResourceProperties"
        }
      ],
      "discriminator": "mode",
      "properties": {
        "provisioningState": {
          "readOnly": true,
          "$ref": "global.json#/definitions/ProvisioningState",
          "description": "Provisioning state of the Redis cache link at the time the operation was called"
        },
        "mode" : {
          "description": "How to build the Redis cache Link. Options are to build automatically via 'recipe' or 'resource', or build manually via 'values'. Selection determines which set of fields to additionally require.",
          "type": "string",
          "enum": [
            "resource",
            "recipe",
            "values"
          ] 
        },
        "secrets": {
          "x-ms-secret": true,
          "type": "object",
          "additionalProperties": false,
          "$ref": "#/definitions/RedisCacheSecrets"
        }
      },
      "required": [
        "environment",
        "mode"
      ]
    }
  },
  "parameters": {
    "RedisCacheNameParameter": {
      "description": "The name of the Redis cache link resource",
      "name": "redisCacheName",
      "in": "path",
      "required": true,
      "type": "string",
      "pattern": "^[a-z]([-a-z0-9]*[a-z0-9])?$",
      "maxLength": 63,
      "x-ms-parameter-location": "method"
    }
  }
}