{
  "swagger": "2.0",
  "info": {
    "title": "Applications.Link Management APIs",
    "description": "REST APIs for Applications.Link/sqlDatabases",
    "version": "2022-03-15-privatepreview"
  },
  "host": "management.azure.com",
  "schemes": [
    "https"
  ],
  "consumes": [
    "application/json"
  ],
  "produces": [
    "application/json"
  ],
  "security": [
    {
      "azure_auth": [
        "user_impersonation"
      ]
    }
  ],
  "securityDefinitions": {
    "azure_auth": {
      "type": "oauth2",
      "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
      "flow": "implicit",
      "description": "Azure Active Directory OAuth2 Flow.",
      "scopes": {
        "user_impersonation": "impersonate your user account"
      }
    }
  },
  "paths": {
    "/{rootScope}/providers/Applications.Link/sqlDatabases": {
      "get": {
        "description": "Lists information about all sqlDatabase resources in the given root scope",
        "operationId": "SQLDatabases_ListByRootScope",
        "produces": [
          "application/json"
        ],
        "x-ms-examples": {
          "SQLDatabasesListByRootScope": {
            "$ref": "./examples/SQLDatabasesListByRootScope.json"
          }
        },
        "tags": [
          "SQLDatabases"
        ],
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "global.json#/parameters/RootScopeParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "List of SQLDatabase resources",
            "schema": {
              "$ref": "#/definitions/SQLDatabaseList"
            }
          },
          "default": {
            "description": "Error response describing the reason for operation failure",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "deprecated": false,
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/{rootScope}/providers/Applications.Link/sqlDatabases/{sqlDatabaseName}": {
      "get": {
        "description": "Retrieves information about a sqlDatabase resource",
        "operationId": "SQLDatabases_Get",
        "produces": [
          "application/json"
        ],
        "x-ms-examples": {
          "SQLDatabasesGet": {
            "$ref": "./examples/SQLDatabasesGet.json"
          }
        },
        "tags": [
          "SQLDatabases"
        ],
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "global.json#/parameters/RootScopeParameter"
          },
          {
            "$ref": "#/parameters/SQLDatabaseNameParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "SQLDatabase resource",
            "schema": {
              "$ref": "#/definitions/SQLDatabaseResource"
            }
          },
          "default": {
            "description": "Error response describing the reason for operation failure",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/ErrorResponse"
            }
          }
        }
      },
      "put": {
        "description": "Creates or updates a SQLDatabase resource",
        "operationId": "SQLDatabases_CreateOrUpdate",
        "produces": [
          "application/json"
        ],
        "x-ms-examples": {
          "SQLDatabasesPut": {
            "$ref": "./examples/SQLDatabasesPut.json"
          }
        },
        "tags": [
          "SQLDatabases"
        ],
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "global.json#/parameters/RootScopeParameter"
          },
          {
            "$ref": "#/parameters/SQLDatabaseNameParameter"
          },
          {
            "name": "SQLDatabaseParameters",
            "description": "sqlDatabase create parameters",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/SQLDatabaseResource"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The request was successful; response contains the sqlDatabase resource",
            "schema": {
              "$ref": "#/definitions/SQLDatabaseResource"
            }
          },
          "201": {
            "description": "The request was successful, resource will be updated asynchronously",
            "schema": {
              "$ref": "#/definitions/SQLDatabaseResource"
            }
          },
          "default": {
            "description": "Error response describing the reason for operation failure",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/ErrorResponse"
            }
          }
        }
      },
      "delete": {
        "description": "Deletes an existing sqlDatabase resource",
        "operationId": "SQLDatabases_Delete",
        "produces": [
          "application/json"
        ],
        "x-ms-examples": {
          "SQLDatabasesDelete": {
            "$ref": "./examples/SQLDatabasesDelete.json"
          }
        },
        "tags": [
          "SQLDatabases"
        ],
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "global.json#/parameters/RootScopeParameter"
          },
          {
            "$ref": "#/parameters/SQLDatabaseNameParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "The SQLDatabase link was successfully deleted."
          },
          "202": {
            "description": "The SQLDatabase link will be deleted asynchronously."
          },
          "204": {
            "description": "The SQLDatabase link does not exist."
          },
          "default": {
            "description": "Error response describing the reason for operation failure",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/ErrorResponse"
            }
          }
        }
      }
    }
  },
  "definitions": {
    "SQLDatabaseList": {
      "description": "Object that includes an array of SQLDatabase and a possible link for next set",
      "type": "object",
      "properties": {
        "value": {
          "description": "List of SQLDatabase resources",
          "type": "array",
          "items": {
            "$ref": "#/definitions/SQLDatabaseResource"
          }
        },
        "nextLink": {
          "description": "The link used to fetch the next page of SQLDatabase list.",
          "type": "string"
        }
      }
    },
    "SQLDatabaseResource": {
      "description": "SQLDatabse link",
      "type": "object",
      "allOf": [
        {
          "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/TrackedResource"
        }
      ],
      "required": [
        "properties"
      ],
      "properties": {
        "systemData": {
          "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/systemData"
        },
        "properties": {
          "x-ms-client-flatten": true,
          "$ref": "#/definitions/SQLDatabaseProperties"
        }
      }
    },
    "RecipeSQLDatabaseProperties": {
      "additionalProperties": false,
      "allOf": [
        {
          "$ref": "#/definitions/SQLDatabaseProperties"
        }
      ],
      "properties": {
        "recipe": {
          "description": "The recipe used to automatically deploy underlying infrastructure for the SQL database link",
          "type": "object",
          "additionalProperties": false,
          "$ref": "global.json#/definitions/Recipe"
        },
        "database": {
          "description": "The name of the SQL database.",
          "type": "string"
        },
        "server": {
          "description": "The fully qualified domain name of the SQL database.",
          "type": "string"
        }
      },
      "required": [
        "recipe"
      ],
      "type": "object",
      "x-ms-discriminator-value": "recipe"
    },
    "ResourceSQLDatabaseProperties": {
      "additionalProperties": false,
      "allOf": [
        {
          "$ref": "#/definitions/SQLDatabaseProperties"
        }
      ],
      "properties": {
        "resource": {
          "description": "Fully qualified resource ID of a supported resource with SQL API to use for this link",
          "type": "string"
        },
        "database": {
          "description": "The name of the SQL database.",
          "type": "string"
        },
        "server": {
          "description": "The fully qualified domain name of the SQL database.",
          "type": "string"
        }
      },
      "required": [
        "resource"
      ],
      "type": "object",
      "x-ms-discriminator-value": "resource"
    },
    "ValuesSQLDatabaseProperties": {
      "additionalProperties": false,
      "allOf": [
        {
          "$ref": "#/definitions/SQLDatabaseProperties"
        }
      ],
      "properties": {
        "database": {
          "description": "The name of the SQL database.",
          "type": "string"
        },
        "server": {
          "description": "The fully qualified domain name of the SQL database.",
          "type": "string"
        }
      },
      "required": [
        "server",
        "database"
      ],
      "type": "object",
      "x-ms-discriminator-value": "values"
    },
    "SQLDatabaseProperties": {
      "description": "SQLDatabase link properties",
      "type": "object",
      "allOf": [
        {
          "$ref": "global.json#/definitions/BasicResourceProperties"
        }
      ],
      "discriminator": "mode",
      "properties": {
        "provisioningState": {
          "readOnly": true,
          "$ref": "global.json#/definitions/ProvisioningState",
          "description": "Provisioning state of the SQL database link at the time the operation was called"
        },
        "mode": {
          "description": "How to build the link. Options are to build automatically via 'recipe' or 'resource', or build manually via 'values'. Selection determines which set of fields to additionally require.",
          "type": "string",
          "enum": [
            "resource",
            "recipe",
            "values"
          ]
        }
      },
      "required": [
        "environment",
        "mode"
      ]
    }
  },
  "parameters": {
    "SQLDatabaseNameParameter": {
      "description": "The name of the SQLDatabase link resource",
      "name": "sqlDatabaseName",
      "in": "path",
      "required": true,
      "type": "string",
      "pattern": "^[a-z]([-a-z0-9]*[a-z0-9])?$",
      "maxLength": 63,
      "x-ms-parameter-location": "method"
    }
  }
}