// Licensed under the Apache License, Version 2.0 . See LICENSE in the repository root for license information.
// Code generated by @autorest/go. DO NOT EDIT.

package v20250801preview

import (
	"context"
	"errors"
	"github.com/Azure/azure-sdk-for-go/sdk/azcore"
	"github.com/Azure/azure-sdk-for-go/sdk/azcore/arm"
	"github.com/Azure/azure-sdk-for-go/sdk/azcore/policy"
	"github.com/Azure/azure-sdk-for-go/sdk/azcore/runtime"
	"net/http"
	"net/url"
	"strings"
)

// BicepConfigsClient contains the methods for the BicepConfigs group.
// Don't use this type directly, use NewBicepConfigsClient() instead.
//
// Generated from API version 2025-08-01-preview
type BicepConfigsClient struct {
	internal *arm.Client
}

// NewBicepConfigsClient creates a new instance of BicepConfigsClient with the specified values.
//   - credential - used to authorize requests. Usually a credential from azidentity.
//   - options - Contains optional client configuration. Pass nil to accept the default values.
func NewBicepConfigsClient(credential azcore.TokenCredential, options *arm.ClientOptions) (*BicepConfigsClient, error) {
	cl, err := arm.NewClient(moduleName, moduleVersion, credential, options)
	if err != nil {
		return nil, err
	}
	client := &BicepConfigsClient{
		internal: cl,
	}
	return client, nil
}

// CreateOrUpdate - Create a BicepConfigResource
// If the operation fails it returns an *azcore.ResponseError type.
//   - rootScope - The scope in which the resource is present. UCP Scope is /planes/{planeType}/{planeName}/resourceGroup/{resourcegroupID}
//     and Azure resource scope is /subscriptions/{subscriptionID}/resourceGroup/{resourcegroupID}
//   - bicepConfigName - Bicep configuration name
//   - resource - Resource create parameters.
//   - options - BicepConfigsClientCreateOrUpdateOptions contains the optional parameters for the BicepConfigsClient.CreateOrUpdate
//     method.
func (client *BicepConfigsClient) CreateOrUpdate(ctx context.Context, rootScope string, bicepConfigName string, resource BicepConfigResource, options *BicepConfigsClientCreateOrUpdateOptions) (BicepConfigsClientCreateOrUpdateResponse, error) {
	var err error
	ctx = context.WithValue(ctx, runtime.CtxAPINameKey{}, "BicepConfigsClient.CreateOrUpdate")
	req, err := client.createOrUpdateCreateRequest(ctx, rootScope, bicepConfigName, resource, options)
	if err != nil {
		return BicepConfigsClientCreateOrUpdateResponse{}, err
	}
	httpResp, err := client.internal.Pipeline().Do(req)
	if err != nil {
		return BicepConfigsClientCreateOrUpdateResponse{}, err
	}
	if !runtime.HasStatusCode(httpResp, http.StatusOK, http.StatusCreated) {
		err = runtime.NewResponseError(httpResp)
		return BicepConfigsClientCreateOrUpdateResponse{}, err
	}
	resp, err := client.createOrUpdateHandleResponse(httpResp)
	return resp, err
}

// createOrUpdateCreateRequest creates the CreateOrUpdate request.
func (client *BicepConfigsClient) createOrUpdateCreateRequest(ctx context.Context, rootScope string, bicepConfigName string, resource BicepConfigResource, _ *BicepConfigsClientCreateOrUpdateOptions) (*policy.Request, error) {
	urlPath := "/{rootScope}/providers/Radius.Core/bicepConfigs/{bicepConfigName}"
	if rootScope == "" {
		return nil, errors.New("parameter rootScope cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{rootScope}", rootScope)
	if bicepConfigName == "" {
		return nil, errors.New("parameter bicepConfigName cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{bicepConfigName}", url.PathEscape(bicepConfigName))
	req, err := runtime.NewRequest(ctx, http.MethodPut, runtime.JoinPaths(client.internal.Endpoint(), urlPath))
	if err != nil {
		return nil, err
	}
	reqQP := req.Raw().URL.Query()
	reqQP.Set("api-version", version20250801Preview)
	req.Raw().URL.RawQuery = strings.ReplaceAll(reqQP.Encode(), "+", "%20")
	req.Raw().Header["Accept"] = []string{"application/json"}
	req.Raw().Header["Content-Type"] = []string{"application/json"}
	if err := runtime.MarshalAsJSON(req, resource); err != nil {
		return nil, err
	}
	return req, nil
}

// createOrUpdateHandleResponse handles the CreateOrUpdate response.
func (client *BicepConfigsClient) createOrUpdateHandleResponse(resp *http.Response) (BicepConfigsClientCreateOrUpdateResponse, error) {
	result := BicepConfigsClientCreateOrUpdateResponse{}
	if err := runtime.UnmarshalAsJSON(resp, &result.BicepConfigResource); err != nil {
		return BicepConfigsClientCreateOrUpdateResponse{}, err
	}
	return result, nil
}

// Delete - Delete a BicepConfigResource
// If the operation fails it returns an *azcore.ResponseError type.
//   - rootScope - The scope in which the resource is present. UCP Scope is /planes/{planeType}/{planeName}/resourceGroup/{resourcegroupID}
//     and Azure resource scope is /subscriptions/{subscriptionID}/resourceGroup/{resourcegroupID}
//   - bicepConfigName - Bicep configuration name
//   - options - BicepConfigsClientDeleteOptions contains the optional parameters for the BicepConfigsClient.Delete method.
func (client *BicepConfigsClient) Delete(ctx context.Context, rootScope string, bicepConfigName string, options *BicepConfigsClientDeleteOptions) (BicepConfigsClientDeleteResponse, error) {
	var err error
	ctx = context.WithValue(ctx, runtime.CtxAPINameKey{}, "BicepConfigsClient.Delete")
	req, err := client.deleteCreateRequest(ctx, rootScope, bicepConfigName, options)
	if err != nil {
		return BicepConfigsClientDeleteResponse{}, err
	}
	httpResp, err := client.internal.Pipeline().Do(req)
	if err != nil {
		return BicepConfigsClientDeleteResponse{}, err
	}
	if !runtime.HasStatusCode(httpResp, http.StatusOK, http.StatusNoContent) {
		err = runtime.NewResponseError(httpResp)
		return BicepConfigsClientDeleteResponse{}, err
	}
	return BicepConfigsClientDeleteResponse{}, nil
}

// deleteCreateRequest creates the Delete request.
func (client *BicepConfigsClient) deleteCreateRequest(ctx context.Context, rootScope string, bicepConfigName string, _ *BicepConfigsClientDeleteOptions) (*policy.Request, error) {
	urlPath := "/{rootScope}/providers/Radius.Core/bicepConfigs/{bicepConfigName}"
	if rootScope == "" {
		return nil, errors.New("parameter rootScope cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{rootScope}", rootScope)
	if bicepConfigName == "" {
		return nil, errors.New("parameter bicepConfigName cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{bicepConfigName}", url.PathEscape(bicepConfigName))
	req, err := runtime.NewRequest(ctx, http.MethodDelete, runtime.JoinPaths(client.internal.Endpoint(), urlPath))
	if err != nil {
		return nil, err
	}
	reqQP := req.Raw().URL.Query()
	reqQP.Set("api-version", version20250801Preview)
	req.Raw().URL.RawQuery = strings.ReplaceAll(reqQP.Encode(), "+", "%20")
	return req, nil
}

// Get - Get a BicepConfigResource
// If the operation fails it returns an *azcore.ResponseError type.
//   - rootScope - The scope in which the resource is present. UCP Scope is /planes/{planeType}/{planeName}/resourceGroup/{resourcegroupID}
//     and Azure resource scope is /subscriptions/{subscriptionID}/resourceGroup/{resourcegroupID}
//   - bicepConfigName - Bicep configuration name
//   - options - BicepConfigsClientGetOptions contains the optional parameters for the BicepConfigsClient.Get method.
func (client *BicepConfigsClient) Get(ctx context.Context, rootScope string, bicepConfigName string, options *BicepConfigsClientGetOptions) (BicepConfigsClientGetResponse, error) {
	var err error
	ctx = context.WithValue(ctx, runtime.CtxAPINameKey{}, "BicepConfigsClient.Get")
	req, err := client.getCreateRequest(ctx, rootScope, bicepConfigName, options)
	if err != nil {
		return BicepConfigsClientGetResponse{}, err
	}
	httpResp, err := client.internal.Pipeline().Do(req)
	if err != nil {
		return BicepConfigsClientGetResponse{}, err
	}
	if !runtime.HasStatusCode(httpResp, http.StatusOK) {
		err = runtime.NewResponseError(httpResp)
		return BicepConfigsClientGetResponse{}, err
	}
	resp, err := client.getHandleResponse(httpResp)
	return resp, err
}

// getCreateRequest creates the Get request.
func (client *BicepConfigsClient) getCreateRequest(ctx context.Context, rootScope string, bicepConfigName string, _ *BicepConfigsClientGetOptions) (*policy.Request, error) {
	urlPath := "/{rootScope}/providers/Radius.Core/bicepConfigs/{bicepConfigName}"
	if rootScope == "" {
		return nil, errors.New("parameter rootScope cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{rootScope}", rootScope)
	if bicepConfigName == "" {
		return nil, errors.New("parameter bicepConfigName cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{bicepConfigName}", url.PathEscape(bicepConfigName))
	req, err := runtime.NewRequest(ctx, http.MethodGet, runtime.JoinPaths(client.internal.Endpoint(), urlPath))
	if err != nil {
		return nil, err
	}
	reqQP := req.Raw().URL.Query()
	reqQP.Set("api-version", version20250801Preview)
	req.Raw().URL.RawQuery = strings.ReplaceAll(reqQP.Encode(), "+", "%20")
	req.Raw().Header["Accept"] = []string{"application/json"}
	return req, nil
}

// getHandleResponse handles the Get response.
func (client *BicepConfigsClient) getHandleResponse(resp *http.Response) (BicepConfigsClientGetResponse, error) {
	result := BicepConfigsClientGetResponse{}
	if err := runtime.UnmarshalAsJSON(resp, &result.BicepConfigResource); err != nil {
		return BicepConfigsClientGetResponse{}, err
	}
	return result, nil
}

// NewListByScopePager - List BicepConfigResource resources by Scope
//   - rootScope - The scope in which the resource is present. UCP Scope is /planes/{planeType}/{planeName}/resourceGroup/{resourcegroupID}
//     and Azure resource scope is /subscriptions/{subscriptionID}/resourceGroup/{resourcegroupID}
//   - options - BicepConfigsClientListByScopeOptions contains the optional parameters for the BicepConfigsClient.NewListByScopePager
//     method.
func (client *BicepConfigsClient) NewListByScopePager(rootScope string, options *BicepConfigsClientListByScopeOptions) *runtime.Pager[BicepConfigsClientListByScopeResponse] {
	return runtime.NewPager(runtime.PagingHandler[BicepConfigsClientListByScopeResponse]{
		More: func(page BicepConfigsClientListByScopeResponse) bool {
			return page.NextLink != nil && len(*page.NextLink) > 0
		},
		Fetcher: func(ctx context.Context, page *BicepConfigsClientListByScopeResponse) (BicepConfigsClientListByScopeResponse, error) {
			ctx = context.WithValue(ctx, runtime.CtxAPINameKey{}, "BicepConfigsClient.NewListByScopePager")
			nextLink := ""
			if page != nil {
				nextLink = *page.NextLink
			}
			resp, err := runtime.FetcherForNextLink(ctx, client.internal.Pipeline(), nextLink, func(ctx context.Context) (*policy.Request, error) {
				return client.listByScopeCreateRequest(ctx, rootScope, options)
			}, nil)
			if err != nil {
				return BicepConfigsClientListByScopeResponse{}, err
			}
			return client.listByScopeHandleResponse(resp)
		},
	})
}

// listByScopeCreateRequest creates the ListByScope request.
func (client *BicepConfigsClient) listByScopeCreateRequest(ctx context.Context, rootScope string, _ *BicepConfigsClientListByScopeOptions) (*policy.Request, error) {
	urlPath := "/{rootScope}/providers/Radius.Core/bicepConfigs"
	if rootScope == "" {
		return nil, errors.New("parameter rootScope cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{rootScope}", rootScope)
	req, err := runtime.NewRequest(ctx, http.MethodGet, runtime.JoinPaths(client.internal.Endpoint(), urlPath))
	if err != nil {
		return nil, err
	}
	reqQP := req.Raw().URL.Query()
	reqQP.Set("api-version", version20250801Preview)
	req.Raw().URL.RawQuery = strings.ReplaceAll(reqQP.Encode(), "+", "%20")
	req.Raw().Header["Accept"] = []string{"application/json"}
	return req, nil
}

// listByScopeHandleResponse handles the ListByScope response.
func (client *BicepConfigsClient) listByScopeHandleResponse(resp *http.Response) (BicepConfigsClientListByScopeResponse, error) {
	result := BicepConfigsClientListByScopeResponse{}
	if err := runtime.UnmarshalAsJSON(resp, &result.BicepConfigResourceListResult); err != nil {
		return BicepConfigsClientListByScopeResponse{}, err
	}
	return result, nil
}

// Update - Update a BicepConfigResource
// If the operation fails it returns an *azcore.ResponseError type.
//   - rootScope - The scope in which the resource is present. UCP Scope is /planes/{planeType}/{planeName}/resourceGroup/{resourcegroupID}
//     and Azure resource scope is /subscriptions/{subscriptionID}/resourceGroup/{resourcegroupID}
//   - bicepConfigName - Bicep configuration name
//   - properties - The resource properties to be updated.
//   - options - BicepConfigsClientUpdateOptions contains the optional parameters for the BicepConfigsClient.Update method.
func (client *BicepConfigsClient) Update(ctx context.Context, rootScope string, bicepConfigName string, properties BicepConfigResource, options *BicepConfigsClientUpdateOptions) (BicepConfigsClientUpdateResponse, error) {
	var err error
	ctx = context.WithValue(ctx, runtime.CtxAPINameKey{}, "BicepConfigsClient.Update")
	req, err := client.updateCreateRequest(ctx, rootScope, bicepConfigName, properties, options)
	if err != nil {
		return BicepConfigsClientUpdateResponse{}, err
	}
	httpResp, err := client.internal.Pipeline().Do(req)
	if err != nil {
		return BicepConfigsClientUpdateResponse{}, err
	}
	if !runtime.HasStatusCode(httpResp, http.StatusOK) {
		err = runtime.NewResponseError(httpResp)
		return BicepConfigsClientUpdateResponse{}, err
	}
	resp, err := client.updateHandleResponse(httpResp)
	return resp, err
}

// updateCreateRequest creates the Update request.
func (client *BicepConfigsClient) updateCreateRequest(ctx context.Context, rootScope string, bicepConfigName string, properties BicepConfigResource, _ *BicepConfigsClientUpdateOptions) (*policy.Request, error) {
	urlPath := "/{rootScope}/providers/Radius.Core/bicepConfigs/{bicepConfigName}"
	if rootScope == "" {
		return nil, errors.New("parameter rootScope cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{rootScope}", rootScope)
	if bicepConfigName == "" {
		return nil, errors.New("parameter bicepConfigName cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{bicepConfigName}", url.PathEscape(bicepConfigName))
	req, err := runtime.NewRequest(ctx, http.MethodPatch, runtime.JoinPaths(client.internal.Endpoint(), urlPath))
	if err != nil {
		return nil, err
	}
	reqQP := req.Raw().URL.Query()
	reqQP.Set("api-version", version20250801Preview)
	req.Raw().URL.RawQuery = strings.ReplaceAll(reqQP.Encode(), "+", "%20")
	req.Raw().Header["Accept"] = []string{"application/json"}
	req.Raw().Header["Content-Type"] = []string{"application/json"}
	if err := runtime.MarshalAsJSON(req, properties); err != nil {
		return nil, err
	}
	return req, nil
}

// updateHandleResponse handles the Update response.
func (client *BicepConfigsClient) updateHandleResponse(resp *http.Response) (BicepConfigsClientUpdateResponse, error) {
	result := BicepConfigsClientUpdateResponse{}
	if err := runtime.UnmarshalAsJSON(resp, &result.BicepConfigResource); err != nil {
		return BicepConfigsClientUpdateResponse{}, err
	}
	return result, nil
}
