// Licensed under the Apache License, Version 2.0 . See LICENSE in the repository root for license information.
// Code generated by Microsoft (R) AutoRest Code Generator. DO NOT EDIT.
// Changes may cause incorrect behavior and will be lost if the code is regenerated.

package v20250801preview

import (
	"context"
	"errors"
	"github.com/Azure/azure-sdk-for-go/sdk/azcore"
	"github.com/Azure/azure-sdk-for-go/sdk/azcore/arm"
	"github.com/Azure/azure-sdk-for-go/sdk/azcore/policy"
	"github.com/Azure/azure-sdk-for-go/sdk/azcore/runtime"
	"net/http"
	"net/url"
	"strings"
)

// TerraformConfigsClient contains the methods for the TerraformConfigs group.
// Don't use this type directly, use NewTerraformConfigsClient() instead.
type TerraformConfigsClient struct {
	internal  *arm.Client
	rootScope string
}

// NewTerraformConfigsClient creates a new instance of TerraformConfigsClient with the specified values.
//   - rootScope - The scope in which the resource is present. UCP Scope is /planes/{planeType}/{planeName}/resourceGroup/{resourcegroupID}
//     and Azure resource scope is
//     /subscriptions/{subscriptionID}/resourceGroup/{resourcegroupID}
//   - credential - used to authorize requests. Usually a credential from azidentity.
//   - options - Contains optional client configuration. Pass nil to accept the default values.
func NewTerraformConfigsClient(rootScope string, credential azcore.TokenCredential, options *arm.ClientOptions) (*TerraformConfigsClient, error) {
	cl, err := arm.NewClient(moduleName, moduleVersion, credential, options)
	if err != nil {
		return nil, err
	}
	client := &TerraformConfigsClient{
		rootScope: rootScope,
		internal:  cl,
	}
	return client, nil
}

// CreateOrUpdate - Create a TerraformConfigResource
// If the operation fails it returns an *azcore.ResponseError type.
//
// Generated from API version 2025-08-01-preview
//   - terraformConfigName - Terraform configuration name
//   - resource - Resource create parameters.
//   - options - TerraformConfigsClientCreateOrUpdateOptions contains the optional parameters for the TerraformConfigsClient.CreateOrUpdate
//     method.
func (client *TerraformConfigsClient) CreateOrUpdate(ctx context.Context, terraformConfigName string, resource TerraformConfigResource, options *TerraformConfigsClientCreateOrUpdateOptions) (TerraformConfigsClientCreateOrUpdateResponse, error) {
	var err error
	const operationName = "TerraformConfigsClient.CreateOrUpdate"
	ctx = context.WithValue(ctx, runtime.CtxAPINameKey{}, operationName)
	ctx, endSpan := runtime.StartSpan(ctx, operationName, client.internal.Tracer(), nil)
	defer func() { endSpan(err) }()
	req, err := client.createOrUpdateCreateRequest(ctx, terraformConfigName, resource, options)
	if err != nil {
		return TerraformConfigsClientCreateOrUpdateResponse{}, err
	}
	httpResp, err := client.internal.Pipeline().Do(req)
	if err != nil {
		return TerraformConfigsClientCreateOrUpdateResponse{}, err
	}
	if !runtime.HasStatusCode(httpResp, http.StatusOK, http.StatusCreated) {
		err = runtime.NewResponseError(httpResp)
		return TerraformConfigsClientCreateOrUpdateResponse{}, err
	}
	resp, err := client.createOrUpdateHandleResponse(httpResp)
	return resp, err
}

// createOrUpdateCreateRequest creates the CreateOrUpdate request.
func (client *TerraformConfigsClient) createOrUpdateCreateRequest(ctx context.Context, terraformConfigName string, resource TerraformConfigResource, _ *TerraformConfigsClientCreateOrUpdateOptions) (*policy.Request, error) {
	urlPath := "/{rootScope}/providers/Radius.Core/terraformConfigs/{terraformConfigName}"
	urlPath = strings.ReplaceAll(urlPath, "{rootScope}", client.rootScope)
	if terraformConfigName == "" {
		return nil, errors.New("parameter terraformConfigName cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{terraformConfigName}", url.PathEscape(terraformConfigName))
	req, err := runtime.NewRequest(ctx, http.MethodPut, runtime.JoinPaths(client.internal.Endpoint(), urlPath))
	if err != nil {
		return nil, err
	}
	reqQP := req.Raw().URL.Query()
	reqQP.Set("api-version", "2025-08-01-preview")
	req.Raw().URL.RawQuery = reqQP.Encode()
	req.Raw().Header["Accept"] = []string{"application/json"}
	if err := runtime.MarshalAsJSON(req, resource); err != nil {
		return nil, err
	}
	return req, nil
}

// createOrUpdateHandleResponse handles the CreateOrUpdate response.
func (client *TerraformConfigsClient) createOrUpdateHandleResponse(resp *http.Response) (TerraformConfigsClientCreateOrUpdateResponse, error) {
	result := TerraformConfigsClientCreateOrUpdateResponse{}
	if err := runtime.UnmarshalAsJSON(resp, &result.TerraformConfigResource); err != nil {
		return TerraformConfigsClientCreateOrUpdateResponse{}, err
	}
	return result, nil
}

// Delete - Delete a TerraformConfigResource
// If the operation fails it returns an *azcore.ResponseError type.
//
// Generated from API version 2025-08-01-preview
//   - terraformConfigName - Terraform configuration name
//   - options - TerraformConfigsClientDeleteOptions contains the optional parameters for the TerraformConfigsClient.Delete method.
func (client *TerraformConfigsClient) Delete(ctx context.Context, terraformConfigName string, options *TerraformConfigsClientDeleteOptions) (TerraformConfigsClientDeleteResponse, error) {
	var err error
	const operationName = "TerraformConfigsClient.Delete"
	ctx = context.WithValue(ctx, runtime.CtxAPINameKey{}, operationName)
	ctx, endSpan := runtime.StartSpan(ctx, operationName, client.internal.Tracer(), nil)
	defer func() { endSpan(err) }()
	req, err := client.deleteCreateRequest(ctx, terraformConfigName, options)
	if err != nil {
		return TerraformConfigsClientDeleteResponse{}, err
	}
	httpResp, err := client.internal.Pipeline().Do(req)
	if err != nil {
		return TerraformConfigsClientDeleteResponse{}, err
	}
	if !runtime.HasStatusCode(httpResp, http.StatusOK, http.StatusNoContent) {
		err = runtime.NewResponseError(httpResp)
		return TerraformConfigsClientDeleteResponse{}, err
	}
	return TerraformConfigsClientDeleteResponse{}, nil
}

// deleteCreateRequest creates the Delete request.
func (client *TerraformConfigsClient) deleteCreateRequest(ctx context.Context, terraformConfigName string, _ *TerraformConfigsClientDeleteOptions) (*policy.Request, error) {
	urlPath := "/{rootScope}/providers/Radius.Core/terraformConfigs/{terraformConfigName}"
	urlPath = strings.ReplaceAll(urlPath, "{rootScope}", client.rootScope)
	if terraformConfigName == "" {
		return nil, errors.New("parameter terraformConfigName cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{terraformConfigName}", url.PathEscape(terraformConfigName))
	req, err := runtime.NewRequest(ctx, http.MethodDelete, runtime.JoinPaths(client.internal.Endpoint(), urlPath))
	if err != nil {
		return nil, err
	}
	reqQP := req.Raw().URL.Query()
	reqQP.Set("api-version", "2025-08-01-preview")
	req.Raw().URL.RawQuery = reqQP.Encode()
	req.Raw().Header["Accept"] = []string{"application/json"}
	return req, nil
}

// Get - Get a TerraformConfigResource
// If the operation fails it returns an *azcore.ResponseError type.
//
// Generated from API version 2025-08-01-preview
//   - terraformConfigName - Terraform configuration name
//   - options - TerraformConfigsClientGetOptions contains the optional parameters for the TerraformConfigsClient.Get method.
func (client *TerraformConfigsClient) Get(ctx context.Context, terraformConfigName string, options *TerraformConfigsClientGetOptions) (TerraformConfigsClientGetResponse, error) {
	var err error
	const operationName = "TerraformConfigsClient.Get"
	ctx = context.WithValue(ctx, runtime.CtxAPINameKey{}, operationName)
	ctx, endSpan := runtime.StartSpan(ctx, operationName, client.internal.Tracer(), nil)
	defer func() { endSpan(err) }()
	req, err := client.getCreateRequest(ctx, terraformConfigName, options)
	if err != nil {
		return TerraformConfigsClientGetResponse{}, err
	}
	httpResp, err := client.internal.Pipeline().Do(req)
	if err != nil {
		return TerraformConfigsClientGetResponse{}, err
	}
	if !runtime.HasStatusCode(httpResp, http.StatusOK) {
		err = runtime.NewResponseError(httpResp)
		return TerraformConfigsClientGetResponse{}, err
	}
	resp, err := client.getHandleResponse(httpResp)
	return resp, err
}

// getCreateRequest creates the Get request.
func (client *TerraformConfigsClient) getCreateRequest(ctx context.Context, terraformConfigName string, _ *TerraformConfigsClientGetOptions) (*policy.Request, error) {
	urlPath := "/{rootScope}/providers/Radius.Core/terraformConfigs/{terraformConfigName}"
	urlPath = strings.ReplaceAll(urlPath, "{rootScope}", client.rootScope)
	if terraformConfigName == "" {
		return nil, errors.New("parameter terraformConfigName cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{terraformConfigName}", url.PathEscape(terraformConfigName))
	req, err := runtime.NewRequest(ctx, http.MethodGet, runtime.JoinPaths(client.internal.Endpoint(), urlPath))
	if err != nil {
		return nil, err
	}
	reqQP := req.Raw().URL.Query()
	reqQP.Set("api-version", "2025-08-01-preview")
	req.Raw().URL.RawQuery = reqQP.Encode()
	req.Raw().Header["Accept"] = []string{"application/json"}
	return req, nil
}

// getHandleResponse handles the Get response.
func (client *TerraformConfigsClient) getHandleResponse(resp *http.Response) (TerraformConfigsClientGetResponse, error) {
	result := TerraformConfigsClientGetResponse{}
	if err := runtime.UnmarshalAsJSON(resp, &result.TerraformConfigResource); err != nil {
		return TerraformConfigsClientGetResponse{}, err
	}
	return result, nil
}

// NewListByScopePager - List TerraformConfigResource resources by Scope
//
// Generated from API version 2025-08-01-preview
//   - options - TerraformConfigsClientListByScopeOptions contains the optional parameters for the TerraformConfigsClient.NewListByScopePager
//     method.
func (client *TerraformConfigsClient) NewListByScopePager(options *TerraformConfigsClientListByScopeOptions) *runtime.Pager[TerraformConfigsClientListByScopeResponse] {
	return runtime.NewPager(runtime.PagingHandler[TerraformConfigsClientListByScopeResponse]{
		More: func(page TerraformConfigsClientListByScopeResponse) bool {
			return page.NextLink != nil && len(*page.NextLink) > 0
		},
		Fetcher: func(ctx context.Context, page *TerraformConfigsClientListByScopeResponse) (TerraformConfigsClientListByScopeResponse, error) {
			ctx = context.WithValue(ctx, runtime.CtxAPINameKey{}, "TerraformConfigsClient.NewListByScopePager")
			nextLink := ""
			if page != nil {
				nextLink = *page.NextLink
			}
			resp, err := runtime.FetcherForNextLink(ctx, client.internal.Pipeline(), nextLink, func(ctx context.Context) (*policy.Request, error) {
				return client.listByScopeCreateRequest(ctx, options)
			}, nil)
			if err != nil {
				return TerraformConfigsClientListByScopeResponse{}, err
			}
			return client.listByScopeHandleResponse(resp)
		},
		Tracer: client.internal.Tracer(),
	})
}

// listByScopeCreateRequest creates the ListByScope request.
func (client *TerraformConfigsClient) listByScopeCreateRequest(ctx context.Context, _ *TerraformConfigsClientListByScopeOptions) (*policy.Request, error) {
	urlPath := "/{rootScope}/providers/Radius.Core/terraformConfigs"
	urlPath = strings.ReplaceAll(urlPath, "{rootScope}", client.rootScope)
	req, err := runtime.NewRequest(ctx, http.MethodGet, runtime.JoinPaths(client.internal.Endpoint(), urlPath))
	if err != nil {
		return nil, err
	}
	reqQP := req.Raw().URL.Query()
	reqQP.Set("api-version", "2025-08-01-preview")
	req.Raw().URL.RawQuery = reqQP.Encode()
	req.Raw().Header["Accept"] = []string{"application/json"}
	return req, nil
}

// listByScopeHandleResponse handles the ListByScope response.
func (client *TerraformConfigsClient) listByScopeHandleResponse(resp *http.Response) (TerraformConfigsClientListByScopeResponse, error) {
	result := TerraformConfigsClientListByScopeResponse{}
	if err := runtime.UnmarshalAsJSON(resp, &result.TerraformConfigResourceListResult); err != nil {
		return TerraformConfigsClientListByScopeResponse{}, err
	}
	return result, nil
}

// Update - Update a TerraformConfigResource
// If the operation fails it returns an *azcore.ResponseError type.
//
// Generated from API version 2025-08-01-preview
//   - terraformConfigName - Terraform configuration name
//   - properties - The resource properties to be updated.
//   - options - TerraformConfigsClientUpdateOptions contains the optional parameters for the TerraformConfigsClient.Update method.
func (client *TerraformConfigsClient) Update(ctx context.Context, terraformConfigName string, properties TerraformConfigResourceUpdate, options *TerraformConfigsClientUpdateOptions) (TerraformConfigsClientUpdateResponse, error) {
	var err error
	const operationName = "TerraformConfigsClient.Update"
	ctx = context.WithValue(ctx, runtime.CtxAPINameKey{}, operationName)
	ctx, endSpan := runtime.StartSpan(ctx, operationName, client.internal.Tracer(), nil)
	defer func() { endSpan(err) }()
	req, err := client.updateCreateRequest(ctx, terraformConfigName, properties, options)
	if err != nil {
		return TerraformConfigsClientUpdateResponse{}, err
	}
	httpResp, err := client.internal.Pipeline().Do(req)
	if err != nil {
		return TerraformConfigsClientUpdateResponse{}, err
	}
	if !runtime.HasStatusCode(httpResp, http.StatusOK) {
		err = runtime.NewResponseError(httpResp)
		return TerraformConfigsClientUpdateResponse{}, err
	}
	resp, err := client.updateHandleResponse(httpResp)
	return resp, err
}

// updateCreateRequest creates the Update request.
func (client *TerraformConfigsClient) updateCreateRequest(ctx context.Context, terraformConfigName string, properties TerraformConfigResourceUpdate, _ *TerraformConfigsClientUpdateOptions) (*policy.Request, error) {
	urlPath := "/{rootScope}/providers/Radius.Core/terraformConfigs/{terraformConfigName}"
	urlPath = strings.ReplaceAll(urlPath, "{rootScope}", client.rootScope)
	if terraformConfigName == "" {
		return nil, errors.New("parameter terraformConfigName cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{terraformConfigName}", url.PathEscape(terraformConfigName))
	req, err := runtime.NewRequest(ctx, http.MethodPatch, runtime.JoinPaths(client.internal.Endpoint(), urlPath))
	if err != nil {
		return nil, err
	}
	reqQP := req.Raw().URL.Query()
	reqQP.Set("api-version", "2025-08-01-preview")
	req.Raw().URL.RawQuery = reqQP.Encode()
	req.Raw().Header["Accept"] = []string{"application/json"}
	if err := runtime.MarshalAsJSON(req, properties); err != nil {
		return nil, err
	}
	return req, nil
}

// updateHandleResponse handles the Update response.
func (client *TerraformConfigsClient) updateHandleResponse(resp *http.Response) (TerraformConfigsClientUpdateResponse, error) {
	result := TerraformConfigsClientUpdateResponse{}
	if err := runtime.UnmarshalAsJSON(resp, &result.TerraformConfigResource); err != nil {
		return TerraformConfigsClientUpdateResponse{}, err
	}
	return result, nil
}
