// Licensed under the Apache License, Version 2.0 . See LICENSE in the repository root for license information.
// Code generated by @autorest/go. DO NOT EDIT.

package v20250801preview

import (
	"context"
	"errors"
	"github.com/Azure/azure-sdk-for-go/sdk/azcore"
	"github.com/Azure/azure-sdk-for-go/sdk/azcore/arm"
	"github.com/Azure/azure-sdk-for-go/sdk/azcore/policy"
	"github.com/Azure/azure-sdk-for-go/sdk/azcore/runtime"
	"net/http"
	"net/url"
	"strings"
)

// RecipePacksClient contains the methods for the RecipePacks group.
// Don't use this type directly, use NewRecipePacksClient() instead.
//
// Generated from API version 2025-08-01-preview
type RecipePacksClient struct {
	internal *arm.Client
}

// NewRecipePacksClient creates a new instance of RecipePacksClient with the specified values.
//   - credential - used to authorize requests. Usually a credential from azidentity.
//   - options - Contains optional client configuration. Pass nil to accept the default values.
func NewRecipePacksClient(credential azcore.TokenCredential, options *arm.ClientOptions) (*RecipePacksClient, error) {
	cl, err := arm.NewClient(moduleName, moduleVersion, credential, options)
	if err != nil {
		return nil, err
	}
	client := &RecipePacksClient{
		internal: cl,
	}
	return client, nil
}

// CreateOrUpdate - Create a RecipePackResource
// If the operation fails it returns an *azcore.ResponseError type.
//   - rootScope - The scope in which the resource is present. UCP Scope is /planes/{planeType}/{planeName}/resourceGroup/{resourcegroupID}
//     and Azure resource scope is /subscriptions/{subscriptionID}/resourceGroup/{resourcegroupID}
//   - recipePackName - Recipe pack name
//   - resource - Resource create parameters.
//   - options - RecipePacksClientCreateOrUpdateOptions contains the optional parameters for the RecipePacksClient.CreateOrUpdate
//     method.
func (client *RecipePacksClient) CreateOrUpdate(ctx context.Context, rootScope string, recipePackName string, resource RecipePackResource, options *RecipePacksClientCreateOrUpdateOptions) (RecipePacksClientCreateOrUpdateResponse, error) {
	var err error
	ctx = context.WithValue(ctx, runtime.CtxAPINameKey{}, "RecipePacksClient.CreateOrUpdate")
	req, err := client.createOrUpdateCreateRequest(ctx, rootScope, recipePackName, resource, options)
	if err != nil {
		return RecipePacksClientCreateOrUpdateResponse{}, err
	}
	httpResp, err := client.internal.Pipeline().Do(req)
	if err != nil {
		return RecipePacksClientCreateOrUpdateResponse{}, err
	}
	if !runtime.HasStatusCode(httpResp, http.StatusOK, http.StatusCreated) {
		err = runtime.NewResponseError(httpResp)
		return RecipePacksClientCreateOrUpdateResponse{}, err
	}
	resp, err := client.createOrUpdateHandleResponse(httpResp)
	return resp, err
}

// createOrUpdateCreateRequest creates the CreateOrUpdate request.
func (client *RecipePacksClient) createOrUpdateCreateRequest(ctx context.Context, rootScope string, recipePackName string, resource RecipePackResource, _ *RecipePacksClientCreateOrUpdateOptions) (*policy.Request, error) {
	urlPath := "/{rootScope}/providers/Radius.Core/recipePacks/{recipePackName}"
	if rootScope == "" {
		return nil, errors.New("parameter rootScope cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{rootScope}", url.PathEscape(rootScope))
	if recipePackName == "" {
		return nil, errors.New("parameter recipePackName cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{recipePackName}", url.PathEscape(recipePackName))
	req, err := runtime.NewRequest(ctx, http.MethodPut, runtime.JoinPaths(client.internal.Endpoint(), urlPath))
	if err != nil {
		return nil, err
	}
	reqQP := req.Raw().URL.Query()
	reqQP.Set("api-version", version20250801Preview)
	req.Raw().URL.RawQuery = strings.ReplaceAll(reqQP.Encode(), "+", "%20")
	req.Raw().Header["Accept"] = []string{"application/json"}
	req.Raw().Header["Content-Type"] = []string{"application/json"}
	if err := runtime.MarshalAsJSON(req, resource); err != nil {
		return nil, err
	}
	return req, nil
}

// createOrUpdateHandleResponse handles the CreateOrUpdate response.
func (client *RecipePacksClient) createOrUpdateHandleResponse(resp *http.Response) (RecipePacksClientCreateOrUpdateResponse, error) {
	result := RecipePacksClientCreateOrUpdateResponse{}
	if err := runtime.UnmarshalAsJSON(resp, &result.RecipePackResource); err != nil {
		return RecipePacksClientCreateOrUpdateResponse{}, err
	}
	return result, nil
}

// Delete - Delete a RecipePackResource
// If the operation fails it returns an *azcore.ResponseError type.
//   - rootScope - The scope in which the resource is present. UCP Scope is /planes/{planeType}/{planeName}/resourceGroup/{resourcegroupID}
//     and Azure resource scope is /subscriptions/{subscriptionID}/resourceGroup/{resourcegroupID}
//   - recipePackName - Recipe pack name
//   - options - RecipePacksClientDeleteOptions contains the optional parameters for the RecipePacksClient.Delete method.
func (client *RecipePacksClient) Delete(ctx context.Context, rootScope string, recipePackName string, options *RecipePacksClientDeleteOptions) (RecipePacksClientDeleteResponse, error) {
	var err error
	ctx = context.WithValue(ctx, runtime.CtxAPINameKey{}, "RecipePacksClient.Delete")
	req, err := client.deleteCreateRequest(ctx, rootScope, recipePackName, options)
	if err != nil {
		return RecipePacksClientDeleteResponse{}, err
	}
	httpResp, err := client.internal.Pipeline().Do(req)
	if err != nil {
		return RecipePacksClientDeleteResponse{}, err
	}
	if !runtime.HasStatusCode(httpResp, http.StatusOK, http.StatusNoContent) {
		err = runtime.NewResponseError(httpResp)
		return RecipePacksClientDeleteResponse{}, err
	}
	return RecipePacksClientDeleteResponse{}, nil
}

// deleteCreateRequest creates the Delete request.
func (client *RecipePacksClient) deleteCreateRequest(ctx context.Context, rootScope string, recipePackName string, _ *RecipePacksClientDeleteOptions) (*policy.Request, error) {
	urlPath := "/{rootScope}/providers/Radius.Core/recipePacks/{recipePackName}"
	if rootScope == "" {
		return nil, errors.New("parameter rootScope cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{rootScope}", url.PathEscape(rootScope))
	if recipePackName == "" {
		return nil, errors.New("parameter recipePackName cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{recipePackName}", url.PathEscape(recipePackName))
	req, err := runtime.NewRequest(ctx, http.MethodDelete, runtime.JoinPaths(client.internal.Endpoint(), urlPath))
	if err != nil {
		return nil, err
	}
	reqQP := req.Raw().URL.Query()
	reqQP.Set("api-version", version20250801Preview)
	req.Raw().URL.RawQuery = strings.ReplaceAll(reqQP.Encode(), "+", "%20")
	return req, nil
}

// Get - Get a RecipePackResource
// If the operation fails it returns an *azcore.ResponseError type.
//   - rootScope - The scope in which the resource is present. UCP Scope is /planes/{planeType}/{planeName}/resourceGroup/{resourcegroupID}
//     and Azure resource scope is /subscriptions/{subscriptionID}/resourceGroup/{resourcegroupID}
//   - recipePackName - Recipe pack name
//   - options - RecipePacksClientGetOptions contains the optional parameters for the RecipePacksClient.Get method.
func (client *RecipePacksClient) Get(ctx context.Context, rootScope string, recipePackName string, options *RecipePacksClientGetOptions) (RecipePacksClientGetResponse, error) {
	var err error
	ctx = context.WithValue(ctx, runtime.CtxAPINameKey{}, "RecipePacksClient.Get")
	req, err := client.getCreateRequest(ctx, rootScope, recipePackName, options)
	if err != nil {
		return RecipePacksClientGetResponse{}, err
	}
	httpResp, err := client.internal.Pipeline().Do(req)
	if err != nil {
		return RecipePacksClientGetResponse{}, err
	}
	if !runtime.HasStatusCode(httpResp, http.StatusOK) {
		err = runtime.NewResponseError(httpResp)
		return RecipePacksClientGetResponse{}, err
	}
	resp, err := client.getHandleResponse(httpResp)
	return resp, err
}

// getCreateRequest creates the Get request.
func (client *RecipePacksClient) getCreateRequest(ctx context.Context, rootScope string, recipePackName string, _ *RecipePacksClientGetOptions) (*policy.Request, error) {
	urlPath := "/{rootScope}/providers/Radius.Core/recipePacks/{recipePackName}"
	if rootScope == "" {
		return nil, errors.New("parameter rootScope cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{rootScope}", url.PathEscape(rootScope))
	if recipePackName == "" {
		return nil, errors.New("parameter recipePackName cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{recipePackName}", url.PathEscape(recipePackName))
	req, err := runtime.NewRequest(ctx, http.MethodGet, runtime.JoinPaths(client.internal.Endpoint(), urlPath))
	if err != nil {
		return nil, err
	}
	reqQP := req.Raw().URL.Query()
	reqQP.Set("api-version", version20250801Preview)
	req.Raw().URL.RawQuery = strings.ReplaceAll(reqQP.Encode(), "+", "%20")
	req.Raw().Header["Accept"] = []string{"application/json"}
	return req, nil
}

// getHandleResponse handles the Get response.
func (client *RecipePacksClient) getHandleResponse(resp *http.Response) (RecipePacksClientGetResponse, error) {
	result := RecipePacksClientGetResponse{}
	if err := runtime.UnmarshalAsJSON(resp, &result.RecipePackResource); err != nil {
		return RecipePacksClientGetResponse{}, err
	}
	return result, nil
}

// NewListByScopePager - List RecipePackResource resources by Scope
//   - rootScope - The scope in which the resource is present. UCP Scope is /planes/{planeType}/{planeName}/resourceGroup/{resourcegroupID}
//     and Azure resource scope is /subscriptions/{subscriptionID}/resourceGroup/{resourcegroupID}
//   - options - RecipePacksClientListByScopeOptions contains the optional parameters for the RecipePacksClient.NewListByScopePager
//     method.
func (client *RecipePacksClient) NewListByScopePager(rootScope string, options *RecipePacksClientListByScopeOptions) *runtime.Pager[RecipePacksClientListByScopeResponse] {
	return runtime.NewPager(runtime.PagingHandler[RecipePacksClientListByScopeResponse]{
		More: func(page RecipePacksClientListByScopeResponse) bool {
			return page.NextLink != nil && len(*page.NextLink) > 0
		},
		Fetcher: func(ctx context.Context, page *RecipePacksClientListByScopeResponse) (RecipePacksClientListByScopeResponse, error) {
			ctx = context.WithValue(ctx, runtime.CtxAPINameKey{}, "RecipePacksClient.NewListByScopePager")
			nextLink := ""
			if page != nil {
				nextLink = *page.NextLink
			}
			resp, err := runtime.FetcherForNextLink(ctx, client.internal.Pipeline(), nextLink, func(ctx context.Context) (*policy.Request, error) {
				return client.listByScopeCreateRequest(ctx, rootScope, options)
			}, nil)
			if err != nil {
				return RecipePacksClientListByScopeResponse{}, err
			}
			return client.listByScopeHandleResponse(resp)
		},
	})
}

// listByScopeCreateRequest creates the ListByScope request.
func (client *RecipePacksClient) listByScopeCreateRequest(ctx context.Context, rootScope string, _ *RecipePacksClientListByScopeOptions) (*policy.Request, error) {
	urlPath := "/{rootScope}/providers/Radius.Core/recipePacks"
	if rootScope == "" {
		return nil, errors.New("parameter rootScope cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{rootScope}", url.PathEscape(rootScope))
	req, err := runtime.NewRequest(ctx, http.MethodGet, runtime.JoinPaths(client.internal.Endpoint(), urlPath))
	if err != nil {
		return nil, err
	}
	reqQP := req.Raw().URL.Query()
	reqQP.Set("api-version", version20250801Preview)
	req.Raw().URL.RawQuery = strings.ReplaceAll(reqQP.Encode(), "+", "%20")
	req.Raw().Header["Accept"] = []string{"application/json"}
	return req, nil
}

// listByScopeHandleResponse handles the ListByScope response.
func (client *RecipePacksClient) listByScopeHandleResponse(resp *http.Response) (RecipePacksClientListByScopeResponse, error) {
	result := RecipePacksClientListByScopeResponse{}
	if err := runtime.UnmarshalAsJSON(resp, &result.RecipePackResourceListResult); err != nil {
		return RecipePacksClientListByScopeResponse{}, err
	}
	return result, nil
}

// Update - Update a RecipePackResource
// If the operation fails it returns an *azcore.ResponseError type.
//   - rootScope - The scope in which the resource is present. UCP Scope is /planes/{planeType}/{planeName}/resourceGroup/{resourcegroupID}
//     and Azure resource scope is /subscriptions/{subscriptionID}/resourceGroup/{resourcegroupID}
//   - recipePackName - Recipe pack name
//   - properties - The resource properties to be updated.
//   - options - RecipePacksClientUpdateOptions contains the optional parameters for the RecipePacksClient.Update method.
func (client *RecipePacksClient) Update(ctx context.Context, rootScope string, recipePackName string, properties RecipePackResource, options *RecipePacksClientUpdateOptions) (RecipePacksClientUpdateResponse, error) {
	var err error
	ctx = context.WithValue(ctx, runtime.CtxAPINameKey{}, "RecipePacksClient.Update")
	req, err := client.updateCreateRequest(ctx, rootScope, recipePackName, properties, options)
	if err != nil {
		return RecipePacksClientUpdateResponse{}, err
	}
	httpResp, err := client.internal.Pipeline().Do(req)
	if err != nil {
		return RecipePacksClientUpdateResponse{}, err
	}
	if !runtime.HasStatusCode(httpResp, http.StatusOK) {
		err = runtime.NewResponseError(httpResp)
		return RecipePacksClientUpdateResponse{}, err
	}
	resp, err := client.updateHandleResponse(httpResp)
	return resp, err
}

// updateCreateRequest creates the Update request.
func (client *RecipePacksClient) updateCreateRequest(ctx context.Context, rootScope string, recipePackName string, properties RecipePackResource, _ *RecipePacksClientUpdateOptions) (*policy.Request, error) {
	urlPath := "/{rootScope}/providers/Radius.Core/recipePacks/{recipePackName}"
	if rootScope == "" {
		return nil, errors.New("parameter rootScope cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{rootScope}", url.PathEscape(rootScope))
	if recipePackName == "" {
		return nil, errors.New("parameter recipePackName cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{recipePackName}", url.PathEscape(recipePackName))
	req, err := runtime.NewRequest(ctx, http.MethodPatch, runtime.JoinPaths(client.internal.Endpoint(), urlPath))
	if err != nil {
		return nil, err
	}
	reqQP := req.Raw().URL.Query()
	reqQP.Set("api-version", version20250801Preview)
	req.Raw().URL.RawQuery = strings.ReplaceAll(reqQP.Encode(), "+", "%20")
	req.Raw().Header["Accept"] = []string{"application/json"}
	req.Raw().Header["Content-Type"] = []string{"application/json"}
	if err := runtime.MarshalAsJSON(req, properties); err != nil {
		return nil, err
	}
	return req, nil
}

// updateHandleResponse handles the Update response.
func (client *RecipePacksClient) updateHandleResponse(resp *http.Response) (RecipePacksClientUpdateResponse, error) {
	result := RecipePacksClientUpdateResponse{}
	if err := runtime.UnmarshalAsJSON(resp, &result.RecipePackResource); err != nil {
		return RecipePacksClientUpdateResponse{}, err
	}
	return result, nil
}
