// Licensed under the Apache License, Version 2.0 . See LICENSE in the repository root for license information.
// Code generated by Microsoft (R) AutoRest Code Generator. DO NOT EDIT.
// Changes may cause incorrect behavior and will be lost if the code is regenerated.

package v20250801preview

import "time"

// AzureResourceManagerCommonTypesTrackedResourceUpdate - The resource model definition for an Azure Resource Manager tracked
// top level resource which has 'tags' and a 'location'
type AzureResourceManagerCommonTypesTrackedResourceUpdate struct {
// Resource tags.
	Tags map[string]*string

// READ-ONLY; Fully qualified resource ID for the resource. Ex - /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}
	ID *string

// READ-ONLY; The name of the resource
	Name *string

// READ-ONLY; Azure Resource Manager metadata containing createdBy and modifiedBy information.
	SystemData *SystemData

// READ-ONLY; The type of the resource. E.g. "Microsoft.Compute/virtualMachines" or "Microsoft.Storage/storageAccounts"
	Type *string
}

// EnvironmentProperties - Environment properties
type EnvironmentProperties struct {
// Cloud provider configuration for the environment.
	Providers *Providers

// List of Recipe Pack resource IDs linked to this environment.
	RecipePacks []*string

// Simulated environment.
	Simulated *bool

// READ-ONLY; The status of the asynchronous operation.
	ProvisioningState *ProvisioningState
}

// EnvironmentResource - The environment resource
type EnvironmentResource struct {
// REQUIRED; The geo-location where the resource lives
	Location *string

// REQUIRED; The resource-specific properties for this resource.
	Properties *EnvironmentProperties

// Resource tags.
	Tags map[string]*string

// READ-ONLY; Fully qualified resource ID for the resource. Ex - /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}
	ID *string

// READ-ONLY; The name of the resource
	Name *string

// READ-ONLY; Azure Resource Manager metadata containing createdBy and modifiedBy information.
	SystemData *SystemData

// READ-ONLY; The type of the resource. E.g. "Microsoft.Compute/virtualMachines" or "Microsoft.Storage/storageAccounts"
	Type *string
}

// EnvironmentResourceListResult - The response of a EnvironmentResource list operation.
type EnvironmentResourceListResult struct {
// REQUIRED; The EnvironmentResource items on this page
	Value []*EnvironmentResource

// The link to the next page of items
	NextLink *string
}

// EnvironmentResourceUpdate - The environment resource
type EnvironmentResourceUpdate struct {
// Resource tags.
	Tags map[string]*string

// READ-ONLY; Fully qualified resource ID for the resource. Ex - /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}
	ID *string

// READ-ONLY; The name of the resource
	Name *string

// READ-ONLY; Azure Resource Manager metadata containing createdBy and modifiedBy information.
	SystemData *SystemData

// READ-ONLY; The type of the resource. E.g. "Microsoft.Compute/virtualMachines" or "Microsoft.Storage/storageAccounts"
	Type *string
}

// ErrorAdditionalInfo - The resource management error additional info.
type ErrorAdditionalInfo struct {
// READ-ONLY; The additional info.
	Info any

// READ-ONLY; The additional info type.
	Type *string
}

// ErrorDetail - The error detail.
type ErrorDetail struct {
// READ-ONLY; The error additional info.
	AdditionalInfo []*ErrorAdditionalInfo

// READ-ONLY; The error code.
	Code *string

// READ-ONLY; The error details.
	Details []*ErrorDetail

// READ-ONLY; The error message.
	Message *string

// READ-ONLY; The error target.
	Target *string
}

// ErrorResponse - Common error response for all Azure Resource Manager APIs to return error details for failed operations.
// (This also follows the OData error response format.).
type ErrorResponse struct {
// The error object.
	Error *ErrorDetail
}

// IdentitySettings is the external identity setting.
type IdentitySettings struct {
// REQUIRED; kind of identity setting
	Kind *IdentitySettingKind

// The list of user assigned managed identities
	ManagedIdentity []*string

// The URI for your compute platform's OIDC issuer
	OidcIssuer *string

// The resource ID of the provisioned identity
	Resource *string
}

// Operation - Details of a REST API operation, returned from the Resource Provider Operations API
type Operation struct {
// Localized display information for this particular operation.
	Display *OperationDisplay

// READ-ONLY; Enum. Indicates the action type. "Internal" refers to actions that are for internal only APIs.
	ActionType *ActionType

// READ-ONLY; Whether the operation applies to data-plane. This is "true" for data-plane operations and "false" for ARM/control-plane
// operations.
	IsDataAction *bool

// READ-ONLY; The name of the operation, as per Resource-Based Access Control (RBAC). Examples: "Microsoft.Compute/virtualMachines/write",
// "Microsoft.Compute/virtualMachines/capture/action"
	Name *string

// READ-ONLY; The intended executor of the operation; as in Resource Based Access Control (RBAC) and audit logs UX. Default
// value is "user,system"
	Origin *Origin
}

// OperationDisplay - Localized display information for this particular operation.
type OperationDisplay struct {
// READ-ONLY; The short, localized friendly description of the operation; suitable for tool tips and detailed views.
	Description *string

// READ-ONLY; The concise, localized friendly name for the operation; suitable for dropdowns. E.g. "Create or Update Virtual
// Machine", "Restart Virtual Machine".
	Operation *string

// READ-ONLY; The localized friendly form of the resource provider name, e.g. "Microsoft Monitoring Insights" or "Microsoft
// Compute".
	Provider *string

// READ-ONLY; The localized friendly name of the resource type related to this operation. E.g. "Virtual Machines" or "Job
// Schedule Collections".
	Resource *string
}

// OperationListResult - A list of REST API operations supported by an Azure Resource Provider. It contains an URL link to
// get the next set of results.
type OperationListResult struct {
// READ-ONLY; URL to get the next set of operation list results (if there are any).
	NextLink *string

// READ-ONLY; List of operations supported by the resource provider
	Value []*Operation
}

type Providers struct {
// The AWS cloud provider configuration.
	Aws *ProvidersAws

// The Azure cloud provider configuration.
	Azure *ProvidersAzure

// The Kubernetes provider configuration.
	Kubernetes *ProvidersKubernetes
}

// ProvidersAws - The AWS cloud provider definition.
type ProvidersAws struct {
// REQUIRED; Target scope for AWS resources to be deployed into. For example: '/planes/aws/aws/accounts/000000000000/regions/us-west-2'.
	Scope *string
}

// ProvidersAzure - The Azure cloud provider definition.
type ProvidersAzure struct {
// REQUIRED; Azure subscription ID hosting deployed resources.
	SubscriptionID *string

// External identity settings (moved from compute).
	Identity *IdentitySettings

// Optional resource group name.
	ResourceGroupName *string
}

type ProvidersKubernetes struct {
// REQUIRED; Kubernetes namespace to deploy workloads into.
	Namespace *string
}

// RecipeDefinition - Recipe definition for a specific resource type
type RecipeDefinition struct {
// REQUIRED; The type of recipe (e.g., terraform, bicep)
	RecipeKind *RecipeKind

// REQUIRED; URL or path to the recipe source
	RecipeLocation *string

// Parameters to pass to the recipe
	Parameters any

// Connect to the location using HTTP (not-HTTPS). This should be used when the location is known not to support HTTPS, for
// example in a locally-hosted registry for Bicep recipes. Defaults to false (use
// HTTPS/TLS).
	PlainHTTP *bool
}

// RecipePackProperties - Recipe Pack properties
type RecipePackProperties struct {
// REQUIRED; Map of resource types to their recipe configurations
	Recipes map[string]*RecipeDefinition

// Description of what this recipe pack provides
	Description *string

// READ-ONLY; The status of the asynchronous operation.
	ProvisioningState *ProvisioningState

// READ-ONLY; List of environment IDs that reference this recipe pack
	ReferencedBy []*string
}

// RecipePackResource - The recipe pack resource
type RecipePackResource struct {
// REQUIRED; The geo-location where the resource lives
	Location *string

// REQUIRED; The resource-specific properties for this resource.
	Properties *RecipePackProperties

// Resource tags.
	Tags map[string]*string

// READ-ONLY; Fully qualified resource ID for the resource. Ex - /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}
	ID *string

// READ-ONLY; The name of the resource
	Name *string

// READ-ONLY; Azure Resource Manager metadata containing createdBy and modifiedBy information.
	SystemData *SystemData

// READ-ONLY; The type of the resource. E.g. "Microsoft.Compute/virtualMachines" or "Microsoft.Storage/storageAccounts"
	Type *string
}

// RecipePackResourceListResult - The response of a RecipePackResource list operation.
type RecipePackResourceListResult struct {
// REQUIRED; The RecipePackResource items on this page
	Value []*RecipePackResource

// The link to the next page of items
	NextLink *string
}

// RecipePackResourceUpdate - The recipe pack resource
type RecipePackResourceUpdate struct {
// Resource tags.
	Tags map[string]*string

// READ-ONLY; Fully qualified resource ID for the resource. Ex - /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}
	ID *string

// READ-ONLY; The name of the resource
	Name *string

// READ-ONLY; Azure Resource Manager metadata containing createdBy and modifiedBy information.
	SystemData *SystemData

// READ-ONLY; The type of the resource. E.g. "Microsoft.Compute/virtualMachines" or "Microsoft.Storage/storageAccounts"
	Type *string
}

// Resource - Common fields that are returned in the response for all Azure Resource Manager resources
type Resource struct {
// READ-ONLY; Fully qualified resource ID for the resource. Ex - /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}
	ID *string

// READ-ONLY; The name of the resource
	Name *string

// READ-ONLY; Azure Resource Manager metadata containing createdBy and modifiedBy information.
	SystemData *SystemData

// READ-ONLY; The type of the resource. E.g. "Microsoft.Compute/virtualMachines" or "Microsoft.Storage/storageAccounts"
	Type *string
}

// SystemData - Metadata pertaining to creation and last modification of the resource.
type SystemData struct {
// The timestamp of resource creation (UTC).
	CreatedAt *time.Time

// The identity that created the resource.
	CreatedBy *string

// The type of identity that created the resource.
	CreatedByType *CreatedByType

// The timestamp of resource last modification (UTC)
	LastModifiedAt *time.Time

// The identity that last modified the resource.
	LastModifiedBy *string

// The type of identity that last modified the resource.
	LastModifiedByType *CreatedByType
}

// TrackedResource - The resource model definition for an Azure Resource Manager tracked top level resource which has 'tags'
// and a 'location'
type TrackedResource struct {
// REQUIRED; The geo-location where the resource lives
	Location *string

// Resource tags.
	Tags map[string]*string

// READ-ONLY; Fully qualified resource ID for the resource. Ex - /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}
	ID *string

// READ-ONLY; The name of the resource
	Name *string

// READ-ONLY; Azure Resource Manager metadata containing createdBy and modifiedBy information.
	SystemData *SystemData

// READ-ONLY; The type of the resource. E.g. "Microsoft.Compute/virtualMachines" or "Microsoft.Storage/storageAccounts"
	Type *string
}

