apiVersion: v1
kind: Service
metadata:
  name: bicep-de
  namespace: {{ .Release.Namespace }}
  labels:
    app.kubernetes.io/name: bicep-de
    app.kubernetes.io/part-of: radius
spec:
  ports:
    - port: 6443
      name: http
      protocol: TCP
      targetPort: 6443
  selector:
    app.kubernetes.io/name: bicep-de