{{- if .Values.preupgrade.enabled }}
{{- $appversion := include "radius.versiontag" . }}
apiVersion: batch/v1
kind: Job
metadata:
  name: pre-upgrade
  namespace: "{{ .Release.Namespace }}"
  labels:
    control-plane: pre-upgrade
    app.kubernetes.io/name: pre-upgrade
    app.kubernetes.io/part-of: radius
  annotations:
    "helm.sh/hook": pre-upgrade
    "helm.sh/hook-weight": "1"
    "helm.sh/hook-delete-policy": before-hook-creation
spec:
  backoffLimit: 0
  ttlSecondsAfterFinished: {{ .Values.preupgrade.ttlSecondsAfterFinished }}
  template:
    metadata:
      labels:
        control-plane: pre-upgrade
        app.kubernetes.io/name: pre-upgrade
        app.kubernetes.io/part-of: radius
    spec:
      restartPolicy: Never
      serviceAccountName: pre-upgrade
      containers:
      - name: pre-upgrade
        image: "{{ include "radius.image" (dict "image" .Values.preupgrade.image "tag" (.Values.preupgrade.tag | default .Values.global.imageTag | default $appversion) "global" .Values.global) }}"
        imagePullPolicy: 'Always'
        env:
        - name: TARGET_VERSION
          value: "{{ .Values.preupgrade.targetVersion | default .Chart.AppVersion }}"
        - name: PREFLIGHT_TIMEOUT_SECONDS
          value: "{{ .Values.preupgrade.timeoutSeconds }}"
        - name: RADIUS_LOGGING_LEVEL
          value: "{{ .Values.preupgrade.logLevel | default "INFO" }}"
        - name: RADIUS_LOGGING_JSON
          value: "{{ .Values.preupgrade.logProfile | default "production" }}"
        - name: RETRY_ATTEMPTS
          value: "{{ .Values.preupgrade.retryAttempts }}"
        - name: RETRY_DELAY_SECONDS
          value: "{{ .Values.preupgrade.retryDelaySeconds }}"
        - name: ENABLED_CHECKS
          value: "{{- $checks := list -}}
          {{- if .Values.preupgrade.checks.version -}}
            {{- $checks = append $checks "version" -}}
          {{- end -}}
          {{- if .Values.preupgrade.checks.helm -}}
            {{- $checks = append $checks "helm" -}}
          {{- end -}}
          {{- if .Values.preupgrade.checks.installation -}}
            {{- $checks = append $checks "installation" -}}
          {{- end -}}
          {{- if .Values.preupgrade.checks.kubernetes -}}
            {{- $checks = append $checks "kubernetes" -}}
          {{- end -}}
          {{- if .Values.preupgrade.checks.resources -}}
            {{- $checks = append $checks "resources" -}}
          {{- end -}}
          {{- join "," $checks -}}"
        resources:
          {{- toYaml .Values.preupgrade.resources | nindent 10 }}
        securityContext:
          {{- toYaml .Values.preupgrade.securityContext | nindent 10 }}
      securityContext:
        {{- toYaml .Values.preupgrade.podSecurityContext | nindent 8 }}
{{- end }}