//go:build go1.18
// +build go1.18

// Copyright (c) Microsoft Corporation. All rights reserved.
// Licensed under the MIT License. See License.txt in the project root for license information.
// Code generated by Microsoft (R) AutoRest Code Generator.
// Changes may cause incorrect behavior and will be lost if the code is regenerated.
// DO NOT EDIT.

package v20220901privatepreview

import (
	"context"
	"errors"
	"github.com/Azure/azure-sdk-for-go/sdk/azcore"
	"github.com/Azure/azure-sdk-for-go/sdk/azcore/arm"
	armruntime "github.com/Azure/azure-sdk-for-go/sdk/azcore/arm/runtime"
	"github.com/Azure/azure-sdk-for-go/sdk/azcore/cloud"
	"github.com/Azure/azure-sdk-for-go/sdk/azcore/policy"
	"github.com/Azure/azure-sdk-for-go/sdk/azcore/runtime"
	"net/http"
	"net/url"
	"strings"
)

// PlanesTypeClient contains the methods for the PlanesType group.
// Don't use this type directly, use NewPlanesTypeClient() instead.
type PlanesTypeClient struct {
	host string
	pl runtime.Pipeline
}

// NewPlanesTypeClient creates a new instance of PlanesTypeClient with the specified values.
// credential - used to authorize requests. Usually a credential from azidentity.
// options - pass nil to accept the default values.
func NewPlanesTypeClient(credential azcore.TokenCredential, options *arm.ClientOptions) (*PlanesTypeClient, error) {
	if options == nil {
		options = &arm.ClientOptions{}
	}
	ep := cloud.AzurePublic.Services[cloud.ResourceManager].Endpoint
	if c, ok := options.Cloud.Services[cloud.ResourceManager]; ok {
		ep = c.Endpoint
	}
	pl, err := armruntime.NewPipeline(moduleName, moduleVersion, credential, runtime.PipelineOptions{}, options)
	if err != nil {
		return nil, err
	}
	client := &PlanesTypeClient{
		host: ep,
pl: pl,
	}
	return client, nil
}

// List - List all planes of {planeType}.
// If the operation fails it returns an *azcore.ResponseError type.
// Generated from API version 2022-09-01-privatepreview
// planeType - The type of the plane
// options - PlanesTypeClientListOptions contains the optional parameters for the PlanesTypeClient.List method.
func (client *PlanesTypeClient) List(ctx context.Context, planeType string, options *PlanesTypeClientListOptions) (PlanesTypeClientListResponse, error) {
	req, err := client.listCreateRequest(ctx, planeType, options)
	if err != nil {
		return PlanesTypeClientListResponse{}, err
	}
	resp, err := client.pl.Do(req)
	if err != nil {
		return PlanesTypeClientListResponse{}, err
	}
	if !runtime.HasStatusCode(resp, http.StatusOK) {
		return PlanesTypeClientListResponse{}, runtime.NewResponseError(resp)
	}
	return client.listHandleResponse(resp)
}

// listCreateRequest creates the List request.
func (client *PlanesTypeClient) listCreateRequest(ctx context.Context, planeType string, options *PlanesTypeClientListOptions) (*policy.Request, error) {
	urlPath := "/planes/{planeType}"
	if planeType == "" {
		return nil, errors.New("parameter planeType cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{planeType}", url.PathEscape(planeType))
	req, err := runtime.NewRequest(ctx, http.MethodGet, runtime.JoinPaths(client.host, urlPath))
	if err != nil {
		return nil, err
	}
	reqQP := req.Raw().URL.Query()
	reqQP.Set("api-version", "2022-09-01-privatepreview")
	req.Raw().URL.RawQuery = reqQP.Encode()
	req.Raw().Header["Accept"] = []string{"application/json"}
	return req, nil
}

// listHandleResponse handles the List response.
func (client *PlanesTypeClient) listHandleResponse(resp *http.Response) (PlanesTypeClientListResponse, error) {
	result := PlanesTypeClientListResponse{}
	if err := runtime.UnmarshalAsJSON(resp, &result.PlaneResourceList); err != nil {
		return PlanesTypeClientListResponse{}, err
	}
	return result, nil
}

