.gulp/
.vscode/
src/Model/
src/Properties/
test/
src/obj/
package/
*.tar
*.tgz

gulpfile.js
*.sln
*.cs
*.resx
src/obj/
yarn.lock

*.log
*.csproj

.travis.yml
.git*
.git
.vs/
node_modules/
.ntvs_analysis.*
.nuget/
packages/
packages.config
gulpfile.js