{{- $encryptionKey := randBytes 32 }}
apiVersion: v1
kind: Secret
metadata:
  name: radius-encryption-key
  namespace: {{ .Release.Namespace }}
  labels:
    app.kubernetes.io/name: dynamic-rp
    app.kubernetes.io/part-of: radius
type: Opaque
data:
  encryption.key: {{ include "secrets.lookup" (dict "secret" "radius-encryption-key" "namespace" .Release.Namespace "key" "encryption.key" "defaultValue" $encryptionKey) }}
---
apiVersion: rbac.authorization.k8s.io/v1
kind: Role
metadata:
  name: radius-encryption-key-role
  namespace: {{ .Release.Namespace }}
  labels:
    app.kubernetes.io/name: dynamic-rp
    app.kubernetes.io/part-of: radius
rules:
- apiGroups:
  - ""
  resources:
  - secrets
  resourceNames:
  - radius-encryption-key
  verbs:
  - get
---
apiVersion: rbac.authorization.k8s.io/v1
kind: RoleBinding
metadata:
  name: radius-encryption-key-rolebinding
  namespace: {{ .Release.Namespace }}
  labels:
    app.kubernetes.io/name: dynamic-rp
    app.kubernetes.io/part-of: radius
roleRef:
  apiGroup: rbac.authorization.k8s.io
  kind: Role
  name: radius-encryption-key-role
subjects:
- kind: ServiceAccount
  name: dynamic-rp
  namespace: {{ .Release.Namespace }}
- kind: ServiceAccount
  name: ucp
  namespace: {{ .Release.Namespace }}
