{
  "swagger": "2.0",
  "info": {
    "title": "Applications.Core Management APIs",
    "version": "2023-04-15-preview"
  },
  "host": "management.azure.com",
  "schemes": [
    "https"
  ],
  "consumes": [
    "application/json"
  ],
  "produces": [
    "application/json"
  ],
  "security": [
    {
      "azure_auth": [
        "user_impersonation"
      ]
    }
  ],
  "securityDefinitions": {
    "azure_auth": {
      "type": "oauth2",
      "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
      "flow": "implicit",
      "description": "Azure Active Directory OAuth2 Flow.",
      "scopes": {
        "user_impersonation": "impersonate your user account"
      }
    }
  },
  "definitions": {
    "ProvisioningState": {
      "readOnly": true,
      "type": "string",
      "description": "Provisioning state of the resource at the time the operation was called.",
      "enum": [
        "Succeeded",
        "Failed",
        "Canceled",
        "Accepted",
        "Updating",
        "Deleting",
        "Provisioning"
      ],
      "x-ms-enum": {
        "name": "ProvisioningState",
        "modelAsString": true
      }
    },
    "Application": {
      "description": "Specifies the resource id of the application",
      "type": "string",
      "example": [
        "app.id"
      ]
    },
    "BasicResourceProperties": {
      "description": "Basic properties of a Radius resource.",
      "type": "object",
      "properties": {
        "status": {
          "$ref": "#/definitions/ResourceStatus",
          "description": "Status of the resource",
          "readOnly": true
        },
        "environment": {
          "description": "The resource id of the environment linked to the resource",
          "type": "string"
        },
        "application": {
          "$ref": "#/definitions/Application"
        }
      },
      "required": [
        "application"
      ]
    },
    "ResourceStatus": {
      "description": "Status of a resource.",
      "type": "object",
      "properties": {
        "compute": {
          "$ref": "#/definitions/EnvironmentCompute"
        },
        "outputResources": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/OutputResource"
          }
        }
      }
    },
    "EnvironmentCompute": {
      "description": "Compute resource used by application environment resource.",
      "type": "object",
      "discriminator": "kind",
      "properties": {
        "kind": {
          "type": "string",
          "description": "Type of compute resource."
        },
        "resourceId": {
          "type": "string",
          "description": "The resource id of the compute resource for application environment."
        },
        "identity": {
          "description": "Configuration for supported external identity providers",
          "$ref": "global.json#/definitions/IdentitySettings"
        }
      },
      "required": [
        "kind"
      ]
    },
    "KubernetesCompute": {
      "description": "Specifies the properties for Kubernetes compute environment",
      "allOf": [
        {
          "$ref": "#/definitions/EnvironmentCompute"
        }
      ],
      "type": "object",
      "properties": {
        "namespace": {
          "type": "string",
          "description": "The namespace to use for the environment."
        }
      },
      "required": [
        "namespace"
      ],
      "x-ms-discriminator-value": "kubernetes"
    },
    "OutputResource": {
      "description": "Properties of an output resource.",
      "type": "object",
      "properties": {}
    },
    "IdentitySettings": {
      "properties": {
        "kind": {
          "description": "Configuration for supported external identity providers",
          "type": "string",
          "enum": [
            "undefined",
            "azure.com.workload"
          ],
          "default": "azure.com.workload",
          "x-ms-enum": {
            "name": "IdentitySettingKind",
            "modelAsString": false
          }
        },
        "oidcIssuer": {
          "description": "The URI for your compute platform's OIDC issuer",
          "type": "string"
        },
        "resource": {
          "description": "The resource ID of the provisioned identity",
          "type": "string"
        }
      },
      "required": [
        "kind"
      ],
      "type": "object"
    },
    "Extension": {
      "description": "Extension of a resource.",
      "discriminator": "kind",
      "properties": {
        "kind": {
          "description": "Specifies the extensions of a resource.",
          "type": "string"
        }
      },
      "required": [
        "kind"
      ],
      "type": "object"
    }
  },
  "parameters": {
    "RootScopeParameter": {
      "name": "rootScope",
      "in": "path",
      "required": true,
      "type": "string",
      "description": "The scope in which the resource is present. For Azure resource this would be /subscriptions/{subscriptionID}/resourceGroups/{resourcegroupID}",
      "minLength": 1,
      "x-ms-skip-url-encoding": true
    }
  },
  "paths": {
    "/providers/Applications.Core/operations": {
      "get": {
        "tags": [
          "Operations"
        ],
        "description": "Lists the available API operations.",
        "operationId": "Operations_List",
        "produces": [
          "application/json"
        ],
        "x-ms-examples": {
          "RadiusOperationsList": {
            "$ref": "./examples/OperationsList.json"
          }
        },
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Operation details.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/OperationListResult"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "deprecated": false,
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    }
  }
}