emit:
  - "@azure-tools/typespec-autorest"
options:
  "@azure-tools/typespec-autorest":
    use-read-only-status-schema: true
    azure-resource-provider-folder: "resource-manager"
    examples-directory: "{project-root}/examples"
    emitter-output-dir: "{project-root}/../../swagger/specification/ucp"
    arm-types-dir: "{project-root}/../../swagger/specification/common-types/resource-management"
    output-file: "{azure-resource-provider-folder}/UCP/{version-status}/{version}/openapi.json"
