//go:build go1.18
// +build go1.18

// Copyright (c) Microsoft Corporation. All rights reserved.
// Licensed under the MIT License. See License.txt in the project root for license information.
// Code generated by Microsoft (R) AutoRest Code Generator.
// Changes may cause incorrect behavior and will be lost if the code is regenerated.
// DO NOT EDIT.

package v20220315privatepreview

import (
	"context"
	"errors"
	"github.com/Azure/azure-sdk-for-go/sdk/azcore"
	"github.com/Azure/azure-sdk-for-go/sdk/azcore/arm"
	armruntime "github.com/Azure/azure-sdk-for-go/sdk/azcore/arm/runtime"
	"github.com/Azure/azure-sdk-for-go/sdk/azcore/cloud"
	"github.com/Azure/azure-sdk-for-go/sdk/azcore/policy"
	"github.com/Azure/azure-sdk-for-go/sdk/azcore/runtime"
	"net/http"
	"net/url"
	"strings"
)

// DaprPubSubBrokersClient contains the methods for the DaprPubSubBrokers group.
// Don't use this type directly, use NewDaprPubSubBrokersClient() instead.
type DaprPubSubBrokersClient struct {
	host string
	rootScope string
	pl runtime.Pipeline
}

// NewDaprPubSubBrokersClient creates a new instance of DaprPubSubBrokersClient with the specified values.
// rootScope - The scope in which the resource is present. For Azure resource this would be /subscriptions/{subscriptionID}/resourceGroup/{resourcegroupID}
// credential - used to authorize requests. Usually a credential from azidentity.
// options - pass nil to accept the default values.
func NewDaprPubSubBrokersClient(rootScope string, credential azcore.TokenCredential, options *arm.ClientOptions) (*DaprPubSubBrokersClient, error) {
	if options == nil {
		options = &arm.ClientOptions{}
	}
	ep := cloud.AzurePublic.Services[cloud.ResourceManager].Endpoint
	if c, ok := options.Cloud.Services[cloud.ResourceManager]; ok {
		ep = c.Endpoint
	}
	pl, err := armruntime.NewPipeline(moduleName, moduleVersion, credential, runtime.PipelineOptions{}, options)
	if err != nil {
		return nil, err
	}
	client := &DaprPubSubBrokersClient{
		rootScope: rootScope,
		host: ep,
pl: pl,
	}
	return client, nil
}

// CreateOrUpdate - Creates or updates a DaprPubSubBroker resource
// If the operation fails it returns an *azcore.ResponseError type.
// Generated from API version 2022-03-15-privatepreview
// daprPubSubBrokerName - The name of the DaprPubSubBroker connector resource
// daprPubSubBrokerParameters - daprPubSubBroker create parameters
// options - DaprPubSubBrokersClientCreateOrUpdateOptions contains the optional parameters for the DaprPubSubBrokersClient.CreateOrUpdate
// method.
func (client *DaprPubSubBrokersClient) CreateOrUpdate(ctx context.Context, daprPubSubBrokerName string, daprPubSubBrokerParameters DaprPubSubBrokerResource, options *DaprPubSubBrokersClientCreateOrUpdateOptions) (DaprPubSubBrokersClientCreateOrUpdateResponse, error) {
	req, err := client.createOrUpdateCreateRequest(ctx, daprPubSubBrokerName, daprPubSubBrokerParameters, options)
	if err != nil {
		return DaprPubSubBrokersClientCreateOrUpdateResponse{}, err
	}
	resp, err := client.pl.Do(req)
	if err != nil {
		return DaprPubSubBrokersClientCreateOrUpdateResponse{}, err
	}
	if !runtime.HasStatusCode(resp, http.StatusOK, http.StatusCreated) {
		return DaprPubSubBrokersClientCreateOrUpdateResponse{}, runtime.NewResponseError(resp)
	}
	return client.createOrUpdateHandleResponse(resp)
}

// createOrUpdateCreateRequest creates the CreateOrUpdate request.
func (client *DaprPubSubBrokersClient) createOrUpdateCreateRequest(ctx context.Context, daprPubSubBrokerName string, daprPubSubBrokerParameters DaprPubSubBrokerResource, options *DaprPubSubBrokersClientCreateOrUpdateOptions) (*policy.Request, error) {
	urlPath := "/{rootScope}/providers/Applications.Link/daprPubSubBrokers/{daprPubSubBrokerName}"
	urlPath = strings.ReplaceAll(urlPath, "{rootScope}", client.rootScope)
	if daprPubSubBrokerName == "" {
		return nil, errors.New("parameter daprPubSubBrokerName cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{daprPubSubBrokerName}", url.PathEscape(daprPubSubBrokerName))
	req, err := runtime.NewRequest(ctx, http.MethodPut, runtime.JoinPaths(client.host, urlPath))
	if err != nil {
		return nil, err
	}
	reqQP := req.Raw().URL.Query()
	reqQP.Set("api-version", "2022-03-15-privatepreview")
	req.Raw().URL.RawQuery = reqQP.Encode()
	req.Raw().Header["Accept"] = []string{"application/json"}
	return req, runtime.MarshalAsJSON(req, daprPubSubBrokerParameters)
}

// createOrUpdateHandleResponse handles the CreateOrUpdate response.
func (client *DaprPubSubBrokersClient) createOrUpdateHandleResponse(resp *http.Response) (DaprPubSubBrokersClientCreateOrUpdateResponse, error) {
	result := DaprPubSubBrokersClientCreateOrUpdateResponse{}
	if err := runtime.UnmarshalAsJSON(resp, &result.DaprPubSubBrokerResource); err != nil {
		return DaprPubSubBrokersClientCreateOrUpdateResponse{}, err
	}
	return result, nil
}

// Delete - Deletes an existing daprPubSubBroker resource
// If the operation fails it returns an *azcore.ResponseError type.
// Generated from API version 2022-03-15-privatepreview
// daprPubSubBrokerName - The name of the DaprPubSubBroker connector resource
// options - DaprPubSubBrokersClientDeleteOptions contains the optional parameters for the DaprPubSubBrokersClient.Delete
// method.
func (client *DaprPubSubBrokersClient) Delete(ctx context.Context, daprPubSubBrokerName string, options *DaprPubSubBrokersClientDeleteOptions) (DaprPubSubBrokersClientDeleteResponse, error) {
	req, err := client.deleteCreateRequest(ctx, daprPubSubBrokerName, options)
	if err != nil {
		return DaprPubSubBrokersClientDeleteResponse{}, err
	}
	resp, err := client.pl.Do(req)
	if err != nil {
		return DaprPubSubBrokersClientDeleteResponse{}, err
	}
	if !runtime.HasStatusCode(resp, http.StatusOK, http.StatusAccepted, http.StatusNoContent) {
		return DaprPubSubBrokersClientDeleteResponse{}, runtime.NewResponseError(resp)
	}
	return DaprPubSubBrokersClientDeleteResponse{}, nil
}

// deleteCreateRequest creates the Delete request.
func (client *DaprPubSubBrokersClient) deleteCreateRequest(ctx context.Context, daprPubSubBrokerName string, options *DaprPubSubBrokersClientDeleteOptions) (*policy.Request, error) {
	urlPath := "/{rootScope}/providers/Applications.Link/daprPubSubBrokers/{daprPubSubBrokerName}"
	urlPath = strings.ReplaceAll(urlPath, "{rootScope}", client.rootScope)
	if daprPubSubBrokerName == "" {
		return nil, errors.New("parameter daprPubSubBrokerName cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{daprPubSubBrokerName}", url.PathEscape(daprPubSubBrokerName))
	req, err := runtime.NewRequest(ctx, http.MethodDelete, runtime.JoinPaths(client.host, urlPath))
	if err != nil {
		return nil, err
	}
	reqQP := req.Raw().URL.Query()
	reqQP.Set("api-version", "2022-03-15-privatepreview")
	req.Raw().URL.RawQuery = reqQP.Encode()
	req.Raw().Header["Accept"] = []string{"application/json"}
	return req, nil
}

// Get - Retrieves information about a daprPubSubBroker resource
// If the operation fails it returns an *azcore.ResponseError type.
// Generated from API version 2022-03-15-privatepreview
// daprPubSubBrokerName - The name of the DaprPubSubBroker connector resource
// options - DaprPubSubBrokersClientGetOptions contains the optional parameters for the DaprPubSubBrokersClient.Get method.
func (client *DaprPubSubBrokersClient) Get(ctx context.Context, daprPubSubBrokerName string, options *DaprPubSubBrokersClientGetOptions) (DaprPubSubBrokersClientGetResponse, error) {
	req, err := client.getCreateRequest(ctx, daprPubSubBrokerName, options)
	if err != nil {
		return DaprPubSubBrokersClientGetResponse{}, err
	}
	resp, err := client.pl.Do(req)
	if err != nil {
		return DaprPubSubBrokersClientGetResponse{}, err
	}
	if !runtime.HasStatusCode(resp, http.StatusOK) {
		return DaprPubSubBrokersClientGetResponse{}, runtime.NewResponseError(resp)
	}
	return client.getHandleResponse(resp)
}

// getCreateRequest creates the Get request.
func (client *DaprPubSubBrokersClient) getCreateRequest(ctx context.Context, daprPubSubBrokerName string, options *DaprPubSubBrokersClientGetOptions) (*policy.Request, error) {
	urlPath := "/{rootScope}/providers/Applications.Link/daprPubSubBrokers/{daprPubSubBrokerName}"
	urlPath = strings.ReplaceAll(urlPath, "{rootScope}", client.rootScope)
	if daprPubSubBrokerName == "" {
		return nil, errors.New("parameter daprPubSubBrokerName cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{daprPubSubBrokerName}", url.PathEscape(daprPubSubBrokerName))
	req, err := runtime.NewRequest(ctx, http.MethodGet, runtime.JoinPaths(client.host, urlPath))
	if err != nil {
		return nil, err
	}
	reqQP := req.Raw().URL.Query()
	reqQP.Set("api-version", "2022-03-15-privatepreview")
	req.Raw().URL.RawQuery = reqQP.Encode()
	req.Raw().Header["Accept"] = []string{"application/json"}
	return req, nil
}

// getHandleResponse handles the Get response.
func (client *DaprPubSubBrokersClient) getHandleResponse(resp *http.Response) (DaprPubSubBrokersClientGetResponse, error) {
	result := DaprPubSubBrokersClientGetResponse{}
	if err := runtime.UnmarshalAsJSON(resp, &result.DaprPubSubBrokerResource); err != nil {
		return DaprPubSubBrokersClientGetResponse{}, err
	}
	return result, nil
}

// NewListByRootScopePager - Lists information about all daprPubSubBroker resources in the given root scope
// Generated from API version 2022-03-15-privatepreview
// options - DaprPubSubBrokersClientListByRootScopeOptions contains the optional parameters for the DaprPubSubBrokersClient.ListByRootScope
// method.
func (client *DaprPubSubBrokersClient) NewListByRootScopePager(options *DaprPubSubBrokersClientListByRootScopeOptions) (*runtime.Pager[DaprPubSubBrokersClientListByRootScopeResponse]) {
	return runtime.NewPager(runtime.PagingHandler[DaprPubSubBrokersClientListByRootScopeResponse]{
		More: func(page DaprPubSubBrokersClientListByRootScopeResponse) bool {
			return page.NextLink != nil && len(*page.NextLink) > 0
		},
		Fetcher: func(ctx context.Context, page *DaprPubSubBrokersClientListByRootScopeResponse) (DaprPubSubBrokersClientListByRootScopeResponse, error) {
			var req *policy.Request
			var err error
			if page == nil {
				req, err = client.listByRootScopeCreateRequest(ctx, options)
			} else {
				req, err = runtime.NewRequest(ctx, http.MethodGet, *page.NextLink)
			}
			if err != nil {
				return DaprPubSubBrokersClientListByRootScopeResponse{}, err
			}
			resp, err := client.pl.Do(req)
			if err != nil {
				return DaprPubSubBrokersClientListByRootScopeResponse{}, err
			}
			if !runtime.HasStatusCode(resp, http.StatusOK) {
				return DaprPubSubBrokersClientListByRootScopeResponse{}, runtime.NewResponseError(resp)
			}
			return client.listByRootScopeHandleResponse(resp)
		},
	})
}

// listByRootScopeCreateRequest creates the ListByRootScope request.
func (client *DaprPubSubBrokersClient) listByRootScopeCreateRequest(ctx context.Context, options *DaprPubSubBrokersClientListByRootScopeOptions) (*policy.Request, error) {
	urlPath := "/{rootScope}/providers/Applications.Link/daprPubSubBrokers"
	urlPath = strings.ReplaceAll(urlPath, "{rootScope}", client.rootScope)
	req, err := runtime.NewRequest(ctx, http.MethodGet, runtime.JoinPaths(client.host, urlPath))
	if err != nil {
		return nil, err
	}
	reqQP := req.Raw().URL.Query()
	reqQP.Set("api-version", "2022-03-15-privatepreview")
	req.Raw().URL.RawQuery = reqQP.Encode()
	req.Raw().Header["Accept"] = []string{"application/json"}
	return req, nil
}

// listByRootScopeHandleResponse handles the ListByRootScope response.
func (client *DaprPubSubBrokersClient) listByRootScopeHandleResponse(resp *http.Response) (DaprPubSubBrokersClientListByRootScopeResponse, error) {
	result := DaprPubSubBrokersClientListByRootScopeResponse{}
	if err := runtime.UnmarshalAsJSON(resp, &result.DaprPubSubBrokerList); err != nil {
		return DaprPubSubBrokersClientListByRootScopeResponse{}, err
	}
	return result, nil
}

