//go:build go1.18
// +build go1.18

// Copyright (c) Microsoft Corporation. All rights reserved.
// Licensed under the MIT License. See License.txt in the project root for license information.
// Code generated by Microsoft (R) AutoRest Code Generator.
// Changes may cause incorrect behavior and will be lost if the code is regenerated.
// DO NOT EDIT.

package v20220315privatepreview

import (
	"context"
	"errors"
	"github.com/Azure/azure-sdk-for-go/sdk/azcore"
	"github.com/Azure/azure-sdk-for-go/sdk/azcore/arm"
	armruntime "github.com/Azure/azure-sdk-for-go/sdk/azcore/arm/runtime"
	"github.com/Azure/azure-sdk-for-go/sdk/azcore/cloud"
	"github.com/Azure/azure-sdk-for-go/sdk/azcore/policy"
	"github.com/Azure/azure-sdk-for-go/sdk/azcore/runtime"
	"net/http"
	"net/url"
	"strings"
)

// DaprSecretStoresClient contains the methods for the DaprSecretStores group.
// Don't use this type directly, use NewDaprSecretStoresClient() instead.
type DaprSecretStoresClient struct {
	host string
	rootScope string
	pl runtime.Pipeline
}

// NewDaprSecretStoresClient creates a new instance of DaprSecretStoresClient with the specified values.
// rootScope - The scope in which the resource is present. For Azure resource this would be /subscriptions/{subscriptionID}/resourceGroup/{resourcegroupID}
// credential - used to authorize requests. Usually a credential from azidentity.
// options - pass nil to accept the default values.
func NewDaprSecretStoresClient(rootScope string, credential azcore.TokenCredential, options *arm.ClientOptions) (*DaprSecretStoresClient, error) {
	if options == nil {
		options = &arm.ClientOptions{}
	}
	ep := cloud.AzurePublic.Services[cloud.ResourceManager].Endpoint
	if c, ok := options.Cloud.Services[cloud.ResourceManager]; ok {
		ep = c.Endpoint
	}
	pl, err := armruntime.NewPipeline(moduleName, moduleVersion, credential, runtime.PipelineOptions{}, options)
	if err != nil {
		return nil, err
	}
	client := &DaprSecretStoresClient{
		rootScope: rootScope,
		host: ep,
pl: pl,
	}
	return client, nil
}

// CreateOrUpdate - Creates or updates a DaprSecretStore resource
// If the operation fails it returns an *azcore.ResponseError type.
// Generated from API version 2022-03-15-privatepreview
// daprSecretStoreName - The name of the DaprSecretStore connector resource
// daprSecretStoreParameters - daprSecretStore create parameters
// options - DaprSecretStoresClientCreateOrUpdateOptions contains the optional parameters for the DaprSecretStoresClient.CreateOrUpdate
// method.
func (client *DaprSecretStoresClient) CreateOrUpdate(ctx context.Context, daprSecretStoreName string, daprSecretStoreParameters DaprSecretStoreResource, options *DaprSecretStoresClientCreateOrUpdateOptions) (DaprSecretStoresClientCreateOrUpdateResponse, error) {
	req, err := client.createOrUpdateCreateRequest(ctx, daprSecretStoreName, daprSecretStoreParameters, options)
	if err != nil {
		return DaprSecretStoresClientCreateOrUpdateResponse{}, err
	}
	resp, err := client.pl.Do(req)
	if err != nil {
		return DaprSecretStoresClientCreateOrUpdateResponse{}, err
	}
	if !runtime.HasStatusCode(resp, http.StatusOK, http.StatusCreated) {
		return DaprSecretStoresClientCreateOrUpdateResponse{}, runtime.NewResponseError(resp)
	}
	return client.createOrUpdateHandleResponse(resp)
}

// createOrUpdateCreateRequest creates the CreateOrUpdate request.
func (client *DaprSecretStoresClient) createOrUpdateCreateRequest(ctx context.Context, daprSecretStoreName string, daprSecretStoreParameters DaprSecretStoreResource, options *DaprSecretStoresClientCreateOrUpdateOptions) (*policy.Request, error) {
	urlPath := "/{rootScope}/providers/Applications.Connector/daprSecretStores/{daprSecretStoreName}"
	urlPath = strings.ReplaceAll(urlPath, "{rootScope}", client.rootScope)
	if daprSecretStoreName == "" {
		return nil, errors.New("parameter daprSecretStoreName cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{daprSecretStoreName}", url.PathEscape(daprSecretStoreName))
	req, err := runtime.NewRequest(ctx, http.MethodPut, runtime.JoinPaths(client.host, urlPath))
	if err != nil {
		return nil, err
	}
	reqQP := req.Raw().URL.Query()
	reqQP.Set("api-version", "2022-03-15-privatepreview")
	req.Raw().URL.RawQuery = reqQP.Encode()
	req.Raw().Header["Accept"] = []string{"application/json"}
	return req, runtime.MarshalAsJSON(req, daprSecretStoreParameters)
}

// createOrUpdateHandleResponse handles the CreateOrUpdate response.
func (client *DaprSecretStoresClient) createOrUpdateHandleResponse(resp *http.Response) (DaprSecretStoresClientCreateOrUpdateResponse, error) {
	result := DaprSecretStoresClientCreateOrUpdateResponse{}
	if err := runtime.UnmarshalAsJSON(resp, &result.DaprSecretStoreResource); err != nil {
		return DaprSecretStoresClientCreateOrUpdateResponse{}, err
	}
	return result, nil
}

// Delete - Deletes an existing daprSecretStore resource
// If the operation fails it returns an *azcore.ResponseError type.
// Generated from API version 2022-03-15-privatepreview
// daprSecretStoreName - The name of the DaprSecretStore connector resource
// options - DaprSecretStoresClientDeleteOptions contains the optional parameters for the DaprSecretStoresClient.Delete method.
func (client *DaprSecretStoresClient) Delete(ctx context.Context, daprSecretStoreName string, options *DaprSecretStoresClientDeleteOptions) (DaprSecretStoresClientDeleteResponse, error) {
	req, err := client.deleteCreateRequest(ctx, daprSecretStoreName, options)
	if err != nil {
		return DaprSecretStoresClientDeleteResponse{}, err
	}
	resp, err := client.pl.Do(req)
	if err != nil {
		return DaprSecretStoresClientDeleteResponse{}, err
	}
	if !runtime.HasStatusCode(resp, http.StatusOK, http.StatusAccepted, http.StatusNoContent) {
		return DaprSecretStoresClientDeleteResponse{}, runtime.NewResponseError(resp)
	}
	return DaprSecretStoresClientDeleteResponse{}, nil
}

// deleteCreateRequest creates the Delete request.
func (client *DaprSecretStoresClient) deleteCreateRequest(ctx context.Context, daprSecretStoreName string, options *DaprSecretStoresClientDeleteOptions) (*policy.Request, error) {
	urlPath := "/{rootScope}/providers/Applications.Connector/daprSecretStores/{daprSecretStoreName}"
	urlPath = strings.ReplaceAll(urlPath, "{rootScope}", client.rootScope)
	if daprSecretStoreName == "" {
		return nil, errors.New("parameter daprSecretStoreName cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{daprSecretStoreName}", url.PathEscape(daprSecretStoreName))
	req, err := runtime.NewRequest(ctx, http.MethodDelete, runtime.JoinPaths(client.host, urlPath))
	if err != nil {
		return nil, err
	}
	reqQP := req.Raw().URL.Query()
	reqQP.Set("api-version", "2022-03-15-privatepreview")
	req.Raw().URL.RawQuery = reqQP.Encode()
	req.Raw().Header["Accept"] = []string{"application/json"}
	return req, nil
}

// Get - Retrieves information about a daprSecretStore resource
// If the operation fails it returns an *azcore.ResponseError type.
// Generated from API version 2022-03-15-privatepreview
// daprSecretStoreName - The name of the DaprSecretStore connector resource
// options - DaprSecretStoresClientGetOptions contains the optional parameters for the DaprSecretStoresClient.Get method.
func (client *DaprSecretStoresClient) Get(ctx context.Context, daprSecretStoreName string, options *DaprSecretStoresClientGetOptions) (DaprSecretStoresClientGetResponse, error) {
	req, err := client.getCreateRequest(ctx, daprSecretStoreName, options)
	if err != nil {
		return DaprSecretStoresClientGetResponse{}, err
	}
	resp, err := client.pl.Do(req)
	if err != nil {
		return DaprSecretStoresClientGetResponse{}, err
	}
	if !runtime.HasStatusCode(resp, http.StatusOK) {
		return DaprSecretStoresClientGetResponse{}, runtime.NewResponseError(resp)
	}
	return client.getHandleResponse(resp)
}

// getCreateRequest creates the Get request.
func (client *DaprSecretStoresClient) getCreateRequest(ctx context.Context, daprSecretStoreName string, options *DaprSecretStoresClientGetOptions) (*policy.Request, error) {
	urlPath := "/{rootScope}/providers/Applications.Connector/daprSecretStores/{daprSecretStoreName}"
	urlPath = strings.ReplaceAll(urlPath, "{rootScope}", client.rootScope)
	if daprSecretStoreName == "" {
		return nil, errors.New("parameter daprSecretStoreName cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{daprSecretStoreName}", url.PathEscape(daprSecretStoreName))
	req, err := runtime.NewRequest(ctx, http.MethodGet, runtime.JoinPaths(client.host, urlPath))
	if err != nil {
		return nil, err
	}
	reqQP := req.Raw().URL.Query()
	reqQP.Set("api-version", "2022-03-15-privatepreview")
	req.Raw().URL.RawQuery = reqQP.Encode()
	req.Raw().Header["Accept"] = []string{"application/json"}
	return req, nil
}

// getHandleResponse handles the Get response.
func (client *DaprSecretStoresClient) getHandleResponse(resp *http.Response) (DaprSecretStoresClientGetResponse, error) {
	result := DaprSecretStoresClientGetResponse{}
	if err := runtime.UnmarshalAsJSON(resp, &result.DaprSecretStoreResource); err != nil {
		return DaprSecretStoresClientGetResponse{}, err
	}
	return result, nil
}

// NewListByRootScopePager - Lists information about all daprSecretStore resources in the given root scope
// Generated from API version 2022-03-15-privatepreview
// options - DaprSecretStoresClientListByRootScopeOptions contains the optional parameters for the DaprSecretStoresClient.ListByRootScope
// method.
func (client *DaprSecretStoresClient) NewListByRootScopePager(options *DaprSecretStoresClientListByRootScopeOptions) (*runtime.Pager[DaprSecretStoresClientListByRootScopeResponse]) {
	return runtime.NewPager(runtime.PagingHandler[DaprSecretStoresClientListByRootScopeResponse]{
		More: func(page DaprSecretStoresClientListByRootScopeResponse) bool {
			return page.NextLink != nil && len(*page.NextLink) > 0
		},
		Fetcher: func(ctx context.Context, page *DaprSecretStoresClientListByRootScopeResponse) (DaprSecretStoresClientListByRootScopeResponse, error) {
			var req *policy.Request
			var err error
			if page == nil {
				req, err = client.listByRootScopeCreateRequest(ctx, options)
			} else {
				req, err = runtime.NewRequest(ctx, http.MethodGet, *page.NextLink)
			}
			if err != nil {
				return DaprSecretStoresClientListByRootScopeResponse{}, err
			}
			resp, err := client.pl.Do(req)
			if err != nil {
				return DaprSecretStoresClientListByRootScopeResponse{}, err
			}
			if !runtime.HasStatusCode(resp, http.StatusOK) {
				return DaprSecretStoresClientListByRootScopeResponse{}, runtime.NewResponseError(resp)
			}
			return client.listByRootScopeHandleResponse(resp)
		},
	})
}

// listByRootScopeCreateRequest creates the ListByRootScope request.
func (client *DaprSecretStoresClient) listByRootScopeCreateRequest(ctx context.Context, options *DaprSecretStoresClientListByRootScopeOptions) (*policy.Request, error) {
	urlPath := "/{rootScope}/providers/Applications.Connector/daprSecretStores"
	urlPath = strings.ReplaceAll(urlPath, "{rootScope}", client.rootScope)
	req, err := runtime.NewRequest(ctx, http.MethodGet, runtime.JoinPaths(client.host, urlPath))
	if err != nil {
		return nil, err
	}
	reqQP := req.Raw().URL.Query()
	reqQP.Set("api-version", "2022-03-15-privatepreview")
	req.Raw().URL.RawQuery = reqQP.Encode()
	req.Raw().Header["Accept"] = []string{"application/json"}
	return req, nil
}

// listByRootScopeHandleResponse handles the ListByRootScope response.
func (client *DaprSecretStoresClient) listByRootScopeHandleResponse(resp *http.Response) (DaprSecretStoresClientListByRootScopeResponse, error) {
	result := DaprSecretStoresClientListByRootScopeResponse{}
	if err := runtime.UnmarshalAsJSON(resp, &result.DaprSecretStoreList); err != nil {
		return DaprSecretStoresClientListByRootScopeResponse{}, err
	}
	return result, nil
}

