// +build go1.13

// Copyright (c) Microsoft Corporation. All rights reserved.
// Licensed under the MIT License. See License.txt in the project root for license information.
// Code generated by Microsoft (R) AutoRest Code Generator.
// Changes may cause incorrect behavior and will be lost if the code is regenerated.

package radclientv3

import (
	"context"
	"errors"
	"fmt"
	"github.com/Azure/azure-sdk-for-go/sdk/armcore"
	"github.com/Azure/azure-sdk-for-go/sdk/azcore"
	"net/http"
	"net/url"
	"strings"
)

// RadiusResourceClient contains the methods for the RadiusResource group.
// Don't use this type directly, use NewRadiusResourceClient() instead.
type RadiusResourceClient struct {
	con *armcore.Connection
	subscriptionID string
}

// NewRadiusResourceClient creates a new instance of RadiusResourceClient with the specified values.
func NewRadiusResourceClient(con *armcore.Connection, subscriptionID string) *RadiusResourceClient {
	return &RadiusResourceClient{con: con, subscriptionID: subscriptionID}
}

// List - List the RadiusResource resources deployed in the application.
// If the operation fails it returns the *ErrorResponse error type.
func (client *RadiusResourceClient) List(ctx context.Context, resourceGroupName string, applicationName string, options *RadiusResourceListOptions) (RadiusResourceListResponse, error) {
	req, err := client.listCreateRequest(ctx, resourceGroupName, applicationName, options)
	if err != nil {
		return RadiusResourceListResponse{}, err
	}
	resp, err := client.con.Pipeline().Do(req)
	if err != nil {
		return RadiusResourceListResponse{}, err
	}
	if !resp.HasStatusCode(http.StatusOK) {
		return RadiusResourceListResponse{}, client.listHandleError(resp)
	}
	return client.listHandleResponse(resp)
}

// listCreateRequest creates the List request.
func (client *RadiusResourceClient) listCreateRequest(ctx context.Context, resourceGroupName string, applicationName string, options *RadiusResourceListOptions) (*azcore.Request, error) {
	urlPath := "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.CustomProviders/resourceProviders/radiusv3/Application/{applicationName}/RadiusResource"
	if client.subscriptionID == "" {
		return nil, errors.New("parameter client.subscriptionID cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{subscriptionId}", url.PathEscape(client.subscriptionID))
	if resourceGroupName == "" {
		return nil, errors.New("parameter resourceGroupName cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{resourceGroupName}", url.PathEscape(resourceGroupName))
	if applicationName == "" {
		return nil, errors.New("parameter applicationName cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{applicationName}", url.PathEscape(applicationName))
	req, err := azcore.NewRequest(ctx, http.MethodGet, azcore.JoinPaths(client.con.Endpoint(), urlPath))
	if err != nil {
		return nil, err
	}
	req.Telemetry(telemetryInfo)
	reqQP := req.URL.Query()
	reqQP.Set("api-version", "2018-09-01-preview")
	req.URL.RawQuery = reqQP.Encode()
	req.Header.Set("Accept", "application/json")
	return req, nil
}

// listHandleResponse handles the List response.
func (client *RadiusResourceClient) listHandleResponse(resp *azcore.Response) (RadiusResourceListResponse, error) {
	var val *RadiusResourceList
	if err := resp.UnmarshalAsJSON(&val); err != nil {
		return RadiusResourceListResponse{}, err
	}
return RadiusResourceListResponse{RawResponse: resp.Response, RadiusResourceList: val}, nil
}

// listHandleError handles the List error response.
func (client *RadiusResourceClient) listHandleError(resp *azcore.Response) error {
	body, err := resp.Payload()
	if err != nil {
		return azcore.NewResponseError(err, resp.Response)
	}
		errType := ErrorResponse{raw: string(body)}
	if err := resp.UnmarshalAsJSON(&errType); err != nil {
		return azcore.NewResponseError(fmt.Errorf("%s\n%s", string(body), err), resp.Response)
	}
	return azcore.NewResponseError(&errType, resp.Response)
}

