// +build go1.13

// Copyright (c) Microsoft Corporation. All rights reserved.
// Licensed under the MIT License. See License.txt in the project root for license information.
// Code generated by Microsoft (R) AutoRest Code Generator.
// Changes may cause incorrect behavior and will be lost if the code is regenerated.

package radclientv3

import (
	"context"
	"errors"
	"fmt"
	"github.com/Azure/azure-sdk-for-go/sdk/armcore"
	"github.com/Azure/azure-sdk-for-go/sdk/azcore"
	"net/http"
	"net/url"
	"strings"
)

// MongodbComMongoDBComponentClient contains the methods for the MongodbComMongoDBComponent group.
// Don't use this type directly, use NewMongodbComMongoDBComponentClient() instead.
type MongodbComMongoDBComponentClient struct {
	con *armcore.Connection
	subscriptionID string
}

// NewMongodbComMongoDBComponentClient creates a new instance of MongodbComMongoDBComponentClient with the specified values.
func NewMongodbComMongoDBComponentClient(con *armcore.Connection, subscriptionID string) *MongodbComMongoDBComponentClient {
	return &MongodbComMongoDBComponentClient{con: con, subscriptionID: subscriptionID}
}

// CreateOrUpdate - Creates or updates a mongodb.com.MongoDBComponent resource.
// If the operation fails it returns the *ErrorResponse error type.
func (client *MongodbComMongoDBComponentClient) CreateOrUpdate(ctx context.Context, resourceGroupName string, applicationName string, mongoDBComponentName string, parameters MongoDBComponentResource, options *MongodbComMongoDBComponentCreateOrUpdateOptions) (MongoDBComponentResourceResponse, error) {
	req, err := client.createOrUpdateCreateRequest(ctx, resourceGroupName, applicationName, mongoDBComponentName, parameters, options)
	if err != nil {
		return MongoDBComponentResourceResponse{}, err
	}
	resp, err := client.con.Pipeline().Do(req)
	if err != nil {
		return MongoDBComponentResourceResponse{}, err
	}
	if !resp.HasStatusCode(http.StatusOK, http.StatusCreated, http.StatusAccepted) {
		return MongoDBComponentResourceResponse{}, client.createOrUpdateHandleError(resp)
	}
	return client.createOrUpdateHandleResponse(resp)
}

// createOrUpdateCreateRequest creates the CreateOrUpdate request.
func (client *MongodbComMongoDBComponentClient) createOrUpdateCreateRequest(ctx context.Context, resourceGroupName string, applicationName string, mongoDBComponentName string, parameters MongoDBComponentResource, options *MongodbComMongoDBComponentCreateOrUpdateOptions) (*azcore.Request, error) {
	urlPath := "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.CustomProviders/resourceProviders/radiusv3/Application/{applicationName}/mongodb.com.MongoDBComponent/{mongoDBComponentName}"
	if client.subscriptionID == "" {
		return nil, errors.New("parameter client.subscriptionID cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{subscriptionId}", url.PathEscape(client.subscriptionID))
	if resourceGroupName == "" {
		return nil, errors.New("parameter resourceGroupName cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{resourceGroupName}", url.PathEscape(resourceGroupName))
	if applicationName == "" {
		return nil, errors.New("parameter applicationName cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{applicationName}", url.PathEscape(applicationName))
	if mongoDBComponentName == "" {
		return nil, errors.New("parameter mongoDBComponentName cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{mongoDBComponentName}", url.PathEscape(mongoDBComponentName))
	req, err := azcore.NewRequest(ctx, http.MethodPut, azcore.JoinPaths(client.con.Endpoint(), urlPath))
	if err != nil {
		return nil, err
	}
	req.Telemetry(telemetryInfo)
	reqQP := req.URL.Query()
	reqQP.Set("api-version", "2018-09-01-preview")
	req.URL.RawQuery = reqQP.Encode()
	req.Header.Set("Accept", "application/json")
	return req, req.MarshalAsJSON(parameters)
}

// createOrUpdateHandleResponse handles the CreateOrUpdate response.
func (client *MongodbComMongoDBComponentClient) createOrUpdateHandleResponse(resp *azcore.Response) (MongoDBComponentResourceResponse, error) {
	var val *MongoDBComponentResource
	if err := resp.UnmarshalAsJSON(&val); err != nil {
		return MongoDBComponentResourceResponse{}, err
	}
return MongoDBComponentResourceResponse{RawResponse: resp.Response, MongoDBComponentResource: val}, nil
}

// createOrUpdateHandleError handles the CreateOrUpdate error response.
func (client *MongodbComMongoDBComponentClient) createOrUpdateHandleError(resp *azcore.Response) error {
	body, err := resp.Payload()
	if err != nil {
		return azcore.NewResponseError(err, resp.Response)
	}
		errType := ErrorResponse{raw: string(body)}
	if err := resp.UnmarshalAsJSON(&errType); err != nil {
		return azcore.NewResponseError(fmt.Errorf("%s\n%s", string(body), err), resp.Response)
	}
	return azcore.NewResponseError(&errType, resp.Response)
}

// Delete - Deletes a mongodb.com.MongoDBComponent resource.
// If the operation fails it returns the *ErrorResponse error type.
func (client *MongodbComMongoDBComponentClient) Delete(ctx context.Context, resourceGroupName string, applicationName string, mongoDBComponentName string, options *MongodbComMongoDBComponentDeleteOptions) (*http.Response, error) {
	req, err := client.deleteCreateRequest(ctx, resourceGroupName, applicationName, mongoDBComponentName, options)
	if err != nil {
		return nil, err
	}
	resp, err := client.con.Pipeline().Do(req)
	if err != nil {
		return nil, err
	}
	if !resp.HasStatusCode(http.StatusNoContent) {
		return nil, client.deleteHandleError(resp)
	}
	return resp.Response, nil
}

// deleteCreateRequest creates the Delete request.
func (client *MongodbComMongoDBComponentClient) deleteCreateRequest(ctx context.Context, resourceGroupName string, applicationName string, mongoDBComponentName string, options *MongodbComMongoDBComponentDeleteOptions) (*azcore.Request, error) {
	urlPath := "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.CustomProviders/resourceProviders/radiusv3/Application/{applicationName}/mongodb.com.MongoDBComponent/{mongoDBComponentName}"
	if client.subscriptionID == "" {
		return nil, errors.New("parameter client.subscriptionID cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{subscriptionId}", url.PathEscape(client.subscriptionID))
	if resourceGroupName == "" {
		return nil, errors.New("parameter resourceGroupName cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{resourceGroupName}", url.PathEscape(resourceGroupName))
	if applicationName == "" {
		return nil, errors.New("parameter applicationName cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{applicationName}", url.PathEscape(applicationName))
	if mongoDBComponentName == "" {
		return nil, errors.New("parameter mongoDBComponentName cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{mongoDBComponentName}", url.PathEscape(mongoDBComponentName))
	req, err := azcore.NewRequest(ctx, http.MethodDelete, azcore.JoinPaths(client.con.Endpoint(), urlPath))
	if err != nil {
		return nil, err
	}
	req.Telemetry(telemetryInfo)
	reqQP := req.URL.Query()
	reqQP.Set("api-version", "2018-09-01-preview")
	req.URL.RawQuery = reqQP.Encode()
	req.Header.Set("Accept", "application/json")
	return req, nil
}

// deleteHandleError handles the Delete error response.
func (client *MongodbComMongoDBComponentClient) deleteHandleError(resp *azcore.Response) error {
	body, err := resp.Payload()
	if err != nil {
		return azcore.NewResponseError(err, resp.Response)
	}
		errType := ErrorResponse{raw: string(body)}
	if err := resp.UnmarshalAsJSON(&errType); err != nil {
		return azcore.NewResponseError(fmt.Errorf("%s\n%s", string(body), err), resp.Response)
	}
	return azcore.NewResponseError(&errType, resp.Response)
}

// Get - Gets a mongodb.com.MongoDBComponent resource by name.
// If the operation fails it returns the *ErrorResponse error type.
func (client *MongodbComMongoDBComponentClient) Get(ctx context.Context, resourceGroupName string, applicationName string, mongoDBComponentName string, options *MongodbComMongoDBComponentGetOptions) (MongoDBComponentResourceResponse, error) {
	req, err := client.getCreateRequest(ctx, resourceGroupName, applicationName, mongoDBComponentName, options)
	if err != nil {
		return MongoDBComponentResourceResponse{}, err
	}
	resp, err := client.con.Pipeline().Do(req)
	if err != nil {
		return MongoDBComponentResourceResponse{}, err
	}
	if !resp.HasStatusCode(http.StatusOK) {
		return MongoDBComponentResourceResponse{}, client.getHandleError(resp)
	}
	return client.getHandleResponse(resp)
}

// getCreateRequest creates the Get request.
func (client *MongodbComMongoDBComponentClient) getCreateRequest(ctx context.Context, resourceGroupName string, applicationName string, mongoDBComponentName string, options *MongodbComMongoDBComponentGetOptions) (*azcore.Request, error) {
	urlPath := "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.CustomProviders/resourceProviders/radiusv3/Application/{applicationName}/mongodb.com.MongoDBComponent/{mongoDBComponentName}"
	if client.subscriptionID == "" {
		return nil, errors.New("parameter client.subscriptionID cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{subscriptionId}", url.PathEscape(client.subscriptionID))
	if resourceGroupName == "" {
		return nil, errors.New("parameter resourceGroupName cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{resourceGroupName}", url.PathEscape(resourceGroupName))
	if applicationName == "" {
		return nil, errors.New("parameter applicationName cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{applicationName}", url.PathEscape(applicationName))
	if mongoDBComponentName == "" {
		return nil, errors.New("parameter mongoDBComponentName cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{mongoDBComponentName}", url.PathEscape(mongoDBComponentName))
	req, err := azcore.NewRequest(ctx, http.MethodGet, azcore.JoinPaths(client.con.Endpoint(), urlPath))
	if err != nil {
		return nil, err
	}
	req.Telemetry(telemetryInfo)
	reqQP := req.URL.Query()
	reqQP.Set("api-version", "2018-09-01-preview")
	req.URL.RawQuery = reqQP.Encode()
	req.Header.Set("Accept", "application/json")
	return req, nil
}

// getHandleResponse handles the Get response.
func (client *MongodbComMongoDBComponentClient) getHandleResponse(resp *azcore.Response) (MongoDBComponentResourceResponse, error) {
	var val *MongoDBComponentResource
	if err := resp.UnmarshalAsJSON(&val); err != nil {
		return MongoDBComponentResourceResponse{}, err
	}
return MongoDBComponentResourceResponse{RawResponse: resp.Response, MongoDBComponentResource: val}, nil
}

// getHandleError handles the Get error response.
func (client *MongodbComMongoDBComponentClient) getHandleError(resp *azcore.Response) error {
	body, err := resp.Payload()
	if err != nil {
		return azcore.NewResponseError(err, resp.Response)
	}
		errType := ErrorResponse{raw: string(body)}
	if err := resp.UnmarshalAsJSON(&errType); err != nil {
		return azcore.NewResponseError(fmt.Errorf("%s\n%s", string(body), err), resp.Response)
	}
	return azcore.NewResponseError(&errType, resp.Response)
}

// List - List the mongodb.com.MongoDBComponent resources deployed in the application.
// If the operation fails it returns the *ErrorResponse error type.
func (client *MongodbComMongoDBComponentClient) List(ctx context.Context, resourceGroupName string, applicationName string, options *MongodbComMongoDBComponentListOptions) (MongoDBComponentListResponse, error) {
	req, err := client.listCreateRequest(ctx, resourceGroupName, applicationName, options)
	if err != nil {
		return MongoDBComponentListResponse{}, err
	}
	resp, err := client.con.Pipeline().Do(req)
	if err != nil {
		return MongoDBComponentListResponse{}, err
	}
	if !resp.HasStatusCode(http.StatusOK) {
		return MongoDBComponentListResponse{}, client.listHandleError(resp)
	}
	return client.listHandleResponse(resp)
}

// listCreateRequest creates the List request.
func (client *MongodbComMongoDBComponentClient) listCreateRequest(ctx context.Context, resourceGroupName string, applicationName string, options *MongodbComMongoDBComponentListOptions) (*azcore.Request, error) {
	urlPath := "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.CustomProviders/resourceProviders/radiusv3/Application/{applicationName}/mongodb.com.MongoDBComponent"
	if client.subscriptionID == "" {
		return nil, errors.New("parameter client.subscriptionID cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{subscriptionId}", url.PathEscape(client.subscriptionID))
	if resourceGroupName == "" {
		return nil, errors.New("parameter resourceGroupName cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{resourceGroupName}", url.PathEscape(resourceGroupName))
	if applicationName == "" {
		return nil, errors.New("parameter applicationName cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{applicationName}", url.PathEscape(applicationName))
	req, err := azcore.NewRequest(ctx, http.MethodGet, azcore.JoinPaths(client.con.Endpoint(), urlPath))
	if err != nil {
		return nil, err
	}
	req.Telemetry(telemetryInfo)
	reqQP := req.URL.Query()
	reqQP.Set("api-version", "2018-09-01-preview")
	req.URL.RawQuery = reqQP.Encode()
	req.Header.Set("Accept", "application/json")
	return req, nil
}

// listHandleResponse handles the List response.
func (client *MongodbComMongoDBComponentClient) listHandleResponse(resp *azcore.Response) (MongoDBComponentListResponse, error) {
	var val *MongoDBComponentList
	if err := resp.UnmarshalAsJSON(&val); err != nil {
		return MongoDBComponentListResponse{}, err
	}
return MongoDBComponentListResponse{RawResponse: resp.Response, MongoDBComponentList: val}, nil
}

// listHandleError handles the List error response.
func (client *MongodbComMongoDBComponentClient) listHandleError(resp *azcore.Response) error {
	body, err := resp.Payload()
	if err != nil {
		return azcore.NewResponseError(err, resp.Response)
	}
		errType := ErrorResponse{raw: string(body)}
	if err := resp.UnmarshalAsJSON(&errType); err != nil {
		return azcore.NewResponseError(fmt.Errorf("%s\n%s", string(body), err), resp.Response)
	}
	return azcore.NewResponseError(&errType, resp.Response)
}

