// +build go1.13

// Copyright (c) Microsoft Corporation. All rights reserved.
// Licensed under the MIT License. See License.txt in the project root for license information.
// Code generated by Microsoft (R) AutoRest Code Generator.
// Changes may cause incorrect behavior and will be lost if the code is regenerated.

package radclientv3

import (
	"context"
	"errors"
	"fmt"
	"github.com/Azure/azure-sdk-for-go/sdk/armcore"
	"github.com/Azure/azure-sdk-for-go/sdk/azcore"
	"net/http"
	"net/url"
	"strings"
)

// AzureComCosmosDBMongoComponentClient contains the methods for the AzureComCosmosDBMongoComponent group.
// Don't use this type directly, use NewAzureComCosmosDBMongoComponentClient() instead.
type AzureComCosmosDBMongoComponentClient struct {
	con *armcore.Connection
	subscriptionID string
}

// NewAzureComCosmosDBMongoComponentClient creates a new instance of AzureComCosmosDBMongoComponentClient with the specified values.
func NewAzureComCosmosDBMongoComponentClient(con *armcore.Connection, subscriptionID string) *AzureComCosmosDBMongoComponentClient {
	return &AzureComCosmosDBMongoComponentClient{con: con, subscriptionID: subscriptionID}
}

// CreateOrUpdate - Creates or updates a azure.com.CosmosDBMongoComponent resource.
// If the operation fails it returns the *ErrorResponse error type.
func (client *AzureComCosmosDBMongoComponentClient) CreateOrUpdate(ctx context.Context, resourceGroupName string, applicationName string, azureCosmosDBMongoComponentName string, parameters AzureCosmosDBMongoComponentResource, options *AzureComCosmosDBMongoComponentCreateOrUpdateOptions) (AzureCosmosDBMongoComponentResourceResponse, error) {
	req, err := client.createOrUpdateCreateRequest(ctx, resourceGroupName, applicationName, azureCosmosDBMongoComponentName, parameters, options)
	if err != nil {
		return AzureCosmosDBMongoComponentResourceResponse{}, err
	}
	resp, err := client.con.Pipeline().Do(req)
	if err != nil {
		return AzureCosmosDBMongoComponentResourceResponse{}, err
	}
	if !resp.HasStatusCode(http.StatusOK, http.StatusCreated, http.StatusAccepted) {
		return AzureCosmosDBMongoComponentResourceResponse{}, client.createOrUpdateHandleError(resp)
	}
	return client.createOrUpdateHandleResponse(resp)
}

// createOrUpdateCreateRequest creates the CreateOrUpdate request.
func (client *AzureComCosmosDBMongoComponentClient) createOrUpdateCreateRequest(ctx context.Context, resourceGroupName string, applicationName string, azureCosmosDBMongoComponentName string, parameters AzureCosmosDBMongoComponentResource, options *AzureComCosmosDBMongoComponentCreateOrUpdateOptions) (*azcore.Request, error) {
	urlPath := "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.CustomProviders/resourceProviders/radiusv3/Application/{applicationName}/azure.com.CosmosDBMongoComponent/{azureCosmosDBMongoComponentName}"
	if client.subscriptionID == "" {
		return nil, errors.New("parameter client.subscriptionID cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{subscriptionId}", url.PathEscape(client.subscriptionID))
	if resourceGroupName == "" {
		return nil, errors.New("parameter resourceGroupName cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{resourceGroupName}", url.PathEscape(resourceGroupName))
	if applicationName == "" {
		return nil, errors.New("parameter applicationName cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{applicationName}", url.PathEscape(applicationName))
	if azureCosmosDBMongoComponentName == "" {
		return nil, errors.New("parameter azureCosmosDBMongoComponentName cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{azureCosmosDBMongoComponentName}", url.PathEscape(azureCosmosDBMongoComponentName))
	req, err := azcore.NewRequest(ctx, http.MethodPut, azcore.JoinPaths(client.con.Endpoint(), urlPath))
	if err != nil {
		return nil, err
	}
	req.Telemetry(telemetryInfo)
	reqQP := req.URL.Query()
	reqQP.Set("api-version", "2018-09-01-preview")
	req.URL.RawQuery = reqQP.Encode()
	req.Header.Set("Accept", "application/json")
	return req, req.MarshalAsJSON(parameters)
}

// createOrUpdateHandleResponse handles the CreateOrUpdate response.
func (client *AzureComCosmosDBMongoComponentClient) createOrUpdateHandleResponse(resp *azcore.Response) (AzureCosmosDBMongoComponentResourceResponse, error) {
	var val *AzureCosmosDBMongoComponentResource
	if err := resp.UnmarshalAsJSON(&val); err != nil {
		return AzureCosmosDBMongoComponentResourceResponse{}, err
	}
return AzureCosmosDBMongoComponentResourceResponse{RawResponse: resp.Response, AzureCosmosDBMongoComponentResource: val}, nil
}

// createOrUpdateHandleError handles the CreateOrUpdate error response.
func (client *AzureComCosmosDBMongoComponentClient) createOrUpdateHandleError(resp *azcore.Response) error {
	body, err := resp.Payload()
	if err != nil {
		return azcore.NewResponseError(err, resp.Response)
	}
		errType := ErrorResponse{raw: string(body)}
	if err := resp.UnmarshalAsJSON(&errType); err != nil {
		return azcore.NewResponseError(fmt.Errorf("%s\n%s", string(body), err), resp.Response)
	}
	return azcore.NewResponseError(&errType, resp.Response)
}

// Delete - Deletes a azure.com.CosmosDBMongoComponent resource.
// If the operation fails it returns the *ErrorResponse error type.
func (client *AzureComCosmosDBMongoComponentClient) Delete(ctx context.Context, resourceGroupName string, applicationName string, azureCosmosDBMongoComponentName string, options *AzureComCosmosDBMongoComponentDeleteOptions) (*http.Response, error) {
	req, err := client.deleteCreateRequest(ctx, resourceGroupName, applicationName, azureCosmosDBMongoComponentName, options)
	if err != nil {
		return nil, err
	}
	resp, err := client.con.Pipeline().Do(req)
	if err != nil {
		return nil, err
	}
	if !resp.HasStatusCode(http.StatusNoContent) {
		return nil, client.deleteHandleError(resp)
	}
	return resp.Response, nil
}

// deleteCreateRequest creates the Delete request.
func (client *AzureComCosmosDBMongoComponentClient) deleteCreateRequest(ctx context.Context, resourceGroupName string, applicationName string, azureCosmosDBMongoComponentName string, options *AzureComCosmosDBMongoComponentDeleteOptions) (*azcore.Request, error) {
	urlPath := "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.CustomProviders/resourceProviders/radiusv3/Application/{applicationName}/azure.com.CosmosDBMongoComponent/{azureCosmosDBMongoComponentName}"
	if client.subscriptionID == "" {
		return nil, errors.New("parameter client.subscriptionID cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{subscriptionId}", url.PathEscape(client.subscriptionID))
	if resourceGroupName == "" {
		return nil, errors.New("parameter resourceGroupName cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{resourceGroupName}", url.PathEscape(resourceGroupName))
	if applicationName == "" {
		return nil, errors.New("parameter applicationName cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{applicationName}", url.PathEscape(applicationName))
	if azureCosmosDBMongoComponentName == "" {
		return nil, errors.New("parameter azureCosmosDBMongoComponentName cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{azureCosmosDBMongoComponentName}", url.PathEscape(azureCosmosDBMongoComponentName))
	req, err := azcore.NewRequest(ctx, http.MethodDelete, azcore.JoinPaths(client.con.Endpoint(), urlPath))
	if err != nil {
		return nil, err
	}
	req.Telemetry(telemetryInfo)
	reqQP := req.URL.Query()
	reqQP.Set("api-version", "2018-09-01-preview")
	req.URL.RawQuery = reqQP.Encode()
	req.Header.Set("Accept", "application/json")
	return req, nil
}

// deleteHandleError handles the Delete error response.
func (client *AzureComCosmosDBMongoComponentClient) deleteHandleError(resp *azcore.Response) error {
	body, err := resp.Payload()
	if err != nil {
		return azcore.NewResponseError(err, resp.Response)
	}
		errType := ErrorResponse{raw: string(body)}
	if err := resp.UnmarshalAsJSON(&errType); err != nil {
		return azcore.NewResponseError(fmt.Errorf("%s\n%s", string(body), err), resp.Response)
	}
	return azcore.NewResponseError(&errType, resp.Response)
}

// Get - Gets a azure.com.CosmosDBMongoComponent resource by name.
// If the operation fails it returns the *ErrorResponse error type.
func (client *AzureComCosmosDBMongoComponentClient) Get(ctx context.Context, resourceGroupName string, applicationName string, azureCosmosDBMongoComponentName string, options *AzureComCosmosDBMongoComponentGetOptions) (AzureCosmosDBMongoComponentResourceResponse, error) {
	req, err := client.getCreateRequest(ctx, resourceGroupName, applicationName, azureCosmosDBMongoComponentName, options)
	if err != nil {
		return AzureCosmosDBMongoComponentResourceResponse{}, err
	}
	resp, err := client.con.Pipeline().Do(req)
	if err != nil {
		return AzureCosmosDBMongoComponentResourceResponse{}, err
	}
	if !resp.HasStatusCode(http.StatusOK) {
		return AzureCosmosDBMongoComponentResourceResponse{}, client.getHandleError(resp)
	}
	return client.getHandleResponse(resp)
}

// getCreateRequest creates the Get request.
func (client *AzureComCosmosDBMongoComponentClient) getCreateRequest(ctx context.Context, resourceGroupName string, applicationName string, azureCosmosDBMongoComponentName string, options *AzureComCosmosDBMongoComponentGetOptions) (*azcore.Request, error) {
	urlPath := "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.CustomProviders/resourceProviders/radiusv3/Application/{applicationName}/azure.com.CosmosDBMongoComponent/{azureCosmosDBMongoComponentName}"
	if client.subscriptionID == "" {
		return nil, errors.New("parameter client.subscriptionID cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{subscriptionId}", url.PathEscape(client.subscriptionID))
	if resourceGroupName == "" {
		return nil, errors.New("parameter resourceGroupName cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{resourceGroupName}", url.PathEscape(resourceGroupName))
	if applicationName == "" {
		return nil, errors.New("parameter applicationName cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{applicationName}", url.PathEscape(applicationName))
	if azureCosmosDBMongoComponentName == "" {
		return nil, errors.New("parameter azureCosmosDBMongoComponentName cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{azureCosmosDBMongoComponentName}", url.PathEscape(azureCosmosDBMongoComponentName))
	req, err := azcore.NewRequest(ctx, http.MethodGet, azcore.JoinPaths(client.con.Endpoint(), urlPath))
	if err != nil {
		return nil, err
	}
	req.Telemetry(telemetryInfo)
	reqQP := req.URL.Query()
	reqQP.Set("api-version", "2018-09-01-preview")
	req.URL.RawQuery = reqQP.Encode()
	req.Header.Set("Accept", "application/json")
	return req, nil
}

// getHandleResponse handles the Get response.
func (client *AzureComCosmosDBMongoComponentClient) getHandleResponse(resp *azcore.Response) (AzureCosmosDBMongoComponentResourceResponse, error) {
	var val *AzureCosmosDBMongoComponentResource
	if err := resp.UnmarshalAsJSON(&val); err != nil {
		return AzureCosmosDBMongoComponentResourceResponse{}, err
	}
return AzureCosmosDBMongoComponentResourceResponse{RawResponse: resp.Response, AzureCosmosDBMongoComponentResource: val}, nil
}

// getHandleError handles the Get error response.
func (client *AzureComCosmosDBMongoComponentClient) getHandleError(resp *azcore.Response) error {
	body, err := resp.Payload()
	if err != nil {
		return azcore.NewResponseError(err, resp.Response)
	}
		errType := ErrorResponse{raw: string(body)}
	if err := resp.UnmarshalAsJSON(&errType); err != nil {
		return azcore.NewResponseError(fmt.Errorf("%s\n%s", string(body), err), resp.Response)
	}
	return azcore.NewResponseError(&errType, resp.Response)
}

// List - List the azure.com.CosmosDBMongoComponent resources deployed in the application.
// If the operation fails it returns the *ErrorResponse error type.
func (client *AzureComCosmosDBMongoComponentClient) List(ctx context.Context, resourceGroupName string, applicationName string, options *AzureComCosmosDBMongoComponentListOptions) (AzureCosmosDBMongoComponentListResponse, error) {
	req, err := client.listCreateRequest(ctx, resourceGroupName, applicationName, options)
	if err != nil {
		return AzureCosmosDBMongoComponentListResponse{}, err
	}
	resp, err := client.con.Pipeline().Do(req)
	if err != nil {
		return AzureCosmosDBMongoComponentListResponse{}, err
	}
	if !resp.HasStatusCode(http.StatusOK) {
		return AzureCosmosDBMongoComponentListResponse{}, client.listHandleError(resp)
	}
	return client.listHandleResponse(resp)
}

// listCreateRequest creates the List request.
func (client *AzureComCosmosDBMongoComponentClient) listCreateRequest(ctx context.Context, resourceGroupName string, applicationName string, options *AzureComCosmosDBMongoComponentListOptions) (*azcore.Request, error) {
	urlPath := "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.CustomProviders/resourceProviders/radiusv3/Application/{applicationName}/azure.com.CosmosDBMongoComponent"
	if client.subscriptionID == "" {
		return nil, errors.New("parameter client.subscriptionID cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{subscriptionId}", url.PathEscape(client.subscriptionID))
	if resourceGroupName == "" {
		return nil, errors.New("parameter resourceGroupName cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{resourceGroupName}", url.PathEscape(resourceGroupName))
	if applicationName == "" {
		return nil, errors.New("parameter applicationName cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{applicationName}", url.PathEscape(applicationName))
	req, err := azcore.NewRequest(ctx, http.MethodGet, azcore.JoinPaths(client.con.Endpoint(), urlPath))
	if err != nil {
		return nil, err
	}
	req.Telemetry(telemetryInfo)
	reqQP := req.URL.Query()
	reqQP.Set("api-version", "2018-09-01-preview")
	req.URL.RawQuery = reqQP.Encode()
	req.Header.Set("Accept", "application/json")
	return req, nil
}

// listHandleResponse handles the List response.
func (client *AzureComCosmosDBMongoComponentClient) listHandleResponse(resp *azcore.Response) (AzureCosmosDBMongoComponentListResponse, error) {
	var val *AzureCosmosDBMongoComponentList
	if err := resp.UnmarshalAsJSON(&val); err != nil {
		return AzureCosmosDBMongoComponentListResponse{}, err
	}
return AzureCosmosDBMongoComponentListResponse{RawResponse: resp.Response, AzureCosmosDBMongoComponentList: val}, nil
}

// listHandleError handles the List error response.
func (client *AzureComCosmosDBMongoComponentClient) listHandleError(resp *azcore.Response) error {
	body, err := resp.Payload()
	if err != nil {
		return azcore.NewResponseError(err, resp.Response)
	}
		errType := ErrorResponse{raw: string(body)}
	if err := resp.UnmarshalAsJSON(&errType); err != nil {
		return azcore.NewResponseError(fmt.Errorf("%s\n%s", string(body), err), resp.Response)
	}
	return azcore.NewResponseError(&errType, resp.Response)
}

