// +build go1.13

// Copyright (c) Microsoft Corporation. All rights reserved.
// Licensed under the MIT License. See License.txt in the project root for license information.
// Code generated by Microsoft (R) AutoRest Code Generator.
// Changes may cause incorrect behavior and will be lost if the code is regenerated.

package radclientv3

import (
	"context"
	"errors"
	"fmt"
	"github.com/Azure/azure-sdk-for-go/sdk/armcore"
	"github.com/Azure/azure-sdk-for-go/sdk/azcore"
	"net/http"
	"net/url"
	"strings"
)

// AzureComKeyVaultComponentClient contains the methods for the AzureComKeyVaultComponent group.
// Don't use this type directly, use NewAzureComKeyVaultComponentClient() instead.
type AzureComKeyVaultComponentClient struct {
	con *armcore.Connection
	subscriptionID string
}

// NewAzureComKeyVaultComponentClient creates a new instance of AzureComKeyVaultComponentClient with the specified values.
func NewAzureComKeyVaultComponentClient(con *armcore.Connection, subscriptionID string) *AzureComKeyVaultComponentClient {
	return &AzureComKeyVaultComponentClient{con: con, subscriptionID: subscriptionID}
}

// CreateOrUpdate - Creates or updates a azure.com.KeyVaultComponent resource.
// If the operation fails it returns the *ErrorResponse error type.
func (client *AzureComKeyVaultComponentClient) CreateOrUpdate(ctx context.Context, resourceGroupName string, applicationName string, azureKeyVaultComponentName string, parameters AzureKeyVaultComponentResource, options *AzureComKeyVaultComponentCreateOrUpdateOptions) (AzureKeyVaultComponentResourceResponse, error) {
	req, err := client.createOrUpdateCreateRequest(ctx, resourceGroupName, applicationName, azureKeyVaultComponentName, parameters, options)
	if err != nil {
		return AzureKeyVaultComponentResourceResponse{}, err
	}
	resp, err := client.con.Pipeline().Do(req)
	if err != nil {
		return AzureKeyVaultComponentResourceResponse{}, err
	}
	if !resp.HasStatusCode(http.StatusOK, http.StatusCreated, http.StatusAccepted) {
		return AzureKeyVaultComponentResourceResponse{}, client.createOrUpdateHandleError(resp)
	}
	return client.createOrUpdateHandleResponse(resp)
}

// createOrUpdateCreateRequest creates the CreateOrUpdate request.
func (client *AzureComKeyVaultComponentClient) createOrUpdateCreateRequest(ctx context.Context, resourceGroupName string, applicationName string, azureKeyVaultComponentName string, parameters AzureKeyVaultComponentResource, options *AzureComKeyVaultComponentCreateOrUpdateOptions) (*azcore.Request, error) {
	urlPath := "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.CustomProviders/resourceProviders/radiusv3/Application/{applicationName}/azure.com.KeyVaultComponent/{azureKeyVaultComponentName}"
	if client.subscriptionID == "" {
		return nil, errors.New("parameter client.subscriptionID cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{subscriptionId}", url.PathEscape(client.subscriptionID))
	if resourceGroupName == "" {
		return nil, errors.New("parameter resourceGroupName cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{resourceGroupName}", url.PathEscape(resourceGroupName))
	if applicationName == "" {
		return nil, errors.New("parameter applicationName cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{applicationName}", url.PathEscape(applicationName))
	if azureKeyVaultComponentName == "" {
		return nil, errors.New("parameter azureKeyVaultComponentName cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{azureKeyVaultComponentName}", url.PathEscape(azureKeyVaultComponentName))
	req, err := azcore.NewRequest(ctx, http.MethodPut, azcore.JoinPaths(client.con.Endpoint(), urlPath))
	if err != nil {
		return nil, err
	}
	req.Telemetry(telemetryInfo)
	reqQP := req.URL.Query()
	reqQP.Set("api-version", "2018-09-01-preview")
	req.URL.RawQuery = reqQP.Encode()
	req.Header.Set("Accept", "application/json")
	return req, req.MarshalAsJSON(parameters)
}

// createOrUpdateHandleResponse handles the CreateOrUpdate response.
func (client *AzureComKeyVaultComponentClient) createOrUpdateHandleResponse(resp *azcore.Response) (AzureKeyVaultComponentResourceResponse, error) {
	var val *AzureKeyVaultComponentResource
	if err := resp.UnmarshalAsJSON(&val); err != nil {
		return AzureKeyVaultComponentResourceResponse{}, err
	}
return AzureKeyVaultComponentResourceResponse{RawResponse: resp.Response, AzureKeyVaultComponentResource: val}, nil
}

// createOrUpdateHandleError handles the CreateOrUpdate error response.
func (client *AzureComKeyVaultComponentClient) createOrUpdateHandleError(resp *azcore.Response) error {
	body, err := resp.Payload()
	if err != nil {
		return azcore.NewResponseError(err, resp.Response)
	}
		errType := ErrorResponse{raw: string(body)}
	if err := resp.UnmarshalAsJSON(&errType); err != nil {
		return azcore.NewResponseError(fmt.Errorf("%s\n%s", string(body), err), resp.Response)
	}
	return azcore.NewResponseError(&errType, resp.Response)
}

// Delete - Deletes a azure.com.KeyVaultComponent resource.
// If the operation fails it returns the *ErrorResponse error type.
func (client *AzureComKeyVaultComponentClient) Delete(ctx context.Context, resourceGroupName string, applicationName string, azureKeyVaultComponentName string, options *AzureComKeyVaultComponentDeleteOptions) (*http.Response, error) {
	req, err := client.deleteCreateRequest(ctx, resourceGroupName, applicationName, azureKeyVaultComponentName, options)
	if err != nil {
		return nil, err
	}
	resp, err := client.con.Pipeline().Do(req)
	if err != nil {
		return nil, err
	}
	if !resp.HasStatusCode(http.StatusNoContent) {
		return nil, client.deleteHandleError(resp)
	}
	return resp.Response, nil
}

// deleteCreateRequest creates the Delete request.
func (client *AzureComKeyVaultComponentClient) deleteCreateRequest(ctx context.Context, resourceGroupName string, applicationName string, azureKeyVaultComponentName string, options *AzureComKeyVaultComponentDeleteOptions) (*azcore.Request, error) {
	urlPath := "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.CustomProviders/resourceProviders/radiusv3/Application/{applicationName}/azure.com.KeyVaultComponent/{azureKeyVaultComponentName}"
	if client.subscriptionID == "" {
		return nil, errors.New("parameter client.subscriptionID cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{subscriptionId}", url.PathEscape(client.subscriptionID))
	if resourceGroupName == "" {
		return nil, errors.New("parameter resourceGroupName cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{resourceGroupName}", url.PathEscape(resourceGroupName))
	if applicationName == "" {
		return nil, errors.New("parameter applicationName cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{applicationName}", url.PathEscape(applicationName))
	if azureKeyVaultComponentName == "" {
		return nil, errors.New("parameter azureKeyVaultComponentName cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{azureKeyVaultComponentName}", url.PathEscape(azureKeyVaultComponentName))
	req, err := azcore.NewRequest(ctx, http.MethodDelete, azcore.JoinPaths(client.con.Endpoint(), urlPath))
	if err != nil {
		return nil, err
	}
	req.Telemetry(telemetryInfo)
	reqQP := req.URL.Query()
	reqQP.Set("api-version", "2018-09-01-preview")
	req.URL.RawQuery = reqQP.Encode()
	req.Header.Set("Accept", "application/json")
	return req, nil
}

// deleteHandleError handles the Delete error response.
func (client *AzureComKeyVaultComponentClient) deleteHandleError(resp *azcore.Response) error {
	body, err := resp.Payload()
	if err != nil {
		return azcore.NewResponseError(err, resp.Response)
	}
		errType := ErrorResponse{raw: string(body)}
	if err := resp.UnmarshalAsJSON(&errType); err != nil {
		return azcore.NewResponseError(fmt.Errorf("%s\n%s", string(body), err), resp.Response)
	}
	return azcore.NewResponseError(&errType, resp.Response)
}

// Get - Gets a azure.com.KeyVaultComponent resource by name.
// If the operation fails it returns the *ErrorResponse error type.
func (client *AzureComKeyVaultComponentClient) Get(ctx context.Context, resourceGroupName string, applicationName string, azureKeyVaultComponentName string, options *AzureComKeyVaultComponentGetOptions) (AzureKeyVaultComponentResourceResponse, error) {
	req, err := client.getCreateRequest(ctx, resourceGroupName, applicationName, azureKeyVaultComponentName, options)
	if err != nil {
		return AzureKeyVaultComponentResourceResponse{}, err
	}
	resp, err := client.con.Pipeline().Do(req)
	if err != nil {
		return AzureKeyVaultComponentResourceResponse{}, err
	}
	if !resp.HasStatusCode(http.StatusOK) {
		return AzureKeyVaultComponentResourceResponse{}, client.getHandleError(resp)
	}
	return client.getHandleResponse(resp)
}

// getCreateRequest creates the Get request.
func (client *AzureComKeyVaultComponentClient) getCreateRequest(ctx context.Context, resourceGroupName string, applicationName string, azureKeyVaultComponentName string, options *AzureComKeyVaultComponentGetOptions) (*azcore.Request, error) {
	urlPath := "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.CustomProviders/resourceProviders/radiusv3/Application/{applicationName}/azure.com.KeyVaultComponent/{azureKeyVaultComponentName}"
	if client.subscriptionID == "" {
		return nil, errors.New("parameter client.subscriptionID cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{subscriptionId}", url.PathEscape(client.subscriptionID))
	if resourceGroupName == "" {
		return nil, errors.New("parameter resourceGroupName cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{resourceGroupName}", url.PathEscape(resourceGroupName))
	if applicationName == "" {
		return nil, errors.New("parameter applicationName cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{applicationName}", url.PathEscape(applicationName))
	if azureKeyVaultComponentName == "" {
		return nil, errors.New("parameter azureKeyVaultComponentName cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{azureKeyVaultComponentName}", url.PathEscape(azureKeyVaultComponentName))
	req, err := azcore.NewRequest(ctx, http.MethodGet, azcore.JoinPaths(client.con.Endpoint(), urlPath))
	if err != nil {
		return nil, err
	}
	req.Telemetry(telemetryInfo)
	reqQP := req.URL.Query()
	reqQP.Set("api-version", "2018-09-01-preview")
	req.URL.RawQuery = reqQP.Encode()
	req.Header.Set("Accept", "application/json")
	return req, nil
}

// getHandleResponse handles the Get response.
func (client *AzureComKeyVaultComponentClient) getHandleResponse(resp *azcore.Response) (AzureKeyVaultComponentResourceResponse, error) {
	var val *AzureKeyVaultComponentResource
	if err := resp.UnmarshalAsJSON(&val); err != nil {
		return AzureKeyVaultComponentResourceResponse{}, err
	}
return AzureKeyVaultComponentResourceResponse{RawResponse: resp.Response, AzureKeyVaultComponentResource: val}, nil
}

// getHandleError handles the Get error response.
func (client *AzureComKeyVaultComponentClient) getHandleError(resp *azcore.Response) error {
	body, err := resp.Payload()
	if err != nil {
		return azcore.NewResponseError(err, resp.Response)
	}
		errType := ErrorResponse{raw: string(body)}
	if err := resp.UnmarshalAsJSON(&errType); err != nil {
		return azcore.NewResponseError(fmt.Errorf("%s\n%s", string(body), err), resp.Response)
	}
	return azcore.NewResponseError(&errType, resp.Response)
}

// List - List the azure.com.KeyVaultComponent resources deployed in the application.
// If the operation fails it returns the *ErrorResponse error type.
func (client *AzureComKeyVaultComponentClient) List(ctx context.Context, resourceGroupName string, applicationName string, options *AzureComKeyVaultComponentListOptions) (AzureKeyVaultComponentListResponse, error) {
	req, err := client.listCreateRequest(ctx, resourceGroupName, applicationName, options)
	if err != nil {
		return AzureKeyVaultComponentListResponse{}, err
	}
	resp, err := client.con.Pipeline().Do(req)
	if err != nil {
		return AzureKeyVaultComponentListResponse{}, err
	}
	if !resp.HasStatusCode(http.StatusOK) {
		return AzureKeyVaultComponentListResponse{}, client.listHandleError(resp)
	}
	return client.listHandleResponse(resp)
}

// listCreateRequest creates the List request.
func (client *AzureComKeyVaultComponentClient) listCreateRequest(ctx context.Context, resourceGroupName string, applicationName string, options *AzureComKeyVaultComponentListOptions) (*azcore.Request, error) {
	urlPath := "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.CustomProviders/resourceProviders/radiusv3/Application/{applicationName}/azure.com.KeyVaultComponent"
	if client.subscriptionID == "" {
		return nil, errors.New("parameter client.subscriptionID cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{subscriptionId}", url.PathEscape(client.subscriptionID))
	if resourceGroupName == "" {
		return nil, errors.New("parameter resourceGroupName cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{resourceGroupName}", url.PathEscape(resourceGroupName))
	if applicationName == "" {
		return nil, errors.New("parameter applicationName cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{applicationName}", url.PathEscape(applicationName))
	req, err := azcore.NewRequest(ctx, http.MethodGet, azcore.JoinPaths(client.con.Endpoint(), urlPath))
	if err != nil {
		return nil, err
	}
	req.Telemetry(telemetryInfo)
	reqQP := req.URL.Query()
	reqQP.Set("api-version", "2018-09-01-preview")
	req.URL.RawQuery = reqQP.Encode()
	req.Header.Set("Accept", "application/json")
	return req, nil
}

// listHandleResponse handles the List response.
func (client *AzureComKeyVaultComponentClient) listHandleResponse(resp *azcore.Response) (AzureKeyVaultComponentListResponse, error) {
	var val *AzureKeyVaultComponentList
	if err := resp.UnmarshalAsJSON(&val); err != nil {
		return AzureKeyVaultComponentListResponse{}, err
	}
return AzureKeyVaultComponentListResponse{RawResponse: resp.Response, AzureKeyVaultComponentList: val}, nil
}

// listHandleError handles the List error response.
func (client *AzureComKeyVaultComponentClient) listHandleError(resp *azcore.Response) error {
	body, err := resp.Payload()
	if err != nil {
		return azcore.NewResponseError(err, resp.Response)
	}
		errType := ErrorResponse{raw: string(body)}
	if err := resp.UnmarshalAsJSON(&errType); err != nil {
		return azcore.NewResponseError(fmt.Errorf("%s\n%s", string(body), err), resp.Response)
	}
	return azcore.NewResponseError(&errType, resp.Response)
}

