// +build go1.13

// Copyright (c) Microsoft Corporation. All rights reserved.
// Licensed under the MIT License. See License.txt in the project root for license information.
// Code generated by Microsoft (R) AutoRest Code Generator.
// Changes may cause incorrect behavior and will be lost if the code is regenerated.

package radclientv3

import (
	"context"
	"errors"
	"fmt"
	"github.com/Azure/azure-sdk-for-go/sdk/armcore"
	"github.com/Azure/azure-sdk-for-go/sdk/azcore"
	"net/http"
	"net/url"
	"strings"
)

// AzureComServiceBusQueueComponentClient contains the methods for the AzureComServiceBusQueueComponent group.
// Don't use this type directly, use NewAzureComServiceBusQueueComponentClient() instead.
type AzureComServiceBusQueueComponentClient struct {
	con *armcore.Connection
	subscriptionID string
}

// NewAzureComServiceBusQueueComponentClient creates a new instance of AzureComServiceBusQueueComponentClient with the specified values.
func NewAzureComServiceBusQueueComponentClient(con *armcore.Connection, subscriptionID string) *AzureComServiceBusQueueComponentClient {
	return &AzureComServiceBusQueueComponentClient{con: con, subscriptionID: subscriptionID}
}

// CreateOrUpdate - Creates or updates a azure.com.ServiceBusQueueComponent resource.
// If the operation fails it returns the *ErrorResponse error type.
func (client *AzureComServiceBusQueueComponentClient) CreateOrUpdate(ctx context.Context, resourceGroupName string, applicationName string, azureServiceBusComponentName string, parameters AzureServiceBusComponentResource, options *AzureComServiceBusQueueComponentCreateOrUpdateOptions) (AzureServiceBusComponentResourceResponse, error) {
	req, err := client.createOrUpdateCreateRequest(ctx, resourceGroupName, applicationName, azureServiceBusComponentName, parameters, options)
	if err != nil {
		return AzureServiceBusComponentResourceResponse{}, err
	}
	resp, err := client.con.Pipeline().Do(req)
	if err != nil {
		return AzureServiceBusComponentResourceResponse{}, err
	}
	if !resp.HasStatusCode(http.StatusOK, http.StatusCreated, http.StatusAccepted) {
		return AzureServiceBusComponentResourceResponse{}, client.createOrUpdateHandleError(resp)
	}
	return client.createOrUpdateHandleResponse(resp)
}

// createOrUpdateCreateRequest creates the CreateOrUpdate request.
func (client *AzureComServiceBusQueueComponentClient) createOrUpdateCreateRequest(ctx context.Context, resourceGroupName string, applicationName string, azureServiceBusComponentName string, parameters AzureServiceBusComponentResource, options *AzureComServiceBusQueueComponentCreateOrUpdateOptions) (*azcore.Request, error) {
	urlPath := "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.CustomProviders/resourceProviders/radiusv3/Application/{applicationName}/azure.com.ServiceBusQueueComponent/{azureServiceBusComponentName}"
	if client.subscriptionID == "" {
		return nil, errors.New("parameter client.subscriptionID cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{subscriptionId}", url.PathEscape(client.subscriptionID))
	if resourceGroupName == "" {
		return nil, errors.New("parameter resourceGroupName cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{resourceGroupName}", url.PathEscape(resourceGroupName))
	if applicationName == "" {
		return nil, errors.New("parameter applicationName cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{applicationName}", url.PathEscape(applicationName))
	if azureServiceBusComponentName == "" {
		return nil, errors.New("parameter azureServiceBusComponentName cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{azureServiceBusComponentName}", url.PathEscape(azureServiceBusComponentName))
	req, err := azcore.NewRequest(ctx, http.MethodPut, azcore.JoinPaths(client.con.Endpoint(), urlPath))
	if err != nil {
		return nil, err
	}
	req.Telemetry(telemetryInfo)
	reqQP := req.URL.Query()
	reqQP.Set("api-version", "2018-09-01-preview")
	req.URL.RawQuery = reqQP.Encode()
	req.Header.Set("Accept", "application/json")
	return req, req.MarshalAsJSON(parameters)
}

// createOrUpdateHandleResponse handles the CreateOrUpdate response.
func (client *AzureComServiceBusQueueComponentClient) createOrUpdateHandleResponse(resp *azcore.Response) (AzureServiceBusComponentResourceResponse, error) {
	var val *AzureServiceBusComponentResource
	if err := resp.UnmarshalAsJSON(&val); err != nil {
		return AzureServiceBusComponentResourceResponse{}, err
	}
return AzureServiceBusComponentResourceResponse{RawResponse: resp.Response, AzureServiceBusComponentResource: val}, nil
}

// createOrUpdateHandleError handles the CreateOrUpdate error response.
func (client *AzureComServiceBusQueueComponentClient) createOrUpdateHandleError(resp *azcore.Response) error {
	body, err := resp.Payload()
	if err != nil {
		return azcore.NewResponseError(err, resp.Response)
	}
		errType := ErrorResponse{raw: string(body)}
	if err := resp.UnmarshalAsJSON(&errType); err != nil {
		return azcore.NewResponseError(fmt.Errorf("%s\n%s", string(body), err), resp.Response)
	}
	return azcore.NewResponseError(&errType, resp.Response)
}

// Delete - Deletes a azure.com.ServiceBusQueueComponent resource.
// If the operation fails it returns the *ErrorResponse error type.
func (client *AzureComServiceBusQueueComponentClient) Delete(ctx context.Context, resourceGroupName string, applicationName string, azureServiceBusComponentName string, options *AzureComServiceBusQueueComponentDeleteOptions) (*http.Response, error) {
	req, err := client.deleteCreateRequest(ctx, resourceGroupName, applicationName, azureServiceBusComponentName, options)
	if err != nil {
		return nil, err
	}
	resp, err := client.con.Pipeline().Do(req)
	if err != nil {
		return nil, err
	}
	if !resp.HasStatusCode(http.StatusNoContent) {
		return nil, client.deleteHandleError(resp)
	}
	return resp.Response, nil
}

// deleteCreateRequest creates the Delete request.
func (client *AzureComServiceBusQueueComponentClient) deleteCreateRequest(ctx context.Context, resourceGroupName string, applicationName string, azureServiceBusComponentName string, options *AzureComServiceBusQueueComponentDeleteOptions) (*azcore.Request, error) {
	urlPath := "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.CustomProviders/resourceProviders/radiusv3/Application/{applicationName}/azure.com.ServiceBusQueueComponent/{azureServiceBusComponentName}"
	if client.subscriptionID == "" {
		return nil, errors.New("parameter client.subscriptionID cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{subscriptionId}", url.PathEscape(client.subscriptionID))
	if resourceGroupName == "" {
		return nil, errors.New("parameter resourceGroupName cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{resourceGroupName}", url.PathEscape(resourceGroupName))
	if applicationName == "" {
		return nil, errors.New("parameter applicationName cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{applicationName}", url.PathEscape(applicationName))
	if azureServiceBusComponentName == "" {
		return nil, errors.New("parameter azureServiceBusComponentName cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{azureServiceBusComponentName}", url.PathEscape(azureServiceBusComponentName))
	req, err := azcore.NewRequest(ctx, http.MethodDelete, azcore.JoinPaths(client.con.Endpoint(), urlPath))
	if err != nil {
		return nil, err
	}
	req.Telemetry(telemetryInfo)
	reqQP := req.URL.Query()
	reqQP.Set("api-version", "2018-09-01-preview")
	req.URL.RawQuery = reqQP.Encode()
	req.Header.Set("Accept", "application/json")
	return req, nil
}

// deleteHandleError handles the Delete error response.
func (client *AzureComServiceBusQueueComponentClient) deleteHandleError(resp *azcore.Response) error {
	body, err := resp.Payload()
	if err != nil {
		return azcore.NewResponseError(err, resp.Response)
	}
		errType := ErrorResponse{raw: string(body)}
	if err := resp.UnmarshalAsJSON(&errType); err != nil {
		return azcore.NewResponseError(fmt.Errorf("%s\n%s", string(body), err), resp.Response)
	}
	return azcore.NewResponseError(&errType, resp.Response)
}

// Get - Gets a azure.com.ServiceBusQueueComponent resource by name.
// If the operation fails it returns the *ErrorResponse error type.
func (client *AzureComServiceBusQueueComponentClient) Get(ctx context.Context, resourceGroupName string, applicationName string, azureServiceBusComponentName string, options *AzureComServiceBusQueueComponentGetOptions) (AzureServiceBusComponentResourceResponse, error) {
	req, err := client.getCreateRequest(ctx, resourceGroupName, applicationName, azureServiceBusComponentName, options)
	if err != nil {
		return AzureServiceBusComponentResourceResponse{}, err
	}
	resp, err := client.con.Pipeline().Do(req)
	if err != nil {
		return AzureServiceBusComponentResourceResponse{}, err
	}
	if !resp.HasStatusCode(http.StatusOK) {
		return AzureServiceBusComponentResourceResponse{}, client.getHandleError(resp)
	}
	return client.getHandleResponse(resp)
}

// getCreateRequest creates the Get request.
func (client *AzureComServiceBusQueueComponentClient) getCreateRequest(ctx context.Context, resourceGroupName string, applicationName string, azureServiceBusComponentName string, options *AzureComServiceBusQueueComponentGetOptions) (*azcore.Request, error) {
	urlPath := "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.CustomProviders/resourceProviders/radiusv3/Application/{applicationName}/azure.com.ServiceBusQueueComponent/{azureServiceBusComponentName}"
	if client.subscriptionID == "" {
		return nil, errors.New("parameter client.subscriptionID cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{subscriptionId}", url.PathEscape(client.subscriptionID))
	if resourceGroupName == "" {
		return nil, errors.New("parameter resourceGroupName cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{resourceGroupName}", url.PathEscape(resourceGroupName))
	if applicationName == "" {
		return nil, errors.New("parameter applicationName cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{applicationName}", url.PathEscape(applicationName))
	if azureServiceBusComponentName == "" {
		return nil, errors.New("parameter azureServiceBusComponentName cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{azureServiceBusComponentName}", url.PathEscape(azureServiceBusComponentName))
	req, err := azcore.NewRequest(ctx, http.MethodGet, azcore.JoinPaths(client.con.Endpoint(), urlPath))
	if err != nil {
		return nil, err
	}
	req.Telemetry(telemetryInfo)
	reqQP := req.URL.Query()
	reqQP.Set("api-version", "2018-09-01-preview")
	req.URL.RawQuery = reqQP.Encode()
	req.Header.Set("Accept", "application/json")
	return req, nil
}

// getHandleResponse handles the Get response.
func (client *AzureComServiceBusQueueComponentClient) getHandleResponse(resp *azcore.Response) (AzureServiceBusComponentResourceResponse, error) {
	var val *AzureServiceBusComponentResource
	if err := resp.UnmarshalAsJSON(&val); err != nil {
		return AzureServiceBusComponentResourceResponse{}, err
	}
return AzureServiceBusComponentResourceResponse{RawResponse: resp.Response, AzureServiceBusComponentResource: val}, nil
}

// getHandleError handles the Get error response.
func (client *AzureComServiceBusQueueComponentClient) getHandleError(resp *azcore.Response) error {
	body, err := resp.Payload()
	if err != nil {
		return azcore.NewResponseError(err, resp.Response)
	}
		errType := ErrorResponse{raw: string(body)}
	if err := resp.UnmarshalAsJSON(&errType); err != nil {
		return azcore.NewResponseError(fmt.Errorf("%s\n%s", string(body), err), resp.Response)
	}
	return azcore.NewResponseError(&errType, resp.Response)
}

// List - List the azure.com.ServiceBusQueueComponent resources deployed in the application.
// If the operation fails it returns the *ErrorResponse error type.
func (client *AzureComServiceBusQueueComponentClient) List(ctx context.Context, resourceGroupName string, applicationName string, options *AzureComServiceBusQueueComponentListOptions) (AzureServiceBusComponentListResponse, error) {
	req, err := client.listCreateRequest(ctx, resourceGroupName, applicationName, options)
	if err != nil {
		return AzureServiceBusComponentListResponse{}, err
	}
	resp, err := client.con.Pipeline().Do(req)
	if err != nil {
		return AzureServiceBusComponentListResponse{}, err
	}
	if !resp.HasStatusCode(http.StatusOK) {
		return AzureServiceBusComponentListResponse{}, client.listHandleError(resp)
	}
	return client.listHandleResponse(resp)
}

// listCreateRequest creates the List request.
func (client *AzureComServiceBusQueueComponentClient) listCreateRequest(ctx context.Context, resourceGroupName string, applicationName string, options *AzureComServiceBusQueueComponentListOptions) (*azcore.Request, error) {
	urlPath := "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.CustomProviders/resourceProviders/radiusv3/Application/{applicationName}/azure.com.ServiceBusQueueComponent"
	if client.subscriptionID == "" {
		return nil, errors.New("parameter client.subscriptionID cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{subscriptionId}", url.PathEscape(client.subscriptionID))
	if resourceGroupName == "" {
		return nil, errors.New("parameter resourceGroupName cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{resourceGroupName}", url.PathEscape(resourceGroupName))
	if applicationName == "" {
		return nil, errors.New("parameter applicationName cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{applicationName}", url.PathEscape(applicationName))
	req, err := azcore.NewRequest(ctx, http.MethodGet, azcore.JoinPaths(client.con.Endpoint(), urlPath))
	if err != nil {
		return nil, err
	}
	req.Telemetry(telemetryInfo)
	reqQP := req.URL.Query()
	reqQP.Set("api-version", "2018-09-01-preview")
	req.URL.RawQuery = reqQP.Encode()
	req.Header.Set("Accept", "application/json")
	return req, nil
}

// listHandleResponse handles the List response.
func (client *AzureComServiceBusQueueComponentClient) listHandleResponse(resp *azcore.Response) (AzureServiceBusComponentListResponse, error) {
	var val *AzureServiceBusComponentList
	if err := resp.UnmarshalAsJSON(&val); err != nil {
		return AzureServiceBusComponentListResponse{}, err
	}
return AzureServiceBusComponentListResponse{RawResponse: resp.Response, AzureServiceBusComponentList: val}, nil
}

// listHandleError handles the List error response.
func (client *AzureComServiceBusQueueComponentClient) listHandleError(resp *azcore.Response) error {
	body, err := resp.Payload()
	if err != nil {
		return azcore.NewResponseError(err, resp.Response)
	}
		errType := ErrorResponse{raw: string(body)}
	if err := resp.UnmarshalAsJSON(&errType); err != nil {
		return azcore.NewResponseError(fmt.Errorf("%s\n%s", string(body), err), resp.Response)
	}
	return azcore.NewResponseError(&errType, resp.Response)
}

