// +build go1.13

// Copyright (c) Microsoft Corporation. All rights reserved.
// Licensed under the MIT License. See License.txt in the project root for license information.
// Code generated by Microsoft (R) AutoRest Code Generator.
// Changes may cause incorrect behavior and will be lost if the code is regenerated.

package radclientv3

import (
	"context"
	"errors"
	"fmt"
	"github.com/Azure/azure-sdk-for-go/sdk/armcore"
	"github.com/Azure/azure-sdk-for-go/sdk/azcore"
	"net/http"
	"net/url"
	"strings"
	"time"
)

// AzureComCosmosDBSQLComponentClient contains the methods for the AzureComCosmosDBSQLComponent group.
// Don't use this type directly, use NewAzureComCosmosDBSQLComponentClient() instead.
type AzureComCosmosDBSQLComponentClient struct {
	con *armcore.Connection
	subscriptionID string
}

// NewAzureComCosmosDBSQLComponentClient creates a new instance of AzureComCosmosDBSQLComponentClient with the specified values.
func NewAzureComCosmosDBSQLComponentClient(con *armcore.Connection, subscriptionID string) *AzureComCosmosDBSQLComponentClient {
	return &AzureComCosmosDBSQLComponentClient{con: con, subscriptionID: subscriptionID}
}

// BeginCreateOrUpdate - Creates or updates a azure.com.CosmosDBSQLComponent resource.
// If the operation fails it returns the *ErrorResponse error type.
func (client *AzureComCosmosDBSQLComponentClient) BeginCreateOrUpdate(ctx context.Context, resourceGroupName string, applicationName string, azureCosmosDBSQLComponentName string, parameters AzureCosmosDBSQLComponentResource, options *AzureComCosmosDBSQLComponentBeginCreateOrUpdateOptions) (AzureCosmosDBSQLComponentResourcePollerResponse, error) {
	resp, err := client.createOrUpdate(ctx, resourceGroupName, applicationName, azureCosmosDBSQLComponentName, parameters, options)
	if err != nil {
		return AzureCosmosDBSQLComponentResourcePollerResponse{}, err
	}
	result := AzureCosmosDBSQLComponentResourcePollerResponse{
		RawResponse: resp.Response,
	}
	pt, err := armcore.NewLROPoller("AzureComCosmosDBSQLComponentClient.CreateOrUpdate", "location", resp, client.con.Pipeline(), client.createOrUpdateHandleError)
	if err != nil {
		return AzureCosmosDBSQLComponentResourcePollerResponse{}, err
	}
	poller := &azureCosmosDBSQLComponentResourcePoller{
		pt: pt,
	}
	result.Poller = poller
	result.PollUntilDone = func(ctx context.Context, frequency time.Duration) (AzureCosmosDBSQLComponentResourceResponse, error) {
		return poller.pollUntilDone(ctx, frequency)
	}
	return result, nil
}

// ResumeCreateOrUpdate creates a new AzureCosmosDBSQLComponentResourcePoller from the specified resume token.
// token - The value must come from a previous call to AzureCosmosDBSQLComponentResourcePoller.ResumeToken().
func (client *AzureComCosmosDBSQLComponentClient) ResumeCreateOrUpdate(ctx context.Context, token string) (AzureCosmosDBSQLComponentResourcePollerResponse, error) {
	pt, err := armcore.NewLROPollerFromResumeToken("AzureComCosmosDBSQLComponentClient.CreateOrUpdate", token, client.con.Pipeline(), client.createOrUpdateHandleError)
	if err != nil {
		return AzureCosmosDBSQLComponentResourcePollerResponse{}, err
	}
	poller := &azureCosmosDBSQLComponentResourcePoller{
		pt: pt,
	}
	resp, err := poller.Poll(ctx)
	if err != nil {
		return AzureCosmosDBSQLComponentResourcePollerResponse{}, err
	}
	result := AzureCosmosDBSQLComponentResourcePollerResponse{
		RawResponse: resp,
	}
	result.Poller = poller
	result.PollUntilDone = func(ctx context.Context, frequency time.Duration) (AzureCosmosDBSQLComponentResourceResponse, error) {
		return poller.pollUntilDone(ctx, frequency)
	}
	return result, nil
}

// CreateOrUpdate - Creates or updates a azure.com.CosmosDBSQLComponent resource.
// If the operation fails it returns the *ErrorResponse error type.
func (client *AzureComCosmosDBSQLComponentClient) createOrUpdate(ctx context.Context, resourceGroupName string, applicationName string, azureCosmosDBSQLComponentName string, parameters AzureCosmosDBSQLComponentResource, options *AzureComCosmosDBSQLComponentBeginCreateOrUpdateOptions) (*azcore.Response, error) {
	req, err := client.createOrUpdateCreateRequest(ctx, resourceGroupName, applicationName, azureCosmosDBSQLComponentName, parameters, options)
	if err != nil {
		return nil, err
	}
	resp, err := client.con.Pipeline().Do(req)
	if err != nil {
		return nil, err
	}
	if !resp.HasStatusCode(http.StatusOK, http.StatusCreated, http.StatusAccepted) {
		return nil, client.createOrUpdateHandleError(resp)
	}
	 return resp, nil
}

// createOrUpdateCreateRequest creates the CreateOrUpdate request.
func (client *AzureComCosmosDBSQLComponentClient) createOrUpdateCreateRequest(ctx context.Context, resourceGroupName string, applicationName string, azureCosmosDBSQLComponentName string, parameters AzureCosmosDBSQLComponentResource, options *AzureComCosmosDBSQLComponentBeginCreateOrUpdateOptions) (*azcore.Request, error) {
	urlPath := "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.CustomProviders/resourceProviders/radiusv3/Application/{applicationName}/azure.com.CosmosDBSQLComponent/{azureCosmosDBSQLComponentName}"
	if client.subscriptionID == "" {
		return nil, errors.New("parameter client.subscriptionID cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{subscriptionId}", url.PathEscape(client.subscriptionID))
	if resourceGroupName == "" {
		return nil, errors.New("parameter resourceGroupName cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{resourceGroupName}", url.PathEscape(resourceGroupName))
	if applicationName == "" {
		return nil, errors.New("parameter applicationName cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{applicationName}", url.PathEscape(applicationName))
	if azureCosmosDBSQLComponentName == "" {
		return nil, errors.New("parameter azureCosmosDBSQLComponentName cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{azureCosmosDBSQLComponentName}", url.PathEscape(azureCosmosDBSQLComponentName))
	req, err := azcore.NewRequest(ctx, http.MethodPut, azcore.JoinPaths(client.con.Endpoint(), urlPath))
	if err != nil {
		return nil, err
	}
	req.Telemetry(telemetryInfo)
	reqQP := req.URL.Query()
	reqQP.Set("api-version", "2018-09-01-preview")
	req.URL.RawQuery = reqQP.Encode()
	req.Header.Set("Accept", "application/json")
	return req, req.MarshalAsJSON(parameters)
}

// createOrUpdateHandleError handles the CreateOrUpdate error response.
func (client *AzureComCosmosDBSQLComponentClient) createOrUpdateHandleError(resp *azcore.Response) error {
	body, err := resp.Payload()
	if err != nil {
		return azcore.NewResponseError(err, resp.Response)
	}
		errType := ErrorResponse{raw: string(body)}
	if err := resp.UnmarshalAsJSON(&errType); err != nil {
		return azcore.NewResponseError(fmt.Errorf("%s\n%s", string(body), err), resp.Response)
	}
	return azcore.NewResponseError(&errType, resp.Response)
}

// BeginDelete - Deletes a azure.com.CosmosDBSQLComponent resource.
// If the operation fails it returns the *ErrorResponse error type.
func (client *AzureComCosmosDBSQLComponentClient) BeginDelete(ctx context.Context, resourceGroupName string, applicationName string, azureCosmosDBSQLComponentName string, options *AzureComCosmosDBSQLComponentBeginDeleteOptions) (HTTPPollerResponse, error) {
	resp, err := client.deleteOperation(ctx, resourceGroupName, applicationName, azureCosmosDBSQLComponentName, options)
	if err != nil {
		return HTTPPollerResponse{}, err
	}
	result := HTTPPollerResponse{
		RawResponse: resp.Response,
	}
	pt, err := armcore.NewLROPoller("AzureComCosmosDBSQLComponentClient.Delete", "location", resp, client.con.Pipeline(), client.deleteHandleError)
	if err != nil {
		return HTTPPollerResponse{}, err
	}
	poller := &httpPoller{
		pt: pt,
	}
	result.Poller = poller
	result.PollUntilDone = func(ctx context.Context, frequency time.Duration) (*http.Response, error) {
		return poller.pollUntilDone(ctx, frequency)
	}
	return result, nil
}

// ResumeDelete creates a new HTTPPoller from the specified resume token.
// token - The value must come from a previous call to HTTPPoller.ResumeToken().
func (client *AzureComCosmosDBSQLComponentClient) ResumeDelete(ctx context.Context, token string) (HTTPPollerResponse, error) {
	pt, err := armcore.NewLROPollerFromResumeToken("AzureComCosmosDBSQLComponentClient.Delete", token, client.con.Pipeline(), client.deleteHandleError)
	if err != nil {
		return HTTPPollerResponse{}, err
	}
	poller := &httpPoller{
		pt: pt,
	}
	resp, err := poller.Poll(ctx)
	if err != nil {
		return HTTPPollerResponse{}, err
	}
	result := HTTPPollerResponse{
		RawResponse: resp,
	}
	result.Poller = poller
	result.PollUntilDone = func(ctx context.Context, frequency time.Duration) (*http.Response, error) {
		return poller.pollUntilDone(ctx, frequency)
	}
	return result, nil
}

// Delete - Deletes a azure.com.CosmosDBSQLComponent resource.
// If the operation fails it returns the *ErrorResponse error type.
func (client *AzureComCosmosDBSQLComponentClient) deleteOperation(ctx context.Context, resourceGroupName string, applicationName string, azureCosmosDBSQLComponentName string, options *AzureComCosmosDBSQLComponentBeginDeleteOptions) (*azcore.Response, error) {
	req, err := client.deleteCreateRequest(ctx, resourceGroupName, applicationName, azureCosmosDBSQLComponentName, options)
	if err != nil {
		return nil, err
	}
	resp, err := client.con.Pipeline().Do(req)
	if err != nil {
		return nil, err
	}
	if !resp.HasStatusCode(http.StatusNoContent) {
		return nil, client.deleteHandleError(resp)
	}
	 return resp, nil
}

// deleteCreateRequest creates the Delete request.
func (client *AzureComCosmosDBSQLComponentClient) deleteCreateRequest(ctx context.Context, resourceGroupName string, applicationName string, azureCosmosDBSQLComponentName string, options *AzureComCosmosDBSQLComponentBeginDeleteOptions) (*azcore.Request, error) {
	urlPath := "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.CustomProviders/resourceProviders/radiusv3/Application/{applicationName}/azure.com.CosmosDBSQLComponent/{azureCosmosDBSQLComponentName}"
	if client.subscriptionID == "" {
		return nil, errors.New("parameter client.subscriptionID cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{subscriptionId}", url.PathEscape(client.subscriptionID))
	if resourceGroupName == "" {
		return nil, errors.New("parameter resourceGroupName cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{resourceGroupName}", url.PathEscape(resourceGroupName))
	if applicationName == "" {
		return nil, errors.New("parameter applicationName cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{applicationName}", url.PathEscape(applicationName))
	if azureCosmosDBSQLComponentName == "" {
		return nil, errors.New("parameter azureCosmosDBSQLComponentName cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{azureCosmosDBSQLComponentName}", url.PathEscape(azureCosmosDBSQLComponentName))
	req, err := azcore.NewRequest(ctx, http.MethodDelete, azcore.JoinPaths(client.con.Endpoint(), urlPath))
	if err != nil {
		return nil, err
	}
	req.Telemetry(telemetryInfo)
	reqQP := req.URL.Query()
	reqQP.Set("api-version", "2018-09-01-preview")
	req.URL.RawQuery = reqQP.Encode()
	req.Header.Set("Accept", "application/json")
	return req, nil
}

// deleteHandleError handles the Delete error response.
func (client *AzureComCosmosDBSQLComponentClient) deleteHandleError(resp *azcore.Response) error {
	body, err := resp.Payload()
	if err != nil {
		return azcore.NewResponseError(err, resp.Response)
	}
		errType := ErrorResponse{raw: string(body)}
	if err := resp.UnmarshalAsJSON(&errType); err != nil {
		return azcore.NewResponseError(fmt.Errorf("%s\n%s", string(body), err), resp.Response)
	}
	return azcore.NewResponseError(&errType, resp.Response)
}

// Get - Gets a azure.com.CosmosDBSQLComponent resource by name.
// If the operation fails it returns the *ErrorResponse error type.
func (client *AzureComCosmosDBSQLComponentClient) Get(ctx context.Context, resourceGroupName string, applicationName string, azureCosmosDBSQLComponentName string, options *AzureComCosmosDBSQLComponentGetOptions) (AzureCosmosDBSQLComponentResourceResponse, error) {
	req, err := client.getCreateRequest(ctx, resourceGroupName, applicationName, azureCosmosDBSQLComponentName, options)
	if err != nil {
		return AzureCosmosDBSQLComponentResourceResponse{}, err
	}
	resp, err := client.con.Pipeline().Do(req)
	if err != nil {
		return AzureCosmosDBSQLComponentResourceResponse{}, err
	}
	if !resp.HasStatusCode(http.StatusOK) {
		return AzureCosmosDBSQLComponentResourceResponse{}, client.getHandleError(resp)
	}
	return client.getHandleResponse(resp)
}

// getCreateRequest creates the Get request.
func (client *AzureComCosmosDBSQLComponentClient) getCreateRequest(ctx context.Context, resourceGroupName string, applicationName string, azureCosmosDBSQLComponentName string, options *AzureComCosmosDBSQLComponentGetOptions) (*azcore.Request, error) {
	urlPath := "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.CustomProviders/resourceProviders/radiusv3/Application/{applicationName}/azure.com.CosmosDBSQLComponent/{azureCosmosDBSQLComponentName}"
	if client.subscriptionID == "" {
		return nil, errors.New("parameter client.subscriptionID cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{subscriptionId}", url.PathEscape(client.subscriptionID))
	if resourceGroupName == "" {
		return nil, errors.New("parameter resourceGroupName cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{resourceGroupName}", url.PathEscape(resourceGroupName))
	if applicationName == "" {
		return nil, errors.New("parameter applicationName cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{applicationName}", url.PathEscape(applicationName))
	if azureCosmosDBSQLComponentName == "" {
		return nil, errors.New("parameter azureCosmosDBSQLComponentName cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{azureCosmosDBSQLComponentName}", url.PathEscape(azureCosmosDBSQLComponentName))
	req, err := azcore.NewRequest(ctx, http.MethodGet, azcore.JoinPaths(client.con.Endpoint(), urlPath))
	if err != nil {
		return nil, err
	}
	req.Telemetry(telemetryInfo)
	reqQP := req.URL.Query()
	reqQP.Set("api-version", "2018-09-01-preview")
	req.URL.RawQuery = reqQP.Encode()
	req.Header.Set("Accept", "application/json")
	return req, nil
}

// getHandleResponse handles the Get response.
func (client *AzureComCosmosDBSQLComponentClient) getHandleResponse(resp *azcore.Response) (AzureCosmosDBSQLComponentResourceResponse, error) {
	var val *AzureCosmosDBSQLComponentResource
	if err := resp.UnmarshalAsJSON(&val); err != nil {
		return AzureCosmosDBSQLComponentResourceResponse{}, err
	}
return AzureCosmosDBSQLComponentResourceResponse{RawResponse: resp.Response, AzureCosmosDBSQLComponentResource: val}, nil
}

// getHandleError handles the Get error response.
func (client *AzureComCosmosDBSQLComponentClient) getHandleError(resp *azcore.Response) error {
	body, err := resp.Payload()
	if err != nil {
		return azcore.NewResponseError(err, resp.Response)
	}
		errType := ErrorResponse{raw: string(body)}
	if err := resp.UnmarshalAsJSON(&errType); err != nil {
		return azcore.NewResponseError(fmt.Errorf("%s\n%s", string(body), err), resp.Response)
	}
	return azcore.NewResponseError(&errType, resp.Response)
}

// List - List the azure.com.CosmosDBSQLComponent resources deployed in the application.
// If the operation fails it returns the *ErrorResponse error type.
func (client *AzureComCosmosDBSQLComponentClient) List(ctx context.Context, resourceGroupName string, applicationName string, options *AzureComCosmosDBSQLComponentListOptions) (AzureCosmosDBSQLComponentListResponse, error) {
	req, err := client.listCreateRequest(ctx, resourceGroupName, applicationName, options)
	if err != nil {
		return AzureCosmosDBSQLComponentListResponse{}, err
	}
	resp, err := client.con.Pipeline().Do(req)
	if err != nil {
		return AzureCosmosDBSQLComponentListResponse{}, err
	}
	if !resp.HasStatusCode(http.StatusOK) {
		return AzureCosmosDBSQLComponentListResponse{}, client.listHandleError(resp)
	}
	return client.listHandleResponse(resp)
}

// listCreateRequest creates the List request.
func (client *AzureComCosmosDBSQLComponentClient) listCreateRequest(ctx context.Context, resourceGroupName string, applicationName string, options *AzureComCosmosDBSQLComponentListOptions) (*azcore.Request, error) {
	urlPath := "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.CustomProviders/resourceProviders/radiusv3/Application/{applicationName}/azure.com.CosmosDBSQLComponent"
	if client.subscriptionID == "" {
		return nil, errors.New("parameter client.subscriptionID cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{subscriptionId}", url.PathEscape(client.subscriptionID))
	if resourceGroupName == "" {
		return nil, errors.New("parameter resourceGroupName cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{resourceGroupName}", url.PathEscape(resourceGroupName))
	if applicationName == "" {
		return nil, errors.New("parameter applicationName cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{applicationName}", url.PathEscape(applicationName))
	req, err := azcore.NewRequest(ctx, http.MethodGet, azcore.JoinPaths(client.con.Endpoint(), urlPath))
	if err != nil {
		return nil, err
	}
	req.Telemetry(telemetryInfo)
	reqQP := req.URL.Query()
	reqQP.Set("api-version", "2018-09-01-preview")
	req.URL.RawQuery = reqQP.Encode()
	req.Header.Set("Accept", "application/json")
	return req, nil
}

// listHandleResponse handles the List response.
func (client *AzureComCosmosDBSQLComponentClient) listHandleResponse(resp *azcore.Response) (AzureCosmosDBSQLComponentListResponse, error) {
	var val *AzureCosmosDBSQLComponentList
	if err := resp.UnmarshalAsJSON(&val); err != nil {
		return AzureCosmosDBSQLComponentListResponse{}, err
	}
return AzureCosmosDBSQLComponentListResponse{RawResponse: resp.Response, AzureCosmosDBSQLComponentList: val}, nil
}

// listHandleError handles the List error response.
func (client *AzureComCosmosDBSQLComponentClient) listHandleError(resp *azcore.Response) error {
	body, err := resp.Payload()
	if err != nil {
		return azcore.NewResponseError(err, resp.Response)
	}
		errType := ErrorResponse{raw: string(body)}
	if err := resp.UnmarshalAsJSON(&errType); err != nil {
		return azcore.NewResponseError(fmt.Errorf("%s\n%s", string(body), err), resp.Response)
	}
	return azcore.NewResponseError(&errType, resp.Response)
}

