{{- if .Values.database.enabled }}
apiVersion: v1
kind: Service
metadata:
  name: database
  namespace: "{{ .Release.Namespace }}"
  labels:
    app.kubernetes.io/name: database
    app.kubernetes.io/part-of: radius
spec:
  ports:
    - port: 5432
      name: postgres
      protocol: TCP
      targetPort: 5432
  selector:
      app.kubernetes.io/name: database
{{- end }}
