apiVersion: apps/v1
kind: Deployment
metadata:
  labels:
    control-plane: ucp
    app.kubernetes.io/part-of: radius-control-plane
  name: ucp
  namespace: "{{ .Release.Namespace }}"
spec:
  replicas: 1
  selector:
    matchLabels:
      control-plane: ucp
  template:
    metadata:
      labels:
        control-plane: ucp
        app.kubernetes.io/part-of: radius-control-plane
      {{ if eq .Values.global.prometheus.enabled true }}
      annotations:
        prometheus.io/path: "{{ .Values.global.prometheus.path }}"
        prometheus.io/port: "{{ .Values.global.prometheus.port }}"
        prometheus.io/scrape: "{{ .Values.global.prometheus.enabled }}"
      {{ end }}
    spec:
      serviceAccountName: ucp
      containers:
      - image: "{{ .Values.global.ucp.image }}:{{ .Values.global.ucp.tag }}"
        env:
        - name: UCP_CONFIG
          value: /etc/config/ucp-config.yaml
        - name: BASE_PATH
          value: '/apis/api.ucp.dev/v1alpha3' # listen for APIService URLs
        - name: TLS_CERT_DIR
          value: '/var/tls/cert'
        - name: PORT
          value: '9443'
        name: ucp
        ports:
        - containerPort: 9443
          name: ucp
          protocol: TCP
        {{ if eq .Values.global.prometheus.enabled true }}
        - containerPort: {{ .Values.global.prometheus.port }}
          name: metrics
          protocol: TCP
        {{ end }}
        securityContext:
          allowPrivilegeEscalation: false
        volumeMounts:
        - name: config-volume
          mountPath: /etc/config
        - name: cert
          mountPath: '/var/tls/cert'
          readOnly: true
        securityContext:
          allowPrivilegeEscalation: false
      volumes:
        - name: config-volume
          configMap:
            # Provide the name of the ConfigMap containing the files you want
            # to add to the container
            name: ucp-config
        - name: cert
          secret:
            secretName: ucp-cert
---
apiVersion: v1
kind: Service
metadata:
  name: ucp
  namespace: "{{ .Release.Namespace }}"
spec:
  ports:
    - port: 443
      name: https
      protocol: TCP
      targetPort: 9443
    {{ if eq .Values.global.prometheus.enabled true }}
    - port: {{ .Values.global.prometheus.port }}
      name: metrics-http
      protocol: TCP
      targetPort: {{ .Values.global.prometheus.port }}
    {{ end }}
  selector:
    control-plane: ucp
---
apiVersion: v1
kind: ConfigMap
metadata:
  name: ucp-config
  namespace: "{{ .Release.Namespace }}"
  labels:
    chart: "{{ .Chart.Name }}-{{ .Chart.Version }}"
    heritage: "{{ .Release.Service }}"
    release: "{{ .Release.Name }}"
data:
  ucp-config.yaml: |-
{{ .Files.Get "ucp-config.yaml" | indent 4}}
