{
  "swagger": "2.0",
  "info": {
    "title": "Applications.Connector Management APIs",
    "description": "REST APIs for Applications.Connector/daprInvokeHttpRoutes",
    "version": "2022-03-15-privatepreview"
  },
  "host": "management.azure.com",
  "schemes": [
    "https"
  ],
  "consumes": [
    "application/json"
  ],
  "produces": [
    "application/json"
  ],
  "security": [
    {
      "azure_auth": [
        "user_impersonation"
      ]
    }
  ],
  "securityDefinitions": {
    "azure_auth": {
      "type": "oauth2",
      "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
      "flow": "implicit",
      "description": "Azure Active Directory OAuth2 Flow.",
      "scopes": {
        "user_impersonation": "impersonate your user account"
      }
    }
  },
  "paths": {
    "/{rootScope}/providers/Applications.Connector/daprInvokeHttpRoutes": {
      "get": {
        "description": "Lists information about all daprInvokeHttpRoute resources in the given root scope",
        "operationId": "DaprInvokeHttpRoutes_ListByRootScope",
        "produces": [
          "application/json"
        ],
        "x-ms-examples": {
          "DaprInvokeHttpRoutesListByRootscope": {
            "$ref": "./examples/DaprInvokeHttpRoutesListByRootScope.json"
          }
        },
        "tags": [
          "DaprInvokeHttpRoutes"
        ],
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "global.json#/parameters/RootScopeParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "List of DaprInvokeHttpRoute resources",
            "schema": {
              "$ref": "#/definitions/DaprInvokeHttpRouteList"
            }
          },
          "default": {
            "description": "Error response describing the reason for operation failure",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "deprecated": false,
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/{rootScope}/providers/Applications.Connector/daprInvokeHttpRoutes/{daprInvokeHttpRouteName}": {
      "get": {
        "description": "Retrieves information about a daprInvokeHttpRoute resource",
        "operationId": "DaprInvokeHttpRoutes_Get",
        "produces": [
          "application/json"
        ],
        "x-ms-examples": {
          "DaprInvokeHttpRoutesGet": {
            "$ref": "./examples/DaprInvokeHttpRoutesGet.json"
          }
        },
        "tags": [
          "DaprInvokeHttpRoutes"
        ],
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "global.json#/parameters/RootScopeParameter"
          },
          {
            "$ref": "#/parameters/DaprInvokeHttpRouteNameParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "DaprInvokeHttpRoute resource",
            "schema": {
              "$ref": "#/definitions/DaprInvokeHttpRouteResource"
            }
          },
          "default": {
            "description": "Error response describing the reason for operation failure",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/ErrorResponse"
            }
          }
        }
      },
      "put": {
        "description": "Creates or updates a DaprInvokeHttpRoute resource",
        "operationId": "DaprInvokeHttpRoutes_CreateOrUpdate",
        "produces": [
          "application/json"
        ],
        "x-ms-examples": {
          "DaprInvokeHttpRoutesPut": {
            "$ref": "./examples/DaprInvokeHttpRoutesPut.json"
          }
        },
        "tags": [
          "DaprInvokeHttpRoutes"
        ],
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "global.json#/parameters/RootScopeParameter"
          },
          {
            "$ref": "#/parameters/DaprInvokeHttpRouteNameParameter"
          },
          {
            "name": "DaprInvokeHttpRouteParameters",
            "description": "daprInvokeHttpRoute create parameters",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/DaprInvokeHttpRouteResource"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The request was successful; response contains the daprInvokeHttpRoute resource",
            "schema": {
              "$ref": "#/definitions/DaprInvokeHttpRouteResource"
            }
          },
          "201": {
            "description": "The request was successful, resource will be updated asynchronously",
            "schema": {
              "$ref": "#/definitions/DaprInvokeHttpRouteResource"
            }
          },
          "default": {
            "description": "Error response describing the reason for operation failure",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/ErrorResponse"
            }
          }
        }
      },
      "delete": {
        "description": "Deletes an existing daprInvokeHttpRoute resource",
        "operationId": "DaprInvokeHttpRoutes_Delete",
        "produces": [
          "application/json"
        ],
        "x-ms-examples": {
          "DaprInvokeHttpRoutesDelete": {
            "$ref": "./examples/DaprInvokeHttpRoutesDelete.json"
          }
        },
        "tags": [
          "DaprInvokeHttpRoutes"
        ],
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "global.json#/parameters/RootScopeParameter"
          },
          {
            "$ref": "#/parameters/DaprInvokeHttpRouteNameParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "The DaprInvokeHttpRoute connector was successfully deleted."
          },
          "202": {
            "description": "The DaprInvokeHttpRoute connector will be deleted asynchronously."
          },
          "204": {
            "description": "The DaprInvokeHttpRoute connector does not exist."
          },
          "default": {
            "description": "Error response describing the reason for operation failure",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/ErrorResponse"
            }
          }
        }
      }
    }
  },
  "definitions": {
    "DaprInvokeHttpRouteList": {
      "description": "Object that includes an array of DaprInvokeHttpRoute and a possible link for next set",
      "type": "object",
      "properties": {
        "value": {
          "description": "List of DaprInvokeHttpRoute resources",
          "type": "array",
          "items": {
            "$ref": "#/definitions/DaprInvokeHttpRouteResource"
          }
        },
        "nextLink": {
          "description": "The link used to fetch the next page of DaprInvokeHttpRoute list.",
          "type": "string"
        }
      }
    },
    "DaprInvokeHttpRouteResource": {
      "description": "DaprInvokeHttpRoute connector",
      "type": "object",
      "allOf": [
        {
          "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/TrackedResource"
        }
      ],
      "required": [
        "properties"
      ],
      "properties": {
        "systemData": {
          "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/systemData"
        },
        "properties": {
          "x-ms-client-flatten": true,
          "$ref": "#/definitions/DaprInvokeHttpRouteProperties"
        }
      }
    },
    "DaprInvokeHttpRouteProperties": {
      "description": "DaprInvokeHttpRoute connector properties",
      "type": "object",
      "allOf": [
        {
          "$ref": "global.json#/definitions/BasicResourceProperties"
        }
      ],
      "properties": {
        "provisioningState": {
          "readOnly": true,
          "$ref": "global.json#/definitions/ProvisioningState",
          "description": "Provisioning state of the daprInvokeHttpRoute connector at the time the operation was called"
        },
        "environment": {
          "description": "Fully qualified resource ID for the environment that the connector is linked to",
          "type": "string"
        },
        "application": {
          "$ref": "global.json#/definitions/Application",
          "description": "Fully qualified resource ID for the application that the connector is consumed by"
        },
        "appId": {
          "description": "The Dapr appId used for the route",
          "type": "string"
        }
      },
      "required": ["environment", "appId"]
    }
  },
  "parameters": {
    "DaprInvokeHttpRouteNameParameter": {
      "description": "The name of the DaprInvokeHttpRoute connector resource",
      "name": "daprInvokeHttpRouteName",
      "in": "path",
      "required": true,
      "type": "string",
      "pattern": "^[a-z0-9]+(-[a-z0-9]+)*",
      "maxLength": 128,
      "x-ms-parameter-location": "method"
    }
  }
}
