{
  "swagger": "2.0",
  "info": {
    "title": "Applications.Connector Management APIs",
    "description": "REST APIs for Applications.Connector/daprSecretStores",
    "version": "2022-03-15-privatepreview"
  },
  "host": "management.azure.com",
  "schemes": [
    "https"
  ],
  "consumes": [
    "application/json"
  ],
  "produces": [
    "application/json"
  ],
  "security": [
    {
      "azure_auth": [
        "user_impersonation"
      ]
    }
  ],
  "securityDefinitions": {
    "azure_auth": {
      "type": "oauth2",
      "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
      "flow": "implicit",
      "description": "Azure Active Directory OAuth2 Flow.",
      "scopes": {
        "user_impersonation": "impersonate your user account"
      }
    }
  },
  "paths": {
    "/{rootScope}/providers/Applications.Connector/daprSecretStores": {
      "get": {
        "description": "Lists information about all daprSecretStore resources in the given root scope",
        "operationId": "DaprSecretStores_ListByRootScope",
        "produces": [
          "application/json"
        ],
        "x-ms-examples": {
          "DaprSecretStoresListByRootScope": {
            "$ref": "./examples/DaprSecretStoresListByRootScope.json"
          }
        },
        "tags": [
          "DaprSecretStores"
        ],
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "global.json#/parameters/RootScopeParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "List of DaprSecretStore resources",
            "schema": {
              "$ref": "#/definitions/DaprSecretStoreList"
            }
          },
          "default": {
            "description": "Error response describing the reason for operation failure",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "deprecated": false,
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/{rootScope}/providers/Applications.Connector/daprSecretStores/{daprSecretStoreName}": {
      "get": {
        "description": "Retrieves information about a daprSecretStore resource",
        "operationId": "DaprSecretStores_Get",
        "produces": [
          "application/json"
        ],
        "x-ms-examples": {
          "DaprSecretStoresGet": {
            "$ref": "./examples/DaprSecretStoresGet.json"
          }
        },
        "tags": [
          "DaprSecretStores"
        ],
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "global.json#/parameters/RootScopeParameter"
          },
          {
            "$ref": "#/parameters/DaprSecretStoreNameParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "DaprSecretStore resource",
            "schema": {
              "$ref": "#/definitions/DaprSecretStoreResource"
            }
          },
          "default": {
            "description": "Error response describing the reason for operation failure",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/ErrorResponse"
            }
          }
        }
      },
      "put": {
        "description": "Creates or updates a DaprSecretStore resource",
        "operationId": "DaprSecretStores_CreateOrUpdate",
        "produces": [
          "application/json"
        ],
        "x-ms-examples": {
          "DaprSecretStoresPut": {
            "$ref": "./examples/DaprSecretStoresPut.json"
          }
        },
        "tags": [
          "DaprSecretStores"
        ],
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "global.json#/parameters/RootScopeParameter"
          },
          {
            "$ref": "#/parameters/DaprSecretStoreNameParameter"
          },
          {
            "name": "DaprSecretStoreParameters",
            "description": "daprSecretStore create parameters",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/DaprSecretStoreResource"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The request was successful; response contains the daprSecretStore resource",
            "schema": {
              "$ref": "#/definitions/DaprSecretStoreResource"
            }
          },
          "201": {
            "description": "The request was successful, resource will be updated asynchronously",
            "schema": {
              "$ref": "#/definitions/DaprSecretStoreResource"
            }
          },
          "default": {
            "description": "Error response describing the reason for operation failure",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/ErrorResponse"
            }
          }
        }
      },
      "delete": {
        "description": "Deletes an existing daprSecretStore resource",
        "operationId": "DaprSecretStores_Delete",
        "produces": [
          "application/json"
        ],
        "x-ms-examples": {
          "DaprSecretStoresDelete": {
            "$ref": "./examples/DaprSecretStoresDelete.json"
          }
        },
        "tags": [
          "DaprSecretStores"
        ],
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "global.json#/parameters/RootScopeParameter"
          },
          {
            "$ref": "#/parameters/DaprSecretStoreNameParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "The DaprSecretStore connector was successfully deleted."
          },
          "202": {
            "description": "The DaprSecretStore connector will be deleted asynchronously."
          },
          "204": {
            "description": "The DaprSecretStore connector does not exist."
          },
          "default": {
            "description": "Error response describing the reason for operation failure",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/ErrorResponse"
            }
          }
        }
      }
    }
  },
  "definitions": {
    "DaprSecretStoreList": {
      "description": "Object that includes an array of DaprSecretStore and a possible link for next set",
      "type": "object",
      "properties": {
        "value": {
          "description": "List of DaprSecretStore resources",
          "type": "array",
          "items": {
            "$ref": "#/definitions/DaprSecretStoreResource"
          }
        },
        "nextLink": {
          "description": "The link used to fetch the next page of DaprSecretStore list.",
          "type": "string"
        }
      }
    },
    "DaprSecretStoreResource": {
      "description": "DaprSecretStore connector",
      "type": "object",
      "allOf": [
        {
          "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/TrackedResource"
        }
      ],
      "required": [
        "properties"
      ],
      "properties": {
        "systemData": {
          "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/systemData"
        },
        "properties": {
          "x-ms-client-flatten": true,
          "$ref": "#/definitions/DaprSecretStoreProperties"
        }
      }
    },
    "DaprSecretStoreProperties": {
      "description": "DaprSecretStore connector properties",
      "type": "object",
      "allOf": [
        {
          "$ref": "global.json#/definitions/BasicResourceProperties"
        }
      ],
      "properties": {
        "provisioningState": {
          "readOnly": true,
          "$ref": "global.json#/definitions/ProvisioningState",
          "description": "Provisioning state of the dapr secret store connector at the time the operation was called"
        },
        "application": {
          "$ref": "global.json#/definitions/Application",
          "description": "Fully qualified resource ID for the application that the connector is consumed by"
        },
        "environment": {
          "description": "Fully qualified resource ID for the environment that the connector is linked to",
          "type": "string"
        },
        "kind": {
          "description": "Radius kind for Dapr Secret Store",
          "type": "string",
          "enum": ["generic"]
        },
        "type": {
          "description": "Dapr Secret Store type. These strings match the types defined in Dapr Component format: https://docs.dapr.io/reference/components-reference/supported-secret-stores/",
          "type": "string",
          "example": [
            "secretstores.hashicorp.vault"
          ]
        },
        "version": {
          "description": "Dapr component version",
          "type": "string"
        },
        "metadata": {
          "description": "Metadata for the Secret Store resource. This should match the values specified in Dapr component spec",
          "type": "object"
        }
      },
      "required": [
          "kind",
          "type",
          "version",
          "metadata",
          "environment"
        ]
    }
  },
  "parameters": {
    "DaprSecretStoreNameParameter": {
      "description": "The name of the DaprSecretStore connector resource",
      "name": "daprSecretStoreName",
      "in": "path",
      "required": true,
      "type": "string",
      "pattern": "^[a-z0-9]+(-[a-z0-9]+)*",
      "maxLength": 128,
      "x-ms-parameter-location": "method"
    }
  }
}
