{
    "swagger": "2.0",
    "info": {
      "title": "Applications.Connector Management APIs",
      "description": "REST APIs for Applications.Connector/extenders",
      "version": "2022-03-15-privatepreview"
    },
    "host": "management.azure.com",
    "schemes": [
      "https"
    ],
    "consumes": [
      "application/json"
    ],
    "produces": [
      "application/json"
    ],
    "security": [
      {
        "azure_auth": [
          "user_impersonation"
        ]
      }
    ],
    "securityDefinitions": {
      "azure_auth": {
        "type": "oauth2",
        "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
        "flow": "implicit",
        "description": "Azure Active Directory OAuth2 Flow.",
        "scopes": {
          "user_impersonation": "impersonate your user account"
        }
      }
    },
    "paths": {
      "/subscriptions/{subscriptionId}/providers/Applications.Connector/extenders": {
        "get": {
          "description": "Lists information about all extender resources in the given subscription",
          "operationId": "Extenders_ListBySubscription",
          "produces": [
            "application/json"
          ],
          "x-ms-examples": {
            "ExtendersListBySubscription": {
              "$ref": "./examples/ExtendersListBySubscription.json"
            }
          },
          "tags": [
            "Extenders"
          ],
          "parameters": [
            {
              "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ApiVersionParameter"
            },
            {
              "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/SubscriptionIdParameter"
            }
          ],
          "responses": {
            "200": {
              "description": "List of Extender resources",
              "schema": {
                "$ref": "#/definitions/ExtenderList"
              }
            },
            "default": {
              "description": "Error response describing the reason for operation failure",
              "schema": {
                "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/ErrorResponse"
              }
            }
          },
          "deprecated": false,
          "x-ms-pageable": {
            "nextLinkName": "nextLink"
          }
        }
      },
      "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Applications.Connector/extenders": {
        "get": {
          "description": "Lists information about all extender resources in the given subscription and resource group",
          "operationId": "Extenders_List",
          "produces": [
            "application/json"
          ],
          "x-ms-examples": {
            "ExtendersList": {
              "$ref": "./examples/ExtendersList.json"
            }
          },
          "tags": [
            "Extenders"
          ],
          "parameters": [
            {
              "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ApiVersionParameter"
            },
            {
              "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/SubscriptionIdParameter"
            },
            {
              "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ResourceGroupNameParameter"
            }
          ],
          "responses": {
            "200": {
              "description": "List of Extender resources",
              "schema": {
                "$ref": "#/definitions/ExtenderList"
              }
            },
            "default": {
              "description": "Error response describing why the operation failed.",
              "schema": {
                "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/ErrorResponse"
              }
            }
          },
          "deprecated": false,
          "x-ms-pageable": {
            "nextLinkName": "nextLink"
          }
        }
      },
      "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Applications.Connector/extenders/{extenderName}": {
        "get": {
          "description": "Retrieves information about a extender resource",
          "operationId": "Extenders_Get",
          "produces": [
            "application/json"
          ],
          "x-ms-examples": {
            "ExtendersGet": {
              "$ref": "./examples/ExtendersGet.json"
            }
          },
          "tags": [
            "Extenders"
          ],
          "parameters": [
            {
              "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ApiVersionParameter"
            },
            {
              "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/SubscriptionIdParameter"
            },
            {
              "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ResourceGroupNameParameter"
            },
            {
              "$ref": "#/parameters/ExtenderNameParameter"
            }
          ],
          "responses": {
            "200": {
              "description": "Extender resource",
              "schema": {
                "$ref": "#/definitions/ExtenderResource"
              }
            },
            "default": {
              "description": "Error response describing the reason for operation failure",
              "schema": {
                "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/ErrorResponse"
              }
            }
          }
        },
        "put": {
          "description": "Creates or updates a Extender resource",
          "operationId": "Extenders_CreateOrUpdate",
          "produces": [
            "application/json"
          ],
          "x-ms-examples": {
            "ExtendersPut": {
              "$ref": "./examples/ExtendersPut.json"
            }
          },
          "tags": [
            "Extenders"
          ],
          "parameters": [
            {
              "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ApiVersionParameter"
            },
            {
              "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/SubscriptionIdParameter"
            },
            {
              "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ResourceGroupNameParameter"
            },
            {
              "$ref": "#/parameters/ExtenderNameParameter"
            },
            {
              "name": "ExtenderParameters",
              "description": "extender create parameters",
              "in": "body",
              "required": true,
              "schema": {
                "$ref": "#/definitions/ExtenderResource"
              }
            }
          ],
          "responses": {
            "200": {
              "description": "The request was successful; response contains the extender resource",
              "schema": {
                "$ref": "#/definitions/ExtenderResource"
              }
            },
            "201": {
              "description": "The request was successful, resource will be updated asynchronously",
              "schema": {
                "$ref": "#/definitions/ExtenderResource"
              }
            },
            "default": {
              "description": "Error response describing the reason for operation failure",
              "schema": {
                "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/ErrorResponse"
              }
            }
          }
        },
        "delete": {
          "description": "Deletes an existing extender resource",
          "operationId": "Extenders_Delete",
          "produces": [
            "application/json"
          ],
          "x-ms-examples": {
            "ExtendersDelete": {
              "$ref": "./examples/ExtendersDelete.json"
            }
          },
          "tags": [
            "Extenders"
          ],
          "parameters": [
            {
              "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ApiVersionParameter"
            },
            {
              "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/SubscriptionIdParameter"
            },
            {
              "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ResourceGroupNameParameter"
            },
            {
              "$ref": "#/parameters/ExtenderNameParameter"
            }
          ],
          "responses": {
            "200": {
              "description": "The Extender connector was successfully deleted."
            },
            "202": {
              "description": "The Extender connector will be deleted asynchronously."
            },
            "204": {
              "description": "The Extender connector does not exist."
            },
            "default": {
              "description": "Error response describing the reason for operation failure",
              "schema": {
                "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/ErrorResponse"
              }
            }
          }
        }
      }
    },
    "definitions": {
      "ExtenderList": {
        "description": "Object that includes an array of Extender and a possible link for next set",
        "type": "object",
        "properties": {
          "value": {
            "description": "List of Extender resources",
            "type": "array",
            "items": {
              "$ref": "#/definitions/ExtenderResource"
            }
          },
          "nextLink": {
            "description": "The link used to fetch the next page of Extender list.",
            "type": "string"
          }
        }
      },
      "ExtenderResource": {
        "description": "Extender connector",
        "type": "object",
        "allOf": [
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/TrackedResource"
          }
        ],
        "required": [
          "properties"
        ],
        "properties": {
          "systemData": {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/systemData"
          },
          "properties": {
            "x-ms-client-flatten": true,
            "$ref": "#/definitions/ExtenderProperties"
          }
        }
      },
      "ExtenderProperties": {
        "description": "Extender connector properties",
        "type": "object",
        "allOf": [
          {
            "$ref": "global.json#/definitions/BasicResourceProperties"
          }
        ],
        "additionalProperties": true,
        "properties": {
          "provisioningState": {
            "$ref": "global.json#/definitions/ProvisioningState",
            "description": "Provisioning state of the extender connector at the time the operation was called"
          },
          "environment": {
            "description": "Fully qualified resource ID for the environment that the connector is linked to",
            "type": "string"
          },
          "application": {
            "$ref": "global.json#/definitions/Application",
            "description": "Fully qualified resource ID for the application that the connector is consumed by"
          },
          "secrets": {
            "additionalProperties": true,
            "properties": {},
            "type": "object"
          }
        },
        "required": ["environment"]
      }
    },
    "parameters": {
      "ExtenderNameParameter": {
        "description": "The name of the Extender connector resource",
        "name": "extenderName",
        "in": "path",
        "required": true,
        "type": "string",
        "pattern": "^[a-z0-9]+(-[a-z0-9]+)*",
        "maxLength": 128,
        "x-ms-parameter-location": "method"
      }
    }
  }
  