{
   "swagger": "2.0",
   "info": {
     "title": "Applications.Connector Management APIs",
     "description": "REST APIs for Generic Resource",
     "version": "2022-03-15-privatepreview"
   },
   "host": "management.azure.com",
   "schemes": [
     "https"
   ],
   "consumes": [
     "application/json"
   ],
   "produces": [
     "application/json"
   ],
   "security": [
     {
       "azure_auth": [
         "user_impersonation"
       ]
     }
   ],
   "securityDefinitions": {
     "azure_auth": {
       "type": "oauth2",
       "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
       "flow": "implicit",
       "description": "Azure Active Directory OAuth2 Flow.",
       "scopes": {
         "user_impersonation": "impersonate your user account"
       }
     }
   },
   "paths": {
     "/{rootScope}/providers/{resourceType}": {
       "get": {
         "description": "Lists information about all resources of the given resource type in the given root scope",
         "operationId": "GenericResources_ListByRootScope",
         "produces": [
           "application/json"
         ],
         "x-ms-examples": {
           "GenericResourceListByRootScope": {
             "$ref": ""
           }
         },
         "tags": [
           "GenericResources"
         ],
         "parameters": [
           {
             "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ApiVersionParameter"
           },
           {
             "$ref": "global.json#/parameters/RootScopeParameter"
           },
           {
               "$ref": "global.json#/parameters/ResourceType"
           }
         ],
         "responses": {
           "200": {
             "description": "List of generic resources",
             "schema": {
               "$ref": "#/definitions/GenericResourcesList"
             }
           },
           "default": {
             "description": "Error response describing the reason for operation failure",
             "schema": {
               "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/ErrorResponse"
             }
           }
         },
         "deprecated": false,
         "x-ms-pageable": {
           "nextLinkName": "nextLink"
         }
       }
     },
     "/{rootScope}/providers/{resourceType}/{resourceName}": {
       "get": {
         "description": "Retrieves information about a generic resource with the name given of the type given within the root scope",
         "operationId": "GenericResources_Get",
         "produces": [
           "application/json"
         ],
         "x-ms-examples": {
           "GenericResourcesGet": {
             "$ref": "./examples/GenericResourcesGet.json"
           }
         },
         "tags": [
           "GenericResources"
         ],
         "parameters": [
           {
             "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ApiVersionParameter"
           },
           {
             "$ref": "global.json#/parameters/RootScopeParameter"
           },
           {
             "$ref": "global.json#/parameters/ResourceType"
           },
           {
             "$ref": "#/parameters/GenericResourceNameParameter"
           }
         ],
         "responses": {
           "200": {
             "description": "Generic resource",
             "schema": {
               "$ref": "#/definitions/GenericResource"
             }
           },
           "default": {
             "description": "Error response describing the reason for operation failure",
             "schema": {
               "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/ErrorResponse"
             }
           }
         }
       },
       "put": {
         "description": "Creates or updates a Generic resource",
         "operationId": "GenericResources_CreateOrUpdate",
         "produces": [
           "application/json"
         ],
         "x-ms-examples": {
           "GenericDatabasesPut": {
             "$ref": "./examples/GenericResourcesPut.json"
           }
         },
         "tags": [
           "GenericResources"
         ],
         "parameters": [
           {
             "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ApiVersionParameter"
           },
           {
             "$ref": "global.json#/parameters/RootScopeParameter"
           },
           {
             "$ref": "global.json#/parameters/ResourceType"
           },
           {
             "$ref": "#/parameters/GenericResourceNameParameter"
           },
           {
             "name": "GenericResourceParameters",
             "description": "generic resource create parameters",
             "in": "body",
             "required": true,
             "schema": {
               "$ref": "#/definitions/GenericResource"
             }
           }
         ],
         "responses": {
           "200": {
             "description": "The request was successful; response contains the generic resource",
             "schema": {
               "$ref": "#/definitions/GenericResource"
             }
           },
           "201": {
             "description": "The request was successful, resource will be updated asynchronously",
             "schema": {
               "$ref": "#/definitions/GenericResource"
             }
           },
           "default": {
             "description": "Error response describing the reason for operation failure",
             "schema": {
               "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/ErrorResponse"
             }
           }
         }
       },
       "delete": {
         "description": "Deletes an existing Generic resource",
         "operationId": "GenericResources_Delete",
         "produces": [
           "application/json"
         ],
         "x-ms-examples": {
           "GenericResourceDatabasesDelete": {
             "$ref": "./examples/GenericResourcesDelete.json"
           }
         },
         "tags": [
           "GenericResources"
         ],
         "parameters": [
           {
             "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ApiVersionParameter"
           },
           {
             "$ref": "global.json#/parameters/RootScopeParameter"
           },
           {
             "$ref": "global.json#/parameters/ResourceType"
           },
           {
             "$ref": "#/parameters/GenericResourceNameParameter"
           }
         ],
         "responses": {
           "200": {
             "description": "The resource has been successfully deleted."
           },
           "202": {
             "description": "The resource will be deleted asynchronously."
           },
           "204": {
             "description": "The resource does not exist."
           },
           "default": {
             "description": "Error response describing the reason for operation failure",
             "schema": {
               "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/ErrorResponse"
             }
           }
         }
       }
     },
     "/{rootScope}/providers/{resourceType}/{resourceName}/listSecrets": {
       "post": {
         "description": "Lists secrets specified resource of specified type within the root scope",
         "operationId": "GenericResources_listSecrets",
         "produces": [
           "application/json"
         ],
         "x-ms-examples": {
           "GenericResourceDatabasesGet": {
             "$ref": "./examples/GenericResourcesListSecrets.json"
           }
         },
         "tags": [
           "GenericResources"
         ],
         "parameters": [
           {
             "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ApiVersionParameter"
           },
           {
             "$ref": "global.json#/parameters/RootScopeParameter"
           },
           {
             "$ref": "global.json#/parameters/ResourceType"
           },
           {
             "$ref": "#/parameters/GenericResourceNameParameter"
           }
         ],
         "responses": {
           "200": {
             "description": "Generic resource",
             "schema": {
               "$ref": "#/definitions/GenericResourceListSecretsResult"
             }
           },
           "default": {
             "description": "Error response describing the reason for operation failure",
             "schema": {
               "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/ErrorResponse"
             }
           }
         }
       }
     }
   },
   "definitions": {
     "GenericResourcesList": {
       "description": "Object that includes an array of GenericResources and a possible link for next set",
       "type": "object",
       "properties": {
         "value": {
           "description": "List of GenericResources resources",
           "type": "array",
           "items": {
             "$ref": "#/definitions/GenericResource"
           }
         },
         "nextLink": {
           "description": "The link used to fetch the next page of resource list.",
           "type": "string"
         }
       }
     },
     "GenericResource": {
       "description": "Generic resource",
       "type": "object",
       "allOf": [
         {
           "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/TrackedResource"
         }
       ],
       "required": [
         "properties"
       ],
       "properties": {
         "systemData": {
           "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/systemData"
         },
         "resourceProperties": {
           "type": "object"
         }
       }
     },
     "GenericResourceProperties": {
       "type": "object",
       "properties": {
         "propertyKey": {
           "type": "string"
         },
         "propertyValue": {
           "type":"object"
         }
       }
     },
     "GenericResourceListSecretsResult": {
       "description": "The secret values for the given generic resource",
       "$ref": "#/definitions/GenericResourceSecrets"
     },
     "GenericResourceSecrets": {
       "description": "The secret values for the given generic resource",
       "properties": {
         "username": {
           "description": "Username to use when connecting to the target generic resource",
           "type": "string"
         },
         "password": {
           "description": "Password to use when connecting to the target generic resource",
           "type": "string"
         },
         "connectionString": {
           "description": "Connection string used to connect to the target generic resource",
           "type": "string"
         }
       }
     }
   },
   "parameters": {
     "GenericResourceNameParameter": {
       "description": "The name of the generic resource",
       "name": "resourceName",
       "in": "path",
       "required": true,
       "type": "string",
       "pattern": "^[a-z0-9]+(-[a-z0-9]+)*",
       "maxLength": 128,
       "x-ms-parameter-location": "method"
     }
   }
 }