{
  "swagger": "2.0",
  "info": {
    "title": "Applications.Connector Management APIs",
    "version": "2022-03-15-privatepreview"
  },
  "host": "management.azure.com",
  "schemes": [
    "https"
  ],
  "consumes": [
    "application/json"
  ],
  "produces": [
    "application/json"
  ],
  "security": [
    {
      "azure_auth": [
        "user_impersonation"
      ]
    }
  ],
  "securityDefinitions": {
    "azure_auth": {
      "type": "oauth2",
      "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
      "flow": "implicit",
      "description": "Azure Active Directory OAuth2 Flow.",
      "scopes": {
        "user_impersonation": "impersonate your user account"
      }
    }
  },
  "definitions": {
    "ProvisioningState": {
      "description": "Provisioning state of the connector at the time the operation was called",
      "type": "string",
      "readOnly": true,
      "enum": [
        "Succeeded",
        "Failed",
        "Canceled",
        "Accepted",
        "Updating",
        "Deleting",
        "Provisioning"
      ],
      "x-ms-enum": {
        "name": "ProvisioningState",
        "modelAsString": true
      }
    },
    "Application": {
      "description": "Fully qualified resource ID for the application that the connector is consumed by",
      "type": "string",
      "example": [
        "app.id"
      ]
    },
    "BasicResourceProperties": {
      "description": "Basic properties of a Radius resource.",
      "type": "object",
      "properties": {
        "status": {
          "$ref": "#/definitions/ResourceStatus",
          "description": "Status of the resource",
          "readOnly": true
        }
      }
    },
    "ResourceStatus": {
      "description": "Status of a resource.",
      "type": "object",
      "properties": {
        "outputResources": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/OutputResource"
          }
        }
      }
    },
    "OutputResource": {
      "description": "Properties of an output resource.",
      "type": "object",
      "properties": {}
    },
    "Recipe": {
      "description": "The recipe used to deploy the connector resource",
      "type": "object",
      "properties": {
        "name" :{
          "description": "The name of the recipe within the environment to use",
          "type": "string"
        },
        "parameters": {
          "description": "Key/value parameters to pass into the recipe at deployment",
          "type": "object",
          "example":[{
            "port": 6060
          }]
        }
      }
    }
  },
  "parameters": {
    "RootScopeParameter": {
      "name": "rootScope",
      "in": "path",
      "required": true,
      "type": "string",
      "description": "The scope in which the resource is present. For Azure resource this would be /subscriptions/{subscriptionID}/resourceGroup/{resourcegroupID}",
      "minLength": 1,
      "x-ms-skip-url-encoding": true
    }
  },
  "paths": {
    "/providers/Applications.Connector/operations": {
      "get": {
        "tags": [
          "Operations"
        ],
        "description": "Retrieves a list of available API operations",
        "operationId": "Operations_List",
        "produces": [
          "application/json"
        ],
        "x-ms-examples": {
          "RadiusOperationsList": {
            "$ref": "./examples/OperationsList.json"
          }
        },
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "The request was successful; response contains the list of operations under Applications.Connector resource provider",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/OperationListResult"
            }
          },
          "default": {
            "description": "Error response describing the reason for operation failure",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "deprecated": false,
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    }
  }
}