{
  "swagger": "2.0",
  "info": {
    "title": "Applications.Connector Management API",
    "version": "2022-03-15-privatepreview"
  },
  "host": "management.azure.com",
  "schemes": [
    "https"
  ],
  "consumes": [
    "application/json"
  ],
  "produces": [
    "application/json"
  ],
  "security": [
    {
      "azure_auth": [
        "user_impersonation"
      ]
    }
  ],
  "securityDefinitions": {
    "azure_auth": {
      "type": "oauth2",
      "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
      "flow": "implicit",
      "description": "Azure Active Directory OAuth2 Flow.",
      "scopes": {
        "user_impersonation": "impersonate your user account"
      }
    }
  },
  "definitions": {
    "ProvisioningState": {
      "description": "Provisioning state of the connector at the time the operation was called",
      "type": "string",
      "readOnly": true,
      "enum": [
        "Accepted",
        "Canceled",
        "Deleting",
        "Failed",
        "Provisioning",
        "Succeeded"
      ],
      "x-ms-enum": {
        "name": "ProvisioningState",
        "modelAsString": true
      }
    },
    "Application": {
      "description": "Fully qualified resource ID for the application that the connector is consumed by",
      "type": "string",
      "readOnly": true,
      "example": [
        "app.id"
      ]
    },
    "FromResource": {
      "description": "Target resource that the connector binds to",
      "type": "object",
      "properties": {
        "source": {
          "readOnly": true,
          "type": "string",
          "description": "Fully qualified resource ID for the resource that the connector binds to",
          "example": [
            "account::mongodb.id"
          ]
        }
      },
      "required": [
        "source"
      ]
    },
    "SecretsValues": {
      "description": "Secrets values provided for the resource",
      "type": "object",
      "properties": {
        "connectionString": {
          "description": "The connection string used to connect to the target mongo database the connector binds to",
          "type": "string"
        },
        "username": {
          "description": "The username to use when connecting to the target mongo database",
          "type": "string"
        },
        "password": {
          "description": "The password to use when connecting to the target mongo database",
          "type": "string"
        }
      }
    }
  },
  "paths": {
    "/providers/Applications.Connector/operations": {
      "get": {
        "tags": [
          "Operations"
        ],
        "description": "Retrieves a list of available API operations",
        "operationId": "ConnectorOperations_List",
        "produces": [
          "application/json"
        ],
        "x-ms-examples": {
          "RadiusOperationsList": {
            "$ref": "./examples/OperationsList.json"
          }
        },
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "The request was successful; response contains the list of operations under Applications.Connector resource provider",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/OperationListResult"
            }
          },
          "default": {
            "description": "Error response describing the reason for operation failure",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "deprecated": false,
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    }
  }
}
