{
    "swagger": "2.0",
    "info": {
      "title": "Applications.Connector Management APIs",
      "description": "REST APIs for Applications.Connector/sqlDatabases",
      "version": "2022-03-15-privatepreview"
    },
    "host": "management.azure.com",
    "schemes": [
      "https"
    ],
    "consumes": [
      "application/json"
    ],
    "produces": [
      "application/json"
    ],
    "security": [
      {
        "azure_auth": [
          "user_impersonation"
        ]
      }
    ],
    "securityDefinitions": {
      "azure_auth": {
        "type": "oauth2",
        "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
        "flow": "implicit",
        "description": "Azure Active Directory OAuth2 Flow.",
        "scopes": {
          "user_impersonation": "impersonate your user account"
        }
      }
    },
    "paths": {
      "/subscriptions/{subscriptionId}/providers/Applications.Connector/sqlDatabases": {
        "get": {
          "description": "Lists information about all sqlDatabase resources in the given subscription",
          "operationId": "SQLDatabases_ListBySubscription",
          "produces": [
            "application/json"
          ],
          "x-ms-examples": {
            "SQLDatabasesListBySubscription": {
              "$ref": "./examples/SQLDatabasesListBySubscription.json"
            }
          },
          "tags": [
            "SQLDatabases"
          ],
          "parameters": [
            {
              "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ApiVersionParameter"
            },
            {
              "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/SubscriptionIdParameter"
            }
          ],
          "responses": {
            "200": {
              "description": "List of SQLDatabase resources",
              "schema": {
                "$ref": "#/definitions/SQLDatabaseList"
              }
            },
            "default": {
              "description": "Error response describing the reason for operation failure",
              "schema": {
                "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/ErrorResponse"
              }
            }
          },
          "deprecated": false,
          "x-ms-pageable": {
            "nextLinkName": "nextLink"
          }
        }
      },
      "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Applications.Connector/sqlDatabases": {
        "get": {
          "description": "Lists information about all sqlDatabase resources in the given subscription and resource group",
          "operationId": "SQLDatabases_List",
          "produces": [
            "application/json"
          ],
          "x-ms-examples": {
            "SQLDatabasesList": {
              "$ref": "./examples/SQLDatabasesList.json"
            }
          },
          "tags": [
            "SQLDatabases"
          ],
          "parameters": [
            {
              "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ApiVersionParameter"
            },
            {
              "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/SubscriptionIdParameter"
            },
            {
              "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ResourceGroupNameParameter"
            }
          ],
          "responses": {
            "200": {
              "description": "List of SQLDatabase resources",
              "schema": {
                "$ref": "#/definitions/SQLDatabaseList"
              }
            },
            "default": {
              "description": "Error response describing why the operation failed.",
              "schema": {
                "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/ErrorResponse"
              }
            }
          },
          "deprecated": false,
          "x-ms-pageable": {
            "nextLinkName": "nextLink"
          }
        }
      },
      "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Applications.Connector/sqlDatabases/{sqlDatabaseName}": {
        "get": {
          "description": "Retrieves information about a sqlDatabase resource",
          "operationId": "SQLDatabases_Get",
          "produces": [
            "application/json"
          ],
          "x-ms-examples": {
            "SQLDatabasesGet": {
              "$ref": "./examples/SQLDatabasesGet.json"
            }
          },
          "tags": [
            "SQLDatabases"
          ],
          "parameters": [
            {
              "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ApiVersionParameter"
            },
            {
              "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/SubscriptionIdParameter"
            },
            {
              "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ResourceGroupNameParameter"
            },
            {
              "$ref": "#/parameters/SQLDatabaseNameParameter"
            }
          ],
          "responses": {
            "200": {
              "description": "SQLDatabase resource",
              "schema": {
                "$ref": "#/definitions/SQLDatabaseResource"
              }
            },
            "default": {
              "description": "Error response describing the reason for operation failure",
              "schema": {
                "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/ErrorResponse"
              }
            }
          }
        },
        "put": {
          "description": "Creates or updates a SQLDatabase resource",
          "operationId": "SQLDatabases_CreateOrUpdate",
          "produces": [
            "application/json"
          ],
          "x-ms-examples": {
            "SQLDatabasesPut": {
              "$ref": "./examples/SQLDatabasesPut.json"
            }
          },
          "tags": [
            "SQLDatabases"
          ],
          "parameters": [
            {
              "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ApiVersionParameter"
            },
            {
              "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/SubscriptionIdParameter"
            },
            {
              "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ResourceGroupNameParameter"
            },
            {
              "$ref": "#/parameters/SQLDatabaseNameParameter"
            },
            {
              "name": "SQLDatabaseParameters",
              "description": "sqlDatabase create parameters",
              "in": "body",
              "required": true,
              "schema": {
                "$ref": "#/definitions/SQLDatabaseResource"
              }
            }
          ],
          "responses": {
            "200": {
              "description": "The request was successful; response contains the sqlDatabase resource",
              "schema": {
                "$ref": "#/definitions/SQLDatabaseResource"
              }
            },
            "201": {
              "description": "The request was successful, resource will be updated asynchronously",
              "schema": {
                "$ref": "#/definitions/SQLDatabaseResource"
              }
            },
            "default": {
              "description": "Error response describing the reason for operation failure",
              "schema": {
                "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/ErrorResponse"
              }
            }
          }
        },
        "delete": {
          "description": "Deletes an existing sqlDatabase resource",
          "operationId": "SQLDatabases_Delete",
          "produces": [
            "application/json"
          ],
          "x-ms-examples": {
            "SQLDatabasesDelete": {
              "$ref": "./examples/SQLDatabasesDelete.json"
            }
          },
          "tags": [
            "SQLDatabases"
          ],
          "parameters": [
            {
              "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ApiVersionParameter"
            },
            {
              "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/SubscriptionIdParameter"
            },
            {
              "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ResourceGroupNameParameter"
            },
            {
              "$ref": "#/parameters/SQLDatabaseNameParameter"
            }
          ],
          "responses": {
            "200": {
              "description": "The SQLDatabase connector was successfully deleted."
            },
            "202": {
              "description": "The SQLDatabase connector will be deleted asynchronously."
            },
            "204": {
              "description": "The SQLDatabase connector does not exist."
            },
            "default": {
              "description": "Error response describing the reason for operation failure",
              "schema": {
                "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/ErrorResponse"
              }
            }
          }
        }
      }
    },
    "definitions": {
      "SQLDatabaseList": {
        "description": "Object that includes an array of SQLDatabase and a possible link for next set",
        "type": "object",
        "properties": {
          "value": {
            "description": "List of SQLDatabase resources",
            "type": "array",
            "items": {
              "$ref": "#/definitions/SQLDatabaseResource"
            }
          },
          "nextLink": {
            "description": "The link used to fetch the next page of SQLDatabase list.",
            "type": "string"
          }
        }
      },
      "SQLDatabaseResource": {
        "description": "SQLDatabse connector",
        "type": "object",
        "allOf": [
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/TrackedResource"
          }
        ],
        "required": [
          "properties"
        ],
        "properties": {
          "systemData": {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/systemData"
          },
          "properties": {
            "x-ms-client-flatten": true,
            "$ref": "#/definitions/SQLDatabaseProperties"
          }
        }
      },
      "SQLDatabaseProperties": {
        "description": "SQLDatabse connector properties",
        "type": "object",
        "allOf": [
          {
            "$ref": "global.json#/definitions/BasicResourceProperties"
          }
        ],
        "properties": {
          "provisioningState": {
            "$ref": "global.json#/definitions/ProvisioningState",
            "description": "Provisioning state of the SQL database connector at the time the operation was called"
          },
          "environment": {
            "description": "The resource id of the environment linked to the sqlDatabase connector",
            "type": "string"
          },
          "application": {
            "$ref": "global.json#/definitions/Application",
            "description": "Fully qualified resource ID for the environment that the connector is linked to"
          },
          "resource": {
            "description": "Fully qualified resource ID of a supported resource with SQL API to use for this connector",
            "type": "string"
          },
          "database": {
            "description": "The name of the SQL database.",
            "type": "string"
          },
          "server": {
            "description": "The fully qualified domain name of the SQL database.",
            "type": "string"
          }
        },
        "required": ["environment"]
      }
    },
    "parameters": {
      "SQLDatabaseNameParameter": {
        "description": "The name of the SQLDatabase connector resource",
        "name": "sqlDatabaseName",
        "in": "path",
        "required": true,
        "type": "string",
        "pattern": "^[a-z0-9]+(-[a-z0-9]+)*",
        "maxLength": 128,
        "x-ms-parameter-location": "method"
      }
    }
  }
  