{
  "swagger": "2.0",
  "info": {
    "title": "Applications.Dapr Management APIs",
    "version": "2022-03-15-privatepreview",
    "description": "REST API for Applications.Dapr/stateStores",
    "x-cadl-generated": [
      {
        "emitter": "@azure-tools/cadl-autorest"
      }
    ]
  },
  "schemes": [
    "https"
  ],
  "host": "management.azure.com",
  "produces": [
    "application/json"
  ],
  "consumes": [
    "application/json"
  ],
  "security": [
    {
      "azure_auth": [
        "user_impersonation"
      ]
    }
  ],
  "securityDefinitions": {
    "azure_auth": {
      "type": "oauth2",
      "description": "Azure Active Directory OAuth2 Flow.",
      "flow": "implicit",
      "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
      "scopes": {
        "user_impersonation": "impersonate your user account"
      }
    }
  },
  "tags": [
    {
      "name": "DaprPubSubBroker"
    },
    {
      "name": "DaprSecretStore"
    },
    {
      "name": "DaprStateStore"
    }
  ],
  "paths": {
    "/{rootScope}/providers/Applications.Dapr/daprPubSubBrokers": {
      "get": {
        "tags": [
          "DaprPubSubBroker"
        ],
        "operationId": "DaprPubSubBroker_ListByRootScope",
        "description": "Lists information about all DaprPubSubBrokerResources in the given root scope",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/RootScopeParam"
          }
        ],
        "responses": {
          "200": {
            "description": "ARM operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/DaprPubSubBrokerResourceListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/{rootScope}/providers/Applications.Dapr/daprPubSubBrokers/{daprPubSubBrokerName}": {
      "get": {
        "tags": [
          "DaprPubSubBroker"
        ],
        "operationId": "DaprPubSubBroker_Get",
        "description": "Retrieves information about a DaprPubSubBrokerResource",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/RootScopeParam"
          },
          {
            "name": "daprPubSubBrokerName",
            "in": "path",
            "required": true,
            "description": "Dapr PubSubBroker name",
            "pattern": "^[A-Za-z]([-A-Za-z0-9\\.]*[A-Za-z0-9\\.])?$",
            "maxLength": 63,
            "x-ms-parameter-location": "method",
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "ARM operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/DaprPubSubBrokerResource"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        }
      },
      "put": {
        "tags": [
          "DaprPubSubBroker"
        ],
        "operationId": "DaprPubSubBroker_CreateOrUpdate",
        "description": "Creates or updates a DaprPubSubBrokerResource",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/RootScopeParam"
          },
          {
            "name": "daprPubSubBrokerName",
            "in": "path",
            "required": true,
            "description": "Dapr PubSubBroker name",
            "pattern": "^[A-Za-z]([-A-Za-z0-9\\.]*[A-Za-z0-9\\.])?$",
            "maxLength": 63,
            "x-ms-parameter-location": "method",
            "type": "string"
          },
          {
            "name": "resource",
            "in": "body",
            "required": true,
            "description": "Resource create parameters.",
            "schema": {
              "$ref": "#/definitions/DaprPubSubBrokerResource"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "ARM operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/DaprPubSubBrokerResource"
            }
          },
          "201": {
            "description": "ARM create operation completed successfully.",
            "headers": {
              "Retry-After": {
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status.",
                "type": "integer",
                "format": "int32"
              }
            },
            "schema": {
              "$ref": "#/definitions/DaprPubSubBrokerResource"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        }
      },
      "delete": {
        "tags": [
          "DaprPubSubBroker"
        ],
        "operationId": "DaprPubSubBroker_Delete",
        "description": "Deletes an existing DaprPubSubBrokerResource",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/RootScopeParam"
          },
          {
            "name": "daprPubSubBrokerName",
            "in": "path",
            "required": true,
            "description": "Dapr PubSubBroker name",
            "pattern": "^[A-Za-z]([-A-Za-z0-9\\.]*[A-Za-z0-9\\.])?$",
            "maxLength": 63,
            "x-ms-parameter-location": "method",
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Resource deleted successfully."
          },
          "202": {
            "description": "Resource deletion accepted.",
            "headers": {
              "Retry-After": {
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status.",
                "type": "integer",
                "format": "int32"
              }
            }
          },
          "204": {
            "description": "Resource deleted successfully."
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        }
      }
    },
    "/{rootScope}/providers/Applications.Dapr/daprSecretStores": {
      "get": {
        "tags": [
          "DaprSecretStore"
        ],
        "operationId": "DaprSecretStore_ListByRootScope",
        "description": "Lists information about all DaprSecretStoreResources in the given root scope",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/RootScopeParam"
          }
        ],
        "responses": {
          "200": {
            "description": "ARM operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/DaprSecretStoreResourceListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/{rootScope}/providers/Applications.Dapr/daprSecretStores/{daprSecretStoreName}": {
      "get": {
        "tags": [
          "DaprSecretStore"
        ],
        "operationId": "DaprSecretStore_Get",
        "description": "Retrieves information about a DaprSecretStoreResource",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/RootScopeParam"
          },
          {
            "name": "daprSecretStoreName",
            "in": "path",
            "required": true,
            "description": "Dapr SecretStore name",
            "pattern": "^[A-Za-z]([-A-Za-z0-9\\.]*[A-Za-z0-9\\.])?$",
            "maxLength": 63,
            "x-ms-parameter-location": "method",
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "ARM operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/DaprSecretStoreResource"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        }
      },
      "put": {
        "tags": [
          "DaprSecretStore"
        ],
        "operationId": "DaprSecretStore_CreateOrUpdate",
        "description": "Creates or updates a DaprSecretStoreResource",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/RootScopeParam"
          },
          {
            "name": "daprSecretStoreName",
            "in": "path",
            "required": true,
            "description": "Dapr SecretStore name",
            "pattern": "^[A-Za-z]([-A-Za-z0-9\\.]*[A-Za-z0-9\\.])?$",
            "maxLength": 63,
            "x-ms-parameter-location": "method",
            "type": "string"
          },
          {
            "name": "resource",
            "in": "body",
            "required": true,
            "description": "Resource create parameters.",
            "schema": {
              "$ref": "#/definitions/DaprSecretStoreResource"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "ARM operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/DaprSecretStoreResource"
            }
          },
          "201": {
            "description": "ARM create operation completed successfully.",
            "headers": {
              "Retry-After": {
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status.",
                "type": "integer",
                "format": "int32"
              }
            },
            "schema": {
              "$ref": "#/definitions/DaprSecretStoreResource"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        }
      },
      "delete": {
        "tags": [
          "DaprSecretStore"
        ],
        "operationId": "DaprSecretStore_Delete",
        "description": "Deletes an existing DaprSecretStoreResource",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/RootScopeParam"
          },
          {
            "name": "daprSecretStoreName",
            "in": "path",
            "required": true,
            "description": "Dapr SecretStore name",
            "pattern": "^[A-Za-z]([-A-Za-z0-9\\.]*[A-Za-z0-9\\.])?$",
            "maxLength": 63,
            "x-ms-parameter-location": "method",
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Resource deleted successfully."
          },
          "202": {
            "description": "Resource deletion accepted.",
            "headers": {
              "Retry-After": {
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status.",
                "type": "integer",
                "format": "int32"
              }
            }
          },
          "204": {
            "description": "Resource deleted successfully."
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        }
      }
    },
    "/{rootScope}/providers/Applications.Dapr/daprStateStores": {
      "get": {
        "tags": [
          "DaprStateStore"
        ],
        "operationId": "DaprStateStore_ListByRootScope",
        "description": "Lists information about all DaprStateStoreResources in the given root scope",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/RootScopeParam"
          }
        ],
        "responses": {
          "200": {
            "description": "ARM operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/DaprStateStoreResourceListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/{rootScope}/providers/Applications.Dapr/daprStateStores/{daprStateStoreName}": {
      "get": {
        "tags": [
          "DaprStateStore"
        ],
        "operationId": "DaprStateStore_Get",
        "description": "Retrieves information about a DaprStateStoreResource",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/RootScopeParam"
          },
          {
            "name": "daprStateStoreName",
            "in": "path",
            "required": true,
            "description": "Dapr StateStore name",
            "pattern": "^[A-Za-z]([-A-Za-z0-9\\.]*[A-Za-z0-9\\.])?$",
            "maxLength": 63,
            "x-ms-parameter-location": "method",
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "ARM operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/DaprStateStoreResource"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        }
      },
      "put": {
        "tags": [
          "DaprStateStore"
        ],
        "operationId": "DaprStateStore_CreateOrUpdate",
        "description": "Creates or updates a DaprStateStoreResource",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/RootScopeParam"
          },
          {
            "name": "daprStateStoreName",
            "in": "path",
            "required": true,
            "description": "Dapr StateStore name",
            "pattern": "^[A-Za-z]([-A-Za-z0-9\\.]*[A-Za-z0-9\\.])?$",
            "maxLength": 63,
            "x-ms-parameter-location": "method",
            "type": "string"
          },
          {
            "name": "resource",
            "in": "body",
            "required": true,
            "description": "Resource create parameters.",
            "schema": {
              "$ref": "#/definitions/DaprStateStoreResource"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "ARM operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/DaprStateStoreResource"
            }
          },
          "201": {
            "description": "ARM create operation completed successfully.",
            "headers": {
              "Retry-After": {
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status.",
                "type": "integer",
                "format": "int32"
              }
            },
            "schema": {
              "$ref": "#/definitions/DaprStateStoreResource"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        }
      },
      "delete": {
        "tags": [
          "DaprStateStore"
        ],
        "operationId": "DaprStateStore_Delete",
        "description": "Deletes an existing DaprStateStoreResource",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/RootScopeParam"
          },
          {
            "name": "daprStateStoreName",
            "in": "path",
            "required": true,
            "description": "Dapr StateStore name",
            "pattern": "^[A-Za-z]([-A-Za-z0-9\\.]*[A-Za-z0-9\\.])?$",
            "maxLength": 63,
            "x-ms-parameter-location": "method",
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Resource deleted successfully."
          },
          "202": {
            "description": "Resource deletion accepted.",
            "headers": {
              "Retry-After": {
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status.",
                "type": "integer",
                "format": "int32"
              }
            }
          },
          "204": {
            "description": "Resource deleted successfully."
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "azure-async-operation"
        },
        "x-ms-long-running-operation": true
      }
    }
  },
  "definitions": {
    "Application": {
      "type": "string",
      "description": "Fully qualified resource ID for the application that the link is consumed by"
    },
    "BasicDaprResourceProperties": {
      "type": "object",
      "properties": {
        "componentName": {
          "type": "string",
          "description": "The name of the Dapr component object. Use this value in your code when interacting with the Dapr client to use the Dapr component.",
          "readOnly": true
        }
      },
      "description": "Basic properties of a Dapr component object.",
      "allOf": [
        {
          "$ref": "#/definitions/BasicResourceProperties"
        }
      ]
    },
    "BasicResourceProperties": {
      "type": "object",
      "properties": {
        "status": {
          "$ref": "#/definitions/ResourceStatus",
          "description": "Status of a resource.",
          "readOnly": true
        },
        "environment": {
          "type": "string",
          "description": "Fully qualified resource ID for the environment that the link is linked to"
        },
        "application": {
          "$ref": "#/definitions/Application",
          "description": "Fully qualified resource ID for the application that the link is consumed by"
        }
      },
      "description": "Basic properties of a Radius resource.",
      "required": [
        "environment"
      ]
    },
    "DaprPubSubBrokerProperties": {
      "type": "object",
      "properties": {
        "mode": {
          "type": "string",
          "description": "Discriminator property for DaprPubSubBrokerProperties."
        },
        "provisioningState": {
          "$ref": "#/definitions/ProvisioningState",
          "description": "Provisioning state of the Dapr PubSubBroker portable resource at the time the operation was called",
          "readOnly": true
        },
        "topic": {
          "type": "string",
          "description": "Topic name of the Azure ServiceBus resource"
        }
      },
      "description": "Dapr PubSubBroker portable resource properties",
      "discriminator": "mode",
      "required": [
        "mode"
      ],
      "allOf": [
        {
          "$ref": "#/definitions/BasicDaprResourceProperties"
        }
      ]
    },
    "DaprPubSubBrokerResource": {
      "type": "object",
      "properties": {
        "properties": {
          "$ref": "#/definitions/DaprPubSubBrokerProperties",
          "description": "The resource-specific properties for this resource.",
          "x-ms-client-flatten": true,
          "x-ms-mutability": [
            "read",
            "create"
          ]
        }
      },
      "description": "Dapr PubSubBroker portable resource",
      "allOf": [
        {
          "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/TrackedResource"
        }
      ]
    },
    "DaprPubSubBrokerResourceListResult": {
      "type": "object",
      "properties": {
        "value": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/DaprPubSubBrokerResource"
          },
          "x-cadl-name": "DaprPubSubBrokerResource[]",
          "description": "The DaprPubSubBrokerResource items on this page"
        },
        "nextLink": {
          "type": "string",
          "format": "uri",
          "description": "The link to the next page of items",
          "x-cadl-name": "Rest.ResourceLocation"
        }
      },
      "description": "The response of a DaprPubSubBrokerResource list operation.",
      "required": [
        "value"
      ]
    },
    "DaprSecretStoreProperties": {
      "type": "object",
      "properties": {
        "mode": {
          "type": "string",
          "description": "Discriminator property for DaprSecretStoreProperties."
        },
        "provisioningState": {
          "$ref": "#/definitions/ProvisioningState",
          "description": "Provisioning state of the dapr secret store portable resource at the time the operation was called",
          "readOnly": true
        }
      },
      "description": "Dapr SecretStore portable resource properties",
      "discriminator": "mode",
      "required": [
        "mode"
      ],
      "allOf": [
        {
          "$ref": "#/definitions/BasicDaprResourceProperties"
        }
      ]
    },
    "DaprSecretStoreResource": {
      "type": "object",
      "properties": {
        "properties": {
          "$ref": "#/definitions/DaprSecretStoreProperties",
          "description": "The resource-specific properties for this resource.",
          "x-ms-client-flatten": true,
          "x-ms-mutability": [
            "read",
            "create"
          ]
        }
      },
      "description": "Dapr SecretStore portable resource",
      "allOf": [
        {
          "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/TrackedResource"
        }
      ]
    },
    "DaprSecretStoreResourceListResult": {
      "type": "object",
      "properties": {
        "value": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/DaprSecretStoreResource"
          },
          "x-cadl-name": "DaprSecretStoreResource[]",
          "description": "The DaprSecretStoreResource items on this page"
        },
        "nextLink": {
          "type": "string",
          "format": "uri",
          "description": "The link to the next page of items",
          "x-cadl-name": "Rest.ResourceLocation"
        }
      },
      "description": "The response of a DaprSecretStoreResource list operation.",
      "required": [
        "value"
      ]
    },
    "DaprStateStoreProperties": {
      "type": "object",
      "properties": {
        "mode": {
          "type": "string",
          "description": "Discriminator property for DaprStateStoreProperties."
        },
        "provisioningState": {
          "$ref": "#/definitions/ProvisioningState",
          "description": "Provisioning state of the Dapr StateStore link at the time the operation was called",
          "readOnly": true
        }
      },
      "description": "Dapr StateStore link properties",
      "discriminator": "mode",
      "required": [
        "mode"
      ],
      "allOf": [
        {
          "$ref": "#/definitions/BasicDaprResourceProperties"
        }
      ]
    },
    "DaprStateStoreResource": {
      "type": "object",
      "properties": {
        "properties": {
          "$ref": "#/definitions/DaprStateStoreProperties",
          "description": "The resource-specific properties for this resource.",
          "x-ms-client-flatten": true,
          "x-ms-mutability": [
            "read",
            "create"
          ]
        }
      },
      "description": "Dapr StateStore link",
      "allOf": [
        {
          "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/TrackedResource"
        }
      ]
    },
    "DaprStateStoreResourceListResult": {
      "type": "object",
      "properties": {
        "value": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/DaprStateStoreResource"
          },
          "x-cadl-name": "DaprStateStoreResource[]",
          "description": "The DaprStateStoreResource items on this page"
        },
        "nextLink": {
          "type": "string",
          "format": "uri",
          "description": "The link to the next page of items",
          "x-cadl-name": "Rest.ResourceLocation"
        }
      },
      "description": "The response of a DaprStateStoreResource list operation.",
      "required": [
        "value"
      ]
    },
    "OutputResource": {
      "type": "object",
      "properties": {},
      "description": "Properties of an output resource."
    },
    "Parameters": {
      "type": "object",
      "properties": {},
      "description": "Key/value parameters to pass into the recipe at deployment"
    },
    "ProvisioningState": {
      "type": "string",
      "description": "Provisioning state of the link at the time the operation was called",
      "enum": [
        "Succeeded",
        "Failed",
        "Canceled",
        "Provisioning",
        "Updating",
        "Deleting",
        "Accepted"
      ],
      "x-ms-enum": {
        "name": "ProvisioningState",
        "modelAsString": true
      }
    },
    "Recipe": {
      "type": "object",
      "properties": {
        "name": {
          "type": "string",
          "description": "The name of the recipe within the environment to use"
        },
        "parameters": {
          "$ref": "#/definitions/Parameters",
          "description": "Key/value parameters to pass into the recipe at deployment"
        }
      },
      "description": "The recipe used to automatically deploy underlying infrastructure for a link",
      "required": [
        "name"
      ]
    },
    "RecipeDaprPubSubProperties": {
      "type": "object",
      "properties": {
        "metadata": {
          "$ref": "#/definitions/object",
          "description": "Metadata for the pub sub resource. This should match the values specified in Dapr component spec"
        },
        "type": {
          "type": "string",
          "description": "Dapr PubSub type. These strings match the format used by Dapr Kubernetes configuration format."
        },
        "version": {
          "type": "string",
          "description": "Dapr component version"
        },
        "recipe": {
          "$ref": "#/definitions/Recipe",
          "description": "The recipe used to automatically deploy underlying infrastructure for the Dapr PubSubBroker portable resource"
        }
      },
      "description": "Dapr PubSubBroker Properties for Mode Recipe",
      "required": [
        "recipe"
      ],
      "allOf": [
        {
          "$ref": "#/definitions/DaprPubSubBrokerProperties"
        }
      ],
      "x-ms-discriminator-value": "recipe"
    },
    "RecipeDaprSecretStoreProperties": {
      "type": "object",
      "properties": {
        "type": {
          "type": "string",
          "description": "Dapr Secret Store type. These strings match the types defined in Dapr Component format: https://docs.dapr.io/reference/components-reference/supported-secret-stores/"
        },
        "version": {
          "type": "string",
          "description": "Dapr component version"
        },
        "metadata": {
          "$ref": "#/definitions/object",
          "description": "Metadata for the Secret Store resource. This should match the values specified in Dapr component spec"
        },
        "recipe": {
          "$ref": "#/definitions/Recipe",
          "description": "The recipe used to automatically deploy underlying infrastructure for the Dapr SecretStore portable resource"
        }
      },
      "description": "Dapr SecretStore Properties for Mode Recipe",
      "required": [
        "recipe"
      ],
      "allOf": [
        {
          "$ref": "#/definitions/DaprSecretStoreProperties"
        }
      ],
      "x-ms-discriminator-value": "recipe"
    },
    "RecipeDaprStateStoreProperties": {
      "type": "object",
      "properties": {
        "metadata": {
          "$ref": "#/definitions/object",
          "description": "Metadata for the state store resource. This should match the values specified in Dapr component spec"
        },
        "type": {
          "type": "string",
          "description": "Dapr StateStore type. These strings match the format used by Dapr Kubernetes configuration format."
        },
        "version": {
          "type": "string",
          "description": "Dapr component version"
        },
        "recipe": {
          "$ref": "#/definitions/Recipe",
          "description": "The recipe used to automatically deploy underlying infrastructure for the Dapr StateStore link"
        }
      },
      "description": "Dapr StateStore Properties for Mode Recipe",
      "required": [
        "recipe"
      ],
      "allOf": [
        {
          "$ref": "#/definitions/DaprStateStoreProperties"
        }
      ],
      "x-ms-discriminator-value": "recipe"
    },
    "ResourceDaprPubSubProperties": {
      "type": "object",
      "properties": {
        "metadata": {
          "$ref": "#/definitions/object",
          "description": "Metadata for the pub sub resource. This should match the values specified in Dapr component spec"
        },
        "type": {
          "type": "string",
          "description": "Dapr PubSub type. These strings match the format used by Dapr Kubernetes configuration format."
        },
        "version": {
          "type": "string",
          "description": "Dapr component version"
        },
        "resource": {
          "type": "string",
          "description": "PubSub resource"
        }
      },
      "description": "Dapr PubSubBroker Properties for Mode Resource",
      "required": [
        "resource"
      ],
      "allOf": [
        {
          "$ref": "#/definitions/DaprPubSubBrokerProperties"
        }
      ],
      "x-ms-discriminator-value": "resource"
    },
    "ResourceDaprStateStoreProperties": {
      "type": "object",
      "properties": {
        "metadata": {
          "$ref": "#/definitions/object",
          "description": "Metadata for the state store resource. This should match the values specified in Dapr component spec"
        },
        "type": {
          "type": "string",
          "description": "Dapr StateStore type. These strings match the format used by Dapr Kubernetes configuration format."
        },
        "version": {
          "type": "string",
          "description": "Dapr component version"
        },
        "resource": {
          "type": "string",
          "description": "The resource id of the Azure SQL Database or Azure Table Storage the Dapr StateStore resource is connected to."
        }
      },
      "description": "Dapr StateStore Properties for Mode Resource",
      "required": [
        "resource"
      ],
      "allOf": [
        {
          "$ref": "#/definitions/DaprStateStoreProperties"
        }
      ],
      "x-ms-discriminator-value": "resource"
    },
    "ResourceStatus": {
      "type": "object",
      "properties": {
        "outputResources": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/OutputResource"
          },
          "x-ms-identifiers": [],
          "x-cadl-name": "OutputResource[]",
          "description": "Properties of an output resource"
        }
      },
      "description": "Status of a resource."
    },
    "ValuesDaprPubSubProperties": {
      "type": "object",
      "properties": {
        "metadata": {
          "$ref": "#/definitions/object",
          "description": "Metadata for the pubsub resource. This should match the values specified in Dapr component spec"
        },
        "type": {
          "type": "string",
          "description": "Dapr PubSub type. These strings match the format used by Dapr Kubernetes configuration format."
        },
        "version": {
          "type": "string",
          "description": "Dapr component version"
        }
      },
      "description": "Dapr PubSubBroker Properties for Mode Values",
      "required": [
        "metadata",
        "type",
        "version"
      ],
      "allOf": [
        {
          "$ref": "#/definitions/DaprPubSubBrokerProperties"
        }
      ],
      "x-ms-discriminator-value": "values"
    },
    "ValuesDaprSecretStoreProperties": {
      "type": "object",
      "properties": {
        "type": {
          "type": "string",
          "description": "Dapr Secret Store type. These strings match the types defined in Dapr Component format: https://docs.dapr.io/reference/components-reference/supported-secret-stores/"
        },
        "version": {
          "type": "string",
          "description": "Dapr component version"
        },
        "metadata": {
          "$ref": "#/definitions/object",
          "description": "Metadata for the Secret Store resource. This should match the values specified in Dapr component spec"
        }
      },
      "description": "Dapr SecretStore Properties for Mode Values",
      "required": [
        "type",
        "version",
        "metadata"
      ],
      "allOf": [
        {
          "$ref": "#/definitions/DaprSecretStoreProperties"
        }
      ],
      "x-ms-discriminator-value": "values"
    },
    "ValuesDaprStateStoreProperties": {
      "type": "object",
      "properties": {
        "metadata": {
          "$ref": "#/definitions/object",
          "description": "Metadata for the state store resource. This should match the values specified in Dapr component spec"
        },
        "type": {
          "type": "string",
          "description": "Dapr StateStore type. These strings match the format used by Dapr Kubernetes configuration format."
        },
        "version": {
          "type": "string",
          "description": "Dapr component version"
        }
      },
      "description": "Dapr StateStore Properties for Mode Values",
      "required": [
        "metadata",
        "type",
        "version"
      ],
      "allOf": [
        {
          "$ref": "#/definitions/DaprStateStoreProperties"
        }
      ],
      "x-ms-discriminator-value": "values"
    },
    "object": {
      "type": "object",
      "properties": {}
    }
  },
  "parameters": {
    "RootScopeParam": {
      "name": "rootScope",
      "in": "path",
      "required": true,
      "description": "The scope in which the resource is present. For Azure resource this would be /subscriptions/{subscriptionID}/resourceGroup/{resourcegroupID}",
      "minLength": 1,
      "x-ms-parameter-location": "client",
      "x-ms-skip-url-encoding": true,
      "type": "string"
    }
  }
}
