apiVersion: apps/v1
kind: Deployment
metadata:
  labels:
    control-plane: de
  name: bicep-de
  namespace: {{ .Release.Namespace }}
spec:
  replicas: 1
  selector:
    matchLabels:
      control-plane: de
  template:
    metadata:
      labels:
        control-plane: de
{{ if .Values.global.rp.provider.azure.podidentity }}
        aadpodidbinding: {{ .Values.global.rp.provider.azure.podidentity }}
{{ end }}
    spec:
      serviceAccountName: de-manager
      containers:
      - args:
        - --kubernetes=true
        envFrom:
        - secretRef: 
            name: bicep-de
        env:
        - name: ASPNETCORE_URLS
          value: http://+:6443
        - name: kubernetes
          value: "true"
        - name: RADIUSBACKENDURL
          value: https://ucp.radius-system:443/apis/api.ucp.dev/v1alpha3
        - name: ASPNETCORE_Logging__LogLevel__Default
          value: "Debug"
        image: {{ .Values.global.engine.image }}:{{ .Values.global.engine.tag }}
        name: de
        ports:
        - containerPort: 6443
          name: bicep-de-api
          protocol: TCP
        securityContext:
          allowPrivilegeEscalation: false
      - env:
        - name: ASPNETCORE_URLS
          value: http://+:5000
        image: {{ .Values.global.extensibility.image }}:{{ .Values.global.extensibility.tag }}
        name: bicep-de-extensibility
        ports:
        - containerPort: 5000
          name: bicep-de-ext
          protocol: TCP
        securityContext:
          allowPrivilegeEscalation: false
      terminationGracePeriodSeconds: 10
---
apiVersion: v1
kind: Secret
metadata:
  name: bicep-de
  namespace: {{ .Release.Namespace }}
  labels:
    control-plane: de
stringData:
# Configuration for 'Azure' provider functionality
{{ if .Values.global.rp.provider.azure.podidentity }}
  # Enable ARM but without explicit credentials, pod identity will handle it
  SKIP_ARM: 'false'
  ARM_AUTH_METHOD: 'ManagedIdentity'
  ARM_SUBSCRIPTION_ID: {{ .Values.global.rp.provider.azure.subscriptionId }}
  ARM_RESOURCE_GROUP: {{ .Values.global.rp.provider.azure.resourceGroup }}
{{ else if .Values.global.rp.provider.azure.servicePrincipal }}
  # Enable ARM with explicit credentials
  SKIP_ARM: 'false' 
  ARM_AUTH_METHOD: 'ServicePrincipal'
  AZURE_CLIENT_ID: {{ .Values.global.rp.provider.azure.servicePrincipal.clientId }}
  AZURE_CLIENT_SECRET: {{ .Values.global.rp.provider.azure.servicePrincipal.clientSecret }}
  AZURE_TENANT_ID: {{ .Values.global.rp.provider.azure.servicePrincipal.tenantId }}
  ARM_SUBSCRIPTION_ID: {{ .Values.global.rp.provider.azure.subscriptionId }}
  ARM_RESOURCE_GROUP: {{ .Values.global.rp.provider.azure.resourceGroup }}
{{ else }}
  # Skip ARM by default. Overwriting this secret will let you set this to false as well as configure credentials
  SKIP_ARM: 'true' 
{{ end }}
# Configuration for AKS integration. We only need this to be able to manipulate pod-identities via ARM.
# This will move to the environment resource eventually.
{{ if .Values.global.rp.aks }}
  K8S_SUBSCRIPTION_ID: {{ .Values.global.rp.aks.subscriptionId }}
  K8S_RESOURCE_GROUP: {{ .Values.global.rp.aks.resourceGroup }}
  K8S_CLUSTER_NAME: {{ .Values.global.rp.aks.clusterName }}
{{ end }}
---
apiVersion: v1
kind: Service
metadata:
  name: de-api
  namespace: {{ .Release.Namespace }}
spec:
  ports:
    - port: 6443
      name: http
      protocol: TCP
      targetPort: 6443
  selector:
    control-plane: de
---
apiVersion: v1
kind: Service
metadata:
  name: bicep-de-extensibility
  namespace: {{ .Release.Namespace }}
spec:
  ports:
    - port: 5000
      name: http
      protocol: TCP
      targetPort: 5000
  selector:
    control-plane: de
