apiVersion: apps/v1
kind: Deployment
metadata:
  labels:
    control-plane: de
    app.kubernetes.io/part-of: radius-control-plane
  name: bicep-de
  namespace: {{ .Release.Namespace }}
spec:
  replicas: 1
  selector:
    matchLabels:
      control-plane: de
  template:
    metadata:
      labels:
        control-plane: de
        app.kubernetes.io/part-of: radius-control-plane
    spec:
      serviceAccountName: de-manager
      containers:
      - args:
        - --kubernetes=true
        envFrom:
        - secretRef: 
            name: bicep-de
        env:
        - name: ASPNETCORE_URLS
          value: http://+:6443
        - name: kubernetes
          value: "true"
        - name: RADIUSBACKENDURL
          value: https://ucp.radius-system:443/apis/api.ucp.dev/v1alpha3
        - name: ASPNETCORE_Logging__LogLevel__Default
          value: "Debug"
        image: {{ .Values.global.engine.image }}:{{ .Values.global.engine.tag }}
        name: de
        ports:
        - containerPort: 6443
          name: bicep-de-api
          protocol: TCP
        securityContext:
          allowPrivilegeEscalation: false
      terminationGracePeriodSeconds: 10
---
apiVersion: v1
kind: Secret
metadata:
  name: bicep-de
  namespace: {{ .Release.Namespace }}
  labels:
    control-plane: de
stringData:
# Configuration for 'Azure' provider functionality
{{ if eq .Values.global.identity.azure.kind "UCPCredential" }}
  SKIP_ARM: 'false' 
  ARM_AUTH_METHOD: 'UCPCredential'
{{ else if .Values.global.rp.provider.azure.servicePrincipal }}
  # Enable ARM with explicit credentials
  SKIP_ARM: 'false' 
  ARM_AUTH_METHOD: 'ServicePrincipal'
  AZURE_CLIENT_ID: {{ .Values.global.rp.provider.azure.servicePrincipal.clientId }}
  AZURE_CLIENT_SECRET: {{ .Values.global.rp.provider.azure.servicePrincipal.clientSecret }}
  AZURE_TENANT_ID: {{ .Values.global.rp.provider.azure.servicePrincipal.tenantId }}
{{ else }}
  # Skip ARM by default. Overwriting this secret will let you set this to false as well as configure credentials
  SKIP_ARM: 'true' 
{{ end }}
---
apiVersion: v1
kind: Service
metadata:
  name: de-api
  namespace: {{ .Release.Namespace }}
spec:
  ports:
    - port: 6443
      name: http
      protocol: TCP
      targetPort: 6443
  selector:
    control-plane: de
