{
  "swagger": "2.0",
  "info": {
    "title": "UCP Management APIs",
    "version": "2022-03-15-privatepreview",
    "description": "REST APIs for UCP",
    "x-cadl-generated": [
      {
        "emitter": "@azure-tools/cadl-autorest"
      }
    ]
  },
  "schemes": [
    "https"
  ],
  "host": "management.azure.com",
  "produces": [
    "application/json"
  ],
  "consumes": [
    "application/json"
  ],
  "security": [
    {
      "azure_auth": [
        "user_impersonation"
      ]
    }
  ],
  "securityDefinitions": {
    "azure_auth": {
      "type": "oauth2",
      "description": "Azure Active Directory OAuth2 Flow.",
      "flow": "implicit",
      "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
      "scopes": {
        "user_impersonation": "impersonate your user account"
      }
    }
  },
  "tags": [
    {
      "name": "Operations"
    },
    {
      "name": "Planes"
    }
  ],
  "paths": {
    "/planes/{planeType}/{planeName}": {
      "get": {
        "tags": [
          "Planes"
        ],
        "operationId": "Planes_Get",
        "description": "Retrieves information about a PlaneResource",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/Azure.ResourceManager.Radius.PlaneParam.planeType"
          },
          {
            "$ref": "#/parameters/Azure.ResourceManager.Radius.PlaneParam.planeName"
          }
        ],
        "responses": {
          "200": {
            "description": "ARM operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/PlaneResource"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        }
      },
      "put": {
        "tags": [
          "Planes"
        ],
        "operationId": "Planes_CreateOrUpdate",
        "description": "Creates or updates a PlaneResource",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/Azure.ResourceManager.Radius.PlaneParam.planeType"
          },
          {
            "$ref": "#/parameters/Azure.ResourceManager.Radius.PlaneParam.planeName"
          },
          {
            "name": "resource",
            "in": "body",
            "required": true,
            "description": "Resource create parameters.",
            "schema": {
              "$ref": "#/definitions/PlaneResource"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "ARM operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/PlaneResource"
            }
          },
          "201": {
            "description": "ARM create operation completed successfully.",
            "headers": {
              "Retry-After": {
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status.",
                "type": "integer",
                "format": "int32"
              }
            },
            "schema": {
              "$ref": "#/definitions/PlaneResource"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        }
      },
      "delete": {
        "tags": [
          "Planes"
        ],
        "operationId": "Planes_Delete",
        "description": "Deletes an existing PlaneResource",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/Azure.ResourceManager.Radius.PlaneParam.planeType"
          },
          {
            "$ref": "#/parameters/Azure.ResourceManager.Radius.PlaneParam.planeName"
          }
        ],
        "responses": {
          "200": {
            "description": "Resource deleted successfully."
          },
          "202": {
            "description": "Resource deletion accepted.",
            "headers": {
              "Retry-After": {
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status.",
                "type": "integer",
                "format": "int32"
              }
            }
          },
          "204": {
            "description": "Resource deleted successfully."
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        }
      }
    },
    "/providers/Ucp/operations": {
      "get": {
        "tags": [
          "Operations"
        ],
        "operationId": "Operations_List",
        "description": "List the operations for the provider",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "ARM operation completed successfully.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/OperationListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    }
  },
  "definitions": {
    "AwsCredentialProperties": {
      "type": "object",
      "properties": {
        "aws.com.iam": {
          "type": "string",
          "description": "Discriminator property for AwsCredentialProperties."
        },
        "accessKeyId": {
          "type": "string",
          "description": "Access key ID for AWS identity",
          "x-ms-secret": true
        },
        "secretAccessKey": {
          "type": "string",
          "description": "Secret Access Key for AWS identity",
          "x-ms-secret": true
        }
      },
      "description": "AWS credential storage properties",
      "discriminator": "aws.com.iam",
      "required": [
        "aws.com.iam",
        "accessKeyId",
        "secretAccessKey"
      ],
      "allOf": [
        {
          "$ref": "#/definitions/CredentialResourceProperties"
        }
      ]
    },
    "AzureServicePrincipalProperties": {
      "type": "object",
      "properties": {
        "azure.com.serviceprincipal": {
          "type": "string",
          "description": "Discriminator property for AzureServicePrincipalProperties."
        },
        "clientId": {
          "type": "string",
          "description": "clientId when the CredentialKind is ServicePrincipal"
        },
        "secret": {
          "type": "string",
          "description": "secret when the CredentialKind is ServicePrincipal",
          "x-ms-secret": true
        },
        "tenantId": {
          "type": "string",
          "description": "tenantId when the CredentialKind is ServicePrincipal"
        }
      },
      "description": "Service Principal credential storage properties",
      "discriminator": "azure.com.serviceprincipal",
      "required": [
        "azure.com.serviceprincipal",
        "clientId",
        "secret",
        "tenantId"
      ],
      "allOf": [
        {
          "$ref": "#/definitions/CredentialResourceProperties"
        }
      ]
    },
    "BasicResourceProperties": {
      "type": "object",
      "properties": {},
      "description": "Basic properties of a UCP resource."
    },
    "CredentialResource": {
      "type": "object",
      "properties": {
        "properties": {
          "$ref": "#/definitions/CredentialResourceProperties",
          "description": "The resource-specific properties for this resource.",
          "x-ms-client-flatten": true,
          "x-ms-mutability": [
            "read",
            "create"
          ]
        }
      },
      "description": "Credential to a plane instance",
      "allOf": [
        {
          "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/TrackedResource"
        }
      ]
    },
    "CredentialResourceProperties": {
      "type": "object",
      "properties": {
        "provisioningState": {
          "$ref": "#/definitions/ProvisioningState",
          "description": "Provisioning state of the redis cache link at the time the operation was called",
          "readOnly": true
        },
        "kind": {
          "type": "string",
          "description": "The kind of secret"
        },
        "storage": {
          "$ref": "#/definitions/CredentialStorageProperties",
          "description": "The storage properties"
        }
      },
      "description": "Credential properties",
      "required": [
        "kind",
        "storage"
      ],
      "allOf": [
        {
          "$ref": "#/definitions/BasicResourceProperties"
        }
      ]
    },
    "CredentialStorageKind": {
      "type": "string",
      "enum": [
        "Internal"
      ],
      "x-ms-enum": {
        "name": "CredentialStorageKind",
        "modelAsString": true
      }
    },
    "CredentialStorageProperties": {
      "type": "object",
      "properties": {
        "kind": {
          "$ref": "#/definitions/CredentialStorageKind",
          "description": "Credential store kinds supported."
        }
      },
      "description": "Credential storage properties",
      "required": [
        "kind"
      ]
    },
    "InternalCredentialStorageProperties": {
      "type": "object",
      "properties": {
        "Internal": {
          "type": "string",
          "description": "Discriminator property for InternalCredentialStorageProperties."
        },
        "secretName": {
          "type": "string",
          "description": "The name of secret stored.",
          "readOnly": true
        }
      },
      "description": "Internal credential storage properties",
      "discriminator": "Internal",
      "required": [
        "Internal",
        "secretName"
      ],
      "allOf": [
        {
          "$ref": "#/definitions/CredentialResourceProperties"
        }
      ]
    },
    "PlaneKind": {
      "type": "string",
      "description": "Plane kinds supported.",
      "enum": [
        "UCPNative",
        "Azure",
        "AWS"
      ],
      "x-ms-enum": {
        "name": "PlaneKind",
        "modelAsString": true
      }
    },
    "PlaneResource": {
      "type": "object",
      "properties": {
        "properties": {
          "$ref": "#/definitions/PlaneResourceProperties",
          "description": "The resource-specific properties for this resource.",
          "x-ms-client-flatten": true,
          "x-ms-mutability": [
            "read",
            "create"
          ]
        }
      },
      "description": "UCP PlaneResource.",
      "allOf": [
        {
          "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/TrackedResource"
        }
      ]
    },
    "PlaneResourceProperties": {
      "type": "object",
      "properties": {
        "kind": {
          "$ref": "#/definitions/PlaneKind",
          "description": "The kind of plane"
        },
        "url": {
          "type": "string",
          "description": "URL to forward requests to for non UCP Native Plane"
        },
        "resourceProviders": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "x-cadl-name": "string[]",
          "description": "Resource Providers for UCP Native Plane"
        }
      },
      "description": "Plane properties.",
      "required": [
        "kind",
        "url",
        "resourceProviders"
      ]
    },
    "ProvisioningState": {
      "type": "string",
      "description": "Provisioning state of the link at the time the operation was called",
      "enum": [
        "Succeeded",
        "Failed",
        "Canceled",
        "Provisioning",
        "Updating",
        "Deleting",
        "Accepted"
      ],
      "x-ms-enum": {
        "name": "ProvisioningState",
        "modelAsString": true
      }
    },
    "ResourceGroupResource": {
      "type": "object",
      "properties": {
        "properties": {
          "$ref": "#/definitions/BasicResourceProperties",
          "description": "The resource-specific properties for this resource.",
          "x-ms-client-flatten": true,
          "x-ms-mutability": [
            "read",
            "create"
          ]
        }
      },
      "description": "UCP ResourceGroup.",
      "allOf": [
        {
          "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/TrackedResource"
        }
      ]
    }
  },
  "parameters": {
    "Azure.ResourceManager.Radius.PlaneParam.planeName": {
      "name": "planeName",
      "in": "path",
      "required": true,
      "description": "The scope in which the resource is present. For Azure resource this would be /subscriptions/{subscriptionID}/resourceGroup/{resourcegroupID}",
      "minLength": 1,
      "x-ms-parameter-location": "client",
      "x-ms-skip-url-encoding": true,
      "type": "string"
    },
    "Azure.ResourceManager.Radius.PlaneParam.planeType": {
      "name": "planeType",
      "in": "path",
      "required": true,
      "description": "The scope in which the resource is present. For Azure resource this would be /subscriptions/{subscriptionID}/resourceGroup/{resourcegroupID}",
      "minLength": 1,
      "x-ms-parameter-location": "client",
      "x-ms-skip-url-encoding": true,
      "type": "string"
    }
  }
}
