# yaml-language-server: $schema=https://www.schemastore.org/github-workflow.json
---
name: "Approve Functional Tests"
on:
  pull_request:
    branches:
      - main
      - features/*
      - release/*

jobs:
  changes:
    name: Changes
    uses: ./.github/workflows/__changes.yml
    permissions:
      contents: read
      pull-requests: read

  approve-functional-tests-run:
    name: "Approve Functional Tests"
    runs-on: ubuntu-latest
    needs: changes
    if: needs.changes.outputs.only_changed != 'true'
    environment: functional-tests
    steps:
      - name: Checkout Radius repository
        uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6.0.0

      - name: Save PR number
        uses: ./.github/actions/save-pr-as-artifact
