name: 'Approve Functional Tests'
on:
  pull_request:
    paths:
    - '!versions.yaml'
    - '**'
    branches:
      - main
      - features/*
      - release/*
  
jobs:
  approve-functional-tests-run:
    name: 'Approve Functional Tests'
    runs-on: ubuntu-latest
    environment: functional-tests
    steps:
    - name: Use custom actions
      uses: actions/checkout@v3
    - name: Save PR number
      uses: ./.github/actions/save-pr-as-artifact
