# ------------------------------------------------------------
# Copyright (c) Microsoft Corporation.
# Licensed under the MIT License.
# ------------------------------------------------------------

name: Check code is up-to-date

on:
  push:
    branches:
      - main
      - release/*
    tags:
      - v*
  pull_request:
    branches:
      - main
      - release/*
jobs:
  build:
    name: Lint
    runs-on: self-hosted
    env:
      GOVER: '^1.17'
      GOPROXY: https://proxy.golang.org
    steps:
      - name: Check out repo
        uses: actions/checkout@v2
      - name: Set up Go ${{ env.GOVER }}
        uses: actions/setup-go@v2
        with:
          go-version: ${{ env.GOVER }}
      - name: Run linter
        uses: golangci/golangci-lint-action@v2
        with:
          version: 'latest'
          skip-go-installation: true
          args: --timeout=10m
  generate:
    name: Check generated code
    runs-on: self-hosted
    env:
      GOVER: '^1.17'
      GOPROXY: https://proxy.golang.org
    steps:
      - name: Check out repo
        uses: actions/checkout@v2
      - name: Set up Go ${{ env.GOVER }}
        uses: actions/setup-go@v2
        with:
          go-version: ${{ env.GOVER }}
      -name: Setup npm
        uses: actions/checkout@v2
        uses: actions/setup-node@v2
          with:
            node-version: '16'
            cache: 'npm'
        - run: npm install
      - name: Install autorest
        run: npm install -g autorest
      - name: Install mockgen
        run: go install github.com/golang/mock/mockgen@v1.5.0
      - name: Run make generate
        run: make generate
      - name: Check if generated code is up to date
        continue-on-error: true
        id: gitdiff
        run: |
          git diff --exit-code
      - name: Check failures
        if: steps.gitdiff.outcome != 'success'
        run: |
          echo "Generated code is not up to date, run 'make generate' to update generated code."
          exit 1
