# ------------------------------------------------------------
# Copyright (c) Microsoft Corporation.
# Licensed under the MIT License.
# ------------------------------------------------------------

name: Check code is up-to-date

on:
  push:
    branches:
      - main
      - release/*
    tags:
      - v*
  pull_request:
    branches:
      - main
      - release/*
jobs:
  build:
    name: Lint
    runs-on: ubuntu-latest
    env:
      GOVER: '^1.16.0'
      GOPROXY: https://proxy.golang.org
    steps:
      - name: Check out repo
        uses: actions/checkout@v2
      - name: Set up Go ${{ env.GOVER }}
        uses: actions/setup-go@v2
        with:
          go-version: ${{ env.GOVER }}
      - name: Run linter
        uses: golangci/golangci-lint-action@v2
        with:
          version: 'latest'
          skip-go-installation: true
          args: --timeout=10m
  generate:
    name: Check generated code
    runs-on: ubuntu-latest
    env:
      GOVER: '^1.16.0'
      GOPROXY: https://proxy.golang.org
    steps:
      - name: Check out repo
        uses: actions/checkout@v2
      - name: Set up Go ${{ env.GOVER }}
        uses: actions/setup-go@v2
        with:
          go-version: ${{ env.GOVER }}
      - name: Install autorest
        run: npm install -g autorest
      - name: Install mockgen
        run: go install github.com/golang/mock/mockgen@v1.5.0
      - name: Run make generate
        run: make generate
      - name: Check if generated code is up to date
        run: |
          git diff --exit-code
          exitCode=$?
          if [[ $exitCode != 0 ]]; then
            echo "Generated code is not up to date, run 'make generate' to update generated assets"
            exit 1
          fi

