name: Publish Deployment Engine Image
run-name: "(Deployment Engine) Publish Image - Tag: ${{ github.event.client_payload.tag }}"

on:
  workflow_dispatch:
    inputs:
      src_image:
        description: 'Source image in ACR (e.g. radiusdeploymentengine.azurecr.io/deployment-engine)'
        required: true
      dest_image:
        description: 'Destination image in GHCR (e.g. ghcr.io/radius-project/deployment-engine)'
        required: true
      tag:
        description: 'Tag for the image (e.g. 1.0)'
        required: true
  repository_dispatch:
    types: [deployment-engine.publish]

permissions: {}

# secrets from GitHub organization
  # ${{ secrets.GHCR_PASSWORD }}
  # ${{ secrets.ACR_AZURE_CLIENT_ID }}
  # ${{ secrets.ACR_AZURE_TENANT_ID }}
  # ${{ secrets.ACR_AZURE_SUBSCRIPTION_ID }}

jobs:
  publish-image:
    runs-on: ubuntu-latest
    environment:
      name: publish-de-image
    permissions:
      contents: read
      id-token: write
    steps:
      - uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6.0.0

      - name: Capture payload
        id: payload
        shell: bash
        env:
          SRC_IMAGE: ${{ github.event.client_payload.src_image }}
          DEST_IMAGE: ${{ github.event.client_payload.dest_image }}
          TAG: ${{ github.event.client_payload.tag }}
        run: |
          {
            echo "src_image=${SRC_IMAGE}"
            echo "dest_image=${DEST_IMAGE}"
            echo "tag=${TAG}"
          } >> "$GITHUB_OUTPUT"

      - name: Copy Deployment Engine image
        uses: ./.github/actions/copy-deployment-engine-image
        env:
          GHCR_PASSWORD: ${{ secrets.GHCR_PASSWORD }}
          DE_CONTAINER_AZURE_CLIENT_ID: ${{ secrets.DE_CONTAINER_AZURE_CLIENT_ID }}
          DE_CONTAINER_AZURE_TENANT_ID: ${{ secrets.DE_CONTAINER_AZURE_TENANT_ID }}
          DE_CONTAINER_AZURE_SUBSCRIPTION_ID: ${{ secrets.DE_CONTAINER_AZURE_SUBSCRIPTION_ID }}
        with:
          tag: ${{ steps.payload.outputs.tag }}
          src_image: ${{ steps.payload.outputs.src_image }}
          dest_image: ${{ steps.payload.outputs.dest_image }}
