# yaml-language-server: $schema=https://www.schemastore.org/github-workflow.json
---
name: Generate reference docs

on:
  workflow_dispatch:
    inputs:
      open_pull_request:
        description: |
          Open a pull request against the docs repository. Defaults to false for a "dry run" of the workflow that generates the docs and uploads them as artifacts.
        required: false
        default: "false"
        type: choice
        options:
          - "true"
          - "false"
  push:
    branches:
      - main
      - release/*
  pull_request:
    branches:
      - main

permissions: {}

jobs:
  changes:
    name: Changes
    uses: ./.github/workflows/__changes.yml
    permissions:
      contents: read
      pull-requests: read

  reference-docs:
    name: Generate and PR reference documentation
    if: github.repository == 'radius-project/radius' && needs.changes.outputs.only_changed != 'true'
    needs: [changes]
    runs-on: ubuntu-24.04
    timeout-minutes: 15
    env:
      GOPRIVATE: github.com/radius-project
    permissions:
      contents: read
      pull-requests: write
    steps:
      - name: Checkout radius repository
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
        with:
          repository: radius-project/radius
          path: radius
          persist-credentials: false

      - name: Setup Python
        uses: actions/setup-python@a309ff8b426b58ec0e2a45f0f869d46889d02405 # v6.2.0
        with:
          python-version-file: radius/.python-version

      - name: Parse release version and set environment variables
        run: python radius/.github/scripts/get_release_version.py

      - name: Generate docs release branch name
        run: |
          if [[ ${{ env.REL_CHANNEL }} != "edge" ]]; then
            echo DOCS_BRANCH="v${{ env.REL_CHANNEL }}" >> $GITHUB_ENV
          else
            echo DOCS_BRANCH="edge" >> $GITHUB_ENV
          fi

      - name: Checkout docs repository
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
        with:
          repository: radius-project/docs
          path: docs
          ref: ${{ env.DOCS_BRANCH }}
          persist-credentials: false

      # Setup dependencies
      - name: Setup Go
        uses: actions/setup-go@7a3fe6cf4cb3a834922a1244abfce67bcef6a0c5 # v6.2.0
        with:
          go-version-file: radius/go.mod
          cache-dependency-path: radius/go.sum
          cache: true

      - name: Setup NodeJS
        uses: actions/setup-node@6044e13b5dc448c55e2357c09f80417699197238 # v6.2.0
        with:
          node-version-file: radius/.node-version

      - name: Install mockgen
        run: |
          cd radius
          go install go.uber.org/mock/mockgen@v0.4.0

      - name: Install controller-gen
        run: |
          cd radius
          go install sigs.k8s.io/controller-tools/cmd/controller-gen@v0.17.0

      # Generate Bicep docs
      - name: Generate Bicep docs
        run: |
          cd radius
          make generate

      # Generate resource reference docs
      - name: Generate resource reference docs
        run: python docs/.github/scripts/generate_resource_references.py ./radius/hack/bicep-types-radius/generated/ ./docs/docs/content/reference/resources

      - name: Upload resource reference docs
        uses: actions/upload-artifact@b7c566a772e6b6bfb58ed0dc250532a479d7789f # v6.0.0
        with:
          name: resource-docs
          path: docs/docs/content/reference/resources

      # Generate and upload CLI docs
      - name: Generate CLI docs
        run: |
          find docs/docs/content/reference/cli -type f ! -name '_index.md' -delete
          cd radius
          go run cmd/docgen/main.go ../docs/docs/content/reference/cli

      - name: Upload CLI docs
        uses: actions/upload-artifact@b7c566a772e6b6bfb58ed0dc250532a479d7789f # v6.0.0
        with:
          name: cli-docs
          path: docs/docs/content/reference/cli

      # Open PR against docs repository
      - name: Show git diff
        run: |
          cd docs
          git status --porcelain -unormal -- *.md

      - name: Create pull request
        if: github.event_name == 'push' || (github.event_name == 'workflow_dispatch' && github.event.inputs.open_pull_request == 'true')
        uses: peter-evans/create-pull-request@c0f553fe549906ede9cf27b5156039d195d2ece0 # v8.1.0
        with:
          token: ${{ secrets.GH_RAD_CI_BOT_PAT }}
          path: docs
          add-paths: |
            *.md
          committer: rad-ci-bot <rad-ci-bot@users.noreply.github.com>
          author: rad-ci-bot <rad-ci-bot@users.noreply.github.com>
          signoff: true
          branch: reference-cli/patch-${{ github.sha }}
          delete-branch: true
          title: |
            Update auto-generated documentation
          body: |
            ## Autogenerated PR

            This PR updates the auto-generated reference documentation.

            GitHub SHA: ${{ github.sha }}
          commit-message: |
            Autogenerate reference docs
