name: Generate reference docs

on:
  workflow_dispatch:
  push:
    branches:
      - main
      - release/*
  pull_request:
    types: [opened, synchronize, reopened, closed]
    branches:
      - main
      - release/*

jobs:
  cli-docs:
    name: Generate CLI reference docs
    runs-on: ubuntu-latest
    env:
      GOVER: '^1.17'
      GOPRIVATE: github.com/project-radius
    steps:
      - name: Checkout radius repository
        uses: actions/checkout@v3
        with:
          repository: project-radius/radius
          path: radius
      - name: Parse release version and set environment variables
        run: python radius/.github/scripts/get_release_version.py
      - name: Checkout docs repository
        uses: actions/checkout@v3
        with:
          repository: project-radius/docs
          path: docs
          ref: v${{ env.REL_CHANNEL }}
          token: ${{ secrets.GH_RAD_CI_BOT_PAT }}
      - name: Setup Go
        uses: actions/setup-go@v4
        with:
          go-version: ${{ env.GOVER }}
          cache-dependency-path: radius/go.sum
      - name: Generate CLI docs
        run: |
            find docs/docs/content/reference/cli -type f ! -name '_index.md' -delete
            go run radius/cmd/docgen/main.go docs/docs/content/reference/cli
      - name: Upload CLI docs
        uses: actions/upload-artifact@v3
        with:
          name: cli-docs
          path: docs/docs/content/reference/cli
      - name: Create pull request
        uses: peter-evans/create-pull-request@v5
        #if: github.event_name != 'pull_request'
        with:
          token: ${{ secrets.GH_RAD_CI_BOT_PAT }}
          path: docs
          add-paths: |
            *.md
          committer: rad-ci-bot <rad-ci-bot@users.noreply.github.com>
          author: rad-ci-bot <rad-ci-bot@users.noreply.github.com>
          branch: reference-cli/patch-${{ github.sha }}
          delete-branch: true
          title: |
            Update rad CLI documentation
          body: |
            ## Autogenerated PR
            
            This PR updates the rad CLI reference documentation.

            GitHub SHA: ${{ github.sha }}
          commit-message: |
            Autogenerate rad CLI reference docs
