# yaml-language-server: $schema=https://www.schemastore.org/github-workflow.json
---
name: "Delete all GitHub artifacts"

on:
  workflow_dispatch:
    inputs:
      retention:
        description: "Retention period (0 = delete immediately)"
        required: true
        default: "0"

jobs:
  delete-artifacts:
    runs-on: ubuntu-latest
    steps:
      - uses: kolpav/purge-artifacts-action@04c636a505f26ebc82f8d070b202fb87ff572b10 # v1
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
          expire-in: ${{ github.event.inputs.retention }}
