name: 'Delete all GitHub artifacts'

on:
  workflow_dispatch:
    inputs:
      retention:
        description: 'Retention period (0 = delete immediately)'     
        required: true
        default: '0'

jobs:
  delete-artifacts:
    runs-on: ubuntu-latest
    steps:
      - uses: kolpav/purge-artifacts-action@v1
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
          expire-in: ${{ github.event.inputs.retention }}
