# yaml-language-server: $schema=https://www.schemastore.org/github-workflow.json
---
name: radius-bot

on:
  issue_comment:
    types: [created]

jobs:
  radius-bot:
    name: Run Radius Bot script
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Repository
        uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6.0.0
        with:
          sparse-checkout: |
            .github/scripts/radius-bot.js
          sparse-checkout-cone-mode: false

      - name: Comment analyzer
        uses: actions/github-script@ed597411d8f924073f98dfc5c65a23a2325f34cd # v8
        env:
          TEAM_SLUG: "approvers-radius"
        with:
          github-token: ${{ secrets.GH_RAD_CI_BOT_PAT }}
          script: |
            const script = require('./.github/scripts/radius-bot.js')
            await script({github, context})
