# ------------------------------------------------------------
# Copyright 2023 The Radius Authors.
#
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#    
#     http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.
# ------------------------------------------------------------

name: Release verification

on:
  workflow_dispatch:
    inputs:
      version:
        description: 'Radius version number to use (e.g. 0.24.0, 0.24.0-rc1)'
        required: true
        default: ''
        type: string
  
jobs:
  release-verification:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
        with:
          token: ${{ secrets.GH_RAD_CI_BOT_PAT }}
      - name: Ensure inputs.version is valid semver
        run: |
          python ./.github/scripts/validate_semver.py ${{ inputs.version }}
      - name: Run release verification
        run: |
          ./.github/scripts/release-verification.sh ${{ inputs.version }}
