{
  "swagger": "2.0",
  "info": {
    "title": "Radius Core Resource Provider",
    "version": "2025-08-01-preview",
    "description": "REST APIs for next-generation Radius Core resources (preview).",
    "x-typespec-generated": [
      {
        "emitter": "@azure-tools/typespec-autorest"
      }
    ]
  },
  "schemes": [
    "https"
  ],
  "host": "management.azure.com",
  "produces": [
    "application/json"
  ],
  "consumes": [
    "application/json"
  ],
  "security": [
    {
      "azure_auth": [
        "user_impersonation"
      ]
    }
  ],
  "securityDefinitions": {
    "azure_auth": {
      "type": "oauth2",
      "description": "Azure Active Directory OAuth2 Flow.",
      "flow": "implicit",
      "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
      "scopes": {
        "user_impersonation": "impersonate your user account"
      }
    }
  },
  "tags": [
    {
      "name": "Operations"
    },
    {
      "name": "Applications"
    },
    {
      "name": "BicepSettings"
    },
    {
      "name": "Environments"
    },
    {
      "name": "RecipePacks"
    },
    {
      "name": "TerraformSettings"
    }
  ],
  "paths": {
    "/{rootScope}/providers/Radius.Core/applications": {
      "get": {
        "operationId": "Applications_ListByScope",
        "tags": [
          "Applications"
        ],
        "description": "List ApplicationResource resources by Scope",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/RootScopeParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/ApplicationResourceListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Get applications by resource group": {
            "$ref": "./examples/Applications_List.json"
          },
          "Get applications by rootScope": {
            "$ref": "./examples/Applications_ListByScope.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/{rootScope}/providers/Radius.Core/applications/{applicationName}": {
      "get": {
        "operationId": "Applications_Get",
        "tags": [
          "Applications"
        ],
        "description": "Get a ApplicationResource",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/RootScopeParameter"
          },
          {
            "name": "applicationName",
            "in": "path",
            "description": "The application name",
            "required": true,
            "type": "string",
            "maxLength": 63,
            "pattern": "^[A-Za-z]([-A-Za-z0-9]*[A-Za-z0-9])?$"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/ApplicationResource"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Get an application resource": {
            "$ref": "./examples/Applications_Get.json"
          }
        }
      },
      "put": {
        "operationId": "Applications_CreateOrUpdate",
        "tags": [
          "Applications"
        ],
        "description": "Create a ApplicationResource",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/RootScopeParameter"
          },
          {
            "name": "applicationName",
            "in": "path",
            "description": "The application name",
            "required": true,
            "type": "string",
            "maxLength": 63,
            "pattern": "^[A-Za-z]([-A-Za-z0-9]*[A-Za-z0-9])?$"
          },
          {
            "name": "resource",
            "in": "body",
            "description": "Resource create parameters.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/ApplicationResource"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Resource 'ApplicationResource' update operation succeeded",
            "schema": {
              "$ref": "#/definitions/ApplicationResource"
            }
          },
          "201": {
            "description": "Resource 'ApplicationResource' create operation succeeded",
            "schema": {
              "$ref": "#/definitions/ApplicationResource"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Create or update an application resource": {
            "$ref": "./examples/Applications_CreateOrUpdate.json"
          }
        }
      },
      "patch": {
        "operationId": "Applications_Update",
        "tags": [
          "Applications"
        ],
        "description": "Update a ApplicationResource",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/RootScopeParameter"
          },
          {
            "name": "applicationName",
            "in": "path",
            "description": "The application name",
            "required": true,
            "type": "string",
            "maxLength": 63,
            "pattern": "^[A-Za-z]([-A-Za-z0-9]*[A-Za-z0-9])?$"
          },
          {
            "name": "properties",
            "in": "body",
            "description": "The resource properties to be updated.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/ApplicationResourceUpdate"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/ApplicationResource"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        }
      },
      "delete": {
        "operationId": "Applications_Delete",
        "tags": [
          "Applications"
        ],
        "description": "Delete a ApplicationResource",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/RootScopeParameter"
          },
          {
            "name": "applicationName",
            "in": "path",
            "description": "The application name",
            "required": true,
            "type": "string",
            "maxLength": 63,
            "pattern": "^[A-Za-z]([-A-Za-z0-9]*[A-Za-z0-9])?$"
          }
        ],
        "responses": {
          "200": {
            "description": "Resource deleted successfully."
          },
          "204": {
            "description": "Resource does not exist."
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Delete an application resource": {
            "$ref": "./examples/Applications_Delete.json"
          }
        }
      }
    },
    "/{rootScope}/providers/Radius.Core/applications/{applicationName}/getGraph": {
      "post": {
        "operationId": "Applications_GetGraph",
        "tags": [
          "Applications"
        ],
        "description": "Gets the application graph and resources.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/RootScopeParameter"
          },
          {
            "name": "applicationName",
            "in": "path",
            "description": "The application name",
            "required": true,
            "type": "string",
            "maxLength": 63,
            "pattern": "^[A-Za-z]([-A-Za-z0-9]*[A-Za-z0-9])?$"
          },
          {
            "name": "body",
            "in": "body",
            "description": "The content of the action request",
            "required": true,
            "schema": {
              "$ref": "#/definitions/GetGraphRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/ApplicationGraphResponse"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        }
      }
    },
    "/{rootScope}/providers/Radius.Core/bicepSettings": {
      "get": {
        "operationId": "BicepSettings_ListByScope",
        "tags": [
          "BicepSettings"
        ],
        "description": "List BicepSettingsResource resources by Scope",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/RootScopeParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/BicepSettingsResourceListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/{rootScope}/providers/Radius.Core/bicepSettings/{bicepSettingsName}": {
      "get": {
        "operationId": "BicepSettings_Get",
        "tags": [
          "BicepSettings"
        ],
        "description": "Get a BicepSettingsResource",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/RootScopeParameter"
          },
          {
            "name": "bicepSettingsName",
            "in": "path",
            "description": "Bicep settings name",
            "required": true,
            "type": "string",
            "maxLength": 63,
            "pattern": "^[A-Za-z]([-A-Za-z0-9]*[A-Za-z0-9])?$"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/BicepSettingsResource"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        }
      },
      "put": {
        "operationId": "BicepSettings_CreateOrUpdate",
        "tags": [
          "BicepSettings"
        ],
        "description": "Create a BicepSettingsResource",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/RootScopeParameter"
          },
          {
            "name": "bicepSettingsName",
            "in": "path",
            "description": "Bicep settings name",
            "required": true,
            "type": "string",
            "maxLength": 63,
            "pattern": "^[A-Za-z]([-A-Za-z0-9]*[A-Za-z0-9])?$"
          },
          {
            "name": "resource",
            "in": "body",
            "description": "Resource create parameters.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/BicepSettingsResource"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Resource 'BicepSettingsResource' update operation succeeded",
            "schema": {
              "$ref": "#/definitions/BicepSettingsResource"
            }
          },
          "201": {
            "description": "Resource 'BicepSettingsResource' create operation succeeded",
            "schema": {
              "$ref": "#/definitions/BicepSettingsResource"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        }
      },
      "patch": {
        "operationId": "BicepSettings_Update",
        "tags": [
          "BicepSettings"
        ],
        "description": "Update a BicepSettingsResource",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/RootScopeParameter"
          },
          {
            "name": "bicepSettingsName",
            "in": "path",
            "description": "Bicep settings name",
            "required": true,
            "type": "string",
            "maxLength": 63,
            "pattern": "^[A-Za-z]([-A-Za-z0-9]*[A-Za-z0-9])?$"
          },
          {
            "name": "properties",
            "in": "body",
            "description": "The resource properties to be updated.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/BicepSettingsResourceUpdate"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/BicepSettingsResource"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        }
      },
      "delete": {
        "operationId": "BicepSettings_Delete",
        "tags": [
          "BicepSettings"
        ],
        "description": "Delete a BicepSettingsResource",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/RootScopeParameter"
          },
          {
            "name": "bicepSettingsName",
            "in": "path",
            "description": "Bicep settings name",
            "required": true,
            "type": "string",
            "maxLength": 63,
            "pattern": "^[A-Za-z]([-A-Za-z0-9]*[A-Za-z0-9])?$"
          }
        ],
        "responses": {
          "200": {
            "description": "Resource deleted successfully."
          },
          "204": {
            "description": "Resource does not exist."
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        }
      }
    },
    "/{rootScope}/providers/Radius.Core/environments": {
      "get": {
        "operationId": "Environments_ListByScope",
        "tags": [
          "Environments"
        ],
        "description": "List EnvironmentResource resources by Scope",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/RootScopeParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/EnvironmentResourceListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/{rootScope}/providers/Radius.Core/environments/{environmentName}": {
      "get": {
        "operationId": "Environments_Get",
        "tags": [
          "Environments"
        ],
        "description": "Get a EnvironmentResource",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/RootScopeParameter"
          },
          {
            "name": "environmentName",
            "in": "path",
            "description": "environment name",
            "required": true,
            "type": "string",
            "maxLength": 63,
            "pattern": "^[A-Za-z]([-A-Za-z0-9]*[A-Za-z0-9])?$"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/EnvironmentResource"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        }
      },
      "put": {
        "operationId": "Environments_CreateOrUpdate",
        "tags": [
          "Environments"
        ],
        "description": "Create a EnvironmentResource",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/RootScopeParameter"
          },
          {
            "name": "environmentName",
            "in": "path",
            "description": "environment name",
            "required": true,
            "type": "string",
            "maxLength": 63,
            "pattern": "^[A-Za-z]([-A-Za-z0-9]*[A-Za-z0-9])?$"
          },
          {
            "name": "resource",
            "in": "body",
            "description": "Resource create parameters.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/EnvironmentResource"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Resource 'EnvironmentResource' update operation succeeded",
            "schema": {
              "$ref": "#/definitions/EnvironmentResource"
            }
          },
          "201": {
            "description": "Resource 'EnvironmentResource' create operation succeeded",
            "schema": {
              "$ref": "#/definitions/EnvironmentResource"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Create or Update an environment with Azure provider and identity": {
            "$ref": "./examples/Environments_CreateOrUpdate_Azure.json"
          },
          "Create or Update an environment with Kubernetes provider": {
            "$ref": "./examples/Environments_CreateOrUpdate_Kubernetes.json"
          },
          "Create or Update an environment with hybrid Azure and Kubernetes providers": {
            "$ref": "./examples/Environments_CreateOrUpdate_Hybrid.json"
          }
        }
      },
      "patch": {
        "operationId": "Environments_Update",
        "tags": [
          "Environments"
        ],
        "description": "Update a EnvironmentResource",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/RootScopeParameter"
          },
          {
            "name": "environmentName",
            "in": "path",
            "description": "environment name",
            "required": true,
            "type": "string",
            "maxLength": 63,
            "pattern": "^[A-Za-z]([-A-Za-z0-9]*[A-Za-z0-9])?$"
          },
          {
            "name": "properties",
            "in": "body",
            "description": "The resource properties to be updated.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/EnvironmentResourceUpdate"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/EnvironmentResource"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        }
      },
      "delete": {
        "operationId": "Environments_Delete",
        "tags": [
          "Environments"
        ],
        "description": "Delete a EnvironmentResource",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/RootScopeParameter"
          },
          {
            "name": "environmentName",
            "in": "path",
            "description": "environment name",
            "required": true,
            "type": "string",
            "maxLength": 63,
            "pattern": "^[A-Za-z]([-A-Za-z0-9]*[A-Za-z0-9])?$"
          }
        ],
        "responses": {
          "200": {
            "description": "Resource deleted successfully."
          },
          "204": {
            "description": "Resource does not exist."
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        }
      }
    },
    "/{rootScope}/providers/Radius.Core/recipePacks": {
      "get": {
        "operationId": "RecipePacks_ListByScope",
        "tags": [
          "RecipePacks"
        ],
        "description": "List RecipePackResource resources by Scope",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/RootScopeParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/RecipePackResourceListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "List recipe packs by scope": {
            "$ref": "./examples/RecipePacks_ListByScope.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/{rootScope}/providers/Radius.Core/recipePacks/{recipePackName}": {
      "get": {
        "operationId": "RecipePacks_Get",
        "tags": [
          "RecipePacks"
        ],
        "description": "Get a RecipePackResource",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/RootScopeParameter"
          },
          {
            "name": "recipePackName",
            "in": "path",
            "description": "Recipe pack name",
            "required": true,
            "type": "string",
            "maxLength": 63,
            "pattern": "^[A-Za-z]([-A-Za-z0-9]*[A-Za-z0-9])?$"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/RecipePackResource"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Get a recipe pack": {
            "$ref": "./examples/RecipePacks_Get.json"
          }
        }
      },
      "put": {
        "operationId": "RecipePacks_CreateOrUpdate",
        "tags": [
          "RecipePacks"
        ],
        "description": "Create a RecipePackResource",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/RootScopeParameter"
          },
          {
            "name": "recipePackName",
            "in": "path",
            "description": "Recipe pack name",
            "required": true,
            "type": "string",
            "maxLength": 63,
            "pattern": "^[A-Za-z]([-A-Za-z0-9]*[A-Za-z0-9])?$"
          },
          {
            "name": "resource",
            "in": "body",
            "description": "Resource create parameters.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/RecipePackResource"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Resource 'RecipePackResource' update operation succeeded",
            "schema": {
              "$ref": "#/definitions/RecipePackResource"
            }
          },
          "201": {
            "description": "Resource 'RecipePackResource' create operation succeeded",
            "schema": {
              "$ref": "#/definitions/RecipePackResource"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Create or Update a recipe pack": {
            "$ref": "./examples/RecipePacks_CreateOrUpdate.json"
          }
        }
      },
      "patch": {
        "operationId": "RecipePacks_Update",
        "tags": [
          "RecipePacks"
        ],
        "description": "Update a RecipePackResource",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/RootScopeParameter"
          },
          {
            "name": "recipePackName",
            "in": "path",
            "description": "Recipe pack name",
            "required": true,
            "type": "string",
            "maxLength": 63,
            "pattern": "^[A-Za-z]([-A-Za-z0-9]*[A-Za-z0-9])?$"
          },
          {
            "name": "properties",
            "in": "body",
            "description": "The resource properties to be updated.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/RecipePackResourceUpdate"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/RecipePackResource"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        }
      },
      "delete": {
        "operationId": "RecipePacks_Delete",
        "tags": [
          "RecipePacks"
        ],
        "description": "Delete a RecipePackResource",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/RootScopeParameter"
          },
          {
            "name": "recipePackName",
            "in": "path",
            "description": "Recipe pack name",
            "required": true,
            "type": "string",
            "maxLength": 63,
            "pattern": "^[A-Za-z]([-A-Za-z0-9]*[A-Za-z0-9])?$"
          }
        ],
        "responses": {
          "200": {
            "description": "Resource deleted successfully."
          },
          "204": {
            "description": "Resource does not exist."
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Delete a recipe pack": {
            "$ref": "./examples/RecipePacks_Delete.json"
          }
        }
      }
    },
    "/{rootScope}/providers/Radius.Core/terraformSettings": {
      "get": {
        "operationId": "TerraformSettings_ListByScope",
        "tags": [
          "TerraformSettings"
        ],
        "description": "List TerraformSettingsResource resources by Scope",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/RootScopeParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/TerraformSettingsResourceListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/{rootScope}/providers/Radius.Core/terraformSettings/{terraformSettingsName}": {
      "get": {
        "operationId": "TerraformSettings_Get",
        "tags": [
          "TerraformSettings"
        ],
        "description": "Get a TerraformSettingsResource",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/RootScopeParameter"
          },
          {
            "name": "terraformSettingsName",
            "in": "path",
            "description": "Terraform settings name",
            "required": true,
            "type": "string",
            "maxLength": 63,
            "pattern": "^[A-Za-z]([-A-Za-z0-9]*[A-Za-z0-9])?$"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/TerraformSettingsResource"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        }
      },
      "put": {
        "operationId": "TerraformSettings_CreateOrUpdate",
        "tags": [
          "TerraformSettings"
        ],
        "description": "Create a TerraformSettingsResource",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/RootScopeParameter"
          },
          {
            "name": "terraformSettingsName",
            "in": "path",
            "description": "Terraform settings name",
            "required": true,
            "type": "string",
            "maxLength": 63,
            "pattern": "^[A-Za-z]([-A-Za-z0-9]*[A-Za-z0-9])?$"
          },
          {
            "name": "resource",
            "in": "body",
            "description": "Resource create parameters.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/TerraformSettingsResource"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Resource 'TerraformSettingsResource' update operation succeeded",
            "schema": {
              "$ref": "#/definitions/TerraformSettingsResource"
            }
          },
          "201": {
            "description": "Resource 'TerraformSettingsResource' create operation succeeded",
            "schema": {
              "$ref": "#/definitions/TerraformSettingsResource"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        }
      },
      "patch": {
        "operationId": "TerraformSettings_Update",
        "tags": [
          "TerraformSettings"
        ],
        "description": "Update a TerraformSettingsResource",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/RootScopeParameter"
          },
          {
            "name": "terraformSettingsName",
            "in": "path",
            "description": "Terraform settings name",
            "required": true,
            "type": "string",
            "maxLength": 63,
            "pattern": "^[A-Za-z]([-A-Za-z0-9]*[A-Za-z0-9])?$"
          },
          {
            "name": "properties",
            "in": "body",
            "description": "The resource properties to be updated.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/TerraformSettingsResourceUpdate"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/TerraformSettingsResource"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        }
      },
      "delete": {
        "operationId": "TerraformSettings_Delete",
        "tags": [
          "TerraformSettings"
        ],
        "description": "Delete a TerraformSettingsResource",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/RootScopeParameter"
          },
          {
            "name": "terraformSettingsName",
            "in": "path",
            "description": "Terraform settings name",
            "required": true,
            "type": "string",
            "maxLength": 63,
            "pattern": "^[A-Za-z]([-A-Za-z0-9]*[A-Za-z0-9])?$"
          }
        ],
        "responses": {
          "200": {
            "description": "Resource deleted successfully."
          },
          "204": {
            "description": "Resource does not exist."
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        }
      }
    },
    "/providers/Radius.Core/operations": {
      "get": {
        "operationId": "Operations_List",
        "tags": [
          "Operations"
        ],
        "description": "List the operations for the provider",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/OperationListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    }
  },
  "definitions": {
    "ApplicationGraphConnection": {
      "type": "object",
      "description": "Describes the connection between two resources.",
      "properties": {
        "id": {
          "type": "string",
          "description": "The resource ID "
        },
        "direction": {
          "$ref": "#/definitions/Direction",
          "description": "The direction of the connection. 'Outbound' indicates this connection specifies the ID of the destination and 'Inbound' indicates indicates this connection specifies the ID of the source."
        },
        "kind": {
          "$ref": "#/definitions/ConnectionKind",
          "description": "Discriminator identifying the origin of this edge. 'Connection' edges are author-declared entries under properties.connections. 'Dependency' edges are implicit dependencies derived from Bicep's dependsOn list (static graph only in Phase 1). Every emitted edge carries a kind."
        }
      },
      "required": [
        "id",
        "direction",
        "kind"
      ]
    },
    "ApplicationGraphOutputResource": {
      "type": "object",
      "description": "Describes an output resource that comprises an application graph resource.",
      "properties": {
        "id": {
          "type": "string",
          "description": "The resource ID."
        },
        "type": {
          "type": "string",
          "description": "The resource type."
        },
        "name": {
          "type": "string",
          "description": "The resource name."
        },
        "portalUrl": {
          "type": "string",
          "description": "A deep link to the underlying resource in its cloud provider's portal (for example, the Azure portal). Empty when no link is available for the resource."
        }
      },
      "required": [
        "id",
        "type",
        "name"
      ]
    },
    "ApplicationGraphResource": {
      "type": "object",
      "description": "Describes a resource in the application graph.",
      "properties": {
        "id": {
          "type": "string",
          "description": "The resource ID."
        },
        "type": {
          "type": "string",
          "description": "The resource type."
        },
        "name": {
          "type": "string",
          "description": "The resource name."
        },
        "outputResources": {
          "type": "array",
          "description": "The resources that comprise this resource.",
          "items": {
            "$ref": "#/definitions/ApplicationGraphOutputResource"
          },
          "x-ms-identifiers": [
            "id"
          ]
        },
        "connections": {
          "type": "array",
          "description": "The connections between resources in the application graph.",
          "items": {
            "$ref": "#/definitions/ApplicationGraphConnection"
          },
          "x-ms-identifiers": []
        },
        "provisioningState": {
          "type": "string",
          "description": "provisioningState of this resource."
        },
        "diffHash": {
          "type": "string",
          "description": "Stable hash over the authorable properties of this resource and its sorted dependsOn list. Used by tooling to classify resources as added, removed, modified, or unchanged across graphs. Format: 'sha256:{hex}'."
        },
        "iconHash": {
          "type": "string",
          "description": "SHA-256 hex of the resource type's icon SVG, matching `iconHash` on the resource-type registry. Null when the type has no icon registered. The bytes themselves are delivered inline via `ApplicationGraphResponse.icons` when the request specifies `includeIcons: true`; otherwise clients fetch bytes by hash from the resource-type icon endpoint."
        },
        "properties": {
          "type": "object",
          "description": "Resource-type-specific properties of the resource as returned by its resource provider. The shape of this map varies by `type` (e.g. a `Radius.Compute/containers` resource exposes different keys than `Radius.Datastores/redisCaches` or any user-defined resource type) and matches the `properties` returned by that resource's GET response. Top-level keys already surfaced as first-class fields on this model (`provisioningState`, `connections`) are omitted. The whole `status` object is also omitted because it may contain computed values that include sensitive data (for example, connection strings); the redundant `status.outputResources` list is surfaced via the dedicated `outputResources` field instead. Use `diffHash` rather than a byte-wise compare of this map to detect change.",
          "additionalProperties": {}
        }
      },
      "required": [
        "id",
        "type",
        "name",
        "outputResources",
        "connections",
        "provisioningState"
      ]
    },
    "ApplicationGraphResponse": {
      "type": "object",
      "description": "Describes the application architecture and its dependencies.",
      "properties": {
        "resources": {
          "type": "array",
          "description": "The resources in the application graph.",
          "items": {
            "$ref": "#/definitions/ApplicationGraphResource"
          },
          "x-ms-identifiers": [
            "id"
          ]
        },
        "icons": {
          "type": "object",
          "description": "Map from iconHash to the verbatim SVG UTF-8 bytes for every icon referenced by any resource in this response. Populated only when the request specifies `includeIcons: true`.",
          "additionalProperties": {
            "type": "string"
          }
        }
      },
      "required": [
        "resources"
      ]
    },
    "ApplicationProperties": {
      "type": "object",
      "description": "Application properties",
      "properties": {
        "provisioningState": {
          "$ref": "#/definitions/ProvisioningState",
          "description": "(Read Only) The status of the Application resource within the Radius control plane. Does not include the other resources that compose the Application.",
          "readOnly": true
        },
        "environment": {
          "type": "string",
          "description": "(Required) Fully qualified resource ID of the environment the application is deployed to"
        },
        "status": {
          "$ref": "#/definitions/ResourceStatus",
          "description": "(Read Only) Deployment details for the Application, including any output resources Radius created for it.",
          "readOnly": true
        }
      },
      "required": [
        "environment"
      ]
    },
    "ApplicationResource": {
      "type": "object",
      "description": "The `Radius.Core/applications` Resource Type represents a Radius Application: a logical grouping of the resources that make up a single Application, such as containers, databases, and message queues, along with the connections between them. Radius uses the Application to build the application graph, apply shared configuration, and manage its resources together throughout their lifecycle.\n\n## Defining an Application\n\nAn Application is always deployed to a Radius Environment, which is supplied through the `environment` property. To define an Application, add a `Radius.Core/applications` resource to your application definition Bicep file.\n\n```bicep\nextension radius\n\n@description('The Radius Environment ID. Injected automatically by the rad CLI.')\nparam environment string\n\nresource myApp 'Radius.Core/applications@2025-08-01-preview' = {\n  name: 'my-app'\n  properties: {\n    environment: environment\n  }\n}\n```\n\n## Deploying an Application\n\nAn Application is deployed with the `rad deploy` command, which deploys the Application together with the resources that belong to it:\n\n```bash\nrad deploy ./app.bicep\n```\n\n## Adding resources to an Application\n\nResources are composed into an Application by setting their `application` property to the Application's ID. For example, to add a Container to this Application, add the following to the application definition Bicep file and set `application: myApp.id`:\n\n```bicep\nresource frontend 'Radius.Compute/containers@2025-08-01-preview' = {\n  name: 'frontend'\n  properties: {\n    environment: environment\n    application: myApp.id\n    containers: {\n      frontend: {\n        image: 'ghcr.io/my-org/frontend:latest'\n      }\n    }\n  }\n}\n```\n\nFor more information, see the Radius documentation at https://docs.radapp.io.",
      "properties": {
        "properties": {
          "$ref": "#/definitions/ApplicationProperties",
          "description": "The resource-specific properties for this resource.",
          "x-ms-client-flatten": true,
          "x-ms-mutability": [
            "read",
            "create"
          ]
        }
      },
      "required": [
        "properties"
      ],
      "allOf": [
        {
          "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/TrackedResource"
        }
      ]
    },
    "ApplicationResourceListResult": {
      "type": "object",
      "description": "The response of a ApplicationResource list operation.",
      "properties": {
        "value": {
          "type": "array",
          "description": "The ApplicationResource items on this page",
          "items": {
            "$ref": "#/definitions/ApplicationResource"
          }
        },
        "nextLink": {
          "type": "string",
          "format": "uri",
          "description": "The link to the next page of items"
        }
      },
      "required": [
        "value"
      ]
    },
    "ApplicationResourceUpdate": {
      "type": "object",
      "description": "The `Radius.Core/applications` Resource Type represents a Radius Application: a logical grouping of the resources that make up a single Application, such as containers, databases, and message queues, along with the connections between them. Radius uses the Application to build the application graph, apply shared configuration, and manage its resources together throughout their lifecycle.\n\n## Defining an Application\n\nAn Application is always deployed to a Radius Environment, which is supplied through the `environment` property. To define an Application, add a `Radius.Core/applications` resource to your application definition Bicep file.\n\n```bicep\nextension radius\n\n@description('The Radius Environment ID. Injected automatically by the rad CLI.')\nparam environment string\n\nresource myApp 'Radius.Core/applications@2025-08-01-preview' = {\n  name: 'my-app'\n  properties: {\n    environment: environment\n  }\n}\n```\n\n## Deploying an Application\n\nAn Application is deployed with the `rad deploy` command, which deploys the Application together with the resources that belong to it:\n\n```bash\nrad deploy ./app.bicep\n```\n\n## Adding resources to an Application\n\nResources are composed into an Application by setting their `application` property to the Application's ID. For example, to add a Container to this Application, add the following to the application definition Bicep file and set `application: myApp.id`:\n\n```bicep\nresource frontend 'Radius.Compute/containers@2025-08-01-preview' = {\n  name: 'frontend'\n  properties: {\n    environment: environment\n    application: myApp.id\n    containers: {\n      frontend: {\n        image: 'ghcr.io/my-org/frontend:latest'\n      }\n    }\n  }\n}\n```\n\nFor more information, see the Radius documentation at https://docs.radapp.io.",
      "allOf": [
        {
          "$ref": "#/definitions/Azure.ResourceManager.CommonTypes.TrackedResourceUpdate"
        }
      ]
    },
    "Azure.ResourceManager.CommonTypes.TrackedResourceUpdate": {
      "type": "object",
      "title": "Tracked Resource",
      "description": "The resource model definition for an Azure Resource Manager tracked top level resource which has 'tags' and a 'location'",
      "properties": {
        "tags": {
          "type": "object",
          "description": "Resource tags.",
          "additionalProperties": {
            "type": "string"
          }
        }
      },
      "allOf": [
        {
          "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/Resource"
        }
      ]
    },
    "AzureContainerInstanceCompute": {
      "type": "object",
      "description": "The Azure container instance compute configuration",
      "properties": {
        "resourceGroup": {
          "type": "string",
          "description": "The resource group to use for the environment."
        }
      },
      "allOf": [
        {
          "$ref": "#/definitions/EnvironmentCompute"
        }
      ],
      "x-ms-discriminator-value": "aci"
    },
    "BicepAuthenticationMethod": {
      "type": "string",
      "description": "Supported authentication methods for private Bicep registries.",
      "enum": [
        "BasicAuth",
        "AzureWI",
        "AwsIrsa"
      ],
      "x-ms-enum": {
        "name": "BicepAuthenticationMethod",
        "modelAsString": true,
        "values": [
          {
            "name": "BasicAuth",
            "value": "BasicAuth",
            "description": "Username/password authentication."
          },
          {
            "name": "AzureWI",
            "value": "AzureWI",
            "description": "Azure Workload Identity authentication."
          },
          {
            "name": "AwsIrsa",
            "value": "AwsIrsa",
            "description": "AWS IAM Roles for Service Accounts authentication."
          }
        ]
      }
    },
    "BicepRegistryAuthentication": {
      "type": "object",
      "description": "Authentication configuration for a single private Bicep registry. Only `BasicAuth` is currently supported, and it requires `basicAuthSecretId`; the controller rejects configs that omit it. `AzureWI` and `AwsIrsa` will be supported in the future.",
      "properties": {
        "authenticationMethod": {
          "$ref": "#/definitions/BicepAuthenticationMethod",
          "description": "(Optional) How Radius authenticates to the registry."
        },
        "basicAuthSecretId": {
          "type": "string",
          "description": "(Optional) The ID of a `Radius.Security/secrets` resource containing the username and password. Required when `authenticationMethod` is `BasicAuth`."
        },
        "azureWiClientId": {
          "type": "string",
          "description": "(Optional) Azure Workload Identity client ID. Required when `authenticationMethod` is `AzureWI`."
        },
        "azureWiTenantId": {
          "type": "string",
          "description": "(Optional) Azure Workload Identity tenant ID. Required when `authenticationMethod` is `AzureWI`."
        },
        "awsIamRoleArn": {
          "type": "string",
          "description": "(Optional) AWS IAM Role ARN for IRSA authentication. Required when `authenticationMethod` is `AwsIrsa`."
        }
      }
    },
    "BicepSettingsProperties": {
      "type": "object",
      "description": "Bicep settings properties.",
      "properties": {
        "provisioningState": {
          "$ref": "#/definitions/ProvisioningState",
          "description": "(Read Only) The status of the Bicep settings resource within the Radius control plane.",
          "readOnly": true
        },
        "referencedBy": {
          "type": "array",
          "description": "(Read Only) Resource IDs of the Environments that reference this Bicep settings resource.",
          "items": {
            "type": "string"
          },
          "readOnly": true
        },
        "registryAuthentications": {
          "type": "object",
          "description": "(Optional) Authentication for private Bicep registries that host Recipe templates, keyed by registry hostname such as `corp.acr.io`. Radius matches a registry by the hostname in the Recipe source.",
          "additionalProperties": {
            "$ref": "#/definitions/BicepRegistryAuthentication"
          }
        }
      }
    },
    "BicepSettingsResource": {
      "type": "object",
      "description": "The `Radius.Core/bicepSettings` Resource Type holds reusable Bicep engine settings that Environments apply when running Bicep Recipes. Its primary use is authenticating to private Bicep registries: OCI registries, such as Azure Container Registry, that host the Recipe templates referenced by a Recipe Pack.\n\nPlatform engineers define a `Radius.Core/bicepSettings` resource once and reference it from any Environment whose Recipes pull templates from a private registry.\n\n## Defining Bicep settings\n\nConfigure `registryAuthentications`, keyed by registry hostname. When a Recipe template is pulled from a matching host, Radius authenticates using the configured method. The example below uses basic authentication, reading the username and password from a secret:\n\n```bicep\nextension radius\n\n@description('The Radius Environment ID. Injected automatically by the rad CLI.')\nparam environment string\n\nresource registrySecret 'Radius.Security/secrets@2025-08-01-preview' = {\n  name: 'registry-credentials'\n  properties: {\n    environment: environment\n    data: {\n      username: { value: 'my-username' }\n      password: { value: 'my-password' }\n    }\n  }\n}\n\nresource bicepRegistry 'Radius.Core/bicepSettings@2025-08-01-preview' = {\n  name: 'private-registry'\n  properties: {\n    registryAuthentications: {\n      'corp.azurecr.io': {\n        authenticationMethod: 'BasicAuth'\n        basicAuthSecretId: registrySecret.id\n      }\n    }\n  }\n}\n```\n\nBasic authentication is supported via `BasicAuth` (username and password from a secret). `AwsIrsa` and `AzureWI` will be implemented in the future.\n\n## Deploying Bicep settings\n\nDeploy the settings resource with the `rad deploy` command:\n\n```bash\nrad deploy ./bicep-settings.bicep\n```\n\n## Referencing Bicep settings from an Environment\n\nReference the settings from an Environment by setting its `bicepSettings` property to the resource ID. Every Bicep Recipe run in that Environment then uses the configured registry authentication:\n\n```bicep\nextension radius\n\nresource bicepRegistry 'Radius.Core/bicepSettings@2025-08-01-preview' existing = {\n  name: 'private-registry'\n}\n\nresource myEnvironment 'Radius.Core/environments@2025-08-01-preview' = {\n  name: 'my-environment'\n  properties: {\n    bicepSettings: bicepRegistry.id\n  }\n}\n```\n\nFor more information, see the Radius documentation at https://docs.radapp.io.",
      "properties": {
        "properties": {
          "$ref": "#/definitions/BicepSettingsProperties",
          "description": "The resource-specific properties for this resource.",
          "x-ms-client-flatten": true,
          "x-ms-mutability": [
            "read",
            "create"
          ]
        }
      },
      "required": [
        "properties"
      ],
      "allOf": [
        {
          "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/TrackedResource"
        }
      ]
    },
    "BicepSettingsResourceListResult": {
      "type": "object",
      "description": "The response of a BicepSettingsResource list operation.",
      "properties": {
        "value": {
          "type": "array",
          "description": "The BicepSettingsResource items on this page",
          "items": {
            "$ref": "#/definitions/BicepSettingsResource"
          }
        },
        "nextLink": {
          "type": "string",
          "format": "uri",
          "description": "The link to the next page of items"
        }
      },
      "required": [
        "value"
      ]
    },
    "BicepSettingsResourceUpdate": {
      "type": "object",
      "description": "The `Radius.Core/bicepSettings` Resource Type holds reusable Bicep engine settings that Environments apply when running Bicep Recipes. Its primary use is authenticating to private Bicep registries: OCI registries, such as Azure Container Registry, that host the Recipe templates referenced by a Recipe Pack.\n\nPlatform engineers define a `Radius.Core/bicepSettings` resource once and reference it from any Environment whose Recipes pull templates from a private registry.\n\n## Defining Bicep settings\n\nConfigure `registryAuthentications`, keyed by registry hostname. When a Recipe template is pulled from a matching host, Radius authenticates using the configured method. The example below uses basic authentication, reading the username and password from a secret:\n\n```bicep\nextension radius\n\n@description('The Radius Environment ID. Injected automatically by the rad CLI.')\nparam environment string\n\nresource registrySecret 'Radius.Security/secrets@2025-08-01-preview' = {\n  name: 'registry-credentials'\n  properties: {\n    environment: environment\n    data: {\n      username: { value: 'my-username' }\n      password: { value: 'my-password' }\n    }\n  }\n}\n\nresource bicepRegistry 'Radius.Core/bicepSettings@2025-08-01-preview' = {\n  name: 'private-registry'\n  properties: {\n    registryAuthentications: {\n      'corp.azurecr.io': {\n        authenticationMethod: 'BasicAuth'\n        basicAuthSecretId: registrySecret.id\n      }\n    }\n  }\n}\n```\n\nBasic authentication is supported via `BasicAuth` (username and password from a secret). `AwsIrsa` and `AzureWI` will be implemented in the future.\n\n## Deploying Bicep settings\n\nDeploy the settings resource with the `rad deploy` command:\n\n```bash\nrad deploy ./bicep-settings.bicep\n```\n\n## Referencing Bicep settings from an Environment\n\nReference the settings from an Environment by setting its `bicepSettings` property to the resource ID. Every Bicep Recipe run in that Environment then uses the configured registry authentication:\n\n```bicep\nextension radius\n\nresource bicepRegistry 'Radius.Core/bicepSettings@2025-08-01-preview' existing = {\n  name: 'private-registry'\n}\n\nresource myEnvironment 'Radius.Core/environments@2025-08-01-preview' = {\n  name: 'my-environment'\n  properties: {\n    bicepSettings: bicepRegistry.id\n  }\n}\n```\n\nFor more information, see the Radius documentation at https://docs.radapp.io.",
      "allOf": [
        {
          "$ref": "#/definitions/Azure.ResourceManager.CommonTypes.TrackedResourceUpdate"
        }
      ]
    },
    "ConnectionKind": {
      "type": "string",
      "description": "The origin of a connection: 'Connection' for author-declared entries in properties.connections, 'Dependency' for implicit entries derived from Bicep's dependsOn list.",
      "enum": [
        "Connection",
        "Dependency"
      ],
      "x-ms-enum": {
        "name": "ConnectionKind",
        "modelAsString": false,
        "values": [
          {
            "name": "Connection",
            "value": "Connection",
            "description": "The edge was declared by the author in properties.connections."
          },
          {
            "name": "Dependency",
            "value": "Dependency",
            "description": "The edge was inferred from a Bicep dependsOn entry (implicit dependency). Not emitted by the runtime graph in Phase 1 — runtime dependency extraction is Phase 2."
          }
        ]
      }
    },
    "Direction": {
      "type": "string",
      "description": "The direction of a connection.",
      "enum": [
        "Outbound",
        "Inbound"
      ],
      "x-ms-enum": {
        "name": "Direction",
        "modelAsString": false,
        "values": [
          {
            "name": "Outbound",
            "value": "Outbound",
            "description": "The resource defining this connection makes an outbound connection resource specified by this id."
          },
          {
            "name": "Inbound",
            "value": "Inbound",
            "description": "The resource defining this connection accepts inbound connections from the resource specified by this id."
          }
        ]
      }
    },
    "EnvironmentCompute": {
      "type": "object",
      "description": "Represents backing compute resource",
      "properties": {
        "kind": {
          "type": "string",
          "description": "Discriminator property for EnvironmentCompute."
        },
        "resourceId": {
          "type": "string",
          "description": "The resource id of the compute resource for application environment."
        },
        "identity": {
          "$ref": "#/definitions/IdentitySettings",
          "description": "Configuration for supported external identity providers"
        }
      },
      "discriminator": "kind",
      "required": [
        "kind"
      ]
    },
    "EnvironmentProperties": {
      "type": "object",
      "description": "Environment properties",
      "properties": {
        "provisioningState": {
          "$ref": "#/definitions/ProvisioningState",
          "description": "(Read Only) The status of the Environment resource within the Radius control plane. Does not include the resources deployed to the Environment.",
          "readOnly": true
        },
        "recipePacks": {
          "type": "array",
          "description": "(Optional) Resource IDs of the Recipe Packs this Environment uses to provision infrastructure for application resources. When created with the Radius CLI, defaults to the `default` Recipe Pack in the `default` resource group.",
          "items": {
            "type": "string"
          }
        },
        "recipeParameters": {
          "type": "object",
          "description": "(Optional) Parameters passed to Recipes when they run, keyed by resource type. Values here override the default parameters defined in the Recipe Pack for every resource of that type deployed to this Environment.",
          "additionalProperties": {
            "$ref": "#/definitions/RecipeParameterValue"
          }
        },
        "providers": {
          "$ref": "#/definitions/Providers",
          "description": "(Optional) Target compute platform and cloud provider accounts that resources are deployed into. When created with the Radius CLI, defaults to Kubernetes in the `default` namespace."
        },
        "terraformSettings": {
          "type": "string",
          "description": "(Optional) Resource ID of a `Radius.Core/terraformSettings` resource that supplies Terraform CLI settings, such as private registry credentials, used when running Terraform Recipes in this Environment."
        },
        "bicepSettings": {
          "type": "string",
          "description": "(Optional) Resource ID of a `Radius.Core/bicepSettings` resource that supplies Bicep engine settings, such as private registry authentication, used when running Bicep Recipes in this Environment."
        },
        "simulated": {
          "type": "boolean",
          "description": "(Optional) When true, the Environment is simulated and does not deploy real infrastructure. Recipes are evaluated but no resources are provisioned, which is useful for validating application definitions. Defaults to `false` if not specified."
        }
      }
    },
    "EnvironmentResource": {
      "type": "object",
      "description": "The `Radius.Core/environments` Resource Type represents a Radius Environment: the deployment target that platform engineers configure for their developers. Every Radius Application is deployed to an Environment through its `environment` property.\n\nAn Environment defines three things for the Applications deployed to it:\n\n- **Where resources are deployed**: the target compute platform and cloud provider accounts, set through the `providers` property.\n- **Which Recipes are used**: the Recipe Packs whose Recipes provision the infrastructure backing application resources, set through the `recipePacks` property.\n- **Advanced Terraform and Bicep settings**: environment-wide Recipe parameters and Terraform or Bicep engine configuration applied when Recipes run.\n\n## Defining an Environment\n\nThe simplest Environment can be created directly with the `rad environment create` command, without a Bicep file:\n\n```bash\nrad environment create my-environment\n```\n\nFor more advanced configurations, define an Environment as a `Radius.Core/environments` resource in a Bicep file. For example:\n\n```bicep\nextension radius\n\nresource myEnvironment 'Radius.Core/environments@2025-08-01-preview' = {\n  name: 'my-environment'\n  properties: {\n    recipePacks: [\n      myRecipePack.id\n    ]\n    providers: {\n      kubernetes: {\n        namespace: 'my-namespace'\n      }\n    }\n  }\n}\n\nresource myRecipePack 'Radius.Core/recipePacks@2025-08-01-preview' existing = {\n  name: 'my-recipe-pack'\n}\n```\n\nBoth properties are optional. When you create an Environment with the Radius CLI, an omitted `providers` defaults to Kubernetes in the `default` namespace, and an omitted `recipePacks` defaults to the `default` Recipe Pack in the `default` resource group.\n\n## Deploying an Environment\n\nDeploy a defined Environment with the `rad deploy` command:\n\n```bash\nrad deploy ./environment.bicep\n```\n\n## Cloud providers\n\nTo use Recipes that provision resources in a cloud provider, you must configure that provider's account details on the Environment by setting the `providers` property. For AWS, set the account ID and the region resources are deployed to:\n\n```bicep\nextension radius\n\nresource myEnvironment 'Radius.Core/environments@2025-08-01-preview' = {\n  name: 'my-environment'\n  properties: {\n    providers: {\n      aws: {\n        accountId: '123456789012'\n        region: 'us-west-2'\n      }\n    }\n  }\n}\n```\n\nFor Azure, set the subscription ID and the name of the resource group that resources are deployed to:\n\n```bicep\nextension radius\n\nresource myEnvironment 'Radius.Core/environments@2025-08-01-preview' = {\n  name: 'my-environment'\n  properties: {\n    providers: {\n      azure: {\n        subscriptionId: '00000000-0000-0000-0000-000000000000'\n        resourceGroupName: 'my-resource-group'\n      }\n    }\n  }\n}\n```\n\nThe `providers` property selects the target account, but the credentials Radius uses to authenticate to AWS and Azure are configured separately with the `rad credential register` command.\n\n## Recipe Packs\n\nA Recipe Pack is a collection of Recipes, defined as a separate `Radius.Core/recipePacks` resource. A Recipe is an infrastructure-as-code module, a Terraform module or Bicep template, that provisions the infrastructure backing an application resource. Reference one or more Recipe Packs by their resource IDs in the `recipePacks` property to control which Recipes are used. See the `Radius.Core/recipePacks` documentation for details.\n\nUse `recipeParameters` to pass environment-specific parameters to the Recipes defined in the referenced Recipe Packs, for example to standardize configuration such as SKUs or instance sizes across an Environment.\n\n## Advanced Terraform and Bicep settings\n\nFor advanced Terraform and Bicep settings, such as private module sources and registry authentication, reference a `Radius.Core/terraformSettings` or `Radius.Core/bicepSettings` resource from the `terraformSettings` and `bicepSettings` properties.\n\nFor more information, see the Radius documentation at https://docs.radapp.io.",
      "properties": {
        "properties": {
          "$ref": "#/definitions/EnvironmentProperties",
          "description": "The resource-specific properties for this resource.",
          "x-ms-client-flatten": true,
          "x-ms-mutability": [
            "read",
            "create"
          ]
        }
      },
      "required": [
        "properties"
      ],
      "allOf": [
        {
          "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/TrackedResource"
        }
      ]
    },
    "EnvironmentResourceListResult": {
      "type": "object",
      "description": "The response of a EnvironmentResource list operation.",
      "properties": {
        "value": {
          "type": "array",
          "description": "The EnvironmentResource items on this page",
          "items": {
            "$ref": "#/definitions/EnvironmentResource"
          }
        },
        "nextLink": {
          "type": "string",
          "format": "uri",
          "description": "The link to the next page of items"
        }
      },
      "required": [
        "value"
      ]
    },
    "EnvironmentResourceUpdate": {
      "type": "object",
      "description": "The `Radius.Core/environments` Resource Type represents a Radius Environment: the deployment target that platform engineers configure for their developers. Every Radius Application is deployed to an Environment through its `environment` property.\n\nAn Environment defines three things for the Applications deployed to it:\n\n- **Where resources are deployed**: the target compute platform and cloud provider accounts, set through the `providers` property.\n- **Which Recipes are used**: the Recipe Packs whose Recipes provision the infrastructure backing application resources, set through the `recipePacks` property.\n- **Advanced Terraform and Bicep settings**: environment-wide Recipe parameters and Terraform or Bicep engine configuration applied when Recipes run.\n\n## Defining an Environment\n\nThe simplest Environment can be created directly with the `rad environment create` command, without a Bicep file:\n\n```bash\nrad environment create my-environment\n```\n\nFor more advanced configurations, define an Environment as a `Radius.Core/environments` resource in a Bicep file. For example:\n\n```bicep\nextension radius\n\nresource myEnvironment 'Radius.Core/environments@2025-08-01-preview' = {\n  name: 'my-environment'\n  properties: {\n    recipePacks: [\n      myRecipePack.id\n    ]\n    providers: {\n      kubernetes: {\n        namespace: 'my-namespace'\n      }\n    }\n  }\n}\n\nresource myRecipePack 'Radius.Core/recipePacks@2025-08-01-preview' existing = {\n  name: 'my-recipe-pack'\n}\n```\n\nBoth properties are optional. When you create an Environment with the Radius CLI, an omitted `providers` defaults to Kubernetes in the `default` namespace, and an omitted `recipePacks` defaults to the `default` Recipe Pack in the `default` resource group.\n\n## Deploying an Environment\n\nDeploy a defined Environment with the `rad deploy` command:\n\n```bash\nrad deploy ./environment.bicep\n```\n\n## Cloud providers\n\nTo use Recipes that provision resources in a cloud provider, you must configure that provider's account details on the Environment by setting the `providers` property. For AWS, set the account ID and the region resources are deployed to:\n\n```bicep\nextension radius\n\nresource myEnvironment 'Radius.Core/environments@2025-08-01-preview' = {\n  name: 'my-environment'\n  properties: {\n    providers: {\n      aws: {\n        accountId: '123456789012'\n        region: 'us-west-2'\n      }\n    }\n  }\n}\n```\n\nFor Azure, set the subscription ID and the name of the resource group that resources are deployed to:\n\n```bicep\nextension radius\n\nresource myEnvironment 'Radius.Core/environments@2025-08-01-preview' = {\n  name: 'my-environment'\n  properties: {\n    providers: {\n      azure: {\n        subscriptionId: '00000000-0000-0000-0000-000000000000'\n        resourceGroupName: 'my-resource-group'\n      }\n    }\n  }\n}\n```\n\nThe `providers` property selects the target account, but the credentials Radius uses to authenticate to AWS and Azure are configured separately with the `rad credential register` command.\n\n## Recipe Packs\n\nA Recipe Pack is a collection of Recipes, defined as a separate `Radius.Core/recipePacks` resource. A Recipe is an infrastructure-as-code module, a Terraform module or Bicep template, that provisions the infrastructure backing an application resource. Reference one or more Recipe Packs by their resource IDs in the `recipePacks` property to control which Recipes are used. See the `Radius.Core/recipePacks` documentation for details.\n\nUse `recipeParameters` to pass environment-specific parameters to the Recipes defined in the referenced Recipe Packs, for example to standardize configuration such as SKUs or instance sizes across an Environment.\n\n## Advanced Terraform and Bicep settings\n\nFor advanced Terraform and Bicep settings, such as private module sources and registry authentication, reference a `Radius.Core/terraformSettings` or `Radius.Core/bicepSettings` resource from the `terraformSettings` and `bicepSettings` properties.\n\nFor more information, see the Radius documentation at https://docs.radapp.io.",
      "allOf": [
        {
          "$ref": "#/definitions/Azure.ResourceManager.CommonTypes.TrackedResourceUpdate"
        }
      ]
    },
    "GetGraphRequest": {
      "type": "object",
      "description": "Request body for the getGraph action.",
      "properties": {
        "includeIcons": {
          "type": "boolean",
          "description": "When true, `ApplicationGraphResponse.icons` is populated with the SVG bytes for every distinct `iconHash` referenced by the response's resources. When false or omitted, only per-resource `iconHash` values are returned."
        },
        "dependsOnEdges": {
          "type": "object",
          "description": "Optional caller-supplied dependency edges, grouped by source resource ID. Each entry maps a source Radius resource ID to the list of outbound Kind: Dependency edges leaving that source. Every entry MUST have direction: Outbound and kind: Dependency; entries that don't are ignored. The server merges these onto the connection-only graph it computes from stored resources: excluded types are dropped, unknown endpoints are dropped, and any pair already present as Kind: Connection wins over the caller-supplied Dependency. Typically populated by `rad app graph -a <name> <app.bicep>` after compiling the Bicep template locally.",
          "additionalProperties": {
            "items": {
              "$ref": "#/definitions/ApplicationGraphConnection"
            },
            "type": "array"
          }
        }
      }
    },
    "IdentitySettingKind": {
      "type": "string",
      "description": "IdentitySettingKind is the kind of supported external identity setting",
      "enum": [
        "undefined",
        "azure.com.workload",
        "userAssigned",
        "systemAssigned",
        "systemAssignedUserAssigned"
      ],
      "x-ms-enum": {
        "name": "IdentitySettingKind",
        "modelAsString": false,
        "values": [
          {
            "name": "undefined",
            "value": "undefined",
            "description": "undefined identity"
          },
          {
            "name": "azure.com.workload",
            "value": "azure.com.workload",
            "description": "azure ad workload identity"
          },
          {
            "name": "userAssigned",
            "value": "userAssigned",
            "description": "User assigned managed identity"
          },
          {
            "name": "systemAssigned",
            "value": "systemAssigned",
            "description": "System assigned managed identity"
          },
          {
            "name": "systemAssignedUserAssigned",
            "value": "systemAssignedUserAssigned",
            "description": "System assigned and user assigned managed identity"
          }
        ]
      }
    },
    "IdentitySettings": {
      "type": "object",
      "description": "IdentitySettings is the external identity setting.",
      "properties": {
        "kind": {
          "$ref": "#/definitions/IdentitySettingKind",
          "description": "kind of identity setting"
        },
        "oidcIssuer": {
          "type": "string",
          "description": "The URI for your compute platform's OIDC issuer"
        },
        "resource": {
          "type": "string",
          "description": "The resource ID of the provisioned identity"
        },
        "managedIdentity": {
          "type": "array",
          "description": "The list of user assigned managed identities",
          "items": {
            "type": "string"
          }
        }
      },
      "required": [
        "kind"
      ]
    },
    "KubernetesCompute": {
      "type": "object",
      "description": "The Kubernetes compute configuration",
      "properties": {
        "namespace": {
          "type": "string",
          "description": "The namespace to use for the environment."
        }
      },
      "required": [
        "namespace"
      ],
      "allOf": [
        {
          "$ref": "#/definitions/EnvironmentCompute"
        }
      ],
      "x-ms-discriminator-value": "kubernetes"
    },
    "OutputResource": {
      "type": "object",
      "description": "Properties of an output resource.",
      "properties": {
        "localId": {
          "type": "string",
          "description": "The logical identifier scoped to the owning Radius resource. This is only needed or used when a resource has a dependency relationship. LocalIDs do not have any particular format or meaning beyond being compared to determine dependency relationships."
        },
        "id": {
          "type": "string",
          "description": "The UCP resource ID of the underlying resource."
        },
        "radiusManaged": {
          "type": "boolean",
          "description": "Determines whether Radius manages the lifecycle of the underlying resource."
        }
      }
    },
    "Providers": {
      "type": "object",
      "properties": {
        "azure": {
          "$ref": "#/definitions/ProvidersAzure",
          "description": "(Optional) Configuration for deploying resources to Azure."
        },
        "kubernetes": {
          "$ref": "#/definitions/ProvidersKubernetes",
          "description": "(Optional) Configuration for deploying resources to Kubernetes."
        },
        "aws": {
          "$ref": "#/definitions/ProvidersAws",
          "description": "(Optional) Configuration for deploying resources to AWS."
        }
      }
    },
    "ProvidersAws": {
      "type": "object",
      "description": "The AWS cloud provider definition.",
      "properties": {
        "accountId": {
          "type": "string",
          "description": "(Required) ID of the AWS account that resources are deployed into."
        },
        "region": {
          "type": "string",
          "description": "(Required) AWS region that resources are deployed into."
        }
      },
      "required": [
        "accountId",
        "region"
      ]
    },
    "ProvidersAzure": {
      "type": "object",
      "description": "The Azure cloud provider definition.",
      "properties": {
        "subscriptionId": {
          "type": "string",
          "description": "(Required) ID of the Azure subscription that resources are deployed into."
        },
        "resourceGroupName": {
          "type": "string",
          "description": "(Optional) Name of the Azure resource group that resources are deployed into. Most Bicep and Terraform Recipes expect a resource group in the deployment context, so set this whenever deploying Azure resources."
        },
        "identity": {
          "$ref": "#/definitions/IdentitySettings",
          "description": "(Optional) Managed or workload identity Radius uses to authenticate to Azure when deploying resources."
        }
      },
      "required": [
        "subscriptionId"
      ]
    },
    "ProvidersKubernetes": {
      "type": "object",
      "properties": {
        "namespace": {
          "type": "string",
          "description": "(Required) Kubernetes namespace that workloads are deployed into."
        }
      },
      "required": [
        "namespace"
      ]
    },
    "ProvisioningState": {
      "type": "string",
      "description": "Provisioning state of the resource at the time the operation was called",
      "enum": [
        "Creating",
        "Updating",
        "Deleting",
        "Accepted",
        "Provisioning",
        "Succeeded",
        "Failed",
        "Canceled"
      ],
      "x-ms-enum": {
        "name": "ProvisioningState",
        "modelAsString": false,
        "values": [
          {
            "name": "Creating",
            "value": "Creating",
            "description": "The resource is being created"
          },
          {
            "name": "Updating",
            "value": "Updating",
            "description": "The resource is being updated"
          },
          {
            "name": "Deleting",
            "value": "Deleting",
            "description": "The resource is being deleted"
          },
          {
            "name": "Accepted",
            "value": "Accepted",
            "description": "The resource create request has been accepted"
          },
          {
            "name": "Provisioning",
            "value": "Provisioning",
            "description": "The resource is being provisioned"
          },
          {
            "name": "Succeeded",
            "value": "Succeeded",
            "description": "The resource has been successfully provisioned"
          },
          {
            "name": "Failed",
            "value": "Failed",
            "description": "The resource provisioning has failed"
          },
          {
            "name": "Canceled",
            "value": "Canceled",
            "description": "The resource provisioning has been canceled"
          }
        ]
      },
      "readOnly": true
    },
    "RecipeDefinition": {
      "type": "object",
      "description": "Recipe definition for a specific resource type",
      "properties": {
        "kind": {
          "$ref": "#/definitions/RecipeKind",
          "description": "(Required) The kind of Recipe, which determines how Radius runs it."
        },
        "plainHttp": {
          "type": "boolean",
          "description": "(Optional) Connect to the source using HTTP instead of HTTPS. Use this only when the source does not support HTTPS such as a locally hosted registry for Bicep recipes. Defaults to `false` if not specified."
        },
        "source": {
          "type": "string",
          "description": "(Required) Location of the Recipe. For Bicep Recipes this is an OCI registry reference. For Terraform Recipes this is the module source such as a Git URL or a Terraform registry module."
        },
        "parameters": {
          "type": "object",
          "description": "(Optional) Default parameter values passed to the Recipe when it runs. An Environment can override these per resource type through its `recipeParameters` property.",
          "additionalProperties": {}
        },
        "outputs": {
          "type": "object",
          "description": "(Optional) Maps the module outputs onto the resource type properties for recipes that point directly at a Bicep or Terraform module. Each value is the module output name for a non-secret property. Under the reserved `secrets` key a nested object maps secret property names to module output names and always routes those outputs to the resource secret outputs.",
          "additionalProperties": {}
        }
      },
      "required": [
        "kind",
        "source"
      ]
    },
    "RecipeKind": {
      "type": "string",
      "description": "The type of recipe",
      "enum": [
        "terraform",
        "bicep"
      ],
      "x-ms-enum": {
        "name": "RecipeKind",
        "modelAsString": false,
        "values": [
          {
            "name": "terraform",
            "value": "terraform",
            "description": "Terraform recipe"
          },
          {
            "name": "bicep",
            "value": "bicep",
            "description": "Bicep recipe"
          }
        ]
      }
    },
    "RecipePackProperties": {
      "type": "object",
      "description": "Recipe Pack properties",
      "properties": {
        "provisioningState": {
          "$ref": "#/definitions/ProvisioningState",
          "description": "(Read Only) The status of the Recipe Pack resource within the Radius control plane.",
          "readOnly": true
        },
        "referencedBy": {
          "type": "array",
          "description": "(Read Only) Resource IDs of the Environments that reference this Recipe Pack.",
          "items": {
            "type": "string"
          },
          "readOnly": true
        },
        "recipes": {
          "type": "object",
          "description": "(Required) The Recipes in this pack, keyed by the resource type each Recipe provisions. Each key is a resource type such as `Radius.Data/redisCaches`.",
          "additionalProperties": {
            "$ref": "#/definitions/RecipeDefinition"
          }
        }
      },
      "required": [
        "recipes"
      ]
    },
    "RecipePackResource": {
      "type": "object",
      "description": "The `Radius.Core/recipePacks` Resource Type represents a Recipe Pack: a named collection of Recipes that platform engineers assign to an Environment. A Recipe maps a resource type (such as `Radius.Data/redisCaches`) to an infrastructure-as-code module, a Terraform module or Bicep template, that provisions the infrastructure backing that resource when a developer deploys it.\n\nA Recipe Pack is defined as its own resource and referenced from an Environment's `recipePacks` property, so one Recipe Pack can be shared across many Environments.\n\n## Defining a Recipe Pack\n\nEach entry in the `recipes` map is keyed by resource type. Set the recipe `kind` (`bicep` or `terraform`) and its `source` (an OCI registry reference for Bicep recipes, or a module source for Terraform recipes).\n\n```bicep\nextension radius\n\nresource dataRecipes 'Radius.Core/recipePacks@2025-08-01-preview' = {\n  name: 'data-recipes'\n  properties: {\n    recipes: {\n      'Radius.Data/redisCaches': {\n        kind: 'bicep'\n        source: 'ghcr.io/my-org/recipes/redis:latest'\n      }\n      'Radius.Data/postgreSqlDatabases': {\n        kind: 'terraform'\n        source: 'git::https://github.com/my-org/recipes//postgresql'\n      }\n    }\n  }\n}\n```\n\n## Recipe parameters\n\nEach Recipe can declare default `parameters` that are passed to its module. Platform engineers set baseline values here, and developers get them automatically. An Environment can override these values per resource type through its `recipeParameters` property.\n\n```bicep\nresource dataRecipes 'Radius.Core/recipePacks@2025-08-01-preview' = {\n  name: 'data-recipes'\n  properties: {\n    recipes: {\n      'Radius.Data/redisCaches': {\n        kind: 'bicep'\n        source: 'ghcr.io/my-org/recipes/redis:latest'\n        parameters: {\n          sku: 'Standard'\n          capacity: 1\n        }\n      }\n    }\n  }\n}\n```\n\n## Deploying a Recipe Pack\n\nDeploy the Bicep file with `rad deploy` to create the Recipe Pack resource. Once deployed, list and inspect Recipe Packs with the `rad recipe-pack list` and `rad recipe-pack show` commands.\n\n## Referencing a Recipe Pack from an Environment\n\nAn Environment references a Recipe Pack through its `recipePacks` property. When the Recipe Pack and the Environment are deployed to the same resource group, declare it as an `existing` resource and reference its `.id`:\n\n```bicep\nextension radius\n\nresource dataRecipes 'Radius.Core/recipePacks@2025-08-01-preview' existing = {\n  name: 'data-recipes'\n}\n\nresource myEnvironment 'Radius.Core/environments@2025-08-01-preview' = {\n  name: 'my-environment'\n  properties: {\n    recipePacks: [\n      dataRecipes.id\n    ]\n  }\n}\n```\n\nTo reference a Recipe Pack in a different resource group, use its full resource ID instead:\n\n```bicep\nrecipePacks: [\n  '/planes/radius/local/resourceGroups/shared/providers/Radius.Core/recipePacks/data-recipes'\n]\n```\n\nRadius is installed with a `default` Recipe Pack in the `default` resource group. When you create an Environment with the Radius CLI and do not set `recipePacks`, the Environment uses this `default` Recipe Pack.\n\nPrebuilt Recipe Packs and the Recipes they reference are published in the [resource-types-contrib](https://github.com/radius-project/resource-types-contrib) repository.\n\nFor more information, see the Radius documentation at https://docs.radapp.io.",
      "properties": {
        "properties": {
          "$ref": "#/definitions/RecipePackProperties",
          "description": "The resource-specific properties for this resource.",
          "x-ms-client-flatten": true,
          "x-ms-mutability": [
            "read",
            "create"
          ]
        }
      },
      "required": [
        "properties"
      ],
      "allOf": [
        {
          "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/TrackedResource"
        }
      ]
    },
    "RecipePackResourceListResult": {
      "type": "object",
      "description": "The response of a RecipePackResource list operation.",
      "properties": {
        "value": {
          "type": "array",
          "description": "The RecipePackResource items on this page",
          "items": {
            "$ref": "#/definitions/RecipePackResource"
          }
        },
        "nextLink": {
          "type": "string",
          "format": "uri",
          "description": "The link to the next page of items"
        }
      },
      "required": [
        "value"
      ]
    },
    "RecipePackResourceUpdate": {
      "type": "object",
      "description": "The `Radius.Core/recipePacks` Resource Type represents a Recipe Pack: a named collection of Recipes that platform engineers assign to an Environment. A Recipe maps a resource type (such as `Radius.Data/redisCaches`) to an infrastructure-as-code module, a Terraform module or Bicep template, that provisions the infrastructure backing that resource when a developer deploys it.\n\nA Recipe Pack is defined as its own resource and referenced from an Environment's `recipePacks` property, so one Recipe Pack can be shared across many Environments.\n\n## Defining a Recipe Pack\n\nEach entry in the `recipes` map is keyed by resource type. Set the recipe `kind` (`bicep` or `terraform`) and its `source` (an OCI registry reference for Bicep recipes, or a module source for Terraform recipes).\n\n```bicep\nextension radius\n\nresource dataRecipes 'Radius.Core/recipePacks@2025-08-01-preview' = {\n  name: 'data-recipes'\n  properties: {\n    recipes: {\n      'Radius.Data/redisCaches': {\n        kind: 'bicep'\n        source: 'ghcr.io/my-org/recipes/redis:latest'\n      }\n      'Radius.Data/postgreSqlDatabases': {\n        kind: 'terraform'\n        source: 'git::https://github.com/my-org/recipes//postgresql'\n      }\n    }\n  }\n}\n```\n\n## Recipe parameters\n\nEach Recipe can declare default `parameters` that are passed to its module. Platform engineers set baseline values here, and developers get them automatically. An Environment can override these values per resource type through its `recipeParameters` property.\n\n```bicep\nresource dataRecipes 'Radius.Core/recipePacks@2025-08-01-preview' = {\n  name: 'data-recipes'\n  properties: {\n    recipes: {\n      'Radius.Data/redisCaches': {\n        kind: 'bicep'\n        source: 'ghcr.io/my-org/recipes/redis:latest'\n        parameters: {\n          sku: 'Standard'\n          capacity: 1\n        }\n      }\n    }\n  }\n}\n```\n\n## Deploying a Recipe Pack\n\nDeploy the Bicep file with `rad deploy` to create the Recipe Pack resource. Once deployed, list and inspect Recipe Packs with the `rad recipe-pack list` and `rad recipe-pack show` commands.\n\n## Referencing a Recipe Pack from an Environment\n\nAn Environment references a Recipe Pack through its `recipePacks` property. When the Recipe Pack and the Environment are deployed to the same resource group, declare it as an `existing` resource and reference its `.id`:\n\n```bicep\nextension radius\n\nresource dataRecipes 'Radius.Core/recipePacks@2025-08-01-preview' existing = {\n  name: 'data-recipes'\n}\n\nresource myEnvironment 'Radius.Core/environments@2025-08-01-preview' = {\n  name: 'my-environment'\n  properties: {\n    recipePacks: [\n      dataRecipes.id\n    ]\n  }\n}\n```\n\nTo reference a Recipe Pack in a different resource group, use its full resource ID instead:\n\n```bicep\nrecipePacks: [\n  '/planes/radius/local/resourceGroups/shared/providers/Radius.Core/recipePacks/data-recipes'\n]\n```\n\nRadius is installed with a `default` Recipe Pack in the `default` resource group. When you create an Environment with the Radius CLI and do not set `recipePacks`, the Environment uses this `default` Recipe Pack.\n\nPrebuilt Recipe Packs and the Recipes they reference are published in the [resource-types-contrib](https://github.com/radius-project/resource-types-contrib) repository.\n\nFor more information, see the Radius documentation at https://docs.radapp.io.",
      "allOf": [
        {
          "$ref": "#/definitions/Azure.ResourceManager.CommonTypes.TrackedResourceUpdate"
        }
      ]
    },
    "RecipeParameterValue": {
      "type": "object",
      "description": "Recipe parameter configuration for a specific resource type.",
      "additionalProperties": {}
    },
    "RecipeStatus": {
      "type": "object",
      "description": "Recipe status at deployment time for a resource.",
      "properties": {
        "templateKind": {
          "type": "string",
          "description": "TemplateKind is the kind of the recipe template used by the portable resource upon deployment."
        },
        "templatePath": {
          "type": "string",
          "description": "TemplatePath is the path of the recipe consumed by the portable resource upon deployment."
        },
        "templateVersion": {
          "type": "string",
          "description": "TemplateVersion is the version number of the template."
        }
      },
      "required": [
        "templateKind",
        "templatePath"
      ]
    },
    "ResourceStatus": {
      "type": "object",
      "description": "Status of a resource.",
      "properties": {
        "compute": {
          "$ref": "#/definitions/EnvironmentCompute",
          "description": "The compute resource associated with the resource."
        },
        "recipe": {
          "$ref": "#/definitions/RecipeStatus",
          "description": "The recipe data at the time of deployment",
          "readOnly": true
        },
        "outputResources": {
          "type": "array",
          "description": "Properties of an output resource",
          "items": {
            "$ref": "#/definitions/OutputResource"
          },
          "x-ms-identifiers": []
        }
      }
    },
    "TerraformCredentialConfig": {
      "type": "object",
      "description": "Credential configuration for a Terraform registry or module source host.",
      "properties": {
        "secret": {
          "type": "string",
          "description": "(Optional) The ID of a `Radius.Security/secrets` resource containing the authentication token. The secret must have a key named `token`."
        }
      }
    },
    "TerraformProviderDirect": {
      "type": "object",
      "description": "Direct provider installation configuration.",
      "properties": {
        "include": {
          "type": "array",
          "description": "(Optional) Provider address patterns to include for direct installation.",
          "items": {
            "type": "string"
          }
        },
        "exclude": {
          "type": "array",
          "description": "(Optional) Provider address patterns to exclude from direct installation.",
          "items": {
            "type": "string"
          }
        }
      }
    },
    "TerraformProviderInstallation": {
      "type": "object",
      "description": "Provider installation configuration for Terraform CLI.",
      "properties": {
        "networkMirror": {
          "$ref": "#/definitions/TerraformProviderMirror",
          "description": "(Optional) A network mirror to install providers from instead of the public registry."
        },
        "direct": {
          "$ref": "#/definitions/TerraformProviderDirect",
          "description": "(Optional) Providers to install directly from the public registry rather than a mirror."
        }
      }
    },
    "TerraformProviderMirror": {
      "type": "object",
      "description": "Network mirror configuration for Terraform providers.",
      "properties": {
[...]
